<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left" *ngIf="order_detail">{{order_detail.unique_id}} - {{'heading-title.order-details' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div  class="modal-body p-4">
        <h4>{{'label-title.delivery-address' | translate}}</h4>
        <table class="w-100 mb-4" class="address" aria-describedby="">
            <th></th>
            <tbody>
                <tr>
                    <td>
                        <div class="d-flex flex-row mb-1 justify-content-between align-items-center">
                            <div class=" flex-fill">
                                <div class="d-flex flex-row mb-1 justify-content-between "  *ngFor="let address of destination_addresses;let index=index;">
                                    <div class=" flex-fill">
                                        <a>
                                            <h4 class="font-weight-medium mb-0"><b>{{index+1}}</b>. {{address.address}}
                                                <span *ngIf="address.flat_no">{{'label-title.flat-no'| translate}} - {{address.flat_no}},</span> 
                                                <span *ngIf="address.street">{{'label-title.street'| translate}} - {{address.street}} ,</span>
                                                <span *ngIf="address.landmark">{{'label-title.landmark'| translate}} - {{address.landmark}}</span></h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="map" style="height: 400px; width: 100%;"></div>
    </div>
    <div class="modal-footer">
        <button type="button" *ngIf="is_order_cancle" class="btn btn-outline-primary" (click)="onCancle()">{{'button-title.cancel-order' | translate }}</button>
        <button type="button" class="btn btn-primary" (click)="onDetails()">{{'button-title.more-details' | translate }}</button>
    </div>
</ng-template>
<app-add-new-order-list-modal #OrderDetailModal></app-add-new-order-list-modal>
