.spanwidth {
    width: 100%;
    white-space: normal;
    text-align: start;
}

.inputwidth {
    width: 100%;
}

.text-align {
    text-align: end;
}

.country_flag{
  width: 100px;
}

.referral-row,
.loyality-row {
    .input-group {
        width: 100%;
        .input-group-prepend {
            width: 70%;
            .input-group-text{
                white-space: normal;
                text-align: left;
            }
        }
        input[type=number] {
            width: 30%;
        }
    }
}

.spanLoyalitywidth{
    width: 100%;
    white-space: normal;
    text-align: start;
}
.position-saveBtn{
    top: 50px !important;
}