    <div class="row">
        <div class="col-12">
            <div>
                <app-heading></app-heading>
                <div class="float-right top-side-btn" style="text-align: end;" *ngIf="_helper.has_permission(_helper.PERMISSION.EXPORT)">
                    <button type="button" (click)="clickonExport()" class="btn btn-outline-primary mr-1">{{'button-title.export' | translate}}</button>
                </div>
                <app-breadcrumb></app-breadcrumb>
                <div class="mb-2">
                    <div class="d-flex justify-content-between">
                    <div class="">
                    <div class="d-inline-block position-relative" >
                        <div class="mr-1 mb-1" dropdown>
                            <button id="button-basic" dropdownToggle type="button"
                                class="btn btn-outline-primary btn-xs dropdown-toggle" aria-controls="dropdown-basic">
                               {{'button-title.search-by' | translate}}: {{itemOrder.label | translate}} <span class="caret"></span>
                            </button>
                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                                aria-labelledby="button-basic">
                                <li role="menuitem" *ngFor="let item of itemOptionsOrders" class="c-pointer"><a
                                        [ngClass]="item.value === itemOrder.value ? 'dropdown-item active' : 'dropdown-item'"
                                        (click)="changeOrderBy(item)">{{item.label | translate}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="search-sm d-inline-block mb-2 mr-1">
                        <input placeholder="{{'label-title.search' | translate}}" name="search_value" [(ngModel)]="search_value" class="form-control">
                    </div>

                    <div class="d-inline-block position-relative">
                        <div class="mr-1 mb-1">
                            <button (click)="onSearch()" type="button" class="btn btn-primary text-white btn-xs">{{ 'button-title.apply' | translate }}</button>
                        </div>
                    </div>
                    <div class="d-inline-block position-relative mb-2">
                        <div class="">
                            <button [disabled]="search_value == '' && is_clear_disabled" type="button" class="btn btn-outline-primary btn_display_option btn-xs " (click)="clear_filter()">{{'button-title.clear-filter' | translate }} </button>
                        </div>
                    </div>
                    </div>
                    <div class="float-right per-page-box">
                        <span class="text-muted text-small text-nowrap">{{'label-title.per-page' | translate}} </span>
                        <span dropdown class="d-inline-block position-relative">
                            <button class="btn btn-outline-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" dropdownToggle>
                                {{itemsPerPage}}
                            </button>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-sm text-right" *dropdownMenu>
                                <ul>
                                    <li role="menuitem" *ngFor="let item of itemOptionsPerPage" class="c-pointer"><a
                                            [ngClass]="item === itemsPerPage ? 'dropdown-item active' : 'dropdown-item'"
                                            (click)="onChangeItemsPerPage(item)">{{item}}</a></li>
                                </ul>
                            </div>
                        </span>
                    </div>
                </div>
                </div>

                <div class="separator mb-4"></div>
            </div>
        </div>
    </div>
<div class="row">
<div class="col-lg-12 col-md-12 col-xs-12">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table orderlist_table table-hover" aria-describedby="">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">{{'heading-title.order' | translate}}</th>
                            <th scope="col">{{'heading-title.name' | translate }}</th>
                            <th scope="col">{{'heading-title.store' | translate }}</th>
                            <th scope="col">{{'heading-title.price' | translate }}</th>
                            <th scope="col">{{'heading-title.table-no' | translate }}</th>
                            <th scope="col">{{'heading-title.person-no' | translate }}</th>
                            <th scope="col">{{'heading-title.type' | translate }}</th>
                            <th scope="col">{{'heading-title.status' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" *ngIf="orders && orders.length === 0">
                            <th colspan="12" scope="">{{'heading-title.orders-not-found' | translate }}...</th>
                        </tr>
                        <tr *ngFor="let order of orders; let i = index" (click)="onShowOrderDetails(order._id,$event)">
                            <th scope="row" class="c-pointer">{{order.unique_id}}<br><span class="color-theme-1" *ngIf="timezone_for_display_date">{{_helper.moment(order.delivery_date).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.HH_MM_A)}}</span></th>
                            <td><span *ngIf="order.user_name">{{order.user_name}}</span>
                                <span *ngIf="!order.user_name">N/A</span>
                            </td>
                            <td>
                                <span *ngIf="order.store_name">{{order.store_name | langpipe}}</span>
                                <span *ngIf="!order.store_name">N/A</span>
                            </td>
                            <td>{{order.currency_sign}}{{order.price.toFixed(_helper.to_fixed_number)}}&nbsp;({{order.payment_method}})</td>
                            <td>{{order.table_no}}</td>
                            <td>{{order.no_of_persons}}</td>
                            <td>
                                <ng-container *ngIf="!order.is_user_pick_up_order && !order.is_schedule_order">
                                    <span class="badge badge-outline-success badge-pill mb-1 mr-2">{{'button-title.delivery' | translate }}</span>
                                </ng-container>
                                <ng-container *ngIf="order.is_user_pick_up_order">
                                    <span class="badge badge-pill badge-outline-primary mb-1 mr-2">{{'button-title.pickup' | translate }}</span>
                                </ng-container>

                                <ng-container *ngIf="order.is_schedule_order">
                                    <span class="badge badge-outline-success badge-pill mb-1 mr-2">{{'button-title.schedule-delivery' | translate }}</span>
                                </ng-container>
                            </td>
                            <td>
                                <ng-container [ngSwitch]="order.order_status">
                                    <label *ngSwitchCase="1" class="badge badge-danger badge-pill mb-1">{{'heading-title.waiting' | translate}}</label>
                                    <label *ngSwitchCase="3" class="badge badge-primary badge-pill mb-1">{{'heading-title.accepted' | translate}}</label>
                                    <label *ngSwitchCase="5" class="badge badge-warning badge-pill mb-1">{{'heading-title.prepared' | translate}}</label>
                                    <label *ngSwitchCase="7" class="badge badge-success badge-pill mb-1">{{'heading-title.ready' | translate}}</label>
                                    <label *ngSwitchDefault class="badge badge-success badge-pill mb-1">...</label>
                                </ng-container>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row mt-2" *ngIf="orders && orders.length > 0">
        <div class="col-12">
            <pagination [totalItems]="count" #listPagination [rotate]="true" [itemsPerPage]="itemsPerPage" [maxSize]="5" class="justify-content-center" [customNextTemplate]="nextTemplate" (pageChanged)="pageChanged($event)" [customPreviousTemplate]="prevTemplate">
            </pagination>
        </div>
    </div>
</div>
</div>

<ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-arrow-right'></i>
</ng-template>

<ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-arrow-left'></i>
</ng-template>

<table-booking-detail-modal #TableOrderDetailModalComponent></table-booking-detail-modal>
