.padding-inline-end .col-3 {
    padding-inline-end: 1.75rem;
}

.icon-button {
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.simple-icon-close {
    font-size: 1.5rem;
}
.list-thumbnail{
    width: 85px;
}