<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'heading-title.review' | translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-0">
    <tabset class="card-tabs truncate" [justified]="true">
      <tab heading="{{'heading-title.user' | translate | uppercase }}" class="card-body">
        <div class="row">
          <div class="col-lg-3 col-4 text-end">
            <a href="javascript::">
              <img alt="data.name" (error)="$event.target.src = USER_DEFAULT_IMAGE"
                class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center"
                [src]="IMAGE_URL + reviewDetail.user_image"></a>
          </div>
          <div class="col-lg-9 col-8 m-auto p-0">
            <p class="font-weight-medium truncate mb-0">{{reviewDetail.user_name}}</p>
            <p class="text-muted mb-0 truncate text-small">{{'label-title.order-no' | translate}} : #{{reviewDetail.order_id}} </p>
            <p class="font-weight-medium truncate mb-0">{{reviewDetail.user_phone}}</p>
          </div>
        </div>
        <hr>
        <div class="remove-last-border" >
          <div class="mb-3 border-bottom justify-content-between" *ngIf="reviewDetail.store_name">
            <div class="row">
              <div class="col-6">
                <a href="javascript:;">
                  <p class="font-weight-medium mb-0">{{ 'label-title.store-comment' | translate }}</p>
                  <p class="text-muted mb-0 text-small" *ngIf="reviewDetail.created_date && timezone_for_display_date">{{_helper.moment(reviewDetail.created_date).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.MOMENT_DD_MMM_YYYY)}} {{_helper.moment(reviewDetail.created_date).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.HH_MM_A)}}</p>
                </a>
              </div>
              <div class="col-6 text-end">
                <span class="post-icon mx-1"><a
                    href="javascript:;"><span>{{reviewDetail.number_of_users_dislike_store_comment}} {{'label-title.dislikes' | translate}} </span><i
                      class="simple-icon-dislike px-1"></i></a></span>
                <span class="post-icon mx-1"><a
                    href="javascript:;"><span>{{reviewDetail.number_of_users_like_store_comment}} {{'label-title.likes' | translate}} </span><i
                      class="simple-icon-like px-1"></i></a></span>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <p class="text-muted mb-0 text-small">{{ 'label-title.comment' | translate }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p class="mt-2">
                  {{(!reviewDetail.user_review_to_store || reviewDetail.user_review_to_store === '' ) ?
                  'N/A' : reviewDetail.user_review_to_store}}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p class="text-muted mb-0 text-small">{{ 'label-title.rating' | translate }}</p>
              </div>
            </div>
            <div class="row mt-2 mb-2">
              <div class="col-12">
                <rating [readonly]="true" [max]="5" [(ngModel)]="reviewDetail.user_rating_to_store"
                  [customTemplate]="t">
                </rating>
                <ng-template #t let-index="index" let-value="value">{{index < value ? '' : '' }}</ng-template>
              </div>
            </div>

          </div>

          <div class="mb-3 border-bottom justify-content-between">
            <div class="row">
              <div class="col-6">
                <a href="javascript:;">
                  <p class="font-weight-medium mb-0">{{ 'label-title.delivery-comment' | translate }}</p>
                  <p class="text-muted mb-0 text-small" *ngIf="reviewDetail.created_date && timezone_for_display_date">{{_helper.moment(reviewDetail.created_date).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.MOMENT_DD_MMM_YYYY)}} {{_helper.moment(reviewDetail.created_date).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.HH_MM_A)}}</p>
                </a>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <p class="text-muted mb-0 text-small">{{ 'label-title.comment' | translate }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p class="mt-2">
                  {{(!reviewDetail.user_review_to_provider || reviewDetail.user_review_to_provider === '' ) ?
                  'N/A' : reviewDetail.user_review_to_provider}}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p class="text-muted mb-0 text-small">{{ 'label-title.rating' | translate }}</p>
              </div>
            </div>
            <div class="row mt-2 mb-2">
              <div class="col-12">
                <rating [readonly]="true" [max]="5" [(ngModel)]="reviewDetail.user_rating_to_provider"
                  [customTemplate]="t">
                </rating>
                <ng-template #t let-index="index" let-value="value">{{index
                  < value ? '' : '' }}</ng-template>
              </div>
            </div>

          </div>
        </div>
      </tab>
      <tab heading="{{'heading-title.store' | translate | uppercase }}" class="card-body" *ngIf="reviewDetail.store_name">
        <div class="row">
          <div class="col-lg-3 col-4 text-end">
            <a href="javascript::">
              <img alt="data.name" (error)="$event.target.src = USER_DEFAULT_IMAGE"
                class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center"
                [src]="IMAGE_URL + reviewDetail.store_image"></a>
          </div>
          <div class="col-lg-9 col-8 m-auto p-0">
            <p class="font-weight-medium truncate mb-0">{{reviewDetail.store_name | langpipe}}</p>
            <p class="text-muted mb-0 truncate text-small">{{'label-title.order-no' | translate}} : #{{reviewDetail.order_id}} </p>
            <p class="font-weight-medium truncate mb-0">{{reviewDetail.store_phone}}</p>
          </div>
        </div>
        <hr>
        <div class="remove-last-border">
          <div class="mb-3 border-bottom justify-content-between">
            <div class="row">
              <div class="col-6">
                <a href="javascript:;">
                  <p class="font-weight-medium mb-0">{{ 'label-title.user-comment' | translate }}</p>
                  <p class="text-muted mb-0 text-small" *ngIf="reviewDetail.created_date && timezone_for_display_date">{{_helper.moment(reviewDetail.created_date).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.MOMENT_DD_MMM_YYYY)}} {{_helper.moment(reviewDetail.created_date).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.HH_MM_A)}}</p>
                </a>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <p class="text-muted mb-0 text-small">{{ 'label-title.comment' | translate }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p class="mt-2">
                  {{(!reviewDetail.store_review_to_user || reviewDetail.store_review_to_user === '' ) ?
                  'N/A' : reviewDetail.store_review_to_user}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p class="text-muted mb-0 text-small">{{ 'label-title.rating' | translate }}</p>
              </div>
            </div>
            <div class="row mt-2 mb-2">
              <div class="col-12">
                <rating [readonly]="true" [max]="5" [(ngModel)]="reviewDetail.store_rating_to_user"
                  [customTemplate]="t">
                </rating>
                <ng-template #t let-index="index" let-value="value">{{index
                  < value ? '' : '' }}</ng-template>
              </div>
            </div>

          </div>

          <div class="mb-3 border-bottom justify-content-between">
            <div class="row">
              <div class="col-6">
                <a href="javascript:;">
                  <p class="font-weight-medium mb-0">{{ 'label-title.delivery-comment' | translate }}</p>
                  <p class="text-muted mb-0 text-small" *ngIf="reviewDetail.created_date && timezone_for_display_date">{{_helper.moment(reviewDetail.created_date).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.MOMENT_DD_MMM_YYYY)}} {{_helper.moment(reviewDetail.created_date).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.HH_MM_A)}}</p>
                </a>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <p class="text-muted mb-0 text-small">{{ 'label-title.comment' | translate }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p class="mt-2">
                  {{(!reviewDetail.store_review_to_provider || reviewDetail.store_review_to_provider === '' ) ?
                  'N/A' : reviewDetail.store_review_to_provider}}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p class="text-muted mb-0 text-small">{{ 'label-title.rating' | translate }}</p>
              </div>
            </div>
            <div class="row mt-2 mb-2">
              <div class="col-12">
                <rating [readonly]="true" [max]="5" [(ngModel)]="reviewDetail.store_rating_to_provider"
                  [customTemplate]="t">
                </rating>
                <ng-template #t let-index="index" let-value="value">{{index
                  < value ? '' : '' }}</ng-template>
              </div>
            </div>

          </div>
        </div>
      </tab>
      <tab heading="{{'heading-title.deliveryboy' | translate | uppercase }}" class="card-body">
        <div class="row">
          <div class="col-lg-3 col-4 text-end">
            <a href="javascript::">
              <img alt="data.name" (error)="$event.target.src = USER_DEFAULT_IMAGE"
                class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center"
                [src]="IMAGE_URL + reviewDetail.provider_image"></a>
          </div>
          <div class="col-lg-9 col-8 m-auto p-0">
            <p class="font-weight-medium truncate mb-0">{{reviewDetail.provider_name}}</p>
            <p class="text-muted mb-0 truncate text-small">{{'label-title.order-no' | translate}} : #{{reviewDetail.order_id}} </p>
            <p class="font-weight-medium truncate mb-0">{{reviewDetail.provider_phone}}</p>
          </div>
        </div>
        <hr>
        <div class="remove-last-border">
          <div class="mb-3 border-bottom justify-content-between">
            <div class="row">
              <div class="col-6">
                <a href="javascript:;">
                  <p class="font-weight-medium mb-0">{{ 'label-title.user-comment' | translate }}</p>
                  <p class="text-muted mb-0 text-small" *ngIf="reviewDetail.created_date && timezone_for_display_date">{{_helper.moment(reviewDetail.created_date).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.MOMENT_DD_MMM_YYYY)}} {{_helper.moment(reviewDetail.created_date).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.HH_MM_A)}}</p>
                </a>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <p class="text-muted mb-0 text-small">{{ 'label-title.comment' | translate }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p class="mt-2">
                  {{(!reviewDetail.provider_review_to_user || reviewDetail.provider_review_to_user === '' ) ?
                  'N/A' : reviewDetail.provider_review_to_user}}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p class="text-muted mb-0 text-small">{{ 'label-title.rating' | translate }}</p>
              </div>
            </div>
            <div class="row mt-2 mb-2">
              <div class="col-12">
                <rating [readonly]="true" [max]="5" [(ngModel)]="reviewDetail.provider_rating_to_user"
                  [customTemplate]="t">
                </rating>
                <ng-template #t let-index="index" let-value="value">{{index
                  < value ? '' : '' }}</ng-template>
              </div>
            </div>

          </div>

          <div class="mb-3 border-bottom justify-content-between" *ngIf="reviewDetail.store_name">
            <div class="row">
              <div class="col-6">
                <a href="javascript:;">
                  <p class="font-weight-medium mb-0">{{ 'label-title.store-comment' | translate }}</p>
                  <p class="text-muted mb-0 text-small" *ngIf="reviewDetail.created_date && timezone_for_display_date">{{_helper.moment(reviewDetail.created_date).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.MOMENT_DD_MMM_YYYY)}} {{_helper.moment(reviewDetail.created_date).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.HH_MM_A)}}</p>
                </a>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <p class="text-muted mb-0 text-small">{{ 'label-title.comment' | translate }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p class="mt-2">
                  {{(!reviewDetail.provider_review_to_store || reviewDetail.provider_review_to_store === '' ) ?
                  'N/A' : reviewDetail.provider_review_to_store}}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p class="text-muted mb-0 text-small">{{ 'label-title.rating' | translate }}</p>
              </div>
            </div>
            <div class="row mt-2 mb-2">
              <div class="col-12">
                <rating [readonly]="true" [max]="5" [(ngModel)]="reviewDetail.provider_rating_to_store"
                  [customTemplate]="t">
                </rating>
                <ng-template #t let-index="index" let-value="value">{{index
                  < value ? '' : '' }}</ng-template>
              </div>
            </div>

          </div>
        </div>
      </tab>
    </tabset>
  </div>
</ng-template>
