<div class="row">
    <div class="col-12">
      <app-heading></app-heading>
      <div class="top-right-button-container text-zero" *ngIf="_helper.has_permission(_helper.PERMISSION.EXPORT)">
          <button id="button-basic" type="button" class="btn btn-lg btn-outline-primary mr-2" (click)="export()">
              {{'button-title.export' | translate | uppercase}}
          </button>
      </div>
      <app-breadcrumb></app-breadcrumb>
    </div>
    <div class="col-12">
        <div class="display-options-container">
            <div class="d-flex justify-content-between mb-2">
                <div class="d-flex flex-wrap mr-2">
                    <div class="d-block mr-1 mb-2" style="width: 200px;">
                        <ng-select class="custom rounded-ng-select" appearance="outline" #agreeSelect labelForId="yesno"
                            [searchable]="true" notFoundText="{{'label-title.no-data-found' | translate}}"
                            [clearable]="false" (change)="getCountry($event)"
                            placeholder="{{'label-title.country' | translate}}" [(ngModel)]="selectedCountryId">
                            <ng-option *ngFor="let country of country_list" [value]="country._id">
                                {{country.country_name | titlecase}}</ng-option>
                        </ng-select>
                    </div>
                    <div class="d-block mr-1 mb-2" style="width: 200px;">
                        <ng-select class="custom rounded-ng-select" appearance="outline"
                            notFoundText="{{'label-title.no-data-found' | translate}}" #agreeSelect
                            labelForId="yesno" placeholder="{{'label-title.city' | translate}}" [searchable]="true"
                            [clearable]="false" (change)="getCity($event)"
                            placeholder="{{'label-title.city' | translate}}" [(ngModel)]="selectedCityId">
                            <ng-option value="all">{{'label-title.all' | translate}}</ng-option>
                            <ng-option [value]="city._id" *ngFor="let city of city_list">
                                {{city.city_name | titlecase}}
                            </ng-option>
                        </ng-select>
                    </div>
                    <div class="">
                        <div class="search-sm d-inline-block float-md-left mr-1 mb-2 align-top">
                            <input class="form-control" (keypress)="_helper.space_validation($event)" placeholder="{{'label-title.user-name' | translate }}"
                                [(ngModel)]="search_value">
                        </div>
                    </div>
                    <div class="d-block mr-1 mb-2" style="width: 200px; ">
                      <ng-select class="custom rounded-ng-select" appearance="outline" #agreeSelect labelForId="yesno"
                      [searchable]="true" notFoundText="{{'label-title.no-data-found' | translate}}"
                      [clearable]="false" (change)="getProvider($event)"  [(ngModel)]="selectedProviderId"
                      placeholder="{{'label-title.select-partner' | translate}}" >
                      <ng-option *ngFor="let provider of provider_list" [value]="provider._id">
                          {{provider.first_name | titlecase}} {{provider.last_name | titlecase}}</ng-option>
                      </ng-select>
                    </div>
                  <div class="d-block mr-1 mb-2" style="width: 200px;">
                      <ng-select class="custom rounded-ng-select" appearance="outline" #agreeSelect labelForId="yesno"
                          [searchable]="true" notFoundText="{{'label-title.no-data-found' | translate}}"
                          [clearable]="false" (change)="getDelivery($event)" [(ngModel)]="selectedDeliveryType"
                          placeholder="{{'label-title.delivery-type-main' | translate}}" >
                          <ng-option *ngFor="let delivery of deliveries_type_list" [value]="delivery.value">
                            {{delivery.title | translate}}</ng-option>
                      </ng-select>
                  </div>
                  <div class="d-block mr-1 mb-2" style="width: 200px;" *ngIf="is_delivery_business">
                    <ng-select class="custom rounded-ng-select" appearance="outline" #agreeSelect labelForId="yesno"
                      [searchable]="true" notFoundText="{{'label-title.no-data-found' | translate}}"
                      [clearable]="false" (change)="getBusiness($event)" [(ngModel)]="selectedBusinessId"
                      placeholder="{{'label-title.business-type' | translate}}" >
                      <ng-option *ngFor="let business of city_business_list" [value]="business._id">
                        <span *ngIf="business.delivery_name[_lang.selectedlanguageIndex]">{{ business.delivery_name[_lang.selectedlanguageIndex] }}</span>
                        <span *ngIf="!business.delivery_name[_lang.selectedlanguageIndex]">{{ business.delivery_name }}</span>
                      </ng-option>
                    </ng-select>
                  </div>

                  <div id="displayOptions" class="d-block mr-1">
                    <div class="float-md-left mb-1" dropdown>
                        <div (clickOutside)="dropdown1.hide()" class="d-inline-block position-relative">
                            <div class="btn-group" dropdown #dropdown1="bs-dropdown" [autoClose]="false" [isOpen]="false">
                                <button dropdownToggle type="button" class="btn btn-outline-primary btn-xs dropdown-toggle">
                                   {{'button-title.select-payment-type' | translate}} <span class="caret"></span>
                                </button>
                                <ul *dropdownMenu class="dropdown-menu" role="menu">
                                    <li role="menuitem" *ngFor="let filter of paymentBy; let i= index">
                                        <a class="dropdown-item c-default" href="javascript:;">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" (change)="filter.checked = !filter.checked" [checked]="filter.checked" id="{{'PId'+i}}" class="custom-control-input">
                                                <label for="{{'PId'+i}}" class="custom-control-label">{{filter.name | translate}}</label>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div id="displayOptions" class="d-block mr-1">
                    <div class="float-md-left mb-1" dropdown>
                        <div class="d-inline-block position-relative">
                            <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-primary btn-xs dropdown-toggle"
                                aria-controls="dropdown-basic">
                                {{'button-title.order-status' | translate}}: {{itemOrder.label | translate}} <span class="caret"></span>
                            </button>
                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                                <li role="menuitem" *ngFor="let item of itemOptionsOrders"><a
                                        [ngClass]="item.value === itemOrder.value ? 'dropdown-item active' : 'dropdown-item'"
                                        (click)="onChangeOrderBy(item)">{{item.label | translate}}</a></li>
                            </ul>
                        </div>
                    </div>
                  </div>
                  <div class="position-relative dateWidth" *ngIf="created_date">
                    <div class="date-sm float-md-left mr-1 mb-2">
                        <input [hidden]="direction=='rtl'" class="form-control theme_date_picker"
                            placeholder="{{'label-title.select-dates' | translate}}"
                            [bsConfig]="{ selectWeekDateRange: true, containerClass: 'datetrans1' }"
                            #drp="bsDaterangepicker" [(ngModel)]="item_bsRangeValue" bsDaterangepicker
                            [container]="'html'" #dateValue [readOnly]="true" [minDate]="created_date" [maxDate]="todayDate">
                        <input [hidden]="direction=='ltr'" class="form-control theme_date_picker"
                            placeholder="{{'label-title.select-dates' | translate}}"
                            [bsConfig]="{ selectWeekDateRange: true, containerClass: 'rtldatetrans1246' }"
                            #drp="bsDaterangepicker" [(ngModel)]="item_bsRangeValue" bsDaterangepicker
                            [container]="'html'" #dateValue [readOnly]="true" [minDate]="created_date" [maxDate]="todayDate">
                    </div>
                </div>
                <div class="">
                    <div class="d-inline-block float-md-left position-relative" dropdown>
                        <button id="button-basic5" type="button" class="btn btn-primary btn-xs mr-1 mb-2"
                            (click)="apply()">
                            {{'button-title.apply' | translate}} <span class="caret"></span>
                        </button>
                    </div>
                </div>
                <div class="">
                    <button id="button-basic4" type="button" class="btn btn-outline-primary btn-xs mr-1 mb-2"
                        (click)="clear()" [disabled]="search_value == '' && is_clear_disabled" >
                        {{'button-title.clear-filter' | translate}} <span class="caret"></span>
                    </button>
                </div>
                </div>

                <div class="float-right" id="displayOptions">
                    <span class="text-muted text-small">{{'label-title.per-page' | translate}} </span>
                    <span dropdown class="d-inline-block position-relative">
                        <button class="btn btn-outline-primary btn-xs dropdown-toggle btn_display_option" type="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" dropdownToggle>
                            {{itemsPerPage}}
                        </button>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-sm text-right" *dropdownMenu>
                            <ul>
                                <li role="menuitem" *ngFor="let item of itemOptionsPerPage"><a
                                        [ngClass]="item === itemsPerPage ? 'dropdown-item active' : 'dropdown-item'"
                                        (click)="onChangeItemsPerPage(item)">{{item | translate}}</a></li>
                            </ul>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="card">
          <div class="card-body">
              <div class="table-responsive">
                  <table class="table table_box table-hover" aria-describedby="">
                      <thead class="thead-light">
                          <tr>
                              <th scope="col">{{'heading-title.order' | translate}}</th>
                              <th scope="col">{{'heading-title.user' | translate}}</th>
                              <th scope="col">{{'heading-title.delivery-boy' | translate}}</th>
                              <th scope="col">{{'heading-title.store' | translate}}</th>
                              <th scope="col">{{'heading-title.city' | translate}}</th>
                              <th scope="col">{{'label-title.business-type' | translate}}</th>
                              <th scope="col">{{'heading-title.created-at' | translate}}</th>
                              <th scope="col">{{'heading-title.completed-at' | translate}}</th>
                              <th scope="col">{{'heading-title.item-tax' | translate}}</th>
                              <th scope="col">{{'heading-title.service-tax' | translate}}</th>
                              <th scope="col">{{'heading-title.delivery-price' | translate}}</th>
                              <th scope="col">{{'heading-title.cart-price' | translate}}</th>
                              <th scope="col">{{'heading-title.deliveryman-profit' | translate}}</th>
                              <th scope="col">{{'heading-title.store-profit' | translate}}</th>
                              <th scope="col">{{'heading-title.promo-bonus' | translate}}</th>
                              <th scope="col">{{'heading-title.total' | translate}}</th>
                              <th scope="col">{{'heading-title.status' | translate}}</th>
                          </tr>
                      </thead>
                      <tbody *ngIf="rows.length">
                          <tr *ngFor="let order of rows; let i = index">
                              <th scope="row" class="c-pointer">{{order.unique_id}}</th>
                              <td>{{order.user_name ? order.user_name : 'N/A'}}
                              <td>{{order.provider_name ? order.provider_name : 'N/A'}}</td>
                              <td>{{order.store_name ? order.store_name : 'N/A'}}</td>
                              <td>{{order.city_name ? order.city_name : 'N/A'}}</td>
                              <td>{{order.business_name ? order.business_name : 'N/A'}}</td>
                              <td *ngIf="timezone_for_display_date">{{_helper.moment(order.created_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.MOMENT_DD_MMM_YYYY)}} {{_helper.moment(order.created_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.HH_MM_A)}}</td>
                              <td *ngIf="timezone_for_display_date">{{_helper.moment(order.completed_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.MOMENT_DD_MMM_YYYY)}} {{_helper.moment(order.completed_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.HH_MM_A)}}</td>
                              <td>{{order.item_tax | roundpipe:_helper.to_fixed_number}}</td>
                              <td>{{order.service_tax | roundpipe:_helper.to_fixed_number}}</td>
                              <td>{{order.delivery_price | roundpipe:_helper.to_fixed_number}}</td>
                              <td>{{order.cart_price | roundpipe:_helper.to_fixed_number}}</td>
                              <td>{{order.total_provider_income | roundpipe:_helper.to_fixed_number}}</td>
                              <td>{{order.total_store_income | roundpipe:_helper.to_fixed_number}}</td>
                              <td>{{order.promo_payment | roundpipe:_helper.to_fixed_number}}</td>
                              <td>{{order.total | roundpipe:_helper.to_fixed_number}}</td>
                              <td>
                                  <ng-container [ngSwitch]="order.order_status">
                                      <label *ngSwitchCase="25"
                                          class="badge badge-success badge-pill mb-1">{{'heading-title.completed' |
                                          translate}}</label>
                                      <label *ngSwitchCase="104"
                                          class="badge badge-danger badge-pill mb-1">{{'heading-title.cancelled' |
                                          translate}}</label>
                                          <label *ngSwitchCase="102"
                                          class="badge badge-danger badge-pill mb-1">{{'heading-title.cancelled' |
                                          translate}}</label>
                                      <label *ngSwitchCase="101"
                                          class="badge badge-danger badge-pill mb-1">{{'heading-title.cancelled' |
                                          translate}}</label>
                                          <label *ngSwitchCase="103"
                                          class="badge badge-danger badge-pill mb-1">{{'heading-title.rejected' |
                                          translate}}</label>
                                          <label *ngSwitchCase="113"
                                          class="badge badge-danger badge-pill mb-1">{{'heading-title.rejected' |
                                          translate}}</label>
                                      <label *ngSwitchDefault class="badge badge-danger badge-pill mb-1">...</label>
                                  </ng-container>
                              </td>
                          </tr>
                      </tbody>
                      <tbody *ngIf="!rows.length">
                          <tr>
                              <th colspan="27" scope="">
                                  <span class="no-record-span">{{ 'label-title.no-record-found' | translate }}</span>
                              </th>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>

  </div>
</div>
<div class="row mt-2" *ngIf="rows && rows.length > 0">
  <div class="col-12">
      <pagination [totalItems]="total_page" [rotate]="true" [itemsPerPage]="itemsPerPage" [maxSize]="5"
          class="justify-content-center" [customNextTemplate]="nextTemplate" (pageChanged)="pageChanged($event)"
          [customPreviousTemplate]="prevTemplate">
      </pagination>
  </div>
</div>
<ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
  <i class='simple-icon-arrow-right'></i>
</ng-template>

<ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
  <i class='simple-icon-arrow-left'></i>
</ng-template>