#dropdown-basic{
    max-height: 500px;
    overflow: hidden;
    overflow-y: auto;
}
tbody>tr>td {
    cursor: pointer;
    font-weight: 600;
}
.table_box th.order-width{
    width: 100px !important;
    min-width: 100px !important;
}