<div class="row">
    <div class="col-12">
        <div>
            <app-heading></app-heading>
            <app-breadcrumb></app-breadcrumb>
            <div class="mb-2 d-flex justify-content-between">
                <div class="">
                <div class="search-sm d-inline-block mb-2 mr-1">
                    <input placeholder="{{'label-title.search' | translate}}" name="search_value" [(ngModel)]="search_value" class="form-control">
                </div>
                <div class=" d-inline-block position-relative mb-2 mr-1">
                    <div class="" dropdown>
                        <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-primary btn_display_option btn-xs dropdown-toggle" aria-controls="dropdown-basic">
                          {{'button-title.user-type' | translate}}  <span class="caret"></span>
                      </button>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                            <li role="menuitem" *ngFor="let item of user" class="c-pointer">
                                <a [ngClass]="item.value === selected_user_type ? 'dropdown-item active' : 'dropdown-item'" (click)="onChangeUserType(item)">{{item.label | translate}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class=" d-inline-block position-relative mb-2 mr-1">
                    <div class="" dropdown>
                        <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-primary btn_display_option btn-xs dropdown-toggle" aria-controls="dropdown-basic">
                          {{'button-title.api-type' | translate}}  <span class="caret"></span>
                      </button>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                            <li role="menuitem" *ngFor="let item of api_type" class="c-pointer">
                                <a [ngClass]="item.value === selected_api_type ? 'dropdown-item active' : 'dropdown-item'" (click)="onChangeApiType(item)">{{item.label | translate}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class=" d-inline-block position-relative mb-2 mr-1">
                    <div class="" dropdown>
                        <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-primary btn_display_option btn-xs dropdown-toggle" aria-controls="dropdown-basic">
                          {{'button-title.api-weight' | translate}}  <span class="caret"></span>
                      </button>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                            <li role="menuitem" *ngFor="let item of api_weight" class="c-pointer">
                                <a [ngClass]="item.value === selected_api_weight ? 'dropdown-item active' : 'dropdown-item'" (click)="onChangeApiWeight(item)">{{item.label | translate}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class=" d-inline-block position-relative mb-2 mr-1">
                    <div class="" dropdown>
                        <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-primary btn_display_option btn-xs dropdown-toggle" aria-controls="dropdown-basic">
                          {{'button-title.status' | translate}}  <span class="caret"></span>
                      </button>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                            <li role="menuitem" *ngFor="let item of status" class="c-pointer">
                                <a [ngClass]="item.value === selected_status ? 'dropdown-item active' : 'dropdown-item'" (click)="onChangeStatusType(item)">{{item.label | translate}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-inline-block position-relative mb-2 mr-1">
                    <button (click)="onSearch()" type="button" class="btn btn-primary btn-xs">{{'button-title.apply' | translate
                        }}</button>
                </div>
                <div class="d-inline-block position-relative mb-2 mr-1">
                    <button d="button-basic" type="button" class="btn btn-outline-primary btn_display_option btn-xs " [disabled]="search_value == '' && is_clear_disabled" (click)="clear_filter()"> {{'button-title.clear-filter' | translate }} </button>
                </div>
                </div>
                <div class="float-right per-page-box">
                    <span class="text-muted text-small text-nowrap">{{'label-title.per-page' | translate }} </span>
                    <span dropdown class="d-inline-block position-relative">
                        <button class="btn btn-outline-primary btn_display_option btn-xs dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" dropdownToggle>
                            {{itemsPerPage}}
                        </button>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-sm text-right" *dropdownMenu>
                            <ul>
                                <li role="menuitem" *ngFor="let item of itemOptionsPerPage" class="c-pointer"><a
                                        [ngClass]="item === itemsPerPage ? 'dropdown-item active' : 'dropdown-item'"
                                        (click)="onChangeItemsPerPage(item)">{{item}}</a></li>
                            </ul>
                        </div>
                    </span>
                </div>
            </div>

            <div class="separator mb-4"></div>
        </div>
    </div>
</div>
<div class="row">
<div class="col-lg-12 col-md-12 col-xs-12 mb-4">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table_box" aria-describedby="">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">{{'heading-title.order' | translate}}</th>
                            <th scope="col">{{'heading-title.name' | translate}}</th>
                            <th scope="col">{{'heading-title.user-type' | translate}}</th>
                            <th scope="col">{{'heading-title.weight' | translate}}</th>
                            <th scope="col">{{'heading-title.type' | translate}}</th>
                            <th scope="col">{{'heading-title.status' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" *ngIf="logs && logs.length === 0">
                            <th colspan="12" scope="">{{'label-title.logs-not-found' | translate}}</th>
                        </tr>
                        <tr *ngFor="let log of logs; let i = index" (click)="onShowOrderDetails(i)">
                            <th scope="row" class="c-pointer order-width" *ngIf="log.end_at && timezone_for_display_date">{{_helper.moment(log.end_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.MOMENT_DD_MMM_YYYY)}}<br><span style="color: rgb(79, 79, 255);">{{_helper.moment(log.end_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.HH_MM_A)}}</span></th>
                            <td>{{log.name || 'N/A'}}</td>
                            <td>
                                <span *ngIf="log.caller_type === 2">{{'label-title.store' | translate}}</span>
                                <span *ngIf="log.caller_type === 0">{{'label-title.store' | translate}}</span>
                                <span *ngIf="log.caller_type === 1">{{'label-title.admin' | translate}}</span>
                                <span *ngIf="log.caller_type === 3">{{'label-title.sub-admin' | translate}}</span>
                                <span *ngIf="log.caller_type === 7">{{'label-title.user' | translate}}</span>
                                <span *ngIf="log.caller_type === 8">{{'label-title.provider' | translate}}</span>
                            </td>
                            <td>
                                <span *ngIf="log.weight === 1" class="badge badge-warning">{{'label-title.high' | translate}}</span>
                                <span *ngIf="log.weight === 2" class="badge badge-danger">{{'label-title.medium' | translate}}</span>
                                <span *ngIf="log.weight === 3" class="badge badge-light">{{'label-title.low' | translate}}</span>
                            </td>
                            <td><span>{{log.type || 'N/A'}}</span></td>
                            <td>
                                <span *ngIf="log.success" class="badge badge-pill badge-success">{{'label-title.success' | translate}}</span>
                                <span *ngIf="!log.success" class="badge badge-pill badge-danger">{{'label-title.error' | translate}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12" *ngIf="count>0">
            <pagination [totalItems]="count * itemsPerPage" [rotate]="true" [itemsPerPage]="itemsPerPage" [maxSize]="5" class="justify-content-center"
                [customNextTemplate]="nextTemplate" [customPreviousTemplate]="prevTemplate" (pageChanged)="pageChanged($event)">
            </pagination>
        </div>
    </div>
    <ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
        <i class='simple-icon-arrow-right'></i>
    </ng-template>
    
    <ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
        <i class='simple-icon-arrow-left'></i>
    </ng-template>
</div>
</div>
<activity-logs-modal #activityLogModal></activity-logs-modal>