<div class="card">
  <div class="card-body">
    <div class="d-flex">
      <h3 class="card-title font-weight-semibold">{{ 'heading-title.earning' | translate}}</h3>
      <div class="ml-3 d-block d-md-inline-block position-relative">
        <div class="float-md-left mr-1 mb-1" dropdown>
            <div (clickOutside)="dropdown3.hide()" class=" d-inline-block position-relative">
                <div class="btn-group" dropdown #dropdown3="bs-dropdown" [autoClose]="true" [isOpen]="false">
                    <button dropdownToggle type="button"
                        class="btn btn-outline-primary btn-xs dropdown-toggle">
                        {{selected_start_month | date:_helper.DATE_FORMAT.MMM_YYYY}} - {{selected_end_month | date:_helper.DATE_FORMAT.MMM_YYYY}}<span
                            class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu week_date_list" role="menu" style="max-height: 300px; overflow: auto;">
                        <li role="menuitem" *ngFor="let week_day of week_days; let i= index">
                            <a class="dropdown-item" [ngClass]="{'active':selected_start_month === week_days[i][0]}"
                              (click)="changeMonts(week_days[i][0],week_days[i][1])" href="javascript:;">
                              {{week_days[i][0] | date:_helper.DATE_FORMAT.MMM_YYYY}} - {{week_days[i][1] |
                              date:_helper.DATE_FORMAT.MMM_YYYY}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="dashboard-line-chart">
      <app-line-chart [shadow]="true" [options]="chartDataConfig.lineChartOptions" [data]="lineChartData" [line_chart_item_bsRangeValue]="line_chart_item_bsRangeValue" #lineChartComponent>
      </app-line-chart>
    </div>
  </div>
</div>
