<today-order-header [searchData]="search_value"
[showItemsPerPage]="true"
[showDisplayMode]="false"
[showCheckboxMode]="false"
(searchKeyUp)="searchKeyUp($event)"
(changeOrderBy)="changeOrderBy($event)"
(itemsPerPageChange)="itemsPerPageChange($event)"
[itemOptionsPerPage]="itemOptionsPerPage"
[itemsPerPage]="itemsPerPage"
(onExport)="onExport($event)"
[itemOrder]="item_order"
[itemOptionsOrders]="[{ label: 'label-title.user', value: 'user' },{ label: 'label-title.order', value: 'order' }]">

<div class="d-inline-block position-relative">
    <div class="float-md-left mr-1 mb-1" dropdown>
        <div (clickOutside)="dropdown2.hide()" class="d-inline-block position-relative">
            <div class="btn-group" dropdown #dropdown2="bs-dropdown" [autoClose]="false" [isOpen]="false">
                <button dropdownToggle type="button" class="btn btn-outline-primary btn-xs dropdown-toggle">
                   {{'button-title.delivery-type' | translate}} <span class="caret"></span>
                </button>
                <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem" *ngFor="let filter of deliveryTypes; let i= index">
                        <a class="dropdown-item c-default" href="javascript:;">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" (change)="filter.checked = !filter.checked" [checked]="filter.checked" id="{{'SId'+i}}" class="custom-control-input">
                                <label for="{{'SId'+i}}" class="custom-control-label">{{filter.name  | translate}}</label>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div  class="d-inline-block position-relative">
    <div class="float-md-left mr-1 mb-1" dropdown>
        <div (clickOutside)="dropdown1.hide()" class="d-inline-block position-relative">
            <div class="btn-group" dropdown #dropdown1="bs-dropdown" [autoClose]="false" [isOpen]="false">
                <button dropdownToggle type="button" class="btn btn-outline-primary btn-xs dropdown-toggle">
                   {{'button-title.select-payment-type' | translate}} <span class="caret"></span>
                </button>
                <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem" *ngFor="let filter of paymentBy; let i= index">
                        <a class="dropdown-item c-default" href="javascript:;">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" (change)="filter.checked = !filter.checked" [checked]="filter.checked" id="{{'PId'+i}}" class="custom-control-input">
                                <label for="{{'PId'+i}}" class="custom-control-label">{{filter.name | translate}}</label>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

<div class="d-inline-block position-relative">
    <div class="float-md-left mr-1 mb-1">
        <button (click)="onSearch()" type="button" style="color: white;" class="btn btn-primary btn-xs">{{'button-title.apply' | translate}}</button>
    </div>
</div>
<div class="d-inline-block position-relative">
    <div class="float-md-left mr-1 mb-1">
        <button [disabled]="search_value == '' && is_clear_disabled" type="button" class="btn btn-outline-primary btn_display_option btn-xs " (click)="clear_filter()">{{'button-title.clear-filter' | translate }} </button>
    </div>
</div>

</today-order-header>
<app-add-new-order-list-modal #OrderDetailModal></app-add-new-order-list-modal>
<div class="row">
<div class="col-lg-12 col-md-12 col-xs-12">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table orderlist_table table-hover" aria-describedby="">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">{{'heading-title.order' | translate}}</th>
                            <th scope="col">{{'heading-title.name' | translate}}</th>
                            <th scope="col">{{'heading-title.store' | translate}}</th>
                            <th scope="col">{{'heading-title.price' | translate}}</th>
                            <th scope="col">{{'heading-title.type' | translate}}</th>
                            <th scope="col">{{'heading-title.status' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="orders.length">
                        <tr class="text-center" *ngIf="orders && orders.length === 0">
                            <th colspan="12" scope="">{{'label-title.orders-not-found' | translate}}</th>
                        </tr>
                        <tr *ngFor="let order of orders; let i = index" (click)="onShowOrderDetails(order._id,$event)">
                                <th scope="row" class="c-pointer">{{order.unique_id}}<br><span class="color-theme-1" *ngIf="timezone_for_display_date">{{_helper.moment(order.delivery_date).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.HH_MM_A)}}</span></th>
                                <td><span *ngIf="order.user_name">{{order.user_name}}</span>
                                    <span *ngIf="!order.user_name">N/A</span>
                                </td>
                                <td>
                                    <span *ngIf="order.store_name">{{order.store_name | langpipe}}</span>
                                    <span *ngIf="!order.store_name">N/A</span>
                                </td>
                                <td>{{order.currency_sign}}{{order.price.toFixed(_helper.to_fixed_number)}}&nbsp;({{order.payment_method}})</td>
                                <td>
                                    <ng-container *ngIf="!order.is_user_pick_up_order && !order.is_schedule_order">
                                        <span class="badge badge-outline-success badge-pill mb-1 mr-2">{{'button-title.delivery' | translate}}</span>
                                    </ng-container>
                                    <ng-container *ngIf="order.is_user_pick_up_order">
                                        <span class="badge badge-outline-info badge-pill mb-1 mr-2">{{'button-title.pickup' | translate}}</span>
                                    </ng-container>

                                    <ng-container *ngIf="order.is_schedule_order">
                                        <span class="badge badge-outline-success badge-pill mb-1 mr-2">{{'button-title.schedule-delivery' | translate}}</span>
                                    </ng-container>
                                </td>
                                <td>
                                    <ng-container [ngSwitch]="order.order_status">
                                        <label *ngSwitchCase="1" class="badge badge-danger badge-pill mb-1">{{'heading-title.waiting' | translate}}</label>
                                        <label *ngSwitchCase="3" class="badge badge-primary badge-pill mb-1">{{'heading-title.accepted' | translate}}</label>
                                        <label *ngSwitchCase="5" class="badge badge-warning badge-pill mb-1">{{'heading-title.prepared' | translate}}</label>
                                        <label *ngSwitchCase="7" class="badge badge-success badge-pill mb-1">{{'heading-title.ready' | translate}}</label>
                                        <label *ngSwitchDefault class="badge badge-success badge-pill mb-1">...</label>
                                    </ng-container>
                                </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="!orders.length">
                        <tr>
                            <th colspan="12" class="text-center" scope="">
                                <span>{{ 'label-title.no-record-found' | translate }}</span>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row mt-2" *ngIf="orders && orders.length > 0">
        <div class="col-12">
            <pagination [totalItems]="count" [rotate]="true"  [itemsPerPage]="itemsPerPage" [maxSize]="5" class="justify-content-center"
            [customNextTemplate]="nextTemplate" (pageChanged)="pageChanged($event)" #listPagination [customPreviousTemplate]="prevTemplate">
        </pagination>
        </div>
      </div>
</div>
</div>

<ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-arrow-right'></i>
  </ng-template>

  <ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-arrow-left'></i>
  </ng-template>
