<div class="container-fluid loader_container" *ngIf="_helper.is_loading || _helper.language_is_loading || _helper.get_method_loading" [ngClass]="{'language_not_loaded_background':_helper.language_is_loading}">
    <div class="dashboard-wrapper">
        <div class="loading"></div>
    </div>
</div>