<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <div class="top-right-button-container text-zero">
            <button *ngIf="_helper.has_permission(_helper.PERMISSION.ADD)" type="button" (click)="showAddMassNotificationModal()" class="top-right-button btn btn-primary btn-lg mr-1 mb-3">
                {{'button-title.send-mass-notification' | translate | uppercase}}</button>
        </div>
        <app-breadcrumb></app-breadcrumb>
        <div class="mb-3">
            <div class=" d-inline-block position-relative">
                <div class="" dropdown>
                    <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-primary btn_display_option btn-xs dropdown-toggle" aria-controls="dropdown-basic">
                       {{'button-title.filter-by' | translate}} : {{itemOrder.label | translate}} <span class="caret"></span>
                      </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                        <li role="menuitem" *ngFor="let item of itemOptionsOrders" class="c-pointer"><a [ngClass]="item.value === itemOrder.value ? 'dropdown-item active' : 'dropdown-item'" (click)="onChangeOrderBy(item)">{{item.label | translate}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="separator mb-4"></div>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table aria-describedby="" class="table table-hover">
                                <thead class="thead-light">
                                    <tr class="truncate">
                                        <th scope="col">{{'heading-title.id' | translate }}</th>
                                        <th scope="col">{{'heading-title.user' | translate }}</th>
                                        <th scope="col">{{'heading-title.device-type' | translate }}</th>
                                        <th scope="col">{{'heading-title.country' | translate }}</th>
                                        <th scope="col">{{'heading-title.city' | translate }}</th>
                                        <th scope="col">{{'heading-title.delivery' | translate }}</th>
                                        <th scope="col">{{'heading-title.message' | translate }}</th>
                                        <th scope="col">{{'heading-title.date' | translate }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-center" *ngIf="notification_list && notification_list.length === 0">
                                        <td colspan="8">
                                            <span>{{'label-title.no-record-found' | translate }}...</span>
                                        </td>
                                    </tr>
                                    <tr class="truncate" *ngFor="let notification of notification_list">
                                        <td>{{ notification.unique_id }}</td>
                                        <td [ngSwitch]="notification.user_type">
                                            <div *ngSwitchCase=USER_TYPE.USER>{{'label-title.user' | translate}}
                                            </div>
                                            <div *ngSwitchCase=USER_TYPE.PROVIDER>{{'label-title.provider' | translate}}
                                            </div>
                                            <div *ngSwitchCase=USER_TYPE.STORE>{{'label-title.store' | translate}}
                                            </div>
                                        </td>
                                        <td>{{ notification.device_type }}</td>
                                        <td>{{ notification.country ? notification.country_detail.country_name : ('label-title.all' | translate) }}</td>
                                        <td>{{ notification.city ? notification.city_detail.city_name : ('label-title.all' | translate) }}</td>
                                        <td>{{ notification.delivery_detail ? notification.delivery_detail.delivery_name[_lang.selectedlanguageIndex] ? notification.delivery_detail.delivery_name[_lang.selectedlanguageIndex] : notification.delivery_detail.delivery_name[0] :'-' }}</td>
                                        <td>{{ notification.message }}</td>
                                        <td *ngIf="notification.created_at && timezone_for_display_date">{{_helper.moment(notification.created_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.MOMENT_DD_MMM_YYYY)}} {{_helper.moment(notification.created_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.HH_MM_A)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mt-2" *ngIf="total_page>0 && notification_list && notification_list.length > 0">
      <pagination [totalItems]="total_page*10" [rotate]="true" [maxSize]="5" class="justify-content-center"
        [customNextTemplate]="nextTemplate" [customPreviousTemplate]="prevTemplate" (pageChanged)="pageChanged($event)">
      </pagination>
    </div>
</div>
<ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-arrow-right'></i>
</ng-template>

<ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-arrow-left'></i>
</ng-template>
<app-add-new-mass-notification-modal #openMassNotificationModal></app-add-new-mass-notification-modal>
