<ng-template #template>
  <div class="modal-header">
    <h4 *ngIf="!is_edit" class="modal-title pull-left">{{'heading-title.add-new-item-title' | translate}}</h4>
    <h4 *ngIf="is_edit" class="modal-title pull-left">{{'heading-title.edit-item-title' | translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" [ngClass]="!isAddModifier || isModifierSelected?'pb-0':''">
    <aw-wizard #wizard [navBarLayout]="is_courier_service ? 'none' : 'large-empty-symbols'" [awNavigationMode] navigateBackward="allow" navigateForward="{{formForwardNavStatus}}" [ngClass]="isAddModifier?'d-none':(this._helper.selected_city._id === null?'':'after_line' ) ">
      <aw-wizard-step  *ngIf="!is_courier_service" stepTitle="{{ 'heading-title.item-info' | translate }}" style="min-height: 88vh;">
        <ng-template awWizardStepSymbol><i class="iconsminds-information"></i></ng-template>
        <div class="mt-1 mb-2">
          <form [formGroup]="itemForm" appFocus>
          <div formArrayName="name">
            <label>{{ 'label-title.item-name' | translate }}</label>
            <div class="input-group mt-1" *ngFor="let name of name.controls;let i = index">
                <div class="input-group-prepend" *ngIf="this._helper.selected_city._id === null || (this._helper.selected_city._id !== null)">
                  <span class="width-60 input-group-text" id="basic-addon1">{{_lang.supportedLanguages[i].shorthand | uppercase}}</span>
                </div>
                <input type="text" class="form-control" *ngIf="this._helper.selected_city._id === null || _helper.delivery_type == DELIVERY_TYPE.ECOMMERCE" [formControlName]="i" [id]="i" placeholder="{{'label-title.item-name' | translate}}" (keypress)="_helper.space_validation($event)">
                <input type="text" class="form-control" *ngIf="this._helper.selected_city._id !== null && _helper.delivery_type != DELIVERY_TYPE.ECOMMERCE" [formControlName]="i" [id]="i" placeholder="{{'label-title.item-name' | translate}}" readonly>
                <div *ngIf="itemForm.get('name')['controls'][i].errors?.required && itemForm.get('name')['controls'][i]?.touched"
                class="invalid-tooltip">{{ 'label-title.item-name' | translate }} {{'label-title.is-required' | translate}}</div>
              </div>
          </div>
          <div class="form-group row mt-3" *ngIf="(this._helper.selected_city._id !== null &&( this._helper.delivery_type == DELIVERY_TYPE.APPOINTMENT || this._helper.delivery_type == DELIVERY_TYPE.SERVICE)) || (this._helper.delivery_type !== DELIVERY_TYPE.APPOINTMENT && this._helper.delivery_type !== DELIVERY_TYPE.SERVICE)">
            <div class="col-7">
              <label>{{ 'label-title.price' | translate }}</label>
              <div class="input-group input-group mt-1">
                <div class="input-group-prepend">
                  <span class="text-center d-block width-60 input-group-text" id="basic-addon1" *ngIf="country_currency_sign">{{country_currency_sign}}</span>
                </div>
                <input type="number" (keyup)="_helper.number_validation($event)" min="0" formControlName="price" class="form-control" aria-label="Username" aria-describedby="basic-addon1" disablePasteDrop>
                <div *ngIf="itemForm.get('price').errors?.required && itemForm.get('price').touched"
                class="invalid-tooltip">{{ 'label-title.price' | translate }} {{'label-title.is-required' | translate}}</div>
              </div>
            </div>
            <div class="col-5">
              <label>{{ 'label-title.tax' | translate }}</label>
              <div class="input-group input-group mt-1">
                <div class="">
                  <ng-select [closeOnSelect]="false" [multiple]="true" (change)="onTaxSelected($event)" [(ngModel)]="item_taxes"
                    [ngModelOptions]="{standalone: true}" notFoundText="{{'label-title.no-data-found' | translate}}">
                    <ng-option *ngFor="let tax of taxes" [value]="tax._id">
                      {{tax.tax_name[0]}}&ensp;{{tax.tax}}%
                    </ng-option>
                  </ng-select>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group" *ngIf="(this._helper.selected_city._id === null &&( this._helper.delivery_type == DELIVERY_TYPE.APPOINTMENT || this._helper.delivery_type == DELIVERY_TYPE.SERVICE)) || (this._helper.delivery_type !== DELIVERY_TYPE.APPOINTMENT && this._helper.delivery_type !== DELIVERY_TYPE.SERVICE)">
          <label class="mt-4"><span>{{ 'label-title.sub-category' | translate }}</span></label>
          <ng-select [closeOnSelect]="true" [clearable]="false" formControlName="product_id"  placeholder="Select your choice..">    
            <ng-option *ngFor="let subcategory of subcategories" [value]="subcategory._id">{{subcategory.name | langpipe}}</ng-option>
          </ng-select> 
          <div *ngIf="itemForm.get('product_id').errors?.required && itemForm.get('product_id').touched"
                class="invalid-tooltip">{{ 'label-title.sub-category' | translate }} {{'label-title.is-required' | translate}}</div>
        </div>
          <div formArrayName="details" class="mt-3" *ngIf="(this._helper.selected_city._id === null &&( this._helper.delivery_type == DELIVERY_TYPE.APPOINTMENT || this._helper.delivery_type == DELIVERY_TYPE.SERVICE)) || (this._helper.delivery_type !== DELIVERY_TYPE.APPOINTMENT && this._helper.delivery_type !== DELIVERY_TYPE.SERVICE)">
            <label>{{ 'label-title.description' | translate }}</label>
            <div class="input-group mt-1" *ngFor="let name of details.controls;let i = index">
                <div class="input-group-prepend">
                  <span class="width-60 input-group-text" id="basic-addon1">{{this._lang.supportedLanguages[i].shorthand | uppercase}}
                  </span>
                </div>
                <textarea type="text" class="form-control" [formControlName]="i" placeholder="{{'label-title.description' | translate}}" rows="3" (keypress)="_helper.space_validation($event)"></textarea>
              </div>
          </div>
          <div class="row mt-3 mb-4 no-gutters">
            <div class="col-8 pr-2">
              <label>&nbsp;</label>
              <div class="custom-control custom-switch">
                <input type="checkbox" formControlName="is_visible_in_store" id="editItemVisibleUser" class="custom-control-input">
                <label for="editItemVisibleUser" class="custom-control-label">{{ 'label-title.is-item-visible-to-user' | translate }}</label>
                <span class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-2" style="top: 4px;" tooltip="{{'tooltip-title.is-item-visible-to-user-tooltip' | translate}}" placement="right"></i></span>
              </div>
              <div class="custom-control custom-switch">
                <input type="checkbox" formControlName="is_item_in_stock" id="editItemOutOfStock" class="custom-control-input">
                <label for="editItemOutOfStock" class="custom-control-label">
                  <span *ngIf="(_helper.delivery_type == DELIVERY_TYPE.APPOINTMENT || _helper.delivery_type == DELIVERY_TYPE.SERVICE)">{{ 'label-title.is-available' | translate }}</span>
                  <span *ngIf="(_helper.delivery_type !== DELIVERY_TYPE.APPOINTMENT && _helper.delivery_type !== DELIVERY_TYPE.SERVICE)">{{ 'label-title.in-stock' | translate }}
                  </span>
                </label>
                <span *ngIf="(_helper.delivery_type == DELIVERY_TYPE.APPOINTMENT || _helper.delivery_type == DELIVERY_TYPE.SERVICE)" class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-2" style="top: 4px;" tooltip="{{'tooltip-title.is-available-tooltip' | translate}}" placement="right"></i></span>
                <span *ngIf="(_helper.delivery_type !== DELIVERY_TYPE.APPOINTMENT && _helper.delivery_type !== DELIVERY_TYPE.SERVICE)" class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-2" style="top: 4px;" tooltip="{{'tooltip-title.in-stock-tooltip' | translate}}" placement="right"></i></span>
              </div>
            </div>
            <div class="col-4 mt-4">
              <label>{{ 'label-title.sequence-number' | translate }}</label>
              <div class="input-group input-group">
                <input type="number" formControlName="sequence_number" (keypress)="_helper.phone_number_validation($event)" min="0" class="form-control" aria-label="sequencenumber" aria-describedby="basic-addon1" disablePasteDrop> 
                <div *ngIf="itemForm.get('sequence_number').errors?.required && itemForm.get('sequence_number').touched"
                class="invalid-tooltip">{{ 'label-title.sequence-number' | translate }} {{'label-title.is-required' | translate}}</div>
              </div>
            </div>
          </div>
          </form>
        </div>
        <div class="text-center modal-footer aw-wizard pb-4">
          <button type="button" class="btn btn-primary" awPreviousStep
            disabled>{{ 'button-title.pre' | translate }}</button>{{" "}}
          <button type="submit" (click)="nextPage(wizard)" class="btn btn-primary" >{{ 'button-title.next' | translate }}</button>
        </div>
      </aw-wizard-step> 
      <aw-wizard-step *ngIf="!is_courier_service && (this._helper.selected_city._id === null || (this._helper.selected_city._id != null  && _helper.delivery_type == DELIVERY_TYPE.ECOMMERCE))" stepTitle= "{{ 'heading-title.images' | translate }}"  style="min-height: 88vh;">
        <ng-template awWizardStepSymbol><i class="simple-icon-camera"></i></ng-template>
        <div class="mt-1 mb-2">
          <div class="row social-image-row gallery">
            <div class="col-12 text-center mt-4">
              <span class="text-primary"> {{'validation-title.please-upload-image-in-format' | translate}}</span>
            </div>
            <div class="col-6" *ngFor="let img of imageurl;let i=index">
              <div class="position-absolute card-top-buttons odd">
                <div class="custom-control custom-checkbox gallary-custom-checkbox">
                  <input type="checkbox"  [(ngModel)]="img.checked" value="{{i}}" [id]="'customImageCheck'+i" class="custom-control-input">
                  <label [for]="'customImageCheck'+i" class="custom-control-label">
                  </label>
                </div>
              </div>
              <img alt="" class="img-fluid border-radius c-pointer" [src]="IMAGE_URL+img.image">
            </div>
            <ng-container *ngFor="let img of upload_imageurl;let i=index">
            <div class="col-6" *ngIf="img !== null">
              <div class="position-absolute card-top-buttons odd">
                <div class="custom-control custom-checkbox gallary-custom-checkbox">
                  <input type="checkbox"  [(ngModel)]="img.checked" value="{{i}}" [id]="'ucustomImageCheck'+i" class="custom-control-input">
                  <label [for]="'ucustomImageCheck'+i" class="custom-control-label">
                  </label>
                </div>
              </div>
              <img alt="" class="img-fluid border-radius c-pointer" [src]="img.image">
            </div>
          </ng-container>
            <div class="col-6" *ngIf="_helper.has_permission(_helper.PERMISSION.ADD)">
              <input type="file" (change)="onSelectImageFile($event)" class="custom-file-input" id="inputGroupFile02" #inputGroupFile02>
              <label for="inputGroupFile02" routerlink="./" class="card c-pointer">
                <div class="card-body text-center"><i class="iconsminds-add"></i>
                  <p class="card-text font-weight-semibold mb-0">{{ 'label-title.add-image' | translate }}</p>
                </div>
              </label>
            </div>
          </div>
        </div>
        <div class="text-center modal-footer aw-wizard pb-4">
          <button *ngIf="_helper.has_permission(_helper.PERMISSION.DELETE)" type="button" (click)="deleteImages()" class="btn btn-outline-primary btn-sm">{{ 'button-title.delete' | translate }}</button>{{" "}}
          <button type="button" class="btn btn-primary" awNextStep>{{ 'button-title.customize-item' | translate }}</button>
        </div>
      </aw-wizard-step>
      <aw-wizard-step stepTitle="{{ (is_courier_service ? '' : 'heading-title.modifier') | translate }}" style="min-height: 88vh;" (stepEnter)="onWizardStepClick()">
        <ng-template *ngIf="!is_courier_service" awWizardStepSymbol><i class="simple-icon-check"></i></ng-template>
        <div class="modifier mt-1 mb-2">

          <div class="col-12 p-0" *ngFor="let modifier of addedSpecifications;let i=index">
            <div class="card d-flex mb-3" [ngClass]="{'parent-card': modifier.is_parent_associate}">
              <div class="d-flex flex-grow-1 min-width-zero">
                <div
                  class="align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center card-body">
                  <a id="toggler1" href="javascript:;" class="list-item-heading mb-0 truncate w-100 w-xs-100 mb-1 mt-1">
                    <i class="heading-icon simple-icon-check"></i>
                    <span class="align-middle d-inline-block">{{modifier.name | langpipe}}</span>
                    <div class="float-right">
                      <span *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)" (click)="editSpecificationFromItem(modifier._id, i)" class="badge badge-pill badge-outline-primary mr-1">{{ 'button-title.edit' | translate }}</span>
                      <span *ngIf="_helper.has_permission(_helper.PERMISSION.DELETE)" (click)="deleteSpecificationFromItem(i)" class="badge badge-pill badge-outline-danger">{{ 'button-title.delete' | translate }}</span>
                    </div>
                  </a>
                </div>
              </div>
              <div *ngIf="modifier.modifier_group_name && modifier.modifier_name" class="mt-0 card-body">
                <span>{{modifier.modifier_group_name}}&nbsp;>&nbsp;{{modifier.modifier_name}}</span>
            </div>
              <div class="card-body pt-1">
                <span *ngFor="let specification of modifier.list;let last=last" class="mb-0"  [ngClass]="{'text-muted': !specification.is_visible_in_store}"> {{specification.name | langpipe}} <span *ngIf="!last">| </span> </span>
              </div>
            </div>
          </div>

        </div>
        <div class="text-center modal-footer aw-wizard pb-4">
          <button type="button" class="btn btn-outline-primary" (click)="addModifier()"><i
              class="iconsminds-add"></i>{{" "}}{{ (is_courier_service ? 'button-title.add-service' : 'button-title.add-modifier') | translate }}</button>{{" "}}
          <button type="button" (click)="onSubmitItem()" class="btn btn-primary">{{ 'button-title.save' | translate }}</button>
        </div>
      </aw-wizard-step>
    </aw-wizard>

    <table class="table table-hover add_new_modifier" *ngIf="isAddModifier && !isModifierSelected" aria-describedby="">
      <th></th>
      <tbody>
        <tr class="c-pointer" *ngFor="let modifier of filter_modifiers" (click)="selectModifier(modifier)">
          <td class="text-primary">{{modifier.name | langpipe}}</td>
        </tr>
      </tbody>
    </table>
    <form *ngIf="isModifierSelected" #form="ngForm" (ngSubmit)="updateItemModifier(form)" novalidate class=" modifier-form" appFocus>
      <div>
          <h5 class="mb-0">{{edit_modifier_name}} {{ 'heading-title.settings' | translate }}</h5>
          <hr class="mt-1">
          <div class="input-group">
              <div class="input-group-prepend col-12 col-md-4 p-0">
                  <ng-select style="width: 100%;" [closeOnSelect]="true" [clearable]="false" (change)="onModifierItemChange(false)" [ngModelOptions]="{standalone: true}" [(ngModel)]="modifierType">
                      <ng-option [value]="1">{{'label-title.select' | translate}}</ng-option>
                      <ng-option [value]="2">{{'label-title.select-range' | translate}}</ng-option>
                  </ng-select>
              </div>
              <input type="number" class="form-control" (keyup)="onRangeChange()" (keypress)="_helper.phone_number_validation($event)" [(ngModel)]="this.addedSpecifications[this.edit_id_item_modifier].range" name="range" ngModel #range="ngModel" required min="0" [max]="this.addedSpecifications[this.edit_id_item_modifier].type==2 ? this.addedSpecifications[this.edit_id_item_modifier].max_range : ''" disablePasteDrop>
              <div *ngIf="!range.valid && form.submitted" class="invalid-tooltip">{{'label-title.range-is-required' | translate}}</div>

              <ng-container *ngIf="modifierType === 2">
              <input type="number" class="form-control" (keyup)="onMaxRangeChange()" (keypress)="_helper.phone_number_validation($event)" [(ngModel)]="this.addedSpecifications[this.edit_id_item_modifier].max_range" name="max_range" [min]="this.addedSpecifications[this.edit_id_item_modifier].range" ngModel required #max_range="ngModel" value="0" disablePasteDrop>
              <div *ngIf="!max_range.valid && form.submitted" class="invalid-tooltip">{{'label-title.max-range-is-required' | translate}}</div>
              </ng-container>

          </div>

          <!-- Modifier associationa and quatity changes start -->
          <ng-container *ngIf="this.addedSpecifications[this.edit_id_item_modifier].type === 2 && !is_courier_service">
            <div class="d-flex mt-4">
              <div>
                <h6>{{'label-title.user-can-add-specification-quantity' | translate }}</h6>
              </div>
              <div class="custom-control custom-switch ml-auto">
                <input type="checkbox" id="user_can_add_specification_quantity" [(ngModel)]="user_can_add_specification_quantity"
                  name="user_can_add_specification_quantity" class="custom-control-input ml-auto">
                <label for="user_can_add_specification_quantity" class="custom-control-label">
                </label>
              </div>
            </div>
          </ng-container>
          <div class="d-flex">
            <h5 class="mt-3">{{ 'label-title.associate-modifier-settings' | translate }}</h5>
            <div class="custom-control custom-switch ml-auto align-items-center d-flex mb-3">
              <input type="checkbox" id="is_associated" (change)="onAssociate($event)"
                [disabled]="isEditSpecification || !isAssociatedModifierAvailable" name="is_associated"
                class="custom-control-input" [(ngModel)]="is_associated">
              <label for="is_associated" class="custom-control-label"></label>
            </div>
          </div>
          <hr class="mt-1">
          <div class="row" *ngIf="is_associated">
            <div class="form-group col-6">
              <label class="mb-0 mt-3">{{ 'label-title.modifier-group' | translate }}</label>
              <ng-select style="width: 100%;" [closeOnSelect]="true" [clearable]="false" [ngModelOptions]="{standalone: true}"
                [disabled]="!is_associated || isEditSpecification" [(ngModel)]="associate_modifier_group" (change)="onChangeSpecGroup()">
                <ng-option *ngFor="let specGroup of filteredAssociates" [value]="specGroup">
                  {{specGroup.name[0]}}</ng-option>
              </ng-select>
              <div *ngIf="is_associated && !associate_modifier_group._id && form.submitted"
              class="text-danger">{{
              'label-title.modifier-group-required' | translate }}</div>
            </div>
            <div class="form-group col-6">
              <label class="mb-0 mt-3">{{ 'label-title.modifier' | translate }}</label>
              <ng-select style="width: 100%;" [closeOnSelect]="true" [clearable]="false" [ngModelOptions]="{standalone: true}"
                [disabled]="!is_associated || isEditSpecification" [(ngModel)]="associate_modifier">
                <ng-option *ngFor="let specification of associate_modifier_group.list" [value]="specification">
                  {{specification.name[0]}}</ng-option>
              </ng-select>
              <div *ngIf="is_associated && !associate_modifier && form.submitted"
              class="text-danger">{{
              'label-title.modifier-required' | translate }}</div>
            </div>
          </div>

          <!-- Modifier associationa and quatity changes end -->

          <h5 class="mb-0 mt-3">{{ 'label-title.modifier-selection' | translate }}
              <span class="float-right text-danger">{{this.addedSpecifications[this.edit_id_item_modifier].range > 0 ? ('label-title.required' | translate) : ('label-title.optional' | translate) }}</span>
          </h5>
          <hr class="mt-1">
          <div class="custom-control custom-checkbox round" *ngIf="!is_courier_service">
              <input type="checkbox" checked id="default-selected" class="custom-control-input" disabled>
              <label for="default-selected" class="custom-control-label">{{'label-title.default-selected' | translate}}</label>
          </div>
          <div class="custom-control custom-checkbox">
              <input type="checkbox" checked id="selected-can-show-users" class="custom-control-input" disabled>
              <label for="selected-can-show-users" class="custom-control-label">{{'label-title.selected-will-be-shown-to-users' | translate}}</label>
          </div>
          <hr class="mt-1">
          <p *ngIf="isModifierError" class="text-danger">{{ 'label-title.please-select-valid-range-of-modifiers' | translate }}</p>
          <div class="mb-4">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" (change)="onSelect($event)" [checked]="isAllChecked" id="selectModifier"
                    class="custom-control-input">
                <label for="selectModifier" class="custom-control-label" *ngIf="!isAllChecked">{{'label-title.select-all' | translate}}</label>
                <label for="selectModifier" class="custom-control-label" *ngIf="isAllChecked">{{'label-title.deselect-all' | translate}}</label>
            </div>
        </div>
          <ng-container *ngFor="let specification of addedSpecifications[edit_id_item_modifier].list;let i=index">
              <div class="row">
                  <div class="col-7 m-auto">
                      <div class="custom-control custom-checkbox">
                          <input type="checkbox" (click)="onUserSelected(i, $event)" [(ngModel)]="specification.is_user_selected" name="is_user_selected{{specification._id}}" ngModel #is_user_selected="ngModel" id="userSpecification{{specification._id}}" class="custom-control-input">
                          <input type="checkbox" [disabled]="specification.is_user_selected === true && specification.is_default_selected === true" [checked]="specification.is_user_selected" [(ngModel)]="specification.is_user_selected" name="is_user_selected{{specification._id}}" ngModel #is_user_selected="ngModel" id="userSpecification{{specification._id}}" class="custom-control-input">
                          <label for="userSpecification{{specification._id}}" class="custom-control-label" [ngClass]="{'text-muted': !specification.is_visible_in_store}">{{specification.name | langpipe}}</label>
                      </div>
                  </div>
                  <div class="col-4 d-flex m-auto">
                      <span class="text-center d-block width-60 input-group-text" id="basic-addon1" *ngIf="country_currency_sign">{{country_currency_sign}}</span>
                      <input type="number" [(ngModel)]="specification.price" name="price{{i}}" ngModel #price="ngModel" (keypress)="_helper.number_validation($event)" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" class="form-control" min="0" maxlength="9" max="999999" [disabled]="!specification.is_user_selected" disablePasteDrop>
                      <div *ngIf="!price.valid && price === null && form.submitted" class="invalid-tooltip">{{'label-title.price-is-required' | translate}}</div>
                  </div>
                  <div class="col-1 px-0 m-auto" *ngIf="!is_courier_service">
                      <div class="custom-control custom-checkbox round">
                          <input type="checkbox" (change)="onModifierItemChange(true)" [checked]="specification.is_default_selected" [(ngModel)]="specification.is_default_selected" [disabled]="!specification.is_user_selected || (!specification.is_default_selected && !isModifierValid)"
                              name="is_default_selected{{specification._id}}" ngModel #is_default_selected="ngModel" id="defaultSpecification{{specification._id}}" class="custom-control-input">
                          <label for="defaultSpecification{{specification._id}}" class="custom-control-label"></label>
                      </div>
                  </div>
              </div>
              <span class="my-2">&nbsp;</span>
          </ng-container>
      </div>
      {{price | json}}
      <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" (click)="navigateToList()">{{'button-title.back' | translate
    }}</button>
          <button type="submit" class="btn btn-primary">{{'button-title.update' | translate }}</button>
      </div>
  </form>
  </div>
  <div class="modal-footer" *ngIf="isAddModifier && !isModifierSelected">
    <button type="button" class="btn btn-outline-primary"
      (click)="isAddModifier = false">{{'button-title.back' | translate }}</button>
  </div>
</ng-template>


<app-image-crop-model (updateImage)="imageCropped($event)" #cropModel></app-image-crop-model>
<specification-warning-modal (onSubmit)="onWarning($event)" #warningModel></specification-warning-modal>
