.gallery .card-top-buttons.even{
  padding: 0.5rem;
    margin-right: 0.9rem;
    background: #13111347;
    border-top-right-radius: 10px;
}

.gallery .card-top-buttons.odd{
  padding: 0.5rem;
  margin-right: 0.9rem;
  background: #13111347;
  border-top-right-radius: 10px;
}

.gallery .iconsminds-add{
  font-size: 2rem;
}

.modifier .card .card-body{
  padding: 1rem;
}

.gallery .custom-control-label::before {
  border: 1px solid #fff !important;
}

.input-group > .input-group-prepend > .btn-group .btn{
  border-radius: 0px !important;
}

.custom-checkbox.round .custom-control-label::before{
  border-radius: 50%;
}

.modal-footer.aw-wizard {
  margin-left: -28px;
  margin-right: -28px;
}

.add_new_modifier tr{
  font-size: 120%;

}

.modifier-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 88vh;
}

.modifier-form .modal-footer{
  margin-left: -28px;
  margin-right: -28px;
}

.parent-card{
  background-color: #ededed;
}