<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'heading-title.add-script' | translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="scriptForm">
      <div class="form-group">
        <label>{{ 'label-title.title' | translate }}</label>
        <input type="text" formControlName="title" class="form-control" placeholder="">
        <div *ngIf="scriptForm.get('title').errors?.required && scriptForm.get('title').touched"
        class="invalid-tooltip">{{ 'label-title.title' | translate }} {{'label-title.is-required' | translate}}</div>
      </div>
      <div class="form-group mt-4">
        <label>{{ 'label-title.html-data' | translate }}</label>
        <input type="text" formControlName="htmlData" class="form-control" placeholder="">
      </div>
      <div class="form-group mt-4">
        <label>{{ 'label-title.link' | translate }}</label>
        <input type="text" formControlName="src" class="form-control" placeholder="">
        <div *ngIf="scriptForm.get('src').errors?.required && scriptForm.get('src').touched"
        class="invalid-tooltip">{{ 'label-title.link' | translate }} {{'label-title.is-required' | translate}}</div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <ng-container>
      <button type="button" class="btn btn-outline-primary"
        (click)="onClose()">{{'button-title.cancel' | translate }}</button>
      <button type="submit" (click)="onScriptFormSubmit()" class="btn btn-primary float-right">{{ 'button-title.save' | translate}}</button>
    </ng-container> 
  </div>
</ng-template>
