.btn_display_option{
    border-color: #d7d7d7 !important;
    color: #8f8f8f !important;
  }
  
  .btn_display_option:active,
  .btn_display_option:hover{
    color: #fff !important;
  }
  .dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
  }
  .dropdown-width{
    width: 100%;
    max-width: 190px;
  }
  .head-label{
    margin-bottom: 0px;
    padding-left: 8px;
  }