<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left" *ngIf="selected_business_type === 1">{{'heading-title.select-store' | translate}}</h4>
        <h4 class="modal-title pull-left" *ngIf="selected_business_type === 5">{{'heading-title.select-service' | translate}}</h4>
        <h4 class="modal-title pull-left" *ngIf="selected_business_type === 6">{{'heading-title.select-appointment' | translate}}</h4>
        <div class="round-ng-select-search ml-auto w-40">
            <ng-select class="custom category-select-btn" appearance="outline" [searchable]="false" [clearable]="false"
                [(ngModel)]="selected_business_type" (change)="onBusinessChange($event)">
                <ng-option *ngFor="let business of business_type" [value]="business.id">{{business.title}}
                </ng-option>
            </ng-select>
        </div>
        <button type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
            <div class="form-group">
                  <div class="mb-3 row">
                    <div class="d-inline-block position-relative mb-2 col-6 pr-0">
                        <div class="round-ng-select-search">
                            <h4 for="countrySelect" class="head-label">{{'label-title.country' | translate}}</h4>
                            <ng-select id="countrySelect" class="custom category-select-btn" appearance="outline" #agreeSelect labelForId="yesno" [searchable]="true"
                              notFoundText="{{'label-title.no-data-found' | translate}}" [clearable]="false" (change)="onChangeCountry($event)" [(ngModel)]="selected_country">
                              <ng-option value="000000000000000000000000">{{'label-title.all' | translate}}</ng-option>
                              <ng-option *ngFor="let country of country_list" [value]="country._id">{{country.country_name}}</ng-option>
                            </ng-select>
                        </div>
                    </div>
                    <div class="d-inline-block position-relative mb-2 col-6">
                        <div class="round-ng-select-search">
                            <h4 for="citySelect" class="head-label">{{'label-title.city' | translate}}</h4>
                            <ng-select id="citySelect" class="custom category-select-btn" appearance="outline" #agreeSelect labelForId="yesno" [searchable]="true"
                                notFoundText="{{'label-title.no-data-found' | translate}}" [clearable]="false" (change)="onChangeCity($event)" [(ngModel)]="selected_city">
                                <ng-option value="000000000000000000000000">{{'label-title.all' | translate}}</ng-option>
                                <ng-option *ngFor="let city of city_list" [value]="city._id">{{city.city_name}}</ng-option>
                            </ng-select>
                        </div>
                    </div>
                  </div>
                <div class="input-group">
                    <input type="text" class="form-control category-input" placeholder="{{'label-title.search' | translate}}"
                        [(ngModel)]="store_search_text" #searchBoxContact id="search-box" />
                    <div class="input-group-append" *ngIf="selected_business_type === 1 || selected_business_type === 6">

                        <div class="category-list" dropdown placement="bottom right">
                            <ng-select style="width: 140px ;" class="custom category-select-btn" appearance="outline" #agreeSelect labelForId="yesno" [searchable]="true"
                                notFoundText="{{'label-title.no-data-found' | translate}}" [clearable]="false" (change)="ondeliveryChange($event)" [(ngModel)]="selected_delivery">
                                <ng-option *ngFor="let delivery of deliveries_list" [value]="delivery">{{delivery.delivery_name[0]}}</ng-option>
                            </ng-select>
                        </div>

                    </div>
                </div>
            </div>
            <div *ngIf="selected_business_type === 1 || selected_business_type === 6">
                <div class="border-bottom m-2" *ngFor="let store of stores|searchpipe:store_search_text:['name']">
                    <div class="row" *ngIf="store !== -1">
                        <div (click)="selectStore(store, 1)"
                            class="card-body pl-0 align-self-center d-flex flex-row justify-content-between min-width-zero">
                            <div class="min-width-zero">
                                <a href="javascript:void(0);">
                                    <p class="list-item-heading mb-1 truncate">{{store.name[0]}}</p>
                                    <p class="text-muted">{{store.address}}</p>
                                </a>
                            </div>
                            <div class="float-right">
                                <div style="text-align: right;width: 117%;">
                                    <p class="text-small mb-2 text-nowrap">{{store.country_phone_code}}
                                        {{store.phone}}</p>
                                    <p>{{store.email}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="store === -1">
                        <p class="text-center">{{'label-title.no-stores-found' | translate}}</p>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center no-data-label" *ngIf="(stores && stores.length == 0) || !stores || (stores|searchpipe:store_search_text:['name'])?.length==0">
                    <p class="text-center">{{'label-title.no-stores-found' | translate}}</p>
                </div>
            </div>
            <div *ngIf="selected_business_type === 5">
                <div class="border-bottom m-2" *ngFor="let delivery of deliveries_list|searchpipe:store_search_text:['delivery_name']">
                    <div class="row" *ngIf="delivery !== -1">
                        <div (click)="selectStore(delivery, 2)"
                            class="card-body pl-0 align-self-center d-flex flex-row justify-content-between min-width-zero">
                            <div class="min-width-zero">
                                <a href="javascript:void(0);">
                                    <p class="list-item-heading mb-1 truncate">{{delivery.delivery_name[0]}}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="store === -1">
                        <p class="text-center">{{'label-title.no-stores-found' | translate}}</p>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center no-data-label" *ngIf="(deliveries_list && deliveries_list.length == 0) || !deliveries_list || (deliveries_list|searchpipe:store_search_text:['delivery_name'])?.length === 0">
                    <p class="text-center">{{'label-title.no-stores-found' | translate}}</p>
                </div>
            </div>
    </div>
</ng-template>
