<style>
  .modal-body {
    overflow: auto; 
    scrollbar-width: none; /* Hide the scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide the scrollbar for Internet Explorer and Edge */
  }
  .modal-body::-webkit-scrollbar {
      width: 0; /* Hide the scrollbar for Chrome, Safari, and Opera */
  }
</style>
<ng-template #template>
  <form [formGroup]="this.categoryForm" appFocus>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{ is_edit ? ('heading-title.edit-category-title' | translate) :
        ('heading-title.add-new-category-title' | translate)}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="closeCategoryPopup()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" >
      
        <div formArrayName="name" class="form-group">
          <label>{{ 'label-title.category-name' | translate }}</label>
          <div class="input-group mt-1"  
               *ngFor="let name of name?.controls; let i = index">
            <div class="input-group-prepend">
              <span class="width-60 input-group-text" id="basic-addon1">
                {{this._lang.supportedLanguages[i].shorthand | uppercase}}
              </span>
            </div>
            <input type="text" class="form-control" [formControlName]="i" [id]="i"
                   placeholder="{{'label-title.category' | translate}}"
                   (keypress)="_helper.space_validation($event)">
            <div *ngIf="categoryForm.get('name')['controls'][i].errors?.required && 
                        categoryForm.get('name')['controls'][i]?.touched"
                 class="invalid-tooltip">
              {{ 'label-title.category-name' | translate }} {{'label-title.is-required' | translate}}
            </div>
          </div>
        </div>
        


      <div class="col-12 text-center mt-4">
        <span class="text-primary"> {{'validation-title.please-upload-image-in-format' | translate}}</span>
      </div>
      <div class="mt-4">
        <div class="position-absolute" style="right: 30px;">
            <button type="button" class="btn btn-outline-primary icon-button" (click)="image.click()">
                <i class="simple-icon-pencil"></i>
            </button>
            <input type="file" (change)="onSelectImageFile($event)" class="custom-file-input d-none" id="inputGroupFile02" style="padding: 0px;" #image>
        </div>
        <img (error)="$event.target.src = _helper.DEFAULT_IMAGE_PATH.CATEGORY" [src]="this.imageurl"
        alt="Card image cap" class="card-img-top">
     </div>

      <div class="mt-4 form-group">
        <label>{{ 'label-title.sub-category' | translate }}</label>
        <ng-select [multiple]="true" [closeOnSelect]="false" formControlName="product_ids">
          <ng-option *ngFor="let subcategory of subcategories" [value]="subcategory._id">{{subcategory.name | langpipe}}
          </ng-option>
        </ng-select>
        <div *ngIf="categoryForm.get('product_ids').errors?.required && categoryForm.get('product_ids').touched"
        class="invalid-tooltip">{{ 'label-title.sub-category' | translate }} {{'label-title.is-required' | translate}}</div>
      </div>
      <div class="mt-4 form-group">
        <label>{{ 'label-title.sequence-number' | translate }}</label>
        <input type="number" class="form-control" formControlName="sequence_number" (keypress)="_helper.phone_number_validation($event)" placeholder="" min="0" disablePasteDrop>
        <div *ngIf="categoryForm.get('sequence_number').errors?.required && categoryForm.get('sequence_number').touched"
        class="invalid-tooltip">{{ 'label-title.sequence-number' | translate }} {{'label-title.is-required' | translate}}</div>
      </div>
      <div class="custom-control custom-switch mt-4">
        <input type="checkbox" formControlName="is_visible_in_store" id="editItemVisibleUser" class="custom-control-input">
        <label for="editItemVisibleUser" class="custom-control-label">{{ 'label-title.is-item-visible-to-user' | translate }}</label>
      </div>
    </div>
    <div class="modal-body">
      <label class="font-weight-bold mb-1">{{ 'label-title.category-time-setting' | translate }}</label>
      <div class="row no-gutters mt-4" *ngFor="let item of category_time;let weekindex = index">
        <div class="col-12 col-sm-6 mb-sm-2 d-flex justify-content-between flex-row flex-sm-column">
          <div class="">
            <div class="font-weight-bold mb-1" *ngIf="item.day === 0">{{'small-week-days.0' | translate}}</div>
            <div class="font-weight-bold mb-1" *ngIf="item.day === 1">{{'small-week-days.1' | translate}}</div>
            <div class="font-weight-bold mb-1" *ngIf="item.day === 2">{{'small-week-days.2' | translate}}</div>
            <div class="font-weight-bold mb-1" *ngIf="item.day === 3">{{'small-week-days.3' | translate}}</div>
            <div class="font-weight-bold mb-1" *ngIf="item.day === 4">{{'small-week-days.4' | translate}}</div>
            <div class="font-weight-bold mb-1" *ngIf="item.day === 5">{{'small-week-days.5' | translate}}</div>
            <div class="font-weight-bold mb-1" *ngIf="item.day === 6">{{'small-week-days.6' | translate}}</div>
          </div>
          <div *ngIf="!item.is_category_open_full_time">
            <span class="badge badge-pill badge-outline-primary mb-1 c-pointer" *ngIf="!addSlotTime[weekindex]"
              (click)="addNewSlot(weekindex)">{{ 'button-title.add-new-slot' | translate}}</span>
          </div>
        </div>
    
        <div class="col-12 col-sm-6 mb-sm-2 d-flex flex-column">
          <div class="d-flex justify-content-between">
            <div class="font-weight-bold">{{'label-title.open-full-day' | translate}}</div>
            <div class="custom-control custom-switch">
              <input type="checkbox" id="weekday1{{weekindex}}" [(ngModel)]="item.is_category_open_full_time"
                class="custom-control-input" [ngModelOptions]="{standalone: true}" (change)="onChangeOpenFullDay(item)">
              <label for="weekday1{{weekindex}}" class="custom-control-label"></label>
            </div>
          </div>
          <div class="d-flex justify-content-between" *ngIf="!item.is_category_open_full_time">
            <div class="font-weight-bold ">{{'label-title.open-close' | translate}}</div>
            <div class="custom-control custom-switch">
              <input type="checkbox" id="weekday2{{weekindex}}" [(ngModel)]="item.is_category_open"
                class="custom-control-input" [ngModelOptions]="{standalone: true}" (change)="onChangeSlotTime(item)">
              <label for="weekday2{{weekindex}}" class="custom-control-label"></label>
            </div>
          </div>
        </div>
    
        <ng-container *ngIf="item.is_category_open">
          <div class="col-12 col-sm-6" *ngFor="let slot of item.day_time;let slot_index = index">
            <div class="custom-control custom-checkbox mb-0 pl-0">
              <label class="mb-1">{{slot.category_open_time}} {{'heading-title.to' | translate}}
                {{slot.category_close_time}}</label>
              <i (click)="onCheck(item, slot_index, weekindex, $event)"
                class="c-pointer text-danger simple-icon-close ml-2 cursor"></i>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="addSlotTime[weekindex]">
          <div class="row">
            <div class="col-12 col-sm-6 mb-2">
              <label>{{ 'label-title.open-time' | translate }}</label>
              <timepicker [(ngModel)]="openTime" class="timepicker" [ngModelOptions]="{standalone: true}"></timepicker>
              <div class="invalid-tooltip" *ngIf="openTimeValidate && !openTime">{{'label-title.open-time' | translate}}
                {{'label-title.is-required' | translate }} </div>
            </div>
            <div class="col-12 col-sm-6 mb-2">
              <label>{{ 'label-title.close-time' | translate }}</label>
              <timepicker [(ngModel)]="closeTime" class="timepicker" [ngModelOptions]="{standalone: true}"></timepicker>
              <div class="invalid-tooltip" *ngIf="closeTimeValidate && !closeTime">{{'label-title.close-time' | translate }}
                {{'label-title.is-required' | translate }} </div>
            </div>
          </div>
          <div class="col-12 text-danger mb-3" *ngIf="openTime>closeTime">
            {{'label-title.end-time-should-be-greater-than-start-time' | translate}}</div>
          <div class="text-danger mb-0" *ngIf="category_time_error">{{'label-title.slot-already-exists' | translate}}</div>
        </ng-container>
        <div class="col-12 text-center my-2" *ngIf="addSlotTime[weekindex]">
          <span class="badge badge-pill badge-outline-primary mb-1 c-pointer" *ngIf="addSlotTime[weekindex]"
            (click)="saveSlot(weekindex)">{{'button-title.save-new-slot' | translate}}</span>
        </div>
      </div>
    </div>
  </form>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="modalRef.hide()">{{'button-title.cancel' |
      translate }}</button>
    <button *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT) && is_edit" type="submit" class="btn btn-primary float-right" (click)="onSubmit()">{{
      'button-title.submit' | translate}}</button>
    <button *ngIf="_helper.has_permission(_helper.PERMISSION.ADD) && !is_edit" type="submit" class="btn btn-primary float-right" (click)="onSubmit()">{{
        'button-title.submit' | translate}}</button>
  </div>
</ng-template>

<app-image-crop-model (updateImage)="imageCropped($event)" #cropModel></app-image-crop-model>