<div class="row">
    <div class="col-12">    
        <app-heading></app-heading>
        <div *ngIf="_helper.has_permission(_helper.PERMISSION.EXPORT)" class="top-right-button-container mb-2 ">
            <div (clickOutside)="dropdown.hide()" class="btn-group" dropdown #dropdown="bs-dropdown" [autoClose]="false" [isOpen]="manualTrigger">
                <button dropdownToggle type="button" class="btn btn-outline-primary btn-lg dropdown-toggle">
                    {{'button-title.action' | translate }} <span class="caret"></span>
                </button>
                <ul *dropdownMenu class="dropdown-menu dropdown-menu-left dropdownHeight" role="menu">
                    <li role="menuitem">
                        <p class="text-muted text-small mb-0 pl-4 mt-1">{{'label-title.all' | translate}}</p>
                    </li>
                    <li role="menuitem">
                        <a class="dropdown-item c-default" href="javascript:;">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" id="select-all" (change)="select_all_export_list()" class="custom-control-input"><label for="select-all" class="custom-control-label">{{'label-title.select-all' | translate}}</label></div>
                        </a>
                    </li>
                    <li role="menuitem" *ngFor="let data of export_data_list; let index=index;">
                        <p *ngIf="!data.value" class="text-muted text-small mb-0 pl-4 mt-1">{{data.label | translate}}</p>
                        <a *ngIf="data.value" class="dropdown-item c-default" href="javascript:;">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" id="customCheck{{index}}" name="search_value{{index}}" (change)="onChangeexportfilter(data)" [checked]="data.is_checked" class="custom-control-input">
                                <label for="customCheck{{index}}" class="custom-control-label">{{data.label | translate}}</label>
                            </div>
                        </a>
                    </li>
                    <li role="menuitem">
                        <button d="button-basic" type="button" class="btn btn-primary ml-3 mb-1 mt-1" (click)="export_excel_data()"> {{'button-title.export' | translate}} </button>
                    </li>
                </ul>
            </div>{{" "}}
        </div>
        <app-breadcrumb></app-breadcrumb>
        <div class="mb-2">
          <div class="d-inline-block mt-1" >
            <div class="d-inline-block mr-3 view-class" [ngClass]="viewType==='grid'? 'text-primary': ''" title="Grid View" (click)="onViewChange('grid')">
                <i class="simple-icon-grid"></i>
            </div>
            <div class="d-inline-block mr-3 view-class" [ngClass]="viewType==='list'? 'text-primary': ''" title="List View" (click)="onViewChange('list')">
                <i class="simple-icon-list"></i>
            </div>
          </div>
            <div class="d-inline-block position-relative">
                <div class="mr-1 mb-2" dropdown>
                    <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-primary btn_display_option btn-xs dropdown-toggle" aria-controls="dropdown-basic">
                      {{'button-title.search-by' | translate}} : {{search_field.label | translate}} <span class="caret"></span>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                        <li role="menuitem" *ngFor="let item of itemOptionsOrders" class="c-pointer" [ngClass]="(item.isShow == false ? 'd-none' : '')"><a [ngClass]="item.value === search_field.value ? 'dropdown-item active' : 'dropdown-item'" (click)="onChangeOrderBy(item)">{{item.label | translate}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="search-sm d-inline-block mb-2 mr-1">
                <input *ngIf="search_field.value !== 'phone'" placeholder="{{'label-title.search' | translate}}" name="search_value" [(ngModel)]="search_value" class="form-control">
                <input *ngIf="search_field.value === 'phone'" placeholder="{{'label-title.search' | translate}}" (keypress)="_helper.special_char_validation($event)" name="search_value" [(ngModel)]="search_value" class="form-control">
            </div>
            <div (clickOutside)="dropdown2.hide()" class=" d-inline-block position-relative mb-2 mr-1">
                <div class="btn-group" dropdown #dropdown2="bs-dropdown" [autoClose]="false" [isOpen]="manualTrigger">
                    <button dropdownToggle type="button" class="btn btn-outline-primary btn_display_option btn-xs dropdown-toggle">
                      {{'button-title.delivery-type' | translate}} <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu delivery-type-filter" role="menu">
                        <li role="menuitem" *ngFor="let delivery of deliveries; let x= index"> 
                            <a class="dropdown-item c-default" href="javascript:;" *ngIf="delivery.delivery_type === 1 || delivery.delivery_type === 4 || delivery.delivery_type === 5 || delivery.delivery_type === 6 || delivery.delivery_type == 7">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" (change)="onChangedeliverytypefilter(delivery)" [checked]="delivery.checked" id="{{'id'+x}}" class="custom-control-input"><label for="{{'id'+x}}" class="custom-control-label">{{delivery.delivery_name[0]}}</label></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div (clickOutside)="filterdropdown.hide()" class=" d-inline-block position-relative mb-2 mr-1">
                <div class="btn-group" dropdown #filterdropdown="bs-dropdown" [autoClose]="false" [isOpen]="manualTrigger">
                    <button dropdownToggle type="button" class="btn btn-outline-primary btn_display_option btn-xs dropdown-toggle">
                      {{'button-title.filter' | translate}} <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <li role="menuitem" *ngFor="let filter of filterLists; let i= index">
                            <a class="dropdown-item c-default" href="javascript:;">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" (change)="onChangefilter(filter)" [checked]="filter.checked" id="{{'Id'+i}}" class="custom-control-input"><label for="{{'Id'+i}}" class="custom-control-label">{{filter.lable | translate}}</label></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="d-inline-block mb-2 mr-1">
                <button id="button-basic5" type="button" class="btn btn-primary btn-xs" (click)="apply(this.status)"> {{'button-title.apply' | translate}} </button>
            </div>
            <div class="d-inline-block mb-2 mr-1">
                <button id="button-basic6" [disabled]="search_value == '' && is_clear_disabled"  type="button" class="btn btn-outline-primary btn_display_option btn-xs " (click)="clear_filter()">
                  {{'button-title.clear-filter' | translate}} </button>
            </div>
            <div class="float-right">
                <span class="text-muted text-small">{{'label-title.per-page' | translate }} </span>
                <span dropdown class="d-inline-block position-relative">
                    <button class="btn btn-outline-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" dropdownToggle>
                        {{itemsPerPage}}
                    </button>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-sm text-right" *dropdownMenu>
                        <ul>
                            <li role="menuitem" *ngFor="let item of itemOptionsPerPage" class="c-pointer"><a
                                    [ngClass]="item === itemsPerPage ? 'dropdown-item active' : 'dropdown-item'"
                                    (click)="onChangeItemsPerPage(item)">{{item}}</a></li>
                        </ul>
                    </div>
                </span>
            </div>
        </div>
        <br>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <tabset class="separator-tabs">
            <tab heading="{{'heading-title.store' | translate | uppercase }}"
                (selectTab)="changeStoreType(store_page_type.approved)">
                <div *ngIf="count === 0" class="text-center pb-4"><span>{{ 'label-title.no-record-found' | translate }}</span>
                </div>
                <div *ngIf="count > 0 && viewType === 'grid'" class="row">
                    <div class="col-12 col-sm-12 col-lg-6 col-xl-4" *ngFor="let user of stores">
                        <div class="card d-flex flex-row mb-4">
                           
                            <div class="d-flex flex-grow-1 min-width-zero">
                                <div
                                    class="card-body align-self-center d-flex flex-row justify-content-between min-width-zero">
                                    <div class="min-width-zero">
                                        <a href="javascript:void(0);" (click)="showAddNewModal($event, user)">
                                            <p class="list-item-heading mb-1 truncate"
                                                *ngIf="!user.name[_lang.selectedlanguageIndex]">{{user.name[0]}} ({{user.unique_id}})</p>
                                            <p class="list-item-heading mb-1 truncate"
                                                *ngIf="user.name[_lang.selectedlanguageIndex]">
                                                {{user.name[_lang.selectedlanguageIndex]}} ({{user.unique_id}})</p>
                                            <p class=" list-item-heading mb-1 truncate ">{{user.country_phone_code}}
                                                {{user.phone}}
                                            </p>
                                            <p class="mb-2 text-muted text-small truncate">{{user.email}}</p>
                                        </a>
                                    </div>
                                    <div class="float-right textRight">
                                        <span class="badge badge-primary mb-2">{{user.delivery_type_name[_lang.selectedlanguageIndex]}}</span>
                                        <div class="">
                                            <p class="mb-1 textRight">{{user.city_name}}</p>
                                            <p class="mb-2 textRight">{{user.wallet}} {{user.wallet_currency_code}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-flex align-items-center justify-content-center" *ngIf="(stores && stores.length == 0) || !stores">
                        {{'label-title.no-record-found' | translate}}
                    </div>
                </div>
                <div class="col-12 list" *ngIf="count > 0 && viewType === 'list'">
                  <div [ngClass]="{'card d-flex flex-row mb-3': true}" *ngFor="let user of stores" [contextMenu]="basicMenu" [contextMenuSubject]="user">
                    <a class="d-flex">
                      <img alt="Profile" (error)="$event.target.src = _helper.DEFAULT_IMAGE_PATH.USER_SQUARE" [src]="user.image_url ? _helper.image_url + user.image_url : _helper.DEFAULT_IMAGE_PATH.USER_SQUARE" class="list-thumbnail responsive border-0 card-img-left">
                    </a>
                      <div class="pl-2 d-flex flex-grow-1 min-width-zero" (click)="showAddNewModal($event, user)">
                          <div class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
                              <a class="w-30 w-sm-100">
                                  <p class="list-item-heading mb-0 truncate" *ngIf="!user.name[_lang.selectedlanguageIndex]">{{user.name[0]}} ({{user.unique_id}})</p>
                                  <p class="list-item-heading mb-0 truncate" *ngIf="user.name[_lang.selectedlanguageIndex]">{{user.name[_lang.selectedlanguageIndex]}} ({{user.unique_id}})</p>
                              </a>
                              <p class="mb-0 pl-1 pr-1 text-muted text-small w-20 w-sm-100">{{user.country_phone_code}} {{user.phone}}</p>
                              <p class="mb-0 pl-1 pr-1 text-muted text-small w-30 w-sm-100">{{user.email}}</p>
                              <p class="mb-0 pl-1 pr-1 text-muted text-small w-15 w-sm-100">{{user.wallet}} {{user.wallet_currency_code}}</p>
                              <p class="mb-0 pl-1 pr-1 text-muted text-small w-10 w-sm-100">{{user.city_name}}</p>
                              <span class="w-10 w-sm-100 text-left text-lg-center"><span class="badge badge-primary">{{user.delivery_type_name[_lang.selectedlanguageIndex]}}</span></span>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 d-flex align-items-center justify-content-center" *ngIf="(stores && stores.length == 0) || !stores">
                        {{'label-title.no-record-found' | translate}}
                    </div>
                </div>
            </tab>
            <tab heading="{{'heading-title.unapproved' | translate | uppercase }}"
                (selectTab)="changeStoreType(store_page_type.blocked)">
                <div *ngIf="count === 0" class="text-center pb-4"><span>{{ 'label-title.no-record-found' | translate }}</span>
                </div>
                <div *ngIf="count > 0 && viewType === 'grid'" class="row">
                    <div class="col-12 col-sm-12 col-lg-6 col-xl-4" *ngFor="let user of stores">
                        <div class="card d-flex flex-row mb-4">
                            
                            <div class="d-flex flex-grow-1 min-width-zero">
                                <div
                                    class="card-body align-self-center d-flex flex-row justify-content-between min-width-zero">
                                    <div class="min-width-zero">
                                        <a href="javascript:void(0);" (click)="showAddNewModal($event, user)">
                                            <p class="list-item-heading mb-1 truncate">{{user.name}} ({{user.unique_id}})</p>
                                            <p class=" list-item-heading mb-1 truncate ">{{user.country_phone_code}}
                                                {{user.phone}}
                                            </p>
                                            <p class="mb-2 text-muted text-small truncate">{{user.email}}</p>
                                        </a>
                                    </div>
                                    <div class="float-right textRight">
                                        <span class="badge badge-primary mb-2">{{user.delivery_type_name[_lang.selectedlanguageIndex]}}</span>
                                        <div >
                                            <p class="mb-1 textRight">{{user.city_name}}</p>
                                            <p class="mb-2 textRight">{{user.wallet}} {{user.wallet_currency_code}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-flex align-items-center justify-content-center" *ngIf="(stores && stores.length == 0) || !stores">
                        {{'label-title.no-record-found' | translate}}
                    </div>
                </div>
                <div class="col-12 list" *ngIf="count > 0 && viewType === 'list'">
                  <div [ngClass]="{'card d-flex flex-row mb-3': true}" *ngFor="let user of stores" [contextMenu]="basicMenu" [contextMenuSubject]="user">
                    <a class="d-flex">
                      <img alt="Profile" (error)="$event.target.src = _helper.DEFAULT_IMAGE_PATH.USER_SQUARE" [src]="user.image_url ? _helper.image_url + user.image_url : _helper.DEFAULT_IMAGE_PATH.USER_SQUARE" class="list-thumbnail responsive border-0 card-img-left">
                    </a>
                      <div class="pl-2 d-flex flex-grow-1 min-width-zero" (click)="showAddNewModal($event, user)">
                          <div class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
                              <a class="w-30 w-sm-100">
                                  <p class="list-item-heading mb-0 truncate" *ngIf="!user.name[_lang.selectedlanguageIndex]">{{user.name[0]}} ({{user.unique_id}})</p>
                                  <p class="list-item-heading mb-0 truncate" *ngIf="user.name[_lang.selectedlanguageIndex]">{{user.name[_lang.selectedlanguageIndex]}} ({{user.unique_id}})</p>
                              </a>
                              <p class="mb-0 pl-1 pr-1 text-muted text-small w-20 w-sm-100">{{user.country_phone_code}} {{user.phone}}</p>
                              <p class="mb-0 pl-1 pr-1 text-muted text-small w-30 w-sm-100">{{user.email}}</p>
                              <p class="mb-0 pl-1 pr-1 text-muted text-small w-15 w-sm-100">{{user.wallet}} {{user.wallet_currency_code}}</p>
                              <p class="mb-0 pl-1 pr-1 text-muted text-small w-10 w-sm-100">{{user.city_name}}</p>
                              <span class="w-10 w-sm-100 text-left text-lg-center"><span class="badge badge-primary">{{user.delivery_type_name[_lang.selectedlanguageIndex]}}</span></span>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 d-flex align-items-center justify-content-center" *ngIf="(stores && stores.length == 0) || !stores">
                    {{'label-title.no-record-found' | translate}}
                    </div>
                </div>
            </tab>
            <tab heading="{{'heading-title.business-off' | translate | uppercase }}"
                (selectTab)="changeStoreType(store_page_type.business_off)">
                <div *ngIf="count === 0" class="text-center pb-4"><span>{{ 'label-title.no-record-found' | translate }}</span>
                </div>
                <div *ngIf="count > 0 && viewType === 'grid'" class="row">
                    <div class="col-12 col-sm-12 col-lg-6 col-xl-4" *ngFor="let user of stores">
                        <div class="card d-flex flex-row mb-4">
                           
                            <div class="d-flex flex-grow-1 min-width-zero">
                                <div
                                    class="card-body align-self-center d-flex flex-row justify-content-between min-width-zero">
                                    <div class="min-width-zero">
                                        <a href="javascript:void(0);" (click)="showAddNewModal($event, user)">
                                            <p class="list-item-heading mb-1 truncate">{{user.name}} ({{user.unique_id}})</p>
                                            <p class=" list-item-heading mb-1 truncate ">{{user.country_phone_code}}
                                                {{user.phone}}
                                            </p>
                                            <p class="mb-2 text-muted text-small truncate">{{user.email}}</p>
                                        </a>
                                    </div>
                                    <div class="float-right textRight">
                                        <span class="badge badge-primary mb-2">{{user.delivery_type_name[_lang.selectedlanguageIndex]}}</span>
                                        <div>
                                            <p class="mb-1 textRight">{{user.city_name}}</p>
                                            <p class="mb-2 textRight">{{user.wallet}} {{user.wallet_currency_code}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-flex align-items-center justify-content-center" *ngIf="(stores && stores.length == 0) || !stores">
                        {{'label-title.no-record-found' | translate}}
                    </div>
                </div>
                <div class="col-12 list" *ngIf="count > 0 && viewType === 'list'">
                  <div [ngClass]="{'card d-flex flex-row mb-3': true}" *ngFor="let user of stores" [contextMenu]="basicMenu" [contextMenuSubject]="user">
                    <a class="d-flex">
                      <img alt="Profile" (error)="$event.target.src = _helper.DEFAULT_IMAGE_PATH.USER_SQUARE" [src]="user.image_url ? _helper.image_url + user.image_url : _helper.DEFAULT_IMAGE_PATH.USER_SQUARE" class="list-thumbnail responsive border-0 card-img-left">
                    </a>
                      <div class="pl-2 d-flex flex-grow-1 min-width-zero" (click)="showAddNewModal($event, user)">
                          <div class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
                              <a class="w-30 w-sm-100">
                                  <p class="list-item-heading mb-0 truncate" *ngIf="!user.name[_lang.selectedlanguageIndex]">{{user.name[0]}} ({{user.unique_id}})</p>
                                  <p class="list-item-heading mb-0 truncate" *ngIf="user.name[_lang.selectedlanguageIndex]">{{user.name[_lang.selectedlanguageIndex]}} ({{user.unique_id}})</p>
                              </a>
                              <p class="mb-0 pl-1 pr-1 text-muted text-small w-20 w-sm-100">{{user.country_phone_code}} {{user.phone}}</p>
                              <p class="mb-0 pl-1 pr-1 text-muted text-small w-30 w-sm-100">{{user.email}}</p>
                              <p class="mb-0 pl-1 pr-1 text-muted text-small w-15 w-sm-100">{{user.wallet}} {{user.wallet_currency_code}}</p>
                              <p class="mb-0 pl-1 pr-1 text-muted text-small w-10 w-sm-100">{{user.city_name}}</p>
                              <span class="w-10 w-sm-100 text-left text-lg-center"><span class="badge badge-primary">{{user.delivery_type_name[_lang.selectedlanguageIndex]}}</span></span>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 d-flex align-items-center justify-content-center" *ngIf="(stores && stores.length == 0) || !stores">
                    {{'label-title.no-record-found' | translate}}
                    </div>
                </div>
            </tab>
            <div class="row" *ngIf="stores && stores.length > 0">
                <div class="col-12">
                    <pagination [totalItems]="count" [rotate]="true" [itemsPerPage]="itemsPerPage" [maxSize]="5"
                        class="justify-content-center" [customNextTemplate]="nextTemplate" [(ngModel)]="currentPage"
                        (pageChanged)="pageChanged($event)" [customPreviousTemplate]="prevTemplate">
                    </pagination>
                </div>
            </div>
        </tabset>
    </div>
</div>

<ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-arrow-right'></i>
</ng-template>

<ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-arrow-left'></i>
</ng-template>
<app-add-new-store-info-modal (updateData)="updateData()" #storeInfoModal></app-add-new-store-info-modal>
