.btn_display_option{
  border-color: #8f8f8f !important;
  color: #8f8f8f !important;
}

.btn_display_option:active,
.btn_display_option:hover{
  color: #fff !important;
}
.float-right .badge{
  margin-left: 4rem;
}

.view-class {
  cursor: pointer;
  vertical-align: middle;
  font-size: 130%;
}

.delivery-type-filter{
  max-height: 30vh;
  overflow: auto;
}

@media (max-width: 991px){
  .list-thumbnail.responsive {
      height: 155px;
      width: 155px;
  }
}
.break{
  white-space: normal;
}
