<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <div class="top-right-button-container mb-2 ">
            <button *ngIf="_helper.has_permission(_helper.PERMISSION.ADD)" type="button" class="top-right-button btn btn-primary btn-lg mr-1" (click)="showPromoInfoModal()">{{ 'button-title.addNew' | translate | uppercase}}</button>
        </div>
        <app-breadcrumb></app-breadcrumb>
        <div class="mb-2">
            <div class="d-inline-block position-relative mb-2 mr-2">
                <div class="" dropdown>
                    <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-primary btn_display_option btn-xs dropdown-toggle" aria-controls="dropdown-basic">
                       {{'button-title.order-by' | translate}} : {{search_field.label | translate}} <span class="caret"></span>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                        <li role="menuitem" *ngFor="let item of itemOptionsOrders" class="c-pointer">
                            <a [ngClass]="item.value === search_field.value ? 'dropdown-item active' : 'dropdown-item'" (click)="onChangeOrderBy(item)">{{item.label | translate}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="search-sm d-inline-block mb-2 mr-2">
                <input placeholder="{{'label-title.search' | translate}}" (keypress)="_helper.special_char_validation($event)" name="search_value" [(ngModel)]="search_value" class="form-control">
            </div>

            <div class=" d-inline-block mb-2 mr-2" style="width: 12%;">
                <ng-select class="custom rounded-ng-select" appearance="outline" #agreeSelect labelForId="yesno"
                    [searchable]="true" notFoundText="{{'label-title.no-data-found' | translate}}"
                    [clearable]="false" (change)="getDelivery($event)" [(ngModel)]="promo_for"
                    placeholder="{{'label-title.promo-for' | translate}}"  name="promo_for" >
                    <ng-option *ngFor="let delivery of promo_for_list" [value]="delivery.value">
                      {{delivery.title | translate}}</ng-option>
                </ng-select>
            </div>

            <div class="d-inline-block mb-2 mr-2" style="width: 15%;" *ngIf="is_delivery_business">
                <ng-select class="custom rounded-ng-select" appearance="outline" #agreeSelect labelForId="yesno"
                  [searchable]="true" notFoundText="{{'label-title.no-data-found' | translate}}"
                  [clearable]="false" (change)="getBusiness($event)" [(ngModel)]="selectedBusinessId"
                  placeholder="{{'label-title.business-type' | translate}}" >
                  <ng-option *ngFor="let business of delivery_list" [value]="business._id">
                    <span *ngIf="business.delivery_name[_lang.selectedlanguageIndex]">{{ business.delivery_name[_lang.selectedlanguageIndex] }}</span>
                    <span *ngIf="!business.delivery_name[_lang.selectedlanguageIndex]">{{ business.delivery_name }}</span>
                  </ng-option>
                </ng-select>
              </div>

              <div class="d-inline-block mb-2 mr-2" style="width: 15%;" *ngIf="is_store_business">
                <ng-select class="custom rounded-ng-select" appearance="outline" #agreeSelect labelForId="yesno"
                  [searchable]="true" notFoundText="{{'label-title.no-data-found' | translate}}"
                  [clearable]="false" (change)="getBusiness($event)" [(ngModel)]="selectedBusinessId"
                  placeholder="{{'label-title.business-type' | translate}}" >
                  <ng-option *ngFor="let business of delivery_list" [value]="business._id">
                    <span >{{ business.name }}</span>
                  </ng-option>
                </ng-select>
              </div>


            <div class="d-inline-block mb-2 mr-2">
                <button d="button-basic" type="button" class="btn btn-primary btn-xs" (click)="apply(this.status)"> {{'button-title.apply' | translate }}  </button>
            </div>
            <div class="d-inline-block mb-2 mr-2">
                <button d="button-basic" type="button" class="btn btn-outline-primary btn_display_option btn-xs " (click)="clear_filter()">{{'button-title.clear-filter' | translate }} </button>
            </div>
            <div class="float-right ng-star-inserted  mb-2  mr-3">
                <span class="text-muted text-small">{{'label-title.per-page' | translate }} </span>
                <span dropdown class="d-inline-block position-relative">
                <button class="btn btn-outline-primary btn_display_option btn-xs dropdown-toggle" type="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false" dropdownToggle>
                  {{items_per_page}}
                </button>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-sm text-right" *dropdownMenu>
                    <ol>
                        <li role="menuitem" *ngFor="let item of item_options_per_page" class="c-pointer"><a
                            [ngClass]="item === items_per_page ? 'dropdown-item active' : 'dropdown-item'"
                            (click)="onChangeItemsPerPage(item)">{{item}}</a></li>
                    </ol>
                </div>
                </span>
            </div>
        </div>
    </div>
    <div class="col-12">
        <tabset class="separator-tabs">
            <tab heading="{{'heading-title.running' | translate | uppercase }}" (selectTab)="changeUserType(promocode_page_type.running)">
                <div class="row">
                  <div class="col-12">
                    <div class="text-center"  *ngIf="promo_codes && promo_codes.length === 0">
                      <span>{{'label-title.no-record-found' | translate }}...</span>
                    </div>
                  </div>
                    <div class="col-xl-3 col-lg-4 col-12 col-sm-6 mb-4" *ngFor="let promo_code of promo_codes">
                        <div class="card">
                            <div class="position-relative">
                                <a href="javascript:;" class="c-default">
                                    <img class="card-img-top promo-img" (error)="$event.target.src = _helper.DEFAULT_IMAGE_PATH.PROMO" [src]="promo_code.image_url != '' ? _helper.image_url + promo_code.image_url : _helper.DEFAULT_IMAGE_PATH.PROMO" alt="Bebinca">
                                </a>
                                <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left" *ngIf="promo_code.promo_for == PROMO_FOR_ID.DELIVERIES">{{ 'label-title.deliveries-business' | translate }}</span>
                                <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left" *ngIf="promo_code.promo_for == PROMO_FOR_ID.STORE">{{ 'label-title.store' | translate }}</span>
                                <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left" *ngIf="promo_code.promo_for == PROMO_FOR_ID.SERVICE">{{ 'label-title.service-fees' | translate }}</span>
                                <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left" *ngIf="promo_code.promo_for == PROMO_FOR_ID.USER">{{ 'label-title.user' | translate }}</span>
                                <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left" *ngIf="promo_code.promo_for == PROMO_FOR_ID.PRODUCT">{{ 'label-title.product' | translate }}</span>
                                <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left" *ngIf="promo_code.promo_for == PROMO_FOR_ID.ITEM">{{ 'label-title.item' | translate }}</span>
                            </div>
                            <div class="p-3">
                                <a href="javascript:;" class="c-text">
                                    <h3 class="font-weight-bold text-truncate">{{promo_code.promo_code_name}}</h3>
                                </a>
                                <div class="d-flex flex-row align-items-center mb-2"><a class="d-block position-relative"><i class="simple-icon-info initial-height large-icon color-theme-1"></i></a>
                                    <div class="pl-2 text-truncate">
                                        <a href="javascript:;" class="c-text">
                                            <p class="list-item-heading mb-1 text-truncate" *ngIf="promo_code.promo_details">{{promo_code.promo_details}}</p>
                                            <p class="list-item-heading mb-1 text-truncate" *ngIf="!promo_code.promo_details">---</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center mb-2"><a  class="d-block position-relative"><i class="simple-icon-calendar initial-height large-icon color-theme-1"></i></a>
                                    <div class="pl-2 w-100">
                                         <a>
                                            <p class="list-item-heading mb-1" *ngIf="!promo_code.is_promo_have_date">---</p>
                                            <p class="list-item-heading mb-1" *ngIf="promo_code.is_promo_have_date">{{promo_code.promo_start_date | date:_helper.DATE_FORMAT.DD_MM_YYYY}} to {{promo_code.promo_expire_date | date:_helper.DATE_FORMAT.DD_MM_YYYY}}</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center mb-2"><a class="d-block position-relative"><i class="simple-icon-user initial-height large-icon color-theme-1"></i></a>
                                    <div class="pl-2 w-100 dis-flex">
                                        <a class="d-inline-block">
                                            <p class="list-item-heading mb-1">{{'label-title.usages' | translate}} : <b>{{ promo_code.promo_code_uses}}</b> </p>
                                        </a>
                                        <button (click)="showAddNewModal(promo_code._id)" class="btn btn-xs btn-outline-primary">
                                            <span class="list-item-heading "> {{'label-title.used' | translate}} : <b class="font-weight-bold">{{ promo_code.used_promo_code}}</b></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center mb-2"><a class="d-block position-relative"><i class="simple-icon-flag initial-height large-icon color-theme-1"></i></a>
                                    <div class="pl-2 w-100">
                                        <a>
                                            <ng-template [ngIf]="promo_code.city_name.length" [ngIfElse]="cityexists">
                                                <p class="list-item-heading mb-1"> {{promo_code.city_name[0]}} - {{promo_code.country_name}} </p>
                                            </ng-template>
                                            <ng-template #cityexists >
                                                <p class="list-item-heading mb-1">All - {{promo_code.country_name}}</p>
                                            </ng-template>
                                        </a>
                                    </div>
                                </div>
                                <button  class="btn btn-outline-primary icon-button position-absolute promo-editIcon" (click)="showPromoInfoModal(promo_code._id)">
                                    <i class="simple-icon-pencil" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)"></i>
                                    <i class="simple-icon-eye" *ngIf="!_helper.has_permission(_helper.PERMISSION.EDIT)" style="line-height: 33px;
                                    font-size: 16px;"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
            <tab heading="{{'heading-title.inActive' | translate | uppercase }}" (selectTab)="changeUserType(promocode_page_type.inactive)">
                <div class="row">
                  <div class="col-12">
                    <div class="text-center"  *ngIf="promo_codes && promo_codes.length === 0">
                      <span>{{'label-title.no-record-found' | translate }}...</span>
                    </div>
                  </div>
                    <div class="col-xl-3 col-lg-4 col-12 col-sm-6 mb-4" *ngFor="let promo_code of promo_codes">
                        <div class="card">
                            <div class="position-relative">
                                <a href="javascript:;" class="c-default">
                                    <img class="card-img-top promo-img" (error)="$event.target.src = _helper.DEFAULT_IMAGE_PATH.PROMO" [src]="promo_code.image_url != '' ? _helper.image_url + promo_code.image_url : _helper.DEFAULT_IMAGE_PATH.PROMO" alt="Bebinca">
                                </a>
                                <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left" *ngIf="promo_code.promo_for == PROMO_FOR_ID.DELIVERIES">{{ 'label-title.deliveries-business' | translate }}</span>
                                <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left" *ngIf="promo_code.promo_for == PROMO_FOR_ID.STORE">{{ 'label-title.store' | translate }}</span>
                                <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left" *ngIf="promo_code.promo_for == PROMO_FOR_ID.SERVICE">{{ 'label-title.service-fees' | translate }}</span>
                                <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left" *ngIf="promo_code.promo_for == PROMO_FOR_ID.USER">{{ 'label-title.user' | translate }}</span>
                                <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left" *ngIf="promo_code.promo_for == PROMO_FOR_ID.PRODUCT">{{ 'label-title.product' | translate }}</span>
                                <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left" *ngIf="promo_code.promo_for == PROMO_FOR_ID.ITEM">{{ 'label-title.item' | translate }}</span>
                            </div>
                            <div class="p-3">
                                <a href="javascript:;" class="c-text">
                                    <h3 class="font-weight-bold text-truncate">{{promo_code.promo_code_name}}</h3>
                                </a>
                                <div class="d-flex flex-row align-items-center mb-2"><a class="d-block position-relative"><i class="simple-icon-info initial-height large-icon color-theme-1"></i></a>
                                    <div class="pl-2 text-truncate">
                                        <a href="javascript:;" class="c-text">
                                            <p class="list-item-heading mb-1 text-truncate" *ngIf="promo_code.promo_details">{{promo_code.promo_details}}</p>
                                            <p class="list-item-heading mb-1 text-truncate" *ngIf="!promo_code.promo_details">---</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center mb-2"><a href="javascript::" class="d-block position-relative"><i class="simple-icon-calendar initial-height large-icon color-theme-1"></i></a>
                                    <div class="pl-2 w-100">
                                        <a>
                                            <p class="list-item-heading mb-1" *ngIf="!promo_code.is_promo_have_date">---</p>
                                            <p class="list-item-heading mb-1" *ngIf="promo_code.is_promo_have_date">{{promo_code.promo_start_date | date:_helper.DATE_FORMAT.DD_MM_YYYY}} to {{promo_code.promo_expire_date | date:_helper.DATE_FORMAT.DD_MM_YYYY}}</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center mb-2"><a href="javascript::" class="d-block position-relative"><i class="simple-icon-user initial-height large-icon color-theme-1"></i></a>
                                    <div class="pl-2 w-100 dis-flex">
                                        <a class="d-inline-block">
                                            <p class="list-item-heading mb-1">{{'label-title.usages' | translate}} : <b>{{ promo_code.promo_code_uses}}</b> </p>
                                        </a>
                                        <button (click)="showAddNewModal(promo_code._id)" class="btn btn-xs btn-outline-primary">
                                            <span class="list-item-heading "> {{'label-title.used' | translate}} : <b class="font-weight-bold">{{ promo_code.used_promo_code}}</b></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center mb-2"><a href="javascript::" class="d-block position-relative"><i class="simple-icon-flag initial-height large-icon color-theme-1"></i></a>
                                    <div class="pl-2 w-100">
                                        <a>
                                            <p class="list-item-heading mb-1">{{promo_code.city_name[0]}} - {{promo_code.country_name}}</p>
                                        </a>
                                    </div>
                                </div>
                                <button class="btn btn-outline-primary icon-button position-absolute promo-editIcon" (click)="showPromoInfoModal(promo_code._id)">
                                    <i class="simple-icon-pencil" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)"></i>
                                    <i class="simple-icon-eye" *ngIf="!_helper.has_permission(_helper.PERMISSION.EDIT)" style="line-height: 33px;
                                    font-size: 16px;"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
            <tab heading="{{'heading-title.unApproved' | translate | uppercase }}" (selectTab)="changeUserType(promocode_page_type.unapproved)">
                <div class="row">
                  <div class="col-12">
                    <div class="text-center"  *ngIf="promo_codes && promo_codes.length === 0">
                      <span>{{'label-title.no-record-found' | translate }}...</span>
                    </div>
                  </div>
                    <div class="col-xl-3 col-lg-4 col-12 col-sm-6 mb-4" *ngFor="let promo_code of promo_codes">
                        <div class="card">
                            <div class="position-relative">
                                <a href="javascript:;" class="c-default">
                                    <img class="card-img-top promo-img" (error)="$event.target.src = _helper.DEFAULT_IMAGE_PATH.PROMO" [src]="promo_code.image_url != '' ? _helper.image_url + promo_code.image_url : _helper.DEFAULT_IMAGE_PATH.PROMO" alt="Bebinca">
                                </a>
                                <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left" *ngIf="promo_code.promo_for == PROMO_FOR_ID.DELIVERIES">{{ 'label-title.deliveries-business' | translate }}</span>
                                <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left" *ngIf="promo_code.promo_for == PROMO_FOR_ID.STORE">{{ 'label-title.store' | translate }}</span>
                                <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left" *ngIf="promo_code.promo_for == PROMO_FOR_ID.SERVICE">{{ 'label-title.service-fees' | translate }}</span>
                                <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left" *ngIf="promo_code.promo_for == PROMO_FOR_ID.USER">{{ 'label-title.user' | translate }}</span>
                                <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left" *ngIf="promo_code.promo_for == PROMO_FOR_ID.PRODUCT">{{ 'label-title.product' | translate }}</span>
                                <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left" *ngIf="promo_code.promo_for == PROMO_FOR_ID.ITEM">{{ 'label-title.item' | translate }}</span>
                            </div>
                            <div class="p-3">
                                <a href="javascript:;" class="c-text">
                                    <h3 class="font-weight-bold text-truncate">{{promo_code.promo_code_name}}</h3>
                                </a>
                                <div class="d-flex flex-row align-items-center mb-2"><a class="d-block position-relative"><i class="simple-icon-info initial-height large-icon color-theme-1"></i></a>
                                    <div class="pl-2 text-truncate">
                                        <a href="javascript:;" class="c-text">
                                            <p class="list-item-heading mb-1 text-truncate" *ngIf="promo_code.promo_details">{{promo_code.promo_details}}</p>
                                            <p class="list-item-heading mb-1 text-truncate" *ngIf="!promo_code.promo_details">---</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center mb-2"><a href="javascript::" class="d-block position-relative"><i class="simple-icon-calendar initial-height large-icon color-theme-1"></i></a>
                                    <div class="pl-2 w-100">
                                        <a>
                                            <p class="list-item-heading mb-1" *ngIf="!promo_code.is_promo_have_date">---</p>
                                            <p class="list-item-heading mb-1" *ngIf="promo_code.is_promo_have_date">{{promo_code.promo_start_date | date:_helper.DATE_FORMAT.DD_MM_YYYY}} to {{promo_code.promo_expire_date | date:_helper.DATE_FORMAT.DD_MM_YYYY}}</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center mb-2"><a href="javascript::" class="d-block position-relative"><i class="simple-icon-user initial-height large-icon color-theme-1"></i></a>
                                    <div class="pl-2 w-100 dis-flex">
                                        <a class="d-inline-block">
                                            <p class="list-item-heading mb-1">{{'label-title.usages' | translate}} : <b>{{ promo_code.promo_code_uses}}</b> </p>
                                        </a>
                                        <button (click)="showAddNewModal(promo_code._id)" class="btn btn-xs btn-outline-primary">
                                            <span class="list-item-heading"> {{'label-title.used' | translate}} : <b class="font-weight-bold">{{ promo_code.used_promo_code}}</b></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center mb-2"><a href="javascript::" class="d-block position-relative"><i class="simple-icon-flag initial-height large-icon color-theme-1"></i></a>
                                    <div class="pl-2 w-100">
                                        <a>
                                            <p class="list-item-heading mb-1">{{promo_code.city_name[0]}} - {{promo_code.country_name}}</p>
                                        </a>
                                    </div>
                                </div>
                                <button class="btn btn-outline-primary icon-button position-absolute promo-editIcon" (click)="showPromoInfoModal(promo_code._id)">
                                    <i class="simple-icon-pencil" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)"></i>
                                    <i class="simple-icon-eye" *ngIf="!_helper.has_permission(_helper.PERMISSION.EDIT)" style="line-height: 33px;
                                    font-size: 16px;"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
            <tab heading="{{'heading-title.expired' | translate | uppercase }}" (selectTab)="changeUserType(promocode_page_type.expired)">

                <div class="row">
                  <div class="col-12">
                    <div class="text-center"  *ngIf="promo_codes && promo_codes.length === 0">
                      <span>{{'label-title.no-record-found' | translate }}...</span>
                    </div>
                  </div>
                    <div class="col-xl-3 col-lg-4 col-12 col-sm-6 mb-4" *ngFor="let promo_code of promo_codes">
                        <div class="card">
                            <div class="position-relative">
                                <a href="javascript:;" class="c-default">
                                    <img class="card-img-top promo-img" (error)="$event.target.src = _helper.DEFAULT_IMAGE_PATH.PROMO" [src]="promo_code.image_url != '' ? _helper.image_url + promo_code.image_url : _helper.DEFAULT_IMAGE_PATH.PROMO" alt="Bebinca">
                                </a>
                                <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left" *ngIf="promo_code.promo_for == PROMO_FOR_ID.DELIVERIES">{{ 'label-title.deliveries-business' | translate }}</span>
                                <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left" *ngIf="promo_code.promo_for == PROMO_FOR_ID.STORE">{{ 'label-title.store' | translate }}</span>
                                <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left" *ngIf="promo_code.promo_for == PROMO_FOR_ID.SERVICE">{{ 'label-title.service-fees' | translate }}</span>
                                <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left" *ngIf="promo_code.promo_for == PROMO_FOR_ID.USER">{{ 'label-title.user' | translate }}</span>
                                <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left" *ngIf="promo_code.promo_for == PROMO_FOR_ID.PRODUCT">{{ 'label-title.product' | translate }}</span>
                                <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left" *ngIf="promo_code.promo_for == PROMO_FOR_ID.ITEM">{{ 'label-title.item' | translate }}</span>
                            </div>
                            <div class="p-3">
                                <a href="javascript:;" class="c-text">
                                    <h3 class="font-weight-bold text-truncate">{{promo_code.promo_code_name}}</h3>
                                </a>
                                <div class="d-flex flex-row align-items-center mb-2"><a class="d-block position-relative"><i class="simple-icon-info initial-height large-icon color-theme-1"></i></a>
                                    <div class="pl-2 text-truncate">
                                        <a href="javascript:;" class="c-text">
                                            <p class="list-item-heading mb-1 text-truncate" *ngIf="promo_code.promo_details">{{promo_code.promo_details}}</p>
                                            <p class="list-item-heading mb-1 text-truncate" *ngIf="!promo_code.promo_details">---</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center mb-2"><a href="javascript::" class="d-block position-relative"><i class="simple-icon-calendar initial-height large-icon color-theme-1"></i></a>
                                    <div class="pl-2 w-100">
                                        <a>
                                            <p class="list-item-heading mb-1" *ngIf="!promo_code.is_promo_have_date">---</p>
                                            <p class="list-item-heading mb-1" *ngIf="promo_code.is_promo_have_date">{{promo_code.promo_start_date | date:_helper.DATE_FORMAT.DD_MM_YYYY}} to {{promo_code.promo_expire_date | date:_helper.DATE_FORMAT.DD_MM_YYYY}}</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center mb-2"><a href="javascript::" class="d-block position-relative"><i class="simple-icon-user initial-height large-icon color-theme-1"></i></a>
                                    <div class="pl-2 w-100 dis-flex">
                                        <a class="d-inline-block">
                                            <p class="list-item-heading mb-1">{{'label-title.usages' | translate}} : <b>{{ promo_code.promo_code_uses}}</b> </p>
                                        </a>
                                        <button (click)="showAddNewModal(promo_code._id)" class="btn btn-xs btn-outline-primary">
                                            <span class="list-item-heading"> {{'label-title.used' | translate}} : <b class="font-weight-bold">{{ promo_code.used_promo_code}}</b></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center mb-2"><a href="javascript::" class="d-block position-relative"><i class="simple-icon-flag initial-height large-icon color-theme-1"></i></a>
                                    <div class="pl-2 w-100">
                                        <a>
                                            <p class="list-item-heading mb-1">{{promo_code.city_name[0]}} - {{promo_code.country_name}}</p>
                                        </a>
                                    </div>
                                </div>
                                <button class="btn btn-outline-primary icon-button position-absolute promo-editIcon" (click)="showPromoInfoModal(promo_code._id)">
                                    <i class="simple-icon-pencil" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)"></i>
                                    <i class="simple-icon-eye" *ngIf="!_helper.has_permission(_helper.PERMISSION.EDIT)" style="line-height: 33px;
                                    font-size: 16px;"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
            <tab heading="{{'heading-title.specific-user' | translate | uppercase }}" (selectTab)="changeUserType(promocode_page_type.user)">

                <div class="row">
                  <div class="col-12">
                    <div class="text-center"  *ngIf="promo_codes && promo_codes.length === 0">
                      <span>{{'label-title.no-record-found' | translate }}...</span>
                    </div>
                  </div>
                    <div class="col-xl-3 col-lg-4 col-12 col-sm-6 mb-4" *ngFor="let promo_code of promo_codes">
                        <div class="card">
                            <div class="position-relative">
                                <a href="javascript:;" class="c-default">
                                    <img class="card-img-top promo-img" (error)="$event.target.src = _helper.DEFAULT_IMAGE_PATH.PROMO" [src]="promo_code.image_url != '' ? _helper.image_url + promo_code.image_url : _helper.DEFAULT_IMAGE_PATH.PROMO" alt="Bebinca">
                                </a>
                                <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left" *ngIf="promo_code.promo_for == PROMO_FOR_ID.DELIVERIES">{{ 'label-title.deliveries-business' | translate }}</span>
                                <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left" *ngIf="promo_code.promo_for == PROMO_FOR_ID.STORE">{{ 'label-title.store' | translate }}</span>
                                <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left" *ngIf="promo_code.promo_for == PROMO_FOR_ID.SERVICE">{{ 'label-title.service-fees' | translate }}</span>
                                <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left" *ngIf="promo_code.promo_for == PROMO_FOR_ID.USER">{{ 'label-title.user' | translate }}</span>
                                <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left" *ngIf="promo_code.promo_for == PROMO_FOR_ID.PRODUCT">{{ 'label-title.product' | translate }}</span>
                                <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left" *ngIf="promo_code.promo_for == PROMO_FOR_ID.ITEM">{{ 'label-title.item' | translate }}</span>
                            </div>
                            <div class="p-3">
                                <a href="javascript:;" class="c-text">
                                    <h3 class="font-weight-bold text-truncate">{{promo_code.promo_code_name}}</h3>
                                </a>
                                <div class="d-flex flex-row align-items-center mb-2"><a class="d-block position-relative"><i class="simple-icon-info initial-height large-icon color-theme-1"></i></a>
                                    <div class="pl-2 text-truncate">
                                        <a href="javascript:;" class="c-text">
                                            <p class="list-item-heading mb-1 text-truncate" *ngIf="promo_code.promo_details">{{promo_code.promo_details}}</p>
                                            <p class="list-item-heading mb-1 text-truncate" *ngIf="!promo_code.promo_details">---</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center mb-2"><a href="javascript::" class="d-block position-relative"><i class="simple-icon-calendar initial-height large-icon color-theme-1"></i></a>
                                    <div class="pl-2 w-100">
                                        <a>
                                            <p class="list-item-heading mb-1" *ngIf="!promo_code.is_promo_have_date">---</p>
                                            <p class="list-item-heading mb-1" *ngIf="promo_code.is_promo_have_date">{{promo_code.promo_start_date | date:_helper.DATE_FORMAT.DD_MM_YYYY}} to {{promo_code.promo_expire_date | date:_helper.DATE_FORMAT.DD_MM_YYYY}}</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center mb-2"><a href="javascript::" class="d-block position-relative"><i class="simple-icon-user initial-height large-icon color-theme-1"></i></a>
                                    <div class="pl-2 w-100 dis-flex">
                                        <a class="d-inline-block">
                                            <p class="list-item-heading mb-0">{{'label-title.usages' | translate}} : <b>{{ promo_code.promo_code_uses}}</b> </p>
                                        </a>
                                        <button (click)="showAddNewModal(promo_code._id)" class="btn btn-xs btn-outline-primary">
                                            <span class="list-item-heading"> {{'label-title.used' | translate}} : <b class="font-weight-bold">{{ promo_code.used_promo_code}}</b></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center mb-2"><a href="javascript::" class="d-block position-relative"><i class="simple-icon-flag initial-height large-icon color-theme-1"></i></a>
                                    <div class="pl-2 w-100">
                                        <a>
                                            <p class="list-item-heading mb-1">{{promo_code.city_name[0]}} - {{promo_code.country_name}}</p>
                                        </a>
                                    </div>
                                </div>
                                <button class="btn btn-outline-primary icon-button position-absolute promo-editIcon" (click)="showPromoInfoModal(promo_code._id)">
                                    <i class="simple-icon-pencil" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)"></i>
                                    <i class="simple-icon-eye" *ngIf="!_helper.has_permission(_helper.PERMISSION.EDIT)" style="line-height: 33px;
                                    font-size: 16px;"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
            <div class="row" *ngIf="promo_codes && promo_codes.length > 0">
                <div class="col-12">
                    <pagination [(ngModel)]="currentPage" [totalItems]="count*items_per_page" [rotate]="true" [itemsPerPage]="items_per_page" [maxSize]="5" class="justify-content-center" [customNextTemplate]="nextTemplate" (pageChanged)="pageChanged($event)" [customPreviousTemplate]="prevTemplate">
                    </pagination>
                </div>
            </div>
        </tabset>
    </div>
</div>
<ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-arrow-right'></i>
</ng-template>

<ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-arrow-left'></i>
</ng-template>
<app-add-offer-advance-setting-modal #addNewModalRef></app-add-offer-advance-setting-modal>
<app-add-new-promo-info-modal #addNewModalRef1></app-add-new-promo-info-modal>
