i.large-icon {
    font-size: 18px;
    line-height: initial;
    // color: #ed7117;
    font-weight: 600;
}
.btn_display_option{
  border-color: #8f8f8f !important;
  color: #8f8f8f !important;
}

.btn_display_option:active,
.btn_display_option:hover{
  color: #fff !important;
}
.promo-img{
  max-height: 262px;
  // min-height: 415px;
  height: 100%;
  object-fit: cover;
}
.dis-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}