<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{order ? order.id + ' - ' : ''}}{{'label-title.order-details' | translate}}
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div *ngIf="order" class="modal-body p-0">
        <tabset class="card-tabs truncate" [justified]="true">
            <tab (selectTab)="onSelectTab(false)" *ngIf="true" heading="{{'heading-title.basic-details' | translate | uppercase }}" class="card-body">
                <div class="">
                    <div class="d-flex flex-row justify-content-between mb-2">
                        <div class="d-flex w-40 flex-column text-left  align-middle">
                            <p class="font-weight-bold invoice p-0 m-0 overflow-hidden"> {{'label-title.invoice' |
                                translate}} #: {{order.id}} </p>
                            <p class="font-weight-bold invoice p-0 m-0 overflow-hidden"
                                *ngIf="order.orderedAt && timezone_for_display_date">
                                {{_helper.moment(order.orderedAt).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.MOMENT_DD_MMM_YYYY)}}
                                {{_helper.moment(order.orderedAt).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.HH_MM_A)}}
                            </p>
                        </div><span class="btn btn-primary default mb-1 font-weight-bold"
                            *ngIf="order.deliveryAt && timezone_for_display_date"> {{'label-title.delivery-at' |
                            translate}} :
                            {{_helper.moment(order.deliveryAt).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.MOMENT_DD_MMM_YYYY)}}
                            {{_helper.moment(order.deliveryAt).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.HH_MM_A)}}<br></span>
                    </div>
                    <ng-container *ngIf="order.delivery_type === DELIVERY_TYPE_CONSTANT.COURIER && order.items">
                        <h5 *ngIf="order.delivery_type === DELIVERY_TYPE_CONSTANT.COURIER"
                            class="card-title font-weight-bold mt-3">{{'label-title.additional-services' | translate}}
                        </h5>
                        <div class="mb-3" *ngFor="let item of order.items">
                            <table *ngIf="item.specifications.length" class="table table-sm table-borderless mt-2" aria-describedby="">
                                <th></th>
                                <tbody>
                                    <tr *ngFor="let spec of item.specifications">
                                        <td class="p-0 pb-1 w-10"><span
                                                class="log-indicator border-theme-2 align-middle"></span></td>
                                        <td class="p-0 pb-1">
                                            <a href="javascript:;" class="w-40 w-sm-100">
                                                <span class="list-item-heading mb-1 color-theme-1">
                                                    {{spec.name || 'N/A'}}
                                                    <h6 class="mb-2 text-muted text-medium float-right inline-flex">
                                                        {{currency_sign}}&nbsp;{{spec.price |
                                                        roundpipe:_helper.to_fixed_number}}</h6>
                                                </span>
                                                <ng-container *ngFor="let modifier of spec.list">
                                                    <p *ngIf="modifier.name" class="mb-2 text-muted text-medium">
                                                        {{modifier.name.length ? (modifier.name ||
                                                        modifier.name[_langService.selectedlanguageIndex]) : ''}}</p>
                                                    <p *ngIf="!modifier.name" class="mb-2 text-muted text-medium">N/A
                                                    </p>
                                                </ng-container>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </ng-container>

                    <h5 *ngIf="!order.is_admin_services && (order.delivery_type === DELIVERY_TYPE_CONSTANT.STORE || order.delivery_type === DELIVERY_TYPE_CONSTANT.SERVICE || order.delivery_type === DELIVERY_TYPE_CONSTANT.APPOINMENT || order.delivery_type === DELIVERY_TYPE_CONSTANT.ECOMMERCE)"
                        class="card-title font-weight-bold">{{'label-title.order-to' | translate}}</h5>
                    <h5 *ngIf="order.delivery_type === DELIVERY_TYPE_CONSTANT.COURIER || order.delivery_type === DELIVERY_TYPE_CONSTANT.TAXI"
                        class="card-title font-weight-bold">{{'label-title.pickup-details' | translate}}</h5>
                    <table class="mb-2 w-100 store" *ngIf="!order.is_admin_services" aria-describedby="">
                        <th></th>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="d-flex flex-row mb-1 justify-content-between align-items-center">
                                        <div class=" flex-fill">
                                            <a>
                                                <h3 class="font-weight-medium mb-0">{{order.order_to_name}}</h3>
                                            </a>
                                        </div>
                                        <div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex flex-row mb-1 justify-content-between align-items-center">
                                        <div class=" flex-fill">
                                            <a>
                                                <h5 class="font-weight-medium mb-0">{{order.order_to_email}}</h5>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex flex-row mb-1 justify-content-between align-items-center">
                                        <div class=" flex-fill">
                                            <a>
                                                <h3 class="font-weight-medium mb-0">{{order.order_to_phone}}</h3>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="w-100 mb-4" class="address" *ngIf="!order.is_admin_services" aria-describedby="">
                        <th></th>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="d-flex flex-row mb-1 justify-content-between align-items-center">
                                        <div class=" flex-fill">
                                            <div class="d-flex flex-row mb-1 justify-content-between ">
                                                <div>
                                                    <div class="pin-svg mt-1" style="width : 24px">
                                                        <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                                                        width="16px" height="16px" viewBox="0 0 68.000000 68.000000"
                                                        preserveAspectRatio="xMidYMid meet">
                                                        <metadata>
                                                        Created by potrace 1.16, written by Peter Selinger 2001-2019
                                                        </metadata>
                                                        <g transform="translate(0.000000,68.000000) scale(0.100000,-0.100000)"
                                                        stroke="none">
                                                        <path d="M203 656 c-72 -34 -137 -97 -173 -169 -26 -52 -30 -71 -30 -141 0
                                                        -52 6 -99 17 -130 25 -68 100 -148 175 -185 54 -27 71 -31 147 -31 70 0 96 5
                                                        138 24 72 34 137 97 173 169 26 53 30 70 30 147 0 77 -4 94 -30 147 -36 72
                                                        -101 135 -173 169 -74 34 -200 34 -274 0z m245 -115 c158 -80 162 -300 9 -398
                                                        -36 -23 -53 -27 -117 -27 -64 0 -81 4 -117 27 -119 76 -149 224 -66 335 65 87
                                                        190 114 291 63z"/>
                                                        <path d="M268 480 c-105 -56 -116 -195 -22 -267 132 -100 315 59 232 202 -45
                                                        76 -135 104 -210 65z"/>
                                                        </g>
                                                        </svg>
                                                    </div>
                                                </div>
                                                <div class=" flex-fill">
                                                    <a>
                                                        <h4 class="font-weight-medium mb-0">{{order.order_to_address}}
                                                            <span *ngIf="order.order_to_flat_no">{{'label-title.flat-no'| translate}} - {{order.order_to_flat_no}},</span> 
                                                            <span *ngIf="order.order_to_street">{{'label-title.street'| translate}} - {{order.order_to_street}} ,</span>
                                                            <span *ngIf="order.order_to_landmark">{{'label-title.landmark'| translate}} - {{order.order_to_landmark}}</span>
                                                        </h4>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center delivery" *ngIf="!order.is_admin_services">
                        <div *ngIf="order.pickup_note && order?.pickup_note !== '' && order.delivery_type!==4">
                            <h6 class="text-muted mb-0 text-medium ">{{'label-title.pickup-note' | translate}} :
                                {{order.pickup_note}}</h6>
                        </div>
                    </div>

                    <ng-container>
                        <h5 *ngIf="order.delivery_type === DELIVERY_TYPE_CONSTANT.STORE || order.delivery_type === DELIVERY_TYPE_CONSTANT.SERVICE || order.delivery_type === DELIVERY_TYPE_CONSTANT.APPOINMENT || order.delivery_type === DELIVERY_TYPE_CONSTANT.ECOMMERCE"
                            class="card-title font-weight-bold">{{'label-title.order-by' | translate}}</h5>
                        <h5 *ngIf="order.delivery_type === DELIVERY_TYPE_CONSTANT.TAXI || order.delivery_type == DELIVERY_TYPE_CONSTANT.COURIER"
                            class="card-title font-weight-bold">{{'label-title.destination-details' | translate}}</h5>
                        <table
                            *ngIf="order.delivery_type!==DELIVERY_TYPE_CONSTANT.TAXI &&  order.delivery_type !== DELIVERY_TYPE_CONSTANT.COURIER"
                            class="mb-2 w-100 info" aria-describedby="">
                            <th></th>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="d-flex flex-row mb-1 justify-content-between align-items-center">
                                            <div class=" flex-fill">
                                                <a>
                                                    <h3 class="font-weight-medium mb-0">{{order.order_by_name}}</h3>
                                                </a>
                                            </div>
                                            <div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex flex-row mb-1 justify-content-between align-items-center">
                                            <div class=" flex-fill">
                                                <a>
                                                    <h3 class="font-weight-medium mb-0">{{order.order_by_phone}}</h3>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="w-100" class="adress" aria-describedby="">
                            <th></th>
                            <tbody>
                                <tr class="w-100" *ngIf="order.delivery_type !== DELIVERY_TYPE_CONSTANT.COURIER && order.delivery_type !== DELIVERY_TYPE_CONSTANT.TAXI ">
                                    <td>
                                        <div class="d-flex flex-row mb-1 justify-content-between align-items-center">
                                            <div class=" flex-fill">
                                                <div class="w-100 d-flex flex-row mb-1 justify-content-between ">
                                                    <div>
                                                        <div class="pin-svg mt-1" style="width : 24px">
                                                            <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                                                            width="16px" height="16px" viewBox="0 0 68.000000 68.000000"
                                                            preserveAspectRatio="xMidYMid meet">
                                                            <metadata>
                                                            Created by potrace 1.16, written by Peter Selinger 2001-2019
                                                            </metadata>
                                                            <g transform="translate(0.000000,68.000000) scale(0.100000,-0.100000)"
                                                            stroke="none">
                                                            <path d="M203 656 c-72 -34 -137 -97 -173 -169 -26 -52 -30 -71 -30 -141 0
                                                            -52 6 -99 17 -130 25 -68 100 -148 175 -185 54 -27 71 -31 147 -31 70 0 96 5
                                                            138 24 72 34 137 97 173 169 26 53 30 70 30 147 0 77 -4 94 -30 147 -36 72
                                                            -101 135 -173 169 -74 34 -200 34 -274 0z m245 -115 c158 -80 162 -300 9 -398
                                                            -36 -23 -53 -27 -117 -27 -64 0 -81 4 -117 27 -119 76 -149 224 -66 335 65 87
                                                            190 114 291 63z"/>
                                                            <path d="M268 480 c-105 -56 -116 -195 -22 -267 132 -100 315 59 232 202 -45
                                                            76 -135 104 -210 65z"/>
                                                            </g>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                    <div class="w-100 flex-fill">
                                                        <a>
                                                            <h4 class="font-weight-medium mb-0">
                                                                {{order.order_for_address}}
                                                                <span *ngIf="order.order_for_flat_no">{{'label-title.flat-no'| translate}} - {{order.order_for_flat_no}},</span> 
                                                                <span *ngIf="order.order_for_street">{{'label-title.street'| translate}} - {{order.order_for_street}} ,</span>
                                                                <span *ngIf="order.order_for_landmark">{{'label-title.landmark'| translate}} - {{order.order_for_landmark}}</span></h4>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <div *ngIf="order.delivery_type == DELIVERY_TYPE_CONSTANT.COURIER || order.delivery_type == DELIVERY_TYPE_CONSTANT.TAXI ">
                                    <tr class="w-100" *ngFor="let d_address of order.destination_addresses; let i=index">
                                        <td>
                                            <div
                                                class="d-flex flex-row mb-1 justify-content-between align-items-center">
                                                <div class=" flex-fill">
                                                    <div class="w-100 d-flex flex-row mb-1 justify-content-between ">
                                                        <div>
                                                            <div class="pin-svg mt-1" style="width : 24px" *ngIf="order.destination_addresses.length != i + 1">
                                                                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                                                                width="16px" height="16px" viewBox="0 0 68.000000 68.000000"
                                                                preserveAspectRatio="xMidYMid meet">
                                                                <metadata>
                                                                Created by potrace 1.16, written by Peter Selinger 2001-2019
                                                                </metadata>
                                                                <g transform="translate(0.000000,68.000000) scale(0.100000,-0.100000)"
                                                                stroke="none">
                                                                <path d="M203 656 c-72 -34 -137 -97 -173 -169 -26 -52 -30 -71 -30 -141 0
                                                                -52 6 -99 17 -130 25 -68 100 -148 175 -185 54 -27 71 -31 147 -31 70 0 96 5
                                                                138 24 72 34 137 97 173 169 26 53 30 70 30 147 0 77 -4 94 -30 147 -36 72
                                                                -101 135 -173 169 -74 34 -200 34 -274 0z m245 -115 c158 -80 162 -300 9 -398
                                                                -36 -23 -53 -27 -117 -27 -64 0 -81 4 -117 27 -119 76 -149 224 -66 335 65 87
                                                                190 114 291 63z"/>
                                                                <path d="M268 480 c-105 -56 -116 -195 -22 -267 132 -100 315 59 232 202 -45
                                                                76 -135 104 -210 65z"/>
                                                                </g>
                                                                </svg>
                                                            </div>
                                                            <div class="pin-svg mt-1" style="width : 24px" *ngIf="order.destination_addresses.length == i + 1">
                                                                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                                                                  width="16px" height="16px" viewBox="0 0 65.000000 65.000000"
                                                                  preserveAspectRatio="xMidYMid meet">
                                                                  <metadata>
                                                                  Created by potrace 1.16, written by Peter Selinger 2001-2019
                                                                  </metadata>
                                                                  <g transform="translate(0.000000,65.000000) scale(0.100000,-0.100000)"
                                                                  stroke="none">
                                                                  <path d="M16 634 c-14 -13 -16 -55 -16 -308 0 -271 1 -294 18 -309 16 -15 53
                                                                  -17 309 -17 268 0 291 1 306 18 15 16 17 53 17 309 0 268 -1 291 -18 306 -16
                                                                  15 -53 17 -310 17 -251 0 -293 -2 -306 -16z m494 -309 l0 -185 -185 0 -185 0
                                                                  0 185 0 185 185 0 185 0 0 -185z"/>
                                                                  <path d="M204 437 c-2 -7 -3 -62 -2 -123 l3 -109 120 0 120 0 0 120 0 120
                                                                  -118 3 c-91 2 -119 0 -123 -11z"/>
                                                                  </g>
                                                                  </svg>
                                                              </div>
                                                        </div>
                                                        <div class="w-100 flex-fill">
                                                            <a>
                                                                <h4 class="font-weight-medium mb-0">
                                                                    {{d_address.address}}</h4>
                                                            </a>
                                                            <div *ngIf="order.delivery_type == DELIVERY_TYPE_CONSTANT.COURIER">
                                                                <p class="text-muted text-medium mb-2 mt-2">
                                                                    {{'label-title.receiver' | translate}} :</p>
                                                                <h4>{{d_address.user_details.name}}({{d_address.user_details.phone}})
                                                                    <h4 class="text-danger mb-0 text-medium " *ngIf="d_address.note !== ''">{{'label-title.delivery-note' | translate}} :
                                                                        {{d_address.note}}</h4>
                                                                </h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </div>
                                <tr>
                                    <td>
                                        <h6 class="text-secondary text-muted mb-0 text-medium">{{order.distance |
                                            roundpipe:_helper.to_fixed_number}} <span
                                                *ngIf="!order.is_distance_unit_mile">{{'label-title.km' |
                                                translate}}</span><span
                                                *ngIf="order.is_distance_unit_mile">{{'label-title.mile' |
                                                translate}}</span>, {{order.time}} {{'mins' | lowercase}}</h6>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="d-flex flex-row mb-3 justify-content-between align-items-center delivery">
                            <div class=""
                                *ngIf="order.delivery_note !== '' && order.delivery_type !== DELIVERY_TYPE_CONSTANT.COURIER">
                                <h6 class="text-muted mb-0 text-medium ">{{'label-title.delivery-note' | translate}} :
                                    {{order.delivery_note}}</h6>
                            </div>
                        </div>

                        <p class="text-muted text-medium mb-2 mt-2"
                            *ngIf="order.order_for_name != '' && order.order_for_phone != '' &&  order.delivery_type !== DELIVERY_TYPE_CONSTANT.COURIER">
                            {{'label-title.order-for' | translate}}</p>
                        <table aria-describedby="" class="mb-2 w-100 number"
                            *ngIf="order.order_for_name != '' && order.order_for_phone != '' &&  order.delivery_type !== DELIVERY_TYPE_CONSTANT.COURIER">
                            <th></th>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="d-flex flex-row mb-1 justify-content-between align-items-center">
                                            <div class=" flex-fill">
                                                <a>
                                                    <h3 class="font-weight-medium mb-0">{{order.order_for_name}}
                                                        ({{order.order_for_phone}})</h3>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </ng-container>


                    <div>
                        <div class="text-danger"
                            *ngIf="order.cancellation_reason !== '' && order.cancellation_reason !== 'Enter Your Reason'">
                            <h6>{{ 'label-title.cancellation-reason' | translate }}: {{order.cancellation_reason |
                                translate}}</h6>
                        </div>
                    </div>
                </div>
            </tab>
            <tab (selectTab)="onSelectTab(false)" *ngIf="order.delivery_type !== DELIVERY_TYPE_CONSTANT.COURIER && order.delivery_type !== DELIVERY_TYPE_CONSTANT.TAXI"
                heading="{{'heading-title.order-details' | translate | uppercase }}" class="card-body">
                <div>
                    <div class="mb-3" *ngFor="let items of order.order_details">
                        <div class="" *ngFor="let item of items.items">
                            <div class="pb-2 mb-2 item">
                                <h3 class="font-weight-bold">{{item.item_name}}
                                    <div class="d-flex float-right">
                                        <a class="price">
                                            <p class=" mb-0 font-weight-bold item-price">
                                                {{currency_sign}}&nbsp;{{item.total_item_price |
                                                roundpipe:_helper.to_fixed_number}}</p>
                                            <p class="text-muted mb-0 item-tax">( {{item.quantity}} X {{item.item_price
                                                | roundpipe:_helper.to_fixed_number}} )</p>
                                        </a>
                                    </div>
                                    <span class="badge float-left item-qun mr-3 mb-3"> {{item.quantity}}
                                        {{'label-title.items' | translate}}</span>
                                </h3>
                            </div>

                            <h6 style="font-weight: bolder;">{{item.note_for_item}}</h6>
                            <table aria-describedby="" *ngIf="item.specifications.length" class="table table-sm table-borderless mt-2">
                                <th></th>
                                <tbody>
                                    <tr *ngFor="let spec of item.specifications">
                                        <td class="p-0 pb-1 w-10"><span
                                                class="log-indicator border-theme-2 align-middle"></span></td>
                                        <td class="p-0 pb-1">
                                            <a href="javascript:;" class="w-40 w-sm-100">
                                                <span class="list-item-heading mb-1 color-theme-1">
                                                    {{spec.name || 'N/A'}}
                                                    <h6 class="mb-2 text-muted text-medium float-right inline-flex">
                                                        {{currency_sign}}&nbsp;{{spec.price |
                                                        roundpipe:_helper.to_fixed_number}}</h6>
                                                </span>
                                                <ng-container *ngFor="let modifier of spec.list">
                                                    <p *ngIf="modifier.name" class="mb-2 text-muted text-medium">
                                                        {{modifier.name.length ? (modifier.name ||
                                                        modifier.name[_langService.selectedlanguageIndex]) : ''}}</p>
                                                    <p *ngIf="!modifier.name" class="mb-2 text-muted text-medium">N/A
                                                    </p>
                                                </ng-container>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="mt-4">
                                <hr>
                            </div>
                        </div>
                    </div>
                    <div>
                        <table aria-describedby="" class="table table-borderless d-flex justify-content-end mb-0">
                            <th></th>
                            <tbody>
                                <tr>
                                    <td class="text-semi-muted">{{'label-title.cart-total' | translate}} :</td>
                                    <td class="text-right">{{currency_sign}}&nbsp;{{order.total_cart_price |
                                        roundpipe:_helper.to_fixed_number}}</td>
                                </tr>
                                <tr>
                                    <td class="text-semi-muted">{{'label-title.tax' | translate}} :</td>
                                    <td class="text-right">{{currency_sign}}&nbsp;{{order.total_store_tax_price |
                                        roundpipe:_helper.to_fixed_number}}</td>
                                </tr>
                                <tr class="font-weight-bold">
                                    <td class="text-semi ">{{'label-title.total-cart-price' | translate}}:</td>
                                    <td class="text-right">{{currency_sign}}&nbsp;{{order.total_order_price |
                                        roundpipe:_helper.to_fixed_number}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </tab>
            <tab id="htmlContent" (selectTab)="onSelectTab(true)" *ngIf="true" active="true" heading="{{'heading-title.invoice' | translate | uppercase }}"
                class="card-body">
                <div class="p-2 mb-2">
                    <div id="test_order"></div>
                    <div class="form-group row cardInvoice pt-2 pb-2 pl-1 pr-1">
                        <div class="col-sm-7 col-7">
                            <a>
                                <h6 class="font-weight-bold mb-0">{{'label-title.user-paid' | translate}}
                                    {{currency_sign}} {{order.user_pay_payment | roundpipe:_helper.to_fixed_number}} by
                                    {{order.payment_method}}</h6>
                            </a>
                        </div>
                        <div class="col-sm-5 col-5">
                            <h4 class="mb-0 font-weight-bold float-right">{{'label-title.total' | translate}} : {{currency_sign}}
                                {{order.total | roundpipe:_helper.to_fixed_number}}</h4>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mb-2" *ngIf="order?.price_formula == PRICE_FORMULA.AIRPORT_TRIP">
                        <h4 class="mb-0"><strong>{{'label-title.airport-trip' | translate}}</strong></h4>
                    </div>
                    <div class="d-flex justify-content-center mb-2" *ngIf="order?.price_formula == PRICE_FORMULA.ZONE_TRIP">
                        <h4 class="mb-0"><strong>{{'label-title.zone-trip' | translate}}</strong></h4>
                    </div>
                    <div class="d-flex justify-content-center mb-2" *ngIf="order?.price_formula == PRICE_FORMULA.CITY_TRIP">
                        <h4 class="mb-0"><strong>{{'label-title.city-trip' | translate}}</strong></h4>
                    </div> 
                </div>
                <div class="mb-4">
                    <div class="fees-border-bottom d-flex flex-row justify-content-between  mb-2 pb-2 ng-star-inserted" *ngIf="order.delivery_price > 0">
                        <div class="flex-grow-1">
                            <h6 class="color-theme-1 font-weight-bold mb-0">{{'label-title.delivery-fees' | translate}} 
                                <span *ngIf="order?.is_min_fare_applied" class="text-dark"> {{'label-title.min-fare-applied' | translate}}</span>
                            </h6>
                        </div>
                        <div class="comment-likes">
                            <span class="post-icon">
                                <h6 *ngIf="order.delivery_type == DELIVERY_TYPE_CONSTANT.COURIER"
                                    class="color-theme-1 font-weight-bold mb-0">
                                    {{currency_sign}}&nbsp;{{(order.delivery_price + order.total_order_price) |
                                    roundpipe:_helper.to_fixed_number}}</h6>
                                <h6 *ngIf="order.delivery_type !== DELIVERY_TYPE_CONSTANT.COURIER"
                                    class="color-theme-1 font-weight-bold mb-0">
                                    {{currency_sign}}&nbsp;{{order.delivery_price | roundpipe:_helper.to_fixed_number}}
                                </h6>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex flex-row  mb-3 ng-star-inserted" *ngIf="order.service_price > 0">
                        <div class="flex-grow-1">
                            <h6 class="mb-0">{{'label-title.delivery-price' | translate}}</h6>
                        </div>
                        <div class="comment-likes">
                            <span class="post-icon">
                                <h6 class="mb-0">{{currency_sign}}&nbsp;{{order.service_price |
                                    roundpipe:_helper.to_fixed_number}}</h6>
                            </span>
                        </div>
                    </div>

                    <div class="d-flex flex-row  mb-3 ng-star-inserted" *ngIf="order.additional_stop_price">
                        <div class="flex-grow-1">
                            <h6 class="mb-0">{{'label-title.additional-stop-price' | translate}}</h6>
                        </div>
                        <div class="comment-likes">
                            <span class="post-icon">
                                <h6 class="mb-0">{{currency_sign}}&nbsp;{{order.additional_stop_price |
                                    roundpipe:_helper.to_fixed_number}}</h6>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex flex-row  mb-3 ng-star-inserted" *ngIf="order.total_waiting_time_price">
                        <div class="flex-grow-1">
                            <h6 class="mb-0">{{'label-title.waiting-time-price' | translate}}
                                ({{order.total_waiting_time}} min)</h6>
                        </div>
                        <div class="comment-likes">
                            <span class="post-icon">
                                <h6 class="mb-0">{{currency_sign}}&nbsp;{{order.total_waiting_time_price |
                                    roundpipe:_helper.to_fixed_number}}</h6>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex flex-row  mb-3 ng-star-inserted" *ngIf="order.total_round_trip_charge">
                        <div class="flex-grow-1">
                            <h6 class="mb-0">{{'label-title.round-trip-charge' | translate}}
                                ({{order.round_trip_charge}}%)</h6>
                        </div>
                        <div class="comment-likes">
                            <span class="post-icon">
                                <h6 class="mb-0">{{currency_sign}}&nbsp;{{order.total_round_trip_charge |
                                    roundpipe:_helper.to_fixed_number}}</h6>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex flex-row  mb-3 ng-star-inserted"
                        *ngIf="order.delivery_type == DELIVERY_TYPE_CONSTANT.COURIER && order.total_order_price">
                        <div class="flex-grow-1">
                            <h6 class="mb-0">{{'label-title.additional-service-price' | translate}}</h6>
                        </div>
                        <div class="comment-likes">
                            <span class="post-icon">
                                <h6 class="mb-0">{{currency_sign}}&nbsp;{{order.total_order_price |
                                    roundpipe:_helper.to_fixed_number}}</h6>
                            </span>
                        </div>
                    </div>

                    <div class="d-flex flex-row  mb-3 ng-star-inserted" *ngIf="order.total_admin_tax_price > 0">
                        <div class="flex-grow-1">
                            <h6 class="mb-0">{{'label-title.tax-price' | translate}} ({{order.service_tax}}%)</h6>
                        </div>
                        <div class="comment-likes">
                            <span class="post-icon">
                                <h6 class="mb-0">{{currency_sign}}&nbsp;{{order.total_admin_tax_price |
                                    roundpipe:_helper.to_fixed_number}}</h6>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex flex-row  mb-3 ng-star-inserted" *ngIf="order.total_surge_price > 0">
                        <div class="flex-grow-1">
                            <h6 class="mb-0">{{'label-title.surge-price' | translate}} &nbsp;<span
                                style="font-size: 70%;">({{order.surge_multiplier}}x)</span></h6>
                        </div>
                        <div class="comment-likes">
                            <span class="post-icon">
                                <h6 class="mb-0">{{currency_sign}}&nbsp;{{order.total_surge_price |
                                    roundpipe:_helper.to_fixed_number}}</h6>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="mb-4"
                    *ngIf="order.delivery_type!==DELIVERY_TYPE_CONSTANT.TAXI && order.delivery_type!==DELIVERY_TYPE_CONSTANT.COURIER">
                    <div class="fees-border-bottom d-flex flex-row justify-content-between  mb-2 pb-2 ng-star-inserted">
                        <div class="flex-grow-1">
                            <h6 class="color-theme-1 font-weight-bold mb-0">{{'label-title.order-price' | translate}}
                            </h6>
                        </div>
                        <div class="comment-likes">
                            <span class="post-icon">
                                <h6 class="color-theme-1 font-weight-bold mb-0">
                                    {{currency_sign}}&nbsp;{{order.total_order_price |
                                    roundpipe:_helper.to_fixed_number}}</h6>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex flex-row  mb-3 ng-star-inserted">
                        <div class="flex-grow-1">
                            <h6 class="mb-0">{{'label-title.cart-price' | translate}}</h6>
                        </div>
                        <div class="comment-likes">
                            <span class="post-icon">
                                <h6 class="mb-0">{{currency_sign}}&nbsp;{{order.total_cart_price |
                                    roundpipe:_helper.to_fixed_number}}</h6>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex flex-row  mb-3 ng-star-inserted" *ngIf="order.total_store_tax_price > 0">
                        <div class="flex-grow-1">
                            <h6 class="mb-0">{{'label-title.tax-price' | translate}} <br> <span
                                    style="font-size: 70%;" class="d-flex flex-wrap"><span
                                        *ngFor="let tax of order.taxes">{{tax.tax_name ?
                                        tax.tax_name[0]:''}}&nbsp;{{tax.tax}}%&nbsp; | &nbsp;</span></span></h6>
                        </div>
                        <div class="comment-likes">
                            <span class="post-icon">
                                <h6 class="mb-0">{{currency_sign}}&nbsp;{{order.total_store_tax_price |
                                    roundpipe:_helper.to_fixed_number}}</h6>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex flex-row  mb-3 ng-star-inserted"
                    *ngIf="order.delivery_type!==DELIVERY_TYPE_CONSTANT.TAXI && order.delivery_type!==DELIVERY_TYPE_CONSTANT.COURIER && order.cancellation_charge > 0">
                    <div class="flex-grow-1">
                        <h6 class="mb-0">{{'label-title.cancellation-charge' | translate}}</h6>
                    </div>
                    <div class="comment-likes">
                        <span class="post-icon">
                            <h6 class="mb-0">{{currency_sign}}&nbsp;{{order.cancellation_charge}}</h6>
                        </span>
                    </div>
                </div>
                </div>
                <div class="mb-4">
                    <div
                        class="discount-border-bottom d-flex flex-row justify-content-between  mb-2 pb-3 ng-star-inserted">
                        <div class="flex-grow-1">
                            <h6 class="color-theme-1 font-weight-bold mb-0">{{'label-title.discount' | translate}}</h6>
                        </div>
                        <div class="comment-likes">
                            <span class="post-icon">
                                <h6 class="color-theme-1 font-weight-bold mb-0">{{currency_sign}}&nbsp;{{order.discount
                                    | roundpipe:_helper.to_fixed_number}}</h6>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex flex-row  mb-3 ng-star-inserted"
                        *ngIf="order.delivery_type!==DELIVERY_TYPE_CONSTANT.TAXI && order.delivery_type!==DELIVERY_TYPE_CONSTANT.COURIER">
                        <div class="flex-grow-1">
                            <h6 class="mb-0">{{'label-title.store-bear-delivery-fee' | translate}}</h6>
                        </div>
                        <div class="comment-likes">
                            <span class="post-icon">
                                <h6 class="mb-0"> {{order.is_store_pay_delivery_fees ? ('label-title.yes' | translate) :
                                    ('label-title.no' | translate)}}</h6>

                            </span>
                        </div>
                    </div>
                    <div class="d-flex flex-row border-bottom  mb-3 pb-3 ng-star-inserted"
                        *ngIf="order.delivery_type!==DELIVERY_TYPE_CONSTANT.TAXI && order.delivery_type!==DELIVERY_TYPE_CONSTANT.COURIER">
                        <div class="flex-grow-1">
                            <h6 class="mb-0">{{'label-title.deliveryman-paid-order-cash-to-store' | translate}}</h6>
                        </div>
                        <div class="comment-likes">
                            <span class="post-icon">
                                <h6 class="mb-0"> {{order.is_order_price_paid_by_store ? ('label-title.no' | translate)
                                    : ('label-title.yes' | translate)}}</h6>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex flex-row  mb-3 ng-star-inserted" *ngIf="order.tip_amount > 0">
                        <div class="flex-grow-1">
                            <h6 class="mb-0">{{'label-title.tip-amount' | translate}}</h6>
                        </div>
                        <div class="comment-likes">
                            <span class="post-icon">
                                <h6 class="mb-0">{{currency_sign}}&nbsp;{{order.tip_amount |
                                    roundpipe:_helper.to_fixed_number}}</h6>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex flex-row  mb-3 ng-star-inserted"
                        *ngIf="order.delivery_type!==DELIVERY_TYPE_CONSTANT.TAXI && order.delivery_type!==DELIVERY_TYPE_CONSTANT.COURIER && order?.is_admin_services == false">
                        <div class="flex-grow-1">
                            <h6 class="mb-0">{{'label-title.store-profit' | translate}}</h6>
                        </div>
                        <div class="comment-likes">
                            <span class="post-icon">
                                <h6 class="mb-0">{{currency_sign}}&nbsp;{{order.total_store_income |
                                    roundpipe:_helper.to_fixed_number}}</h6>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex flex-row border-bottom  mb-3 pb-3 ng-star-inserted"
                        *ngIf="order.delivery_type!==DELIVERY_TYPE_CONSTANT.TAXI && order.delivery_type!==DELIVERY_TYPE_CONSTANT.COURIER && order?.is_admin_services == false">
                        <div class="flex-grow-1">
                            <h6 [ngClass]="{'color-danger':!order.is_store_income_set_in_wallet,'color-success':order.is_store_income_set_in_wallet}"
                                class="mb-0">{{'label-title.settlement-with-store' | translate}}</h6>
                        </div>
                        <div class="comment-likes">
                            <span class="post-icon">
                                <h6 [ngClass]="{'color-danger':!order.is_store_income_set_in_wallet,'color-success':order.is_store_income_set_in_wallet}"
                                    class="mb-0">{{currency_sign}}&nbsp;{{order.store_income_set_in_wallet |
                                    roundpipe:_helper.to_fixed_number}}</h6>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex flex-row  mb-3 ng-star-inserted">
                        <div class="flex-grow-1">
                            <h6 class="mb-0">{{'label-title.deliveryman-profit' | translate}}</h6>
                        </div>
                        <div class="comment-likes">
                            <span class="post-icon">
                                <h6 class="mb-0">{{currency_sign}}&nbsp;{{order.total_provider_income |
                                    roundpipe:_helper.to_fixed_number}}</h6>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex flex-row border-bottom  mb-3 pb-3 ng-star-inserted">
                        <div class="flex-grow-1">
                            <h6 [ngClass]="{'color-danger':!order.is_provider_income_set_in_wallet,'color-success':order.is_provider_income_set_in_wallet}"
                                class="mb-0">{{'label-title.settlement-with-deliveryman' | translate}}</h6>
                        </div>
                        <div class="comment-likes">
                            <span class="post-icon">
                                <h6 [ngClass]="{'color-danger':!order.is_provider_income_set_in_wallet,'color-success':order.is_provider_income_set_in_wallet}"
                                    class="mb-0">{{currency_sign}}&nbsp;{{order.provider_income_set_in_wallet |
                                    roundpipe:_helper.to_fixed_number}}</h6>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex flex-row  mb-3 ng-star-inserted"
                        *ngIf="order.delivery_type!==DELIVERY_TYPE_CONSTANT.TAXI && order.delivery_type!==DELIVERY_TYPE_CONSTANT.COURIER">
                        <div class="flex-grow-1">
                            <h6 class="mb-0">{{'label-title.admin-profit-on-order' | translate}}</h6>
                        </div>
                        <div class="comment-likes">
                            <span class="post-icon">
                                <h6 class="mb-0">{{currency_sign}}&nbsp;{{order.total_admin_profit_on_store |
                                    roundpipe:_helper.to_fixed_number}}</h6>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex flex-row  mb-3  ng-star-inserted">
                        <div class="flex-grow-1">
                            <h6 class="mb-0">{{'label-title.admin-profit-on-delivery' | translate}}</h6>
                        </div>
                        <div class="comment-likes">
                            <span class="post-icon">
                                <h6 class="mb-0">{{currency_sign}}&nbsp;{{order.total_admin_profit_on_delivery |
                                    roundpipe:_helper.to_fixed_number}}</h6>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex flex-row  mb-3  ng-star-inserted" *ngIf="order.cancellation_charge_value > 0">
                        <div class="flex-grow-1">
                            <h6 class="mb-0">{{'label-title.cancellation-charges' | translate}}</h6>
                        </div>
                        <div class="comment-likes">
                            <span class="post-icon">
                                <h6 class="mb-0">{{currency_sign}}&nbsp;{{order.cancellation_charge |
                                    roundpipe:_helper.to_fixed_number}}</h6>
                            </span>
                        </div>
                    </div>
                </div>
            </tab>
            <tab (selectTab)="onSelectTab(false)" *ngIf="true" heading="{{'heading-title.status' | translate | uppercase }}" class="card-body">
                <div>
                    <ol class="order-step">
                        <li *ngFor="let status of order.date_time; index as i" class=" pb-3">
                            <span *ngIf=" ( status.status != 21 || order.date_time.length - 2 == i ) &&  status.status != 2 " class="text-muted">{{'order-status.'+status.status | translate}}</span>
                            <span *ngIf ="status.status == 2"  class="text-muted" > {{ status.is_store_assign_order_info?.name[0]}} {{ 'label-title.reassign-order-to' | translate}} {{ status.is_store_reassign_order_info?.name[0]}}</span>
                            <span *ngIf="status.status == 21 && order.date_time.length - 2 != i" class="text-muted">{{'label-title.partner-arrived-at-stop' | translate}} {{status.stop_no}}</span>
                            <div *ngIf="status && status.waiting_time && status.waiting_time-status.free_waiting_time> 0">({{'label-title.waiting-time' | translate}}: {{status.waiting_time-status.free_waiting_time}} {{'label-title.min' | translate}})</div>
                            <div class="font-weight-bold"
                                *ngIf="status.date && timezone_for_display_date">{{_helper.moment(status.date).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.MOMENT_DD_MMM_YYYY)}}
                                {{_helper.moment(status.date).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.HH_MM_A)}}</div>
                        </li>
                    </ol>
                </div>
            </tab>
        </tabset>
    </div>
    <div *ngIf="is_order_cancle  ||( isHistory && isInvoice)" class="modal-footer">
        <button type="button" *ngIf="is_order_cancle && (is_order_cancle && _helper.has_permission(_helper.PERMISSION.EDIT))" class="btn btn-outline-primary"
            (click)="onCancle();modalRef.hide()">{{'button-title.cancel-order' | translate }}</button>
        <button *ngIf="isHistory && isInvoice" class="btn btn-outline-primary btn-multiple-state show-spinner" type="submit" [disabled]="buttonDisabled" (click)="downloadPdf()">
            <span [ngClass]="{'label':(buttonDisabled)}">{{ 'button-title.download-pdf' | translate }}</span>
            <span  *ngIf="buttonDisabled" [ngClass]="{'opacity-100':(buttonDisabled)}"><div class="spinner d-inline-block">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div></span>
        </button>
    </div>
</ng-template>

<ng-template #confirmationTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left" *ngIf="order">{{'label-title.orderId' | translate }} :
            {{order.id}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body p-0">
        <div class="p-4">
            <p>
                {{'label-title.are-you-sure-you-want-to-cancel-this' | translate}} {{'heading-title.order' | translate}}
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" (click)="cancel()" class="btn btn-primary float-right">{{'button-title.cancel' |
            translate}}</button>
        <button type="button" (click)="confirm()" class="btn btn-danger float-right">{{'button-title.confirm' |
            translate}}</button>
    </div>
</ng-template>