.invoice {
    font-size: 14px;
    line-height: 1.6;
}

.info tbody tr td,
.number tbody tr td,
.store tbody tr td {
    vertical-align: middle;
    border-radius: 3px;
    padding: 5px;
    max-width: 320px;
}
.truncate{
    white-space: unset;
}

.info .glyph-icon,
.store .glyph-icon {
    font-size: 24px;
}

.adress tbody tr td {
    vertical-align: middle;
    border-radius: 3px;
    padding: 5px;
    max-width: 450px;
}

.adress .glyph-icon {
    font-size: 24px;
    padding-right: 10px;
}

.adress h6 {
    font-weight: bold;
    margin-top: 10px;
}

.delivery {
    border-bottom-width: 5px !important;
    margin-bottom: 20px;
}

.delivery h6 {
    margin-top: 15px;
    color: red !important;
}

.item {
    vertical-align: middle;
}

.price {
    text-align-last: right;
}

.item-price {
    font-size: 1.25rem;
}

.item-tax {
    font-weight: initial;
}

.item-qun {
    font-size: 16px !important;
    padding: 5px;
    border: 2px;
    border-style: solid;
    border-color: var(--theme-color-1) !important;
    background-color: transparent !important;
}

.cardInvoice {
    border-radius: 3px;
}

.fees-border-bottom {
    border-bottom: 1px solid #ed7117 !important;
}

.discount-border-bottom {
    border-bottom: 3px solid #ed7117 !important;
}

.order-step li:last-child {
    border-left: none;
    margin-left: 3px;
}
