<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-9 col-12 d-flex">
        <i class="color-theme-1 iconsminds-speach-bubble-dialog"></i>
        <h5 class="color-theme-1 font-weight-bold my-auto ml-3">{{ 'heading-title.sent-sms-from-twilio' | translate }}</h5>
      </div>
      <div class="col-lg-3 col-12 text-end" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
        <button class="btn btn-outline-primary btn-xs mx-1" (click)="showSmsConnectModal()">{{ 'button-title.connect' | translate }}</button>
        <button class="btn btn-outline-primary btn-xs mx-1" (click)="save()">{{ 'button-title.save' | translate }}</button>
      </div>
    </div>

    <div class="pt-3 pb-0 d-flex flex-column flex-grow-1">
      <div class="row mb-3" *ngIf="sms_tags.length>0">
        <div class="col-12" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
          <span *ngFor="let sms_tag of sms_tags;" class="badge badge-pill badge-outline-primary mb-1 mr-1 c-pointer"
            (click)="select_tag(sms_tag)">{{sms_tag}}</span>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-8 col-12">
          <p class="font-weight-medium truncate mb-1">{{ 'label-title.select-sms-for' | translate }}
            <span class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-1" style="top: 2px;" tooltip="{{'tooltip-title.smssetting-select-sms-for-tooltip' | translate}}" [containerClass]="'custom-tooltip-class'" placement="right"></i></span>
          </p>
          <ng-select bindLabel="title" (change)="onSelectSms($event)">
            <ng-option *ngFor="let sms of sms_list" [value]="sms">{{ sms.sms_unique_title }}</ng-option>
          </ng-select>
        </div>
        <div class="col-lg-4 col-12 text-end m-auto p-0">
          <div class="custom-control custom-switch text-end">
            <input type="checkbox" id="editPickupSwitch" class="custom-control-input" [(ngModel)]="selected_sms.is_send"
              [checked]="selected_sms ? selected_sms.is_send : false">
            <label for="editPickupSwitch"
              class="custom-control-label">{{ 'label-title.do-you-want-send-selected-sms' | translate }}</label>
          </div>
        </div>
      </div>
      <div class="row no-gutters mt-3">
        <div class="col-12">
          <div #Editor (mouseleave) ="mouseLeave()"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-sms-connect-modal #smsConnectRef></app-sms-connect-modal>
