<div class="card auth-card">
  <div class="position-relative image-side ">
    <p class=" text-white h2">MAGIC IS IN THE DETAILS</p>
    <p class="white mb-0">
      Please use the form to register.
      <br>If you are a member, please
      <a routerLink="/admin/login" class="white white-underline-link">login</a>.
    </p>
  </div>
  <div class="form-side">
    <a class="c-pointer">
      <span class="logo-single"></span>
    </a>
    <h3 class="mb-4">Register</h3>

    <form [formGroup]="RegisterForm" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label for="name" class="col-sm-4 col-form-label">{{ 'forms.name' | translate }}</label>
        <div *ngIf="RegisterForm.get('name').errors?.required && RegisterForm.get('name').touched" class="invalid-tooltip" >{{ 'forms.name' | translate }} {{'label.title.is-required' | translate}}</div>
        <div class="col-sm-8">
          <input type="text" formControlName="name" class="form-control" name="name" required
          placeholder="{{ 'forms.name' | translate }}">
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-sm-4 col-form-label">{{ 'forms.email' | translate }}</label>
        <div *ngIf="RegisterForm.get('email').errors?.required && RegisterForm.get('email').touched" class="invalid-tooltip">{{ 'forms.email' | translate }} {{'label.title.is-required' | translate}}</div>
        <div class="col-sm-8">
          <input type="email" class="form-control" formControlName="email" required email name="email"
          placeholder="{{ 'forms.email' | translate }}">
        </div>
      </div>
      <div class="form-group row">
        <label for="phone" class="col-sm-4 col-form-label">{{ 'label-title.phone' | translate }}</label>
        <div *ngIf="RegisterForm.get('phone').errors?.required && RegisterForm.get('phone').touched" class="invalid-tooltip">{{ 'label-title.phone' | translate }} {{'label.title.is-required' | translate}}</div>
        <div *ngIf="RegisterForm.get('phone').errors?.minlength && RegisterForm.get('phone').touched" class="invalid-tooltip">{{'label-title.phone-no-is-too-short' | translate}}</div>
        <div *ngIf="RegisterForm.get('phone').errors?.maxlength && RegisterForm.get('phone').touched" class="invalid-tooltip">Phone no is too long!</div>
        <div class="input-group col-sm-8">
          <div class="input-group-prepend">
            <div class="btn-group" dropdown>
              <button id="button-basic" dropdownToggle type="button"
              class="btn btn-outline-primary dropdown-toggle rounded-0" aria-controls="dropdown-basic">
              +91<span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" href="javascript:;">+64</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;">+61</a></li>
            </ul>
          </div>

        </div>
        <input type="text" formControlName="phone" class="form-control" aria-label="Text input with dropdown button">
      </div>
    </div>
    <div class="form-group row">
      <label for="password" class="col-sm-4 col-form-label">{{ 'forms.password' | translate }}</label>
      <div *ngIf="RegisterForm.get('password').errors?.required && RegisterForm.get('password').touched" class="invalid-tooltip">{{ 'forms.password' | translate }} {{'label.title.is-required' | translate}}</div>
      <div class="col-sm-8">
        <input type="text" formControlName="password" class="form-control" name="password" required
        placeholder="{{ 'forms.password' | translate }}">
      </div>
    </div>
    <div class="form-group row">
      <label for="address" class="col-sm-4 col-form-label">{{ 'forms.address' | translate }}</label>
      <div *ngIf="RegisterForm.get('address').errors?.required && RegisterForm.get('address').touched" class="invalid-tooltip">{{ 'forms.address' | translate }} {{'label.title.is-required' | translate}}</div>
        <div class="col-sm-8">
          <input type="text" formControlName="address" class="form-control" name="address" required
            placeholder="{{ 'forms.address' | translate }}">
        </div>
      </div>
      <div class="form-check mb-4">
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1">
          {{ 'label-title.terms-condition' | translate }}
        </label>
      </div>

      <div class="d-flex justify-content-between align-items-center">
       
        <button class="btn btn-primary btn-lg btn-shadow"  type="submit"  >
          {{ 'forms.signup' | translate | uppercase }}
        </button>
      </div>
    </form>

  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'heading-title.set-your-location' | translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input type="text" class="form-control mb-2" placeholder="label-title.search-address-here">

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary"
      (click)="openModal2(templateNested)">{{'button-title.save' | translate}}</button>
  </div>
</ng-template>

<ng-template #templateNested>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      {{ (changeTimeZone ? 'heading-title.select-timezone' : 'heading-title.confirm-address-and-timezone') | translate}}
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef2.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="!changeTimeZone">
    <h5>{{'label-title.address'|translate}}</h5>
    <p>2nd Floor, complex, above sbi bank,rajkot</p>
    <h5>{{'label-title.timezone'|translate}}</h5>
    <p>Asia/Kolkata</p>
  </div>
  <div class="modal-body" *ngIf="changeTimeZone">
    <h6 (click)="changeTimeZone=false" class="c-pointer">Timezone1</h6>
    <hr>
    <h6 (click)="changeTimeZone=false" class="c-pointer">Timezone2</h6>
    <hr>
    <h6 (click)="changeTimeZone=false" class="c-pointer">Timezone3</h6>
    <hr>
    <h6 (click)="changeTimeZone=false" class="c-pointer">Timezone4</h6>
    <hr>
    <h6 (click)="changeTimeZone=false" class="c-pointer">Timezone5</h6>
    <hr>
  </div>
  <div class="modal-footer" *ngIf="!changeTimeZone">
    <button type="button" class="btn btn-outline-primary"
      (click)="changeTimeZone=true">{{'button-title.change-timezone' | translate}}</button>
    <button type="button" class="btn btn-primary"
      (click)="modalRef2.hide()">{{'button-title.confirm' | translate}}</button>
  </div>
</ng-template>
