<ng-template #template>
      <div class="modal-header">
          <div class=""><a>
                  <h4 class="modal-title pull-left" *ngIf="provider">{{provider_name}} ({{provider.unique_id}})</h4>
                  <p class="text-muted mb-0 text-small">{{start_date | date:_helper.DATE_FORMAT.DD_MM_YYYY}} - {{end_date | date:_helper.DATE_FORMAT.DD_MM_YYYY}}</p>
              </a></div>
          <button type="button" aria-label="Close" (click)="closeModel()" class="close pull-right"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body" *ngIf="orderPayment">
          <div class="ps-content">
              <div class="">
                  <p class="text-medium mb-2 pb-1 border-bottom font-weight-semibold">{{'label-title.order-earning' | translate | uppercase}}</p>
                  <ul class="list-unstyled mb-4">
                      <li class="nav-item"><a>{{'label-title.service-price' | translate}}<span class="float-right">{{orderPayment.total_service_price | roundpipe:_helper.to_fixed_number}}</span></a></li>
                      <li class="nav-item"><a>{{'label-title.tax-price' | translate}}<span class="float-right">{{orderPayment.total_admin_tax_price | roundpipe:_helper.to_fixed_number}}</span></a></li>
                      <li class="nav-item"><a>{{'label-title.delivery-price' | translate}}<span class="float-right">{{orderPayment.total_delivery_price | roundpipe:_helper.to_fixed_number}}</span></a></li>
                      <li class="nav-item" *ngIf="orderPayment.promo_payment"><a>{{'label-title.promo-bonus' | translate}}<span class="float-right">{{orderPayment.promo_payment | roundpipe:_helper.to_fixed_number}}</span></a></li>
                      <li class="nav-item"><a>{{'label-title.deliveryman-profit' | translate}}<span class="float-right">{{orderPayment.total_provider_profit | roundpipe:_helper.to_fixed_number}}</span></a></li>
                  </ul>
                  <p class="text-medium mb-2 pb-1 border-bottom font-weight-semibold">{{'label-title.transaction' | translate | uppercase}}</p>
                  <ul class="list-unstyled mb-4">
                      <li class="nav-item"><a>{{'label-title.paid-order-amount' | translate}}<span class="float-right">{{orderPayment.provider_paid_order_payment | roundpipe:_helper.to_fixed_number}}</span></a></li>
                      <li class="nav-item"><a>{{'label-title.cash' | translate}}<span class="float-right">{{orderPayment.provider_have_cash_payment | roundpipe:_helper.to_fixed_number}}</span></a></li>
                      <li class="nav-item"><a>{{'label-title.provider-have-cash-payment' | translate}}<span class="float-right">{{ orderPayment.total_provider_have_cash_payment_on_hand | roundpipe:_helper.to_fixed_number }}</span></a></li>
                      <li class="nav-item"><a>{{'label-title.wallet-deduct' | translate}}<span class="float-right">{{ orderPayment.total_deduct_wallet_income | roundpipe:_helper.to_fixed_number }}</span></a></li>
                      <li class="nav-item"><a>{{'label-title.added-in-wallet' | translate}}<span class="float-right">{{(orderPayment.total_added_wallet_income | roundpipe:_helper.to_fixed_number) }}</span></a></li>
                  </ul>
                  <p class="text-medium mb-2 pb-1 border-bottom font-weight-semibold">{{'label-title.payment' | translate | uppercase}}</p>
                  <ul class="list-unstyled mb-4">
                      <li class="nav-item"><a>{{'label-title.earning' | translate}}<span class="float-right">{{orderPayment.total_earning | roundpipe:_helper.to_fixed_number}}</span></a></li>
                      <li class="nav-item"><a>{{'label-title.paid-in-wallet' | translate}}<span class="float-right">{{orderPayment.total_wallet_income_set | roundpipe:_helper.to_fixed_number}}</span></a></li>
                      <li class="nav-item"><a>{{'label-title.paid' | translate}}<span class="float-right">{{orderPayment.provider_paid_order_payment | roundpipe:_helper.to_fixed_number}}</span></a></li>
                      <li class="nav-item"><a>{{'label-title.remaining-to-pay' | translate}}<span class="float-right">{{orderPayment.pay_to_provider | roundpipe:_helper.to_fixed_number}}</span></a></li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="modal-footer">
          <button (click)="closeModel()" type="button" class="btn btn-outline-primary">{{'button-title.close' | translate}}</button>
      </div>
</ng-template>
