<div class="row app-row">
  <div class="col-12">
    <app-heading></app-heading>
    <app-breadcrumb></app-breadcrumb>
    <br>
  </div>
  <div class="col-12">
    <tabset class="separator-tabs" #tabset>
      <tab heading="{{'heading-title.item' | translate | uppercase }}" (selectTab)="tabSelection(0)">
        <div class="row" *ngIf="!selected_city">
          <div class="col-12 col-lg-12">
          <div class="col-12 text-center card">
            <p class="my-4">{{'label-title.no-data-found' | translate}}</p>
          </div>
        </div>
        </div>
        <div class="row" *ngIf="selected_city">
          <div class="col-12 col-lg-4 mb-4">
            <div class="col-12 text-center mb-4" *ngIf="_helper.has_permission(_helper.PERMISSION.ADD)">
              <button type="button" *ngIf="this._helper.selected_city._id" [disabled]="!selected_city"
                class="btn btn-primary" (click)="showAddNewSubCategoryModal()">{{ 'button-title.add-sub-category' |
                translate}}</button>
            </div>
                <div class="col-12 text-center card" *ngIf="subcategories && subcategories.length === 0">
                  <p class="my-4">{{'label-title.sub-category-not-found' | translate}}</p>
                </div>
                <ng-container *ngFor="let subcategory of subcategories;let i=index">
                <div class="card mb-3 py-3 pl-0 align-self-center d-flex flex-row justify-content-between min-width-zero"
                  style="cursor: pointer;" [ngClass]="{'text-primary':isSubcategorySelected(subcategory)}">
                  <div class="col-sm-1 col-1">
                    <span *ngIf="subcategory.is_visible_in_store"
                      class="align-middle border-success log-indicator"></span>
                    <span *ngIf="!subcategory.is_visible_in_store"
                      class="align-middle border-danger log-indicator"></span>
                  </div>
                  <div (click)="onSelectSubcategory(subcategory._id)" class="col-6 ml-2 text-truncate" [ngClass]="{'mr-auto':!_helper.has_permission(_helper.PERMISSION.EDIT)}">
                    {{subcategory.name |
                    langpipe}}</div>
                  <button *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)" class="btn text-primary btn-outline-theme-3 icon-button ml-auto mr-3 ng-star-inserted check justify-content-between align-self-center"
                    style="font-size: 85%; width: 24px; height: 24px; padding-top: 5px;line-height: 0px;" (click)="showAddNewSubCategoryModal(true,subcategory._id)">
                    <i class="simple-icon-pencil"></i>
                  </button>
                </div>
                </ng-container>
          </div>
          <div class="col-12 col-lg-8">
            <div class="row">
              <div class="col-12 text-center mb-4" *ngIf="_helper.has_permission(_helper.PERMISSION.ADD)">
                <button type="button" *ngIf="this._helper.selected_city._id" [disabled]="!selected_city"
                  class="btn btn-primary" (click)="showAddNewItemModal()">{{ 'button-title.add-item' |
                  translate}}</button>
              </div>
              <div class="col-12 text-center card" *ngIf="items && items.length === 0">
                <p class="my-4">{{'label-title.items-not-found' | translate}}</p>
              </div>
              <ng-container *ngIf="items && items.length !== 0">
                <div [ngClass]="{'softdelete':!p.is_visible_in_store}" class="col-xl-6 col-lg-6 col-12 col-sm-6 mb-4"
                  *ngFor="let p of items | searchpipe:search_string:[search_area]; let i=index"
                  [contextMenu]="basicMenu" [contextMenuSubject]="p">
                  <context-menu #basicMenu *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
                    <ng-template contextMenuItem let-item (execute)="onContextMenuClick('copy-item',p)">
                      <i class="simple-icon-docs mr-1"></i> <span>{{ 'label-title.copy' | translate }}</span>
                    </ng-template>
                    <ng-template contextMenuItem let-item (execute)="onContextMenuClick('out-of-stock-item',p)" [visible]="cancellation_setting">
                      <i class="simple-icon-drawer mr-1"></i> <span>{{p.is_item_in_stock ? ('label-title.out-of-stock' |
                        translate)
                        : ('label-title.in-stock' | translate) }}</span>
                    </ng-template>
                    <ng-template contextMenuItem let-item (execute)="onContextMenuClick('delete-item',p)" [visible]="cancellation_setting">
                      <i class="simple-icon-trash mr-1"></i><span>{{p.is_visible_in_store ? ('label-title.soft-delete' |
                        translate)
                        : ('label-title.visible' | translate)}}</span>
                    </ng-template>
                  </context-menu>
                  <div [ngClass]="{'card': true, 'text-primary':isSelected(p)}" (click)="showAddNewItemModal(true,p._id)">
                    <div class="card d-flex flex-row">
                      <a class="d-flex" href="javascript:;">
                        <img [src]="IMAGE_URL + p.image_url" (error)="$event.target.src = ITEM_DEFAULT_IMAGE"
                          [alt]="p.title"
                          class="dynamic_image rounded-circle m-4 align-self-center list-thumbnail-letters small" />
                        <span *ngIf="!p.is_item_in_stock"
                          class="badge badge-pill badge-danger badge-top-right position-absolute">{{'label-title.out-of-stock'
                          |
                          translate}}</span>
                      </a>
                      <div class=" d-flex flex-grow-1 min-width-zero">
                        <div
                          class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                          <div class="min-width-zero" *ngIf="p.name">
                            <a routerLink="./">
                              <div *ngIf="p.name[_lang.selectedlanguageIndex]; then thenpart; else elsepart"></div>
                              <ng-template #thenpart>{{p.name[_lang.selectedlanguageIndex]}}</ng-template>
                              <ng-template #elsepart>{{p.name[0]}}</ng-template>
                            </a>
                            <p class="mb-2 text-muted text-small">{{p.category}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </tab>
      <tab heading="{{'heading-title.category' | translate | uppercase }}" (selectTab)="tabSelection(1)">
        <div class="row" *ngIf="!selected_city">
          <div class="col-12 col-lg-12">
          <div class="col-12 text-center card">
            <p class="my-4">{{'label-title.no-data-found' | translate}}</p>
          </div>
        </div>
        </div>
        <div class="row" *ngIf="selected_city">
          <div class="col-12 list" *ngIf="displayMode==='image'">
            <div class="d-flex align-items-baseline" *ngIf="_helper.has_permission(_helper.PERMISSION.ADD)">
              <div class="text-danger" *ngIf="!is_store_can_add_category">{{'label-title.enable-store-can-add-category' | translate}}</div>
              <button type="button" *ngIf="this._helper.selected_city._id && _helper.has_permission(_helper.PERMISSION.ADD)" class="ml-auto mb-4 btn btn-primary btn-lg mr-2" [disabled]="!is_store_can_add_category" (click)="showAddNewCategoryModal()">{{'button-title.add-new' | translate | uppercase}}</button></div>
            <div class="row">
              <div class="col-12 text-center card" *ngIf="categories && categories.length === 0">
                <p class="my-4">{{'label-title.categories-not-found' | translate}}</p>
              </div>
              <div class="col-xl-3 col-lg-4 col-6 col-sm-6 mb-4" [contextMenu]="basicMenu" [contextMenuSubject]="p"
                *ngFor="let p of categories|searchpipe:search_string:['name']; let i=index">
                <context-menu #basicMenu *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
                  <ng-template contextMenuItem let-item (execute)="onContextMenuClick('copy-category',p)">
                    <i class="simple-icon-docs mr-1"></i> <span>{{ 'label-title.copy' | translate }}</span>
                  </ng-template>
                  <ng-template contextMenuItem let-item (execute)="onContextMenuClick('move-to-archive-category',p)">
                    <i class="simple-icon-drawer mr-1"></i> <span>{{ 'label-title.move-to-archive' | translate }}</span>
                  </ng-template>
                  <ng-template contextMenuItem let-item (execute)="onContextMenuClick('delete-category',p)">
                    <i class="simple-icon-trash mr-1"></i><span>{{ 'label-title.delete' | translate }}</span>
                  </ng-template>
                </context-menu>
                <div [ngClass]="{'card': true, 'active':isSelected(p)}" (click)="showAddNewCategoryModal(true,p._id)">
                  <div class="position-relative">
                    <a href="javascript:;">
                      <img (error)="$event.target.src = CATEGORY_DEFAULT_IMAGE"
                        class="fade-in dynamic_image card-img-top" [src]="IMAGE_URL + p.image_url" [alt]="p.title">
                    </a>
                    <span *ngIf="!p.is_visible_in_store"
                      class="badge badge-pill badge-danger badge-top-right position-absolute">{{'label-title.invisible'
                      |
                      translate}}</span>
                    <span
                      [class]="'badge badge-pill position-absolute badge-top-left badge-'+ p.statusColor">{{p.status}}</span>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-10">
                        <a href="javascript:;">
                          <p class="list-item-heading pt-1 mb-0">{{p.name | langpipe}}</p>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </tab>
      <tab heading="{{'heading-title.modifiers' | translate | uppercase }}" (selectTab)="tabSelection(2)">
        <context-menu #basicMenu *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
          <ng-template contextMenuItem let-item (execute)="onContextMenuClick('copy-modifier',$event.item)">
            <i class="simple-icon-docs mr-1"></i> <span>{{'label-title.copy'| translate}}</span>
          </ng-template>
          <ng-template contextMenuItem let-item (execute)="onContextMenuClick('move-to-archive-modifier',$event.item)">
            <i class="simple-icon-drawer mr-1"></i> <span>{{'label-title.move-to-archive'| translate}}</span>
          </ng-template>
          <ng-template contextMenuItem let-item (execute)="onContextMenuClick('delete-modifier',$event.item)">
            <i class="simple-icon-trash mr-1"></i><span>{{'label-title.delete'| translate}}</span>
          </ng-template>
        </context-menu>
        
        <div class="row" *ngIf="!selected_city">
          <div class="col-12 col-lg-12">
          <div class="col-12 text-center card">
            <p class="my-4">{{'label-title.no-data-found' | translate}}</p>
          </div>
        </div>
        </div> 
        <div class="row" *ngIf="selected_city">
          <div class="col-12 float-right text-zero" *ngIf="_helper.has_permission(_helper.PERMISSION.ADD)">
            <button type="button" class="float-right mb-4 btn btn-primary btn-lg mr-1" *ngIf="this._helper.selected_city._id" [disabled]="!selected_city" (click)="showAddNewModifierModal()">{{'button-title.add-new' | translate | uppercase}}</button>
          </div>
          <div class="col-12 p-0">
            <div class="card d-flex">
              <div class="text-center" *ngIf="modifiers && modifiers.length === 0">
                <p class="my-4">{{'label-title.modifiers-not-found' | translate}}</p>
             </div>
             <ng-container *ngFor="let modifier of modifiers">
                <div class="d-flex flex-grow-1 min-width-zero" >
                  <div class="align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center card-body">
                    <span *ngIf="modifier.is_visible_in_store" class="align-middle border-success log-indicator mr-2"></span>
                    <span *ngIf="!modifier.is_visible_in_store" class="align-middle border-danger log-indicator mr-2"></span>
                    <a id="toggler1" href="javascript:;" class="list-item-heading mb-0 truncate w-100 w-xs-100 mb-1 mt-1">
                      <span class="align-middle d-inline-block color-theme-1">{{modifier.name | langpipe}}</span>
                      <div class="float-right" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
                        <span *ngIf="this._helper.selected_city._id" (click)="showAddNewModifierModal(true,modifier._id)" class="badge badge-pill badge-outline-primary mr-1">{{ 'button-title.edit' | translate }}</span>
                      </div>
                    </a>
                  </div>
              </div>
              <div class="card-body pt-1">
                <span *ngFor="let specification of modifier.list" class="mb-0"> 
                  <span *ngIf="specification.is_visible_in_store == true">{{specification.name | langpipe | uppercase}} | </span>
                  <span class="text-muted" *ngIf="specification.is_visible_in_store == false">{{specification.name | langpipe | uppercase}} | </span>
                  </span>
              </div>
        
              <hr class="mx-4">
            </ng-container>
        
            </div>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
</div>
<app-application-menu>
  <div class="p-4 h-100">
      <h6 class="text-center mb-3">{{'heading-title.city-price' | translate | uppercase }}</h6>
        <div class="input-group">
          <input type="text" class="form-control category-input" placeholder="{{'label-title.search' | translate}}"
            [(ngModel)]="city_search" #searchBoxContact id="search-box" />
          <div class="input-group-append">
              <div class="category-list" dropdown placement="bottom right">
                  <ng-select appCloseOnScroll style="width: 140px ;" class="custom category-select-btn" appearance="outline" #agreeSelect labelForId="yesno" [searchable]="true"
                      notFoundText="{{'label-title.no-data-found' | translate}}" [clearable]="false" [(ngModel)]="seletedCountry" (change)="onChangeCountry($event)">
                      <ng-option value="All" *ngIf="countries_list.length>=2">{{'label-title.all' | translate}}</ng-option>
                      <ng-option *ngFor="let country of countries_list" [value]="country._id">{{country.country_name | translate}}</ng-option>
                  </ng-select>
              </div>
          </div>
      </div>
         <div class="chat-app-tab-pane-contacts">
          <perfect-scrollbar class="scroll" [config]="{suppressScrollX: true, wheelPropagation: false}">
            <div class="border-bottom "
              *ngFor="let city of citylist | searchpipe: city_search : ['city_name','country_details.country_name']"
              (click)="_initData(city)">
              <div class="card-body row c-pointer"
                [ngClass]="selected_city?(selected_city._id == city._id ? 'text-primary': ''):''" id="{{city._id}}">
                <div class="col-sm-7 col-7">
                  <p class="font-weight-bold mb-0">{{city.city_name}}</p>
                  <p class="text-muted mb-0 text-small">
                    {{city.country_details.country_name}}&ensp;-&ensp;{{ city.timezone }}
                    <span *ngFor="let delivery_type of DELIVERY_TYPE;">
                      <span *ngIf="city.delivery_type==delivery_type.value">{{delivery_type.title | translate}}</span>
                    </span>
                  </p>
                </div>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-center no-data-label" *ngIf="citylist && citylist.length === 0 || (citylist | searchpipe: city_search : ['city_name','country_details.country_name'])?.length === 0">
              <p>{{'label-title.no-record-found' | translate}}</p>
           </div>
          </perfect-scrollbar>
        </div>
        </div>
  </app-application-menu>

  <app-add-new-item-modal #addNewItemModalRef ></app-add-new-item-modal>
<app-add-new-sub-category-modal #addNewSubCategoryRef [subcategories]="subcategories"></app-add-new-sub-category-modal>
<app-add-new-category-modal #addNewCategoryRef></app-add-new-category-modal>
<app-add-new-modifier-modal #addNewModifierModalRef></app-add-new-modifier-modal>
