<ng-template #template> 
    <form #promoForm="ngForm" novalidate (ngSubmit)="promoForm.valid && updatePromo(promoForm)" appFocus>
        <div class="modal-header">
            <h4 *ngIf="is_edit" class="modal-title pull-left">{{promo_code_detail.promo_code_name}}</h4>
            <h4 *ngIf="!is_edit" class="modal-title pull-left">{{'heading-title.add-offer' | translate}}</h4>
            <button *ngIf="true" type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body p-4">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <div class="p-0">
                        <div class="position-absolute card-top-buttons">
                            <button *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)" type="button" class="btn btn-outline-primary icon-button "
                                (click)="image.click()"><i class="simple-icon-pencil"></i></button>
                            <input type="file" accept="image/*" (change)="onSelectImageFile($event,1)" class="d-none"
                                #image>
                        </div>
                        <img (error)="$event.target.src = _helper.DEFAULT_IMAGE_PATH.PROMO"
                            [src]="upload_promo_image != '' ? upload_promo_image : _helper.DEFAULT_IMAGE_PATH.PROMO"
                            alt="Detail" class="img-fluid border-radius c-pointer">
                    </div>
                </div>
                <div class="col-12 text-center d-md-none d-block mb-3">
                    <span class="text-primary"> {{'validation-title.please-upload-image-in-format' | translate}}</span>
                </div>
                <div class="form-group col-md-6">
                    <div class="form-group"><label for="inputState">{{'label-title.country' | translate }}</label>
                        <ng-select role="listbox" [clearable]="false" [(ngModel)]="promo_code_detail.country_id"
                            #country_id="ngModel" [disabled]="is_edit" name="country_id" appearance="outline"
                            ng-reflect-appearance="outline" (change)="onCountrySelected($event)"
                            ng-reflect-searchable="false" notFoundText="{{'label-title.no-data-found' | translate}}"
                            class="ng-select ng-select-single ng-select-clearable ng-select-bottom" required>
                            <ng-option *ngFor="let country of country_list" [value]="country._id">
                                {{country.country_name}}</ng-option>
                        </ng-select>
                        <div *ngIf="!promo_code_detail.country_id && promoForm.submitted"
                            class="top-100 invalid-tooltip">
                            {{'label-title.this-field-is-required' | translate }}</div>
                    </div>
                    <div class="form-group"><label for="inputState">{{'label-title.city' | translate }}</label>
                        <ng-select [clearable]="false" role="listbox" [(ngModel)]="promo_code_detail.city_id"
                            #city_id="ngModel" [disabled]="is_edit" name="city_id" appearance="outline"
                            ng-reflect-appearance="outline" ng-reflect-searchable="false"
                            notFoundText="{{'label-title.no-data-found' | translate}}"
                            class="ng-select ng-select-single ng-select-clearable ng-select-bottom" required
                            (change)="onCitySelected($event)">
                            <ng-option [value]="'000000000000000000000000'" *ngIf="city_list?.length > 1">{{ 'label-title.all' | translate }}
                            </ng-option>
                            <ng-option *ngFor="let city of city_list" [value]="city._id">{{city.city_name}}</ng-option>

                        </ng-select>
                        <div *ngIf="!promo_code_detail.city_id && promoForm.submitted" class="top-100 invalid-tooltip">
                            {{'label-title.this-field-is-required' | translate }}</div>

                    </div>
                </div>
                <div class="col-12 d-none d-md-block mb-3">
                    <span class="text-primary"> {{'validation-title.please-upload-image-in-format' | translate}}</span>
                </div>
            </div>
            <div class="form-group"><label>{{'label-title.promo-code' | translate }}</label>
                <span class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-1" style="top: 2px;" tooltip="{{'tooltip-title.promo-code-tooltip' | translate}}" placement="right"></i></span>
                <input type="text" [(ngModel)]="promo_code_detail.promo_code_name" #promo_code_name="ngModel"
                    (keypress)="_helper.space_validation($event)" name="promo_code_name" placeholder=""
                    class="form-control" required pattern="^[a-zA-Z0-9\s]*$">
                <div *ngIf="!promo_code_name.valid && promoForm.submitted" class="top-100 invalid-tooltip">
                    {{'label-title.promo-code-is-invalid' | translate }}</div>
            </div>
            <div class="form-row mt-4">
                <div class="form-group col-md-7"><label for="inputState">{{'label-title.promo-type' | translate}}</label>
                    <ng-select [clearable]="false" [(ngModel)]="promo_code_detail.promo_code_type"
                        #promo_code_type="ngModel" name="promo_code_type" appearance="outline" [searchable]="false"
                        required>
                        <ng-option [value]="1">{{'label-title.percentage' | translate}}</ng-option>
                        <ng-option [value]="2">{{'label-title.absolute' | translate}}</ng-option>
                    </ng-select>
                    <div *ngIf="!promo_code_type.valid && promoForm.submitted" class="invalid-tooltip">
                        {{'label-title.this-field-is-required' | translate }}</div>
                </div>
                <div class="form-group col-md-5"><label for="inputZip">{{'label-title.discount' | translate }}</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span id="basic-addon1" class="input-group-text"
                                *ngIf="promo_code_detail.promo_code_type==_helper.ADMIN_PROFIT_ON_DELIVERY_ID.PERCENTAGE">%</span>
                            <span id="basic-addon1" class="input-group-text"
                                *ngIf="promo_code_detail.promo_code_type==_helper.ADMIN_PROFIT_ON_DELIVERY_ID.PER_DELVIERY">{{selected_country?.currency_sign}}</span>
                        </div>
                        <input type="number" [(ngModel)]="promo_code_detail.promo_code_value" #promo_code_value="ngModel"
                            name="promo_code_value" class="form-control" (keypress)="_helper.number_validation($event);promo_code_detail.promo_code_type==_helper.ADMIN_PROFIT_ON_DELIVERY_ID.PERCENTAGE ? _helper.maxLengthValidation($event,promo_code_detail.promo_code_value,3) : ''"
                            [max]="promo_code_detail.promo_code_type==_helper.ADMIN_PROFIT_ON_DELIVERY_ID.PERCENTAGE ? 100 : ''"
                            [min]="promo_code_detail.promo_code_type==_helper.ADMIN_PROFIT_ON_DELIVERY_ID.PERCENTAGE ? 0 : ''"
                            placeholder="{{'label-title.discount-value' | translate }}" required>
                        <div *ngIf="!promo_code_value.valid && promoForm.submitted && !promo_code_value?.errors?.min" class="invalid-tooltip">
                            {{'label-title.this-field-is-required' | translate }}</div>
                        <div *ngIf="promo_code_value?.errors?.max" class="invalid-tooltip " style="width: 80% !important;">
                            {{'label-title.profit-validation' | translate }} </div>
                    </div>
                </div>
            </div>
            <div class="form-row form-group mt-4">
                <label>{{'label-title.description' | translate }}</label>
                <textarea [(ngModel)]="promo_code_detail.promo_details" #promo_code_details="ngModel"
                    name="promo_code_details" rows="3" class="form-control" required>
                </textarea>
                <div *ngIf="!promo_code_details.valid && promoForm.submitted" class="invalid-tooltip">
                    {{'label-title.this-field-is-required' | translate }}</div>
            </div>
            <div class="form-row mt-4">
                <div class="form-group col-12"><label for="inputState">{{'label-title.promo-for' | translate }}</label>
                    <span class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-1" style="top: 2px;" tooltip="{{'tooltip-title.promo-for-tooltip' | translate}}" placement="right"></i></span>
                    <div class="mt-3">
                        <ng-select [clearable]="false" [(ngModel)]="promo_code_detail.promo_for"
                            (change)="onPromoFor($event, true)" #promo_for="ngModel" name="promo_for"
                            appearance="outline" [searchable]="false"
                            [disabled]="is_edit && promo_code_detail.created_id != null" required>
                            <ng-option [value]="_helper.PROMO_FOR_ID.DELIVERIES">{{'label-title.deliveries-business' |
                                translate}}</ng-option>
                            <ng-option [value]="_helper.PROMO_FOR_ID.STORE">{{'label-title.store' |
                                translate}}</ng-option>
                            <ng-option [value]="_helper.PROMO_FOR_ID.SERVICE">{{'label-title.service-fees' |
                                translate}}</ng-option>
                            <ng-option [value]="_helper.PROMO_FOR_ID.PRODUCT"
                                *ngIf="promo_code_detail.city_id != '000000000000000000000000'">{{'label-title.product'
                                | translate}}</ng-option>
                            <ng-option [value]="_helper.PROMO_FOR_ID.ITEM"
                                *ngIf="promo_code_detail.city_id != '000000000000000000000000'">{{'label-title.item' |
                                translate}}</ng-option>
                            <ng-option [value]="_helper.PROMO_FOR_ID.USER">{{'label-title.user' |
                                translate}}</ng-option>
                        </ng-select>

                        <div *ngIf="!promo_for.valid && promo_code_detail.promo_for == '' && promoForm.submitted" class="invalid-tooltip">
                            {{'label-title.this-field-is-required' | translate }}</div>
                    </div>
                </div>

                <div class="form-group col-12" *ngIf="promo_code_detail.promo_for == _helper.PROMO_FOR_ID.USER">
                    <div class="input-group mt-1">
                        <input class="form-control" name="user_search_string" [(ngModel)]="user_search_string"
                            placeholder="{{'label-title.search_by_id_name' | translate}}">
                        <div class="input-group-prepend">
                            <span (click)="search_user($event)" style="border: 1px solid;
                            border-color: #d7d7d7;
                            line-height: 3;
                            padding: 0px 10px;
                            cursor: pointer;">{{'label-title.search' | translate}} </span>
                        </div>
                    </div>
                </div>

                <div class="form-group col-12">
                    <div class="mt-3">
                        <ng-select [clearable]="false" notFoundText="{{'label-title.no-data-found' | translate}}"
                            *ngIf="promo_code_detail.promo_for != 20 && promo_code_detail.promo_for != _helper.PROMO_FOR_ID.USER &&  promo_code_detail.promo_for != 22 &&  promo_code_detail.promo_for != 21"
                            [closeOnSelect]="false" [multiple]="true" [(ngModel)]="promo_code_detail.promo_apply_on"
                            [ngModelOptions]="{standalone: true}" (ngModelChange)="onItemproductList(promo_code_detail.promo_apply_on)"
                            [disabled]="is_edit && promo_code_detail.created_id != null">
                            <ng-option *ngFor="let promo_apply_item of item_product_array"
                                [value]="promo_apply_item._id">
                                <span *ngIf="promo_apply_item.name">
                                    {{promo_apply_item.name[_lang.selectedlanguageIndex]
                                        ? promo_apply_item.name[_lang.selectedlanguageIndex] : promo_apply_item.name[0]}}
                                </span>
                                <span *ngIf="!promo_apply_item.name">--</span>
                            </ng-option>
                        </ng-select>
                        <div *ngIf="promo_code_detail.promo_apply_on == '' && promo_code_detail.promo_for != 20 && promo_code_detail.promo_for != _helper.PROMO_FOR_ID.USER"
                            class="invalid-tooltip">{{'label-title.this-field-is-required' | translate }}</div>
                    </div>

                    <div class="mt-3">
                        <ng-select [clearable]="false" notFoundText="{{'label-title.no-data-found' | translate}}"
                            *ngIf="promo_code_detail.promo_for == 22 ||  promo_code_detail.promo_for == 21"
                            [closeOnSelect]="false" [multiple]="true" [(ngModel)]="promo_code_detail.promo_apply_on"
                            [ngModelOptions]="{standalone: true}"
                            [disabled]="is_edit && promo_code_detail.created_id != null">
                            <ng-option *ngFor="let promo_apply_item of item_product_array"
                                [value]="promo_apply_item._id">
                                <span
                                    *ngIf="promo_apply_item.name[_lang.selectedlanguageIndex]">{{promo_apply_item.name[_lang.selectedlanguageIndex]
                                    }}<b> [{{promo_apply_item.store_name[_lang.selectedlanguageIndex]
                                        ? promo_apply_item.store_name[_lang.selectedlanguageIndex] :
                                        promo_apply_item.store_name[0]}}]</b></span>
                                <span
                                    *ngIf="!promo_apply_item.name[_lang.selectedlanguageIndex]">{{promo_apply_item.name[0]
                                    }}<b> [
                                        {{promo_apply_item.store_name[_lang.selectedlanguageIndex] ?
                                        promo_apply_item.store_name[_lang.selectedlanguageIndex] :
                                        promo_apply_item.store_name[0]}}]</b></span>
                            </ng-option>
                        </ng-select>
                        <div *ngIf="promo_code_detail.promo_apply_on == '' && promo_code_detail.promo_for != 20 && promo_code_detail.promo_for != _helper.PROMO_FOR_ID.USER"
                            class="invalid-tooltip">{{'label-title.this-field-is-required' | translate }}</div>

                    </div>

                    <div class="mt-2">
                        <ng-select [clearable]="false" notFoundText="{{'label-title.no-data-found' | translate}}"
                            *ngIf="promo_code_detail.promo_for == _helper.PROMO_FOR_ID.USER" [closeOnSelect]="false"
                            [multiple]="true" [(ngModel)]="promo_code_detail.promo_apply_on"
                            [ngModelOptions]="{standalone: true}">
                            <ng-option *ngFor="let promo_apply_item of item_product_array"
                                [value]="promo_apply_item._id">
                                <span>{{promo_apply_item.unique_id}}-{{promo_apply_item.first_name}}
                                    {{promo_apply_item.last_name}} ( {{promo_apply_item.country_phone_code + " "
                                    +promo_apply_item.phone}} - {{promo_apply_item.email}} )</span>
                            </ng-option>
                        </ng-select>
                        <div *ngIf="promo_code_detail.promo_for == _helper.PROMO_FOR_ID.USER && promo_code_detail.promo_apply_on == '' && promo_code_detail.promo_for != _helper.PROMO_FOR_ID.USER"
                            class="invalid-tooltip">{{'label-title.this-field-is-required' | translate }}</div>

                    </div>
                </div>
            </div>
            <div class="form-row mt-4" *ngIf="!is_taxi_courier_business">
                <div class="text-danger w-100 mb-2 px-1" *ngIf="promo_code_detail?.promo_for == _helper.PROMO_FOR_ID.DELIVERIES"> {{'label-title.promo-code-admin-loyalty-note' | translate}}</div>
                <div class="form-group col-md-7"><label for="inputState">{{'label-title.admin-loyalty-type' | translate}}
                        <span class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-1" style="top: 2px;" tooltip="{{'tooltip-title.admin-loyalty-type-tooltip' | translate}}" placement="right"></i></span>
                    </label>
                    <ng-select [clearable]="false" [(ngModel)]="promo_code_detail.admin_loyalty_type"
                        #admin_loyalty_type="ngModel" name="admin_loyalty_type" appearance="outline"
                        [searchable]="false">
                        <ng-option [value]="1">{{'label-title.percentage' | translate}}</ng-option>
                        <ng-option [value]="2">{{'label-title.absolute' | translate}}</ng-option>
                    </ng-select>
                    <div *ngIf="promo_code_detail.admin_loyalty_type == null " class="invalid-tooltip">
                        {{'label-title.this-field-is-required' | translate }}</div>
                </div>
                <div *ngIf="!admin_loyalty_type.valid && promoForm.submitted" class="invalid-tooltip">
                    {{'label-title.this-field-is-required' | translate }}</div>
                <div class="form-group col-md-5"><label for="inputZip">{{'label-title.loyalty-value' | translate
                        }}</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span id="basic-addon1" class="input-group-text"
                                *ngIf="promo_code_detail.admin_loyalty_type==_helper.ADMIN_PROFIT_ON_DELIVERY_ID.PERCENTAGE">%</span>
                            <span id="basic-addon1" class="input-group-text"
                                *ngIf="promo_code_detail.admin_loyalty_type==_helper.ADMIN_PROFIT_ON_DELIVERY_ID.PER_DELVIERY">{{selected_country?.currency_sign}}</span>
                        </div>
                        <input type="number" id="inputZip" [(ngModel)]="promo_code_detail.admin_loyalty"
                            (keypress)="_helper.number_validation($event);promo_code_detail.admin_loyalty_type==_helper.ADMIN_PROFIT_ON_DELIVERY_ID.PERCENTAGE ? _helper.maxLengthValidation($event,promo_code_detail.admin_loyalty,3) : ''"
                            [max]="promo_code_detail.admin_loyalty_type==_helper.ADMIN_PROFIT_ON_DELIVERY_ID.PERCENTAGE ? 100 : ''"
                            [min]="promo_code_detail.admin_loyalty_type==_helper.ADMIN_PROFIT_ON_DELIVERY_ID.PERCENTAGE ? 0 : ''"
                            #admin_loyalty="ngModel" name="admin_loyalty" required
                            class="form-control" placeholder="{{'label-title.loyalty-value' | translate }}">
                        <div *ngIf="!admin_loyalty.valid && promoForm.submitted && !admin_loyalty?.errors?.min" class="invalid-tooltip">
                            {{'label-title.this-field-is-required' | translate }}</div>
                        <div *ngIf="admin_loyalty?.errors?.max" class="invalid-tooltip " style="width: 80% !important;"> 
                            {{'label-title.profit-validation' | translate }} </div>
                    </div>
                </div>
            </div>

            <div class="mb-4">
                <div class="d-inline-block custom-control custom-switch mr-2">
                    <input type="checkbox" id="customSwitch1" [(ngModel)]="promo_code_detail.is_active"
                        #is_active="ngModel" name="is_active" class="custom-control-input">
                    <label for="customSwitch1" class="custom-control-label">{{'label-title.is-your-offer-running' |
                        translate }}</label>
                </div>
            </div>
            <div class="mb-4">
                <p class="mb-1 font-weight-bold">{{'label-title.offer-advance-settings' | translate }}</p>
                <div class="progress mb-3">
                    <progressbar class="mb-3 progress" max="100">
                        <bar role="progressbar" class="progress-bar-theme-1 bg-theme-1 progress-bar"
                            style="height: 100%; width: 80%;"></bar>
                        <bar role="progressbar" class="progress-bar-theme-2 bg-theme-2 progress-bar"
                            style="height: 100%; width: 20%;"></bar>
                    </progressbar>
                </div>
            </div>
            <div class="mb-4">
                <div class="custom-control custom-switch mr-2">
                    <input type="checkbox" id="customSwitch2" [(ngModel)]="promo_code_detail.is_promo_have_date"
                        #is_promo_have_date="ngModel" name="is_promo_have_date" class="custom-control-input">
                    <label for="customSwitch2"
                        class="custom-control-label">{{'label-title.do-you-want-to-set-offer-validation-date' |
                        translate}}</label>
                </div>
            </div>
            <div *ngIf="promo_code_detail.is_promo_have_date">
                <div class="form-group mb-3">
                    <label>{{'label-title.offer-apply-date-range' | translate }}</label>
                    <span class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-1" style="top: 2px;" tooltip="{{'tooltip-title.promo-offer-apply-date-range-tooltip' | translate}}" placement="right"></i></span>
                    <div class="form-group mb-3">
                        <input [minDate]="todayDate" class="form-control bg-unset" #drp="bsDaterangepicker" bsDaterangepicker
                            [container]="'html'" [(ngModel)]="bsRangeValue" [ngModelOptions]="{standalone: true}"
                            [bsConfig]="{ selectWeekDateRange: true, containerClass: 'promodate' }" readonly>
                        <div *ngIf="promo_code_detail.is_promo_have_date && !bsRangeValue" class="invalid-tooltip">
                            {{'label-title.please-validate' | translate}}</div>
                    </div>
                </div>
                <div class="form-row mb-2">
                    <div class="form-group col-12"><label for="inputState">{{'label-title.recursion-type' | translate}}</label>
                        <span class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-1" style="top: 2px;" tooltip="{{'tooltip-title.promo-recursion-type-tooltip' | translate}}" placement="right"></i></span>
                        <ng-select [clearable]="false" [(ngModel)]="promo_code_detail.promo_recursion_type"
                            #promo_recursion_type="ngModel" name="promo_recursion_type"
                            (change)="onPromoRecursion($event)" appearance="outline" [searchable]="false">
                            <ng-option *ngFor="let type of _helper.PROMO_RECURSION" [value]="type.ID">{{type.NAME |
                                translate}}</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="mb-3" *ngIf="promo_code_detail.promo_recursion_type > 0">
                    <div class="row">
                        <div class="col-sm-6 col-12">
                            <label>{{'label-title.open-time' | translate }}</label>
                            <timepicker class="timepicker ng-untouched ng-valid ng-dirty"
                                [(ngModel)]="promo_code_detail.promo_start_time" #promo_start_time="ngModel"
                                name="promo_start_time" ng-reflect-model="Wed Dec 16 2020 17:45:24 GMT+0">
                                <table aria-describedby="">
                                    <th></th>
                                    <tbody>
                                        <tr class="text-center">
                                            <td><a class="btn btn-link"><span
                                                        class="bs-chevron bs-chevron-up"></span></a></td>
                                            <td class="ng-star-inserted">&nbsp;&nbsp;&nbsp;</td>
                                            <td class="ng-star-inserted"><a class="btn btn-link"><span
                                                        class="bs-chevron bs-chevron-up"></span></a></td>
                                            <td class="ng-star-inserted">&nbsp;&nbsp;&nbsp;</td>
                                            <td class="ng-star-inserted"></td>
                                        </tr>
                                        <tr>
                                            <td class="form-group"><input type="text" maxlength="2"
                                                    class="form-control text-center bs-timepicker-field"
                                                    placeholder="{{'label-title.hh' | translate}}"></td>
                                            <td class="ng-star-inserted">&nbsp;:&nbsp;</td>
                                            <td class="form-group ng-star-inserted"><input type="text" maxlength="2"
                                                    class="form-control text-center bs-timepicker-field"
                                                    placeholder="{{'label-title.mm' | translate}}"></td>
                                            <td class="ng-star-inserted">&nbsp;&nbsp;&nbsp;</td>
                                            <td class="ng-star-inserted"><button type="button"
                                                    class="btn btn-default text-center">{{'button-title.pm' |
                                                    translate}} </button></td>
                                        </tr>
                                        <tr class="text-center">
                                            <td><a class="btn btn-link"><span
                                                        class="bs-chevron bs-chevron-down"></span></a></td>
                                            <td class="ng-star-inserted">&nbsp;&nbsp;&nbsp;</td>
                                            <td class="ng-star-inserted"><a class="btn btn-link"><span
                                                        class="bs-chevron bs-chevron-down"></span></a></td>
                                            <td class="ng-star-inserted">&nbsp;&nbsp;&nbsp;</td>
                                            <td class="ng-star-inserted"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </timepicker>
                        </div>
                        <div class="col-sm-6 col-12">
                            <label>{{'label-title.close-time' | translate }}</label>
                            <timepicker class="timepicker ng-untouched ng-valid ng-dirty"
                                [(ngModel)]="promo_code_detail.promo_end_time" #promo_end_time="ngModel"
                                name="promo_end_time" ng-reflect-model="Wed Dec 16 2020 17:45:24 GMT+0">
                                <table aria-describedby="">
                                    <th></th>
                                    <tbody>
                                        <tr class="text-center">
                                            <td><a class="btn btn-link"><span
                                                        class="bs-chevron bs-chevron-up"></span></a></td>
                                            <td class="ng-star-inserted">&nbsp;&nbsp;&nbsp;</td>
                                            <td class="ng-star-inserted"><a class="btn btn-link"><span
                                                        class="bs-chevron bs-chevron-up"></span></a></td>
                                            <td class="ng-star-inserted">&nbsp;&nbsp;&nbsp;</td>
                                            <td class="ng-star-inserted"></td>
                                        </tr>
                                        <tr>
                                            <td class="form-group"><input type="text" maxlength="2"
                                                    class="form-control text-center bs-timepicker-field"
                                                    placeholder="{{'label-title.hh' | translate}}"></td>
                                            <td class="ng-star-inserted">&nbsp;:&nbsp;</td>
                                            <td class="form-group ng-star-inserted"><input type="text" maxlength="2"
                                                    class="form-control text-center bs-timepicker-field"
                                                    placeholder="{{'label-title.mm' | translate}}"></td>
                                            <td class="ng-star-inserted">&nbsp;&nbsp;&nbsp;</td>
                                            <td class="ng-star-inserted"><button type="button"
                                                    class="btn btn-default text-center">{{'button-title.pm' |
                                                    translate}} </button></td>
                                        </tr>
                                        <tr class="text-center">
                                            <td><a class="btn btn-link"><span
                                                        class="bs-chevron bs-chevron-down"></span></a></td>
                                            <td class="ng-star-inserted">&nbsp;&nbsp;&nbsp;</td>
                                            <td class="ng-star-inserted"><a class="btn btn-link"><span
                                                        class="bs-chevron bs-chevron-down"></span></a></td>
                                            <td class="ng-star-inserted">&nbsp;&nbsp;&nbsp;</td>
                                            <td class="ng-star-inserted"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </timepicker>
                        </div>
                    </div>
                </div>
                <div class="form-row mb-2" *ngIf="promo_code_detail.promo_recursion_type > 1">
                    <div class="form-group col-12"><label for="inputState">{{'label-title.day' | translate }}</label>
                        <ng-select [clearable]="false" [searchable]="false" [closeOnSelect]="false" [multiple]="true"
                            [(ngModel)]="promo_code_detail.days" [ngModelOptions]="{standalone: true}">
                            <ng-option *ngFor="let type of _helper.DAY; let index=index;" [value]="type">
                                {{type}}
                            </ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="form-row mb-2" *ngIf="promo_code_detail.promo_recursion_type > 2">
                    <div class="form-group col-12">
                        <label for="inputState">{{'label-title.week' | translate }}</label>
                        <ng-select [clearable]="false" [searchable]="false" [closeOnSelect]="false" [multiple]="true"
                            [(ngModel)]="promo_code_detail.weeks" [ngModelOptions]="{standalone: true}">
                            <ng-option *ngFor="let type of _helper.WEEK; let index=index;" [value]="type">
                                {{type}}
                            </ng-option>
                        </ng-select>
                    </div>
                </div>

                <div class="form-row mb-2" *ngIf="promo_code_detail.promo_recursion_type > 3">
                    <div class="form-group col-12"><label for="inputState">{{'label-title.month' | translate }}</label>
                        <ng-select [searchable]="false" [closeOnSelect]="false" [multiple]="true"
                            [(ngModel)]="promo_code_detail.months" [ngModelOptions]="{standalone: true}">
                            <ng-option *ngFor="let type of _helper.MONTH; let index=index;" [value]="type">
                                {{type}}
                            </ng-option>
                        </ng-select>
                    </div>
                </div>
            </div>

            <div class="form-row mb-2">
                <div class="form-group col"><label
                        for="inputState">{{'label-title.apply-offer-after-complete-no-of-order' | translate }}</label>
                        <span class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-1" style="top: 2px;" tooltip="{{'tooltip-title.promo-apply-offer-after-complete-no-of-order-tooltip' | translate}}" placement="bottom"></i></span>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text offer-pr-1">
                                <div class="custom-control custom-checkbox">
                                <input type="checkbox" [(ngModel)]="promo_code_detail.is_promo_apply_on_completed_order"
                                    #promo_code_detail.is_promo_apply_on_completed_order="ngModel"
                                    name="promo_code_detail.is_promo_apply_on_completed_order"
                                    [checked]="promo_code_detail.is_promo_apply_on_completed_order"
                                    aria-label="Checkbox for following text input"
                                    class="custom-control-input" id="customcheck1">
                                    <label for="customcheck1" class="custom-control-label"></label>
                                </div>
                            </div>
                        </div>
                        <input type="number" [(ngModel)]="promo_code_detail.promo_apply_after_completed_order"
                            #promo_apply_after_completed_order="ngModel" name="promo_apply_after_completed_order"
                            [disabled]="!promo_code_detail.is_promo_apply_on_completed_order"
                            (keydown)="_helper.number_validation($event)" aria-label="Text input with checkbox"
                            class="form-control">
                        <div *ngIf="promo_code_detail.promo_apply_after_completed_order == null "
                            class="invalid-tooltip">{{'label-title.please-validate' | translate}}</div>
                    </div>
                </div>
            </div>

            <div class="form-row mb-2">
                <div class="form-group col"><label for="inputState">{{'label-title.required-uses' | translate }}</label>
                    <span class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-1" style="top: 2px;" tooltip="{{'tooltip-title.promo-required-uses-tooltip' | translate}}" placement="bottom"></i></span>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text offer-pr-1">
                                <div class="custom-control custom-checkbox">
                                <input type="checkbox" [(ngModel)]="promo_code_detail.is_promo_required_uses"
                                    #promo_code_detail.is_promo_required_uses="ngModel"
                                    name="promo_code_detail.is_promo_required_uses"
                                    [checked]="promo_code_detail.is_promo_required_uses"
                                    aria-label="Checkbox for following text input" 
                                    class="custom-control-input" id="customcheck2">
                                    <label for="customcheck2" class="custom-control-label"></label>
                                </div>
                            </div>
                        </div>
                        <input type="number" [(ngModel)]="promo_code_detail.promo_code_uses" #promo_code_uses="ngModel"
                            name="promo_code_uses" [disabled]="!promo_code_detail.is_promo_required_uses"
                            (keydown)="_helper.number_validation($event)" aria-label="Text input with checkbox"
                            class="form-control">
                        <div *ngIf="promo_code_detail.promo_code_uses == null " class="invalid-tooltip">
                            {{'label-title.please-validate' | translate}}</div>
                    </div>
                </div>
            </div>

            <div class="form-row mb-2">
                <div class="form-group col"><label
                        for="inputState">{{'label-title.do-you-want-to-set-min-order-amount-for-apply' | translate}}</label>
                    <span class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-1" style="top: 2px;" tooltip="{{'tooltip-title.promo-do-you-want-to-set-min-order-amount-for-apply-tooltip' | translate}}" placement="bottom"></i></span>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text offer-pr-1">
                                <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                    [(ngModel)]="promo_code_detail.is_promo_have_minimum_amount_limit"
                                    #promo_code_detail.is_promo_have_minimum_amount_limit="ngModel"
                                    name="promo_code_detail.is_promo_have_minimum_amount_limit"
                                    [checked]="promo_code_detail.is_promo_have_minimum_amount_limit"
                                    aria-label="Checkbox for following text input" class="custom-control-input" id="customcheck3">
                                    <label for="customcheck3" class="custom-control-label"></label>
                                </div>
                            </div>
                        </div>
                        <input type="number" [(ngModel)]="promo_code_detail.promo_code_apply_on_minimum_amount"
                            #promo_code_apply_on_minimum_amount="ngModel" name="promo_code_apply_on_minimum_amount"
                            [disabled]="!promo_code_detail.is_promo_have_minimum_amount_limit"
                            (keydown)="_helper.number_validation($event)" aria-label="Text input with checkbox"
                            class="form-control">
                        <div *ngIf="promo_code_detail.promo_code_apply_on_minimum_amount == null "
                            class="invalid-tooltip">{{'label-title.please-validate' | translate}}</div>
                    </div>
                </div>
            </div>

            <div class="form-row mb-2">
                <div class="form-group col"><label
                        for="inputState">{{'label-title.do-you-want-to-set-min-item-on-cart-for-apply' | translate}}</label>
                    <span class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-1" style="top: 2px;" tooltip="{{'tooltip-title.promo-do-you-want-to-set-min-item-on-cart-for-apply-tooltip' | translate}}" placement="bottom"></i></span>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text offer-pr-1">
                                <div class="custom-control custom-checkbox">
                                <input type="checkbox" [(ngModel)]="promo_code_detail.is_promo_have_item_count_limit"
                                    #promo_code_detail.is_promo_have_item_count_limit="ngModel"
                                    name="promo_code_detail.is_promo_have_item_count_limit"
                                    [checked]="promo_code_detail.is_promo_have_item_count_limit"
                                    aria-label="Checkbox for following text input" class="custom-control-input" id="customcheck4">
                                    <label for="customcheck4" class="custom-control-label"></label>
                                </div>
                            </div>
                        </div>
                        <input type="number" [(ngModel)]="promo_code_detail.promo_code_apply_on_minimum_item_count"
                            #promo_code_apply_on_minimum_item_count="ngModel"
                            name="promo_code_apply_on_minimum_item_count"
                            [disabled]="!promo_code_detail.is_promo_have_item_count_limit"
                            (keydown)="_helper.number_validation($event)" aria-label="Text input with checkbox"
                            class="form-control">
                        <div *ngIf="promo_code_detail.promo_code_apply_on_minimum_item_count == null "
                            class="invalid-tooltip">{{'label-title.please-validate' | translate}}</div>
                    </div>
                </div>
            </div>

            <div class="form-row mb-2">
                <div class="form-group col"><label
                        for="inputState">{{'label-title.do-you-want-to-set-max-discount-amount' | translate }}</label>
                    <span class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-1" style="top: 2px;" tooltip="{{'tooltip-title.promo-do-you-want-to-set-max-discount-amount-tooltip' | translate}}" placement="bottom"></i></span>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text offer-pr-1">
                                <div class="custom-control custom-checkbox">
                                <input type="checkbox" [(ngModel)]="promo_code_detail.is_promo_have_max_discount_limit"
                                    #promo_code_detail.is_promo_have_max_discount_limit="ngModel"
                                    name="promo_code_detail.is_promo_have_max_discount_limit"
                                    [checked]="promo_code_detail.is_promo_have_max_discount_limit"
                                    aria-label="Checkbox for following text input" class="custom-control-input" id="customcheck5">
                                    <label for="customcheck5" class="custom-control-label"></label>
                                </div>
                            </div>
                        </div>
                        <input type="number" [(ngModel)]="promo_code_detail.promo_code_max_discount_amount"
                            #promo_code_max_discount_amount="ngModel" name="promo_code_max_discount_amount"
                            [disabled]="!promo_code_detail.is_promo_have_max_discount_limit"
                            (keydown)="_helper.number_validation($event)" aria-label="Text input with checkbox"
                            class="form-control">
                        <div *ngIf="promo_code_detail.promo_code_max_discount_amount == null " class="invalid-tooltip">
                            {{'label-title.please-validate' | translate}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" *ngIf="is_edit" class="btn btn-outline-primary"
                (click)="onClose()">{{'button-title.close-offer' | translate }}</button>
            <div *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
                <button type="button" *ngIf="is_edit && !promo_code_detail.is_approved" class="btn btn-outline-primary"
                (click)="onApprovePromo(true)">{{'button-title.approve' | translate }}</button>
                <button type="button" *ngIf="is_edit && promo_code_detail.is_approved" class="btn btn-outline-primary"
                (click)="onApprovePromo(false)">{{'button-title.unapprove' | translate }}</button>
            </div>
            <button *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT) && is_edit" type="submit" class="btn btn-primary">{{'button-title.update' | translate
                }}</button>
            <button type="submit" *ngIf="!is_edit" class="btn btn-primary">{{'button-title.add' | translate }}</button>
        </div>
    </form>
</ng-template>

<ng-template #approveTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left" *ngIf="promo_code_detail">{{promo_code_detail.promo_code_name}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="cancelAprroveModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body p-0">
        <div class="p-4">
            <p *ngIf="promo_code_detail.is_approved">
                {{'label-title.are-you-sure-you-want-to-unapprove-this' | translate}} {{'label-title.promo-code' |
                translate}}
            </p>
            <p *ngIf="!promo_code_detail.is_approved">
                {{'label-title.are-you-sure-you-want-to-approve-this' | translate}} {{'label-title.promo-code' |
                translate}}
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" (click)="cancelAprroveModal()" class="btn btn-primary float-right">{{'button-title.cancel'
            | translate}}</button>
        <button type="button" (click)="approve()" class="btn btn-danger float-right">{{'button-title.confirm' |
            translate}}</button>
    </div>
</ng-template>

<app-image-crop-model (updateImage)="imageCropped($event)" #cropModel></app-image-crop-model>