<div class="row app-row">
  <div class="col-12">
      <app-heading></app-heading>
      <app-breadcrumb></app-breadcrumb>
      <br>
      <div class="separator mb-4"></div>
  </div>
  <div class="col-12">
      <div class="card">
          <div class="card-body">
              <div id="store_location_map" style="width: 100%; min-height: 550px;"></div>
          </div>
      </div>
  </div>
</div>
<app-application-menu>
  <perfect-scrollbar class="scroll">
      <div style="position: static;" class="ps">
          <div class="ps-content">
              <div class="p-4 h-100">
                  <div class="scroll">
                    <div class="form-group mb-3">
                        <label class="text-muted  mb-2">{{'label-title.country' | translate }}</label>
                        <ng-select appearance="outline" labelForId="yesno" [searchable]="true" [clearable]="false" placeholder="{{'label-title.choose' | translate }}..." [(ngModel)]="selected_country" (change)="countryChange($event)">
                            <ng-option [value]="country._id" *ngFor="let country of country_list">{{ country.country_name }}</ng-option>
                        </ng-select>
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-muted  mb-2">{{'label-title.city' | translate }}</label>
                        <ng-select notFoundText="{{'label-title.no-data-found' | translate}}" appearance="outline" [searchable]="true" [clearable]="false"
                              placeholder="{{'label-title.choose' | translate }}..." [(ngModel)]="selected_city" (change)="onCitySelected($event)">
                              <ng-option value="All" *ngIf="city_list.length>=2">{{'label-title.all' | translate}}</ng-option>
                              <ng-option [value]="city._id" *ngFor="let city of city_list">{{ city.city_name }}</ng-option>
                        </ng-select>
                    </div>
                      <div class="form-group mb-3">
                        <label class="text-muted  mb-2">{{'label-title.business-type' | translate }}</label>
                        <ng-select appearance="outline" labelForId="yesno" [searchable]="false" [clearable]="false" placeholder="{{'label-title.choose' | translate }}..." [(ngModel)]="selected_delivery_type" (change)="getDeliveryList()">
                            <ng-option [value]="delivery_type.value" *ngFor="let delivery_type of deliveries_type_list">{{ delivery_type.title | translate}}</ng-option>
                        </ng-select>
                    </div>
                      <div class="form-group mb-3" *ngIf="selected_delivery_type != _helper.DELIVERY_TYPE_CONSTANT.TAXI && selected_delivery_type != _helper.DELIVERY_TYPE_CONSTANT.ECOMMERCE">
                          <label class="text-muted  mb-2">{{'label-title.business' | translate }}</label>
                          <ng-select appearance="outline" labelForId="yesno" [searchable]="true" [clearable]="false" placeholder="{{'label-title.choose' | translate }}..." [(ngModel)]="selected_delivery" (change)="filter()">
                              <ng-option value="All" *ngIf="selected_delivery_type != _helper.DELIVERY_TYPE_CONSTANT.TAXI && selected_delivery_type != _helper.DELIVERY_TYPE_CONSTANT.ECOMMERCE">{{'label-title.all' | translate}}</ng-option>
                              <ng-option [value]="delivery._id" *ngFor="let delivery of delivery_list">{{ delivery.delivery_name[0] }}</ng-option>
                          </ng-select>
                      </div>
                      <div class="mb-3">
                          <label class="text-muted  mb-3">{{'label-title.state' | translate }}</label>
                          <div class="row mb-3">
                              <div class="col-sm-9 col-9">
                                  <div class="custom-control custom-checkbox ">
                                      <input type="checkbox" id="customCheckThis" class="custom-control-input" [(ngModel)]="is_open_selected" (change)="filter()">
                                      <label for="customCheckThis" class="custom-control-label">{{'label-title.open' | translate }}</label>
                                  </div>
                              </div>
                              <div class="col-sm-3 col-3">
                                  <div>
                                      <img class="border-0 img-fluid align-items-center  xsmall" src="assets/img/map_pin_images/Store/store_open.png" alt="Brynn Bragg">
                                  </div>
                              </div>
                          </div>
                          <div class="row mb-3">
                              <div class="col-sm-9 col-9">
                                  <div class="custom-control custom-checkbox ">
                                      <input type="checkbox" id="customCheckThis4" class="custom-control-input" [(ngModel)]="is_close_selected" (change)="filter()">
                                      <label for="customCheckThis4" class="custom-control-label">{{'label-title.close' | translate }}</label>
                                  </div>
                              </div>
                              <div class="col-sm-3 col-3">
                                  <div>
                                      <img class="border-0 img-fluid align-items-center  xsmall" src="assets/img/map_pin_images/Store/store_close.png" alt="Brynn Bragg">
                                  </div>
                              </div>
                          </div>
                          <div class="row mb-3">
                              <div class="col-sm-9 col-9">
                                  <div class="custom-control custom-checkbox ">
                                      <input type="checkbox" id="customCheckThis1" class="custom-control-input" [(ngModel)]="is_business_off_selected" (change)="filter()">
                                      <label for="customCheckThis1" class="custom-control-label">{{'label-title.business-off' | translate }}</label>
                                  </div>
                              </div>
                              <div class="col-sm-3 col-3">
                                  <div>
                                      <img class="border-0 img-fluid align-items-center  xsmall" src="assets/img/map_pin_images/Store/store_business_off.png" alt="Brynn Bragg">
                                  </div>
                              </div>
                          </div>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </perfect-scrollbar>
</app-application-menu>
