<div class="app-row row">
<div class="col-12">
  <div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-9 d-flex">
        <i class="color-theme-1 iconsminds-mail-settings"></i>
        <h5 class="color-theme-1 font-weight-bold my-auto ml-3">{{ 'heading-title.mail-sent-by' | translate }}</h5>
      </div>
      <div class="col-3 text-end">
        <span *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)" class="badge badge-pill badge-outline-primary mb-1 c-pointer" (click)="showMailConnectModal()">{{
          'button-title.connect' | translate }}</span>
      </div>
    </div>
  </div>
  </div>
</div>
<div class="mt-4 col-12">
  <div class="card">
  <div class="card-body">

    <div class="row">
      <div class="col-8">
        <h5 class="mb-4">{{ 'heading-title.edit-email' | translate }}</h5>
      </div>
      <div class="col-4 text-end" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
        <span class="badge badge-pill badge-outline-primary mb-1 c-pointer" (click)="save()">{{ 'button-title.save' | translate }}</span>
      </div>
    </div>
    <div class="pl-1 pr-1 pt-3 pb-0 d-flex flex-column flex-grow-1">
      <div *ngIf="email_tags.length>0" class="row">
        <div class="col-12 mb-4" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
          <p class="mb-1 text-muted">{{'label-title.use-email-tags' | translate}}</p>
          <div>
            <span *ngFor="let email_tag of email_tags; last as isLast" [ngClass]="isLast? 'mr-0':'mr-1'" class="badge badge-pill badge-outline-primary mb-1 c-pointer" (click)="select_tag(email_tag)">{{email_tag}}</span>
          </div>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-8 col-12 mb-2 mb-lg-0">
          <p class="font-weight-medium truncate mb-1">{{ 'label-title.select-email-for' | translate }}
            <span class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-1" style="top: 2px;" tooltip="{{'tooltip-title.emailsetting-select-email-for-tooltip' | translate}}" [containerClass]="'custom-tooltip-class'" placement="right"></i></span>
          </p>
          <ng-select bindLabel="title" (change)="onSelectMail($event)" name="selectEmail" [(ngModel)]="selected_email">
            <ng-option *ngFor="let email of email_list" [value]="email">{{ email.email_unique_title }}</ng-option>
          </ng-select>
        </div>
        <div class="col-lg-4 col-12 text-end m-auto pl-3">
          <div class="custom-control custom-switch text-end">
            <input type="checkbox" id="editPickupSwitch" class="custom-control-input"
              [(ngModel)]="selected_email.is_send" [checked]="selected_email ? selected_email.is_send : false">
            <label for="editPickupSwitch" class="custom-control-label">{{ 'label-title.do-you-want-send-selected-email'
              | translate }}</label>
          </div>
        </div>
      </div>
      <div class="row no-gutters mt-3">
        <div class="col-lg-8 col-12">
          <p class="font-weight-medium truncate mb-1">{{ 'label-title.email-title' | translate }}</p>
          <input type="text" class="form-control" [(ngModel)]="selected_email.email_title" #email_title
            [value]="selected_email ? selected_email.email_title : ''" [readonly]="subadmin_readonly">
        </div>
      </div>
      <div class="row no-gutters mt-3">
        <div class="col-12">
          <div #Editor (mouseleave) ="mouseLeave()"></div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
</div>
<app-mail-connect-modal #mailConnectRef></app-mail-connect-modal>

<app-application-menu>
  <tabset class="card-tabs h-100" [justified]="true">
      <tab heading="{{'heading-title.general' | translate | uppercase }}" class="card-body h-100" (selectTab)="showEmailBy('general')">
          <div class="chat-app-tab-pane-contacts">
              <perfect-scrollbar class="scroll" [config]="{suppressScrollX: true, wheelPropagation: false}">
                <div *ngFor="let email of filtered_email_list" class="border-bottom" >
                  <div class="card-body row vehicle-card c-pointer" (click)="onSelectMail(email)">
                      <div class="col-sm-1 col-1">
                          <span *ngIf="email.is_send" class="align-middle border-success log-indicator"></span>
                          <span *ngIf="!email.is_send" class="align-middle border-danger log-indicator"></span>
                      </div>
                      <div class="col-sm-9 col-10">
                          <p class="mb-0" [ngClass]="selected_email == email ? 'text-primary':''">{{email.email_unique_title}}</p>
                      </div>
                  </div>
              </div>
              </perfect-scrollbar>
          </div>
      </tab>
      <tab heading="{{'heading-title.delivery' | translate | uppercase }}" class="card-body h-100" (selectTab)="showEmailBy('delivery')">
        <div class="chat-app-tab-pane-contacts">
            <perfect-scrollbar class="scroll" [config]="{suppressScrollX: true, wheelPropagation: false}">
              <div *ngFor="let email of filtered_email_list" class="border-bottom" >
                <div class="card-body row vehicle-card c-pointer" (click)="onSelectMail(email)">
                    <div class="col-sm-1 col-1">
                        <span *ngIf="email.is_send" class="align-middle border-success log-indicator"></span>
                        <span *ngIf="!email.is_send" class="align-middle border-danger log-indicator"></span>
                    </div>
                    <div class="col-sm-9 col-10">
                        <p class="mb-0" [ngClass]="selected_email == email ? 'text-primary':''">{{email.email_unique_title}}</p>
                    </div>
                </div>
            </div>
            </perfect-scrollbar>
        </div>
      </tab>
      <tab heading="{{'heading-title.taxi' | translate | uppercase }}" class="card-body h-100" (selectTab)="showEmailBy('taxi')">
        <div class="chat-app-tab-pane-contacts">
            <perfect-scrollbar class="scroll" [config]="{suppressScrollX: true, wheelPropagation: false}">
              <div *ngFor="let email of filtered_email_list" class="border-bottom" >
                <div class="card-body row vehicle-card c-pointer" (click)="onSelectMail(email)">
                    <div class="col-sm-1 col-1">
                        <span *ngIf="email.is_send" class="align-middle border-success log-indicator"></span>
                        <span *ngIf="!email.is_send" class="align-middle border-danger log-indicator"></span>
                    </div>
                    <div class="col-sm-9 col-10">
                        <p class="mb-0" [ngClass]="selected_email == email ? 'text-primary':''">{{email.email_unique_title}}</p>
                    </div>
                </div>
            </div>
            </perfect-scrollbar>
        </div>
      </tab>
  </tabset>
</app-application-menu>
