<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{'heading-title.google-captcha-configuration-settings' | translate }}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="google_captcha_key_settings">
            <div>
                <label>{{'label-title.web-app-google-captcha-site-key' | translate }}</label>
                <input type="text" class="form-control" formControlName="captcha_site_key_for_web">
            </div>
            <div class="mt-4">
                <label>{{'label-title.web-app-google-captcha-secret-key' | translate }}</label>
                <input type="text" class="form-control" formControlName="captcha_secret_key_for_web">
            </div>
            <div class="mt-4">
                <label>{{'label-title.android-google-captcha-site-key' | translate }}</label>
                <input type="text" class="form-control" formControlName="captcha_site_key_for_android">
            </div>
            <div class="mt-4">
                <label>{{'label-title.android-google-captcha-secret-key' | translate }}</label>
                <input type="text" class="form-control" formControlName="captcha_secret_key_for_android">
            </div>
            <div class="mt-4">
                <label>{{'label-title.ios-google-captcha-site-key' | translate }}</label>
                <input type="text" class="form-control" formControlName="captcha_site_key_for_ios">
            </div>
            <div class="mt-4">
                <label>{{'label-title.ios-google-captcha-secret-key' | translate }}</label>
                <input type="text" class="form-control" formControlName="captcha_secret_key_for_ios">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onSave()">{{'button-title.update' | translate }}</button>
    </div>
</ng-template>