<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{api_name}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body p-4">
            <div class="row">
                <div class="col-8">
                    <h6>{{activity_log.name}}</h6>
                </div>
                <div class="col-4 d-flex">
                    <span *ngIf="activity_log.success" class="ml-auto badge badge-pill badge-outline-success" style="line-height: 1.3;" >{{'label-title.success' | translate}}</span>
                    <span *ngIf="!activity_log.success" class="ml-auto badge badge-pill badge-outline-danger" style="line-height: 1.3;">{{'label-title.failed' | translate}}</span>
                </div>
            </div>
            <div class="mt-4">
                <h5 class="text-primary">{{'label-title.params' | translate}}</h5>
                <div class="border-bottom"></div>
                <pre class="mt-4">{{activity_log.param | json}}</pre>
            </div>
            <div class="mt-4">
                <h5 class="text-primary">{{'label-title.response' | translate}}</h5>
                <div class="border-bottom"></div>
                <pre class="mt-4" style="overflow-y: hidden; overflow-x: auto;">{{activity_log.response_code | json}}
                </pre>
            </div>
    </div>
</ng-template>