$separator-color-light: #f3f3f3;
$separator-color: #d7d7d7;
$background-color: #f8f8f8;
$foreground-color : white;
$input-background: white;

$dark-btn-background: #131113;
$light-btn-background: #ececec;
$button-text-color: #fff;

$theme-color-1: #00afc2;
// $theme-color-1: #008ecc;
$theme-color-2: #73c2fb;
$theme-color-3: #95c8d9;
$theme-color-4: #2780a7;
$theme-color-5: #6fa4cb;
$theme-color-6: #8aaab4;

$primary-color: #3a3a3a;
$secondary-color: #8f8f8f;
$muted-color: #909090;

$gradient-color-1 : #39addf;
$gradient-color-2 : #00afc2;
// $gradient-color-2 : #008ecc;
$gradient-color-3 : #2e98c5;

$lp-bg-color-1 : #006894;
$lp-bg-color-2 : #007fb6;
$lp-bg-color-3 : #37b9f1;
$lp-bg-color-4 : #56c4f3;

$shadow-offsets-top : 1 3 10 14 19;
$shadow-blurs-top: 1.5 5 10 14 19;
$shadow-opacities-top: 0.04 0.1 0.19 0.25 0.3;

$shadow-offsets-bottom : 1 3 6 10 15;
$shadow-blurs-bottom: 3 6 6 5 6;
$shadow-opacities-bottom: 0.04 0.1 0.2 0.22 0.22;

$logo-path: "../../logos/black_logo.png";
$logo-path-mobile: "../../logos/mobile.svg";

$lp-logo-path-pinned: "../../logos/black_logo.png";
$lp-logo-path: "../../logos/white-full.svg";

@import "../_mixins.scss";
@import "../_vien.style.scss";

