<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'heading-title.seo-tags-and-heads' | translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="seoForm">
      <div class="border-bottom form-group">
        <label class="d-flex align-items-center" for="seoTitleTag">{{'label-title.title-tag' | translate}}</label>
        <input type="text" formControlName="seoTitleTag" class="form-control" placeholder="">
        <div class="invalid-tooltip" *ngIf="seoForm.get('seoTitleTag').errors?.required && seoForm.get('seoTitleTag').touched">
          {{'label-title.title-tag' | translate}} {{'label-title.is-required' | translate}}
        </div>
      </div>
      <div class="border-bottom form-group">
        <label class="d-flex align-items-center" for="seoDescription">{{'label-title.description' | translate}}</label>
        <input type="text" formControlName="seoDescription" class="form-control" placeholder="">
        <div class="invalid-tooltip" *ngIf="seoForm.get('seoDescription').errors?.required && seoForm.get('seoDescription').touched">
          {{'label-title.description' | translate}} {{'label-title.is-required' | translate}}
        </div>
      </div>
      <div class="border-bottom form-group">
        <label class="d-flex align-items-center" for="seoConicalUrl">{{'label-title.conical-url' | translate}}</label>
        <input type="text" formControlName="seoConicalUrl" class="form-control" placeholder="">
      </div>
      <div class="border-bottom form-group">
        <label class="d-flex align-items-center" for="index">{{'label-title.meta-robots' | translate}}</label>
        <div class="row no-gutters">
          <div class="col-10 form-group">
            <p class="font-weight-medium mb-0">{{ 'label-title.allow-search-engine-to-show' | translate }}</p>
          </div>
          <div class="col-2 text-end m-auto p-0">
            <div class="custom-control custom-switch text-end form-group">
              <input type="checkbox" id="metaRobotsIndex" formControlName="metaRobotsIndex" class="custom-control-input">
              <label for="metaRobotsIndex" class="custom-control-label"></label>
            </div>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-10 form-group">
            <p class="font-weight-medium mb-0">{{ 'label-title.should-search-engine-follow-link' | translate }}</p>
          </div>
          <div class="col-2 text-end m-auto p-0">
            <div class="custom-control custom-switch text-end form-group">
              <input type="checkbox" id="metaRobotsFollow" formControlName="metaRobotsFollow" class="custom-control-input">
              <label for="metaRobotsFollow" class="custom-control-label"></label>
            </div>
          </div>
        </div>
      </div>
      <div class="border-bottom mb-3" *ngIf="tabType === 1">
        <div class="row mb-2">
          <label class="d-flex align-items-center col-9" for="password">{{'label-title.delivery-list-title' | translate}}</label>
          <div class="col-3">
            <ng-select [clearable]="false" [items]="tags" bindLabel="name"
              bindValue="id" formControlName="deliveryListHtmlTag">
            </ng-select>
          </div>
        </div>
        <div formArrayName="deliveryListTitle">
        <div class="mb-3" *ngFor="let name of deliveryListTitle.controls;let i = index">
          <div class="input-group">
            <div class="input-group-prepend">
              <span id="basic-addon1" class="input-group-text">{{this._lang.supportedLanguages[i].shorthand |
                uppercase}}</span>
            </div>
            <input type="text" (paste)="$event.preventDefault()"
              [required]="this._lang.supportedLanguages[i].shorthand === 'en'"
              aria-label="Username" aria-describedby="basic-addon1" [formControlName]="i" class="form-control"
              placeholder="{{'label-title.delivery-list-title' | translate }}">
            <div class="invalid-tooltip" *ngIf="name.errors?.required && name.touched">
                {{'label-title.delivery-list-title' | translate}} {{'label-title.is-required' | translate}}
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="border-bottom mb-3" *ngIf="tabType === 1">
        <div class="row mb-2">
          <label class="d-flex align-items-center col-9" for="password">{{'label-title.ads' | translate}}</label>
          <div class="col-3">
            <ng-select [clearable]="false" [items]="tags" bindLabel="name"
              bindValue="id" formControlName="advertiseHtmlTag">
            </ng-select>
          </div>
        </div>
        <div formArrayName="adsTitle">
          <div class="mb-3" *ngFor="let name of adsTitle.controls;let i = index">
            <div class="input-group">
              <div class="input-group-prepend">
                <span id="basic-addon1" class="input-group-text">{{this._lang.supportedLanguages[i].shorthand |
                  uppercase}}</span>
              </div>
              <input type="text" (paste)="$event.preventDefault()"
                [required]="this._lang.supportedLanguages[i].shorthand === 'en'"
                aria-label="Username" aria-describedby="basic-addon1" [formControlName]="i" class="form-control"
                placeholder="{{'label-title.ads' | translate }}">
              <div class="invalid-tooltip" *ngIf="name.errors?.required && name.touched">
                  {{'label-title.ads' | translate}} {{'label-title.is-required' | translate}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="border-bottom mb-3" *ngIf="tabType === 1">
        <div class="row mb-2">
          <label class="d-flex align-items-center col-9" for="password">{{'label-title.near-store-list' | translate}}</label>
          <div class="col-3">
            <ng-select [clearable]="false" [items]="tags" bindLabel="name"
              bindValue="id" formControlName="nearStoreListHtmlTag">
            </ng-select>
          </div>
        </div>
        <div formArrayName="nearStoreList">
          <div class="mb-3" *ngFor="let name of nearStoreList.controls;let i = index">
            <div class="input-group">
              <div class="input-group-prepend">
                <span id="basic-addon1" class="input-group-text">{{this._lang.supportedLanguages[i].shorthand |
                  uppercase}}</span>
              </div>
              <input type="text" (paste)="$event.preventDefault()"
                [required]="this._lang.supportedLanguages[i].shorthand === 'en'"
                aria-label="Username" aria-describedby="basic-addon1" [formControlName]="i" class="form-control"
                placeholder="{{'label-title.near-store-list' | translate }}">
              <div class="invalid-tooltip" *ngIf="name.errors?.required && name.touched">
                  {{'label-title.near-store-list' | translate}} {{'label-title.is-required' | translate}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="border-bottom mb-3" *ngIf="tabType === 1">
        <div class="row mb-2">
          <label class="d-flex align-items-center col-9" for="password">{{'label-title.offers-title' | translate}}</label>
          <div class="col-3">
            <ng-select [clearable]="false" [items]="tags" bindLabel="name"
              bindValue="id" formControlName="offerTitleHtmlTag">
            </ng-select>
          </div>
        </div>
        <div formArrayName="offerList">
          <div class="mb-3" *ngFor="let name of offerList.controls;let i = index">
            <div class="input-group">
              <div class="input-group-prepend">
                <span id="basic-addon1" class="input-group-text">{{this._lang.supportedLanguages[i].shorthand |
                  uppercase}}</span>
              </div>
              <input type="text" (paste)="$event.preventDefault()"
                [required]="this._lang.supportedLanguages[i].shorthand === 'en'"
                aria-label="Username" aria-describedby="basic-addon1" [formControlName]="i" class="form-control"
                placeholder="{{'label-title.offers-title' | translate }}">
              <div class="invalid-tooltip" *ngIf="name.errors?.required && name.touched">
                  {{'label-title.offers-title' | translate}} {{'label-title.is-required' | translate}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="border-bottom mb-3" *ngIf="tabType === 2">
        <div class="row mb-2">
          <label class="d-flex align-items-center col-9" for="menuTitle">{{'label-title.menu-title' | translate}}</label>
          <div class="col-3">
            <ng-select [clearable]="false" [items]="tags" bindLabel="name" bindValue="id" formControlName="menuTitleHtmlTag">
            </ng-select>
          </div>
        </div>
        <div formArrayName="menuTitle">
          <div class="mb-3" *ngFor="let name of menuTitle.controls;let i = index">
            <div class="input-group">
              <div class="input-group-prepend">
                <span id="basic-addon1" class="input-group-text">{{this._lang.supportedLanguages[i].shorthand |
                  uppercase}}</span>
              </div>
              <input type="text" (paste)="$event.preventDefault()"
                [required]="this._lang.supportedLanguages[i].shorthand === 'en'" aria-label="Username"
                aria-describedby="basic-addon1" [formControlName]="i" class="form-control"
                placeholder="{{'label-title.menu-title' | translate }}">
              <div class="invalid-tooltip" *ngIf="name.errors?.required && name.touched">
                  {{'label-title.menu-title' | translate}} {{'label-title.is-required' | translate}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="border-bottom mb-3" *ngIf="tabType === 2">
        <div class="row mb-2">
          <label class="d-flex align-items-center col-9" for="addressTitle">{{'label-title.address-title' | translate}}</label>
          <div class="col-3">
            <ng-select [clearable]="false" [items]="tags" bindLabel="name"
              bindValue="id" formControlName="addressTitleHtmlTag">
            </ng-select>
          </div>
        </div>
        <div formArrayName="addressTitle">
          <div class="mb-3" *ngFor="let name of addressTitle.controls;let i = index">
            <div class="input-group">
              <div class="input-group-prepend">
                <span id="basic-addon1" class="input-group-text">{{this._lang.supportedLanguages[i].shorthand |
                  uppercase}}</span>
              </div>
              <input type="text" (paste)="$event.preventDefault()"
                [required]="this._lang.supportedLanguages[i].shorthand === 'en'"
                aria-label="Username" aria-describedby="basic-addon1" [formControlName]="i" class="form-control"
                placeholder="{{'label-title.address-title' | translate }}">
              <div class="invalid-tooltip" *ngIf="name.errors?.required && name.touched">
                  {{'label-title.address-title' | translate}} {{'label-title.is-required' | translate}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="border-bottom mb-3" *ngIf="tabType === 2">
        <div class="row mb-2">
          <label class="d-flex align-items-center col-9" for="hoursTitle">{{'label-title.hours-title' | translate}}</label>
          <div class="col-3">
            <ng-select [clearable]="false" [items]="tags" bindLabel="name"
              bindValue="id" formControlName="hoursTitleHtmlTag">
            </ng-select>
          </div>
        </div>
        <div formArrayName="hoursTitle">
          <div class="mb-3" *ngFor="let name of hoursTitle.controls;let i = index">
            <div class="input-group">
              <div class="input-group-prepend">
                <span id="basic-addon1" class="input-group-text">{{this._lang.supportedLanguages[i].shorthand |
                  uppercase}}</span>
              </div>
              <input type="text" (paste)="$event.preventDefault()"
                [required]="this._lang.supportedLanguages[i].shorthand === 'en'"
                aria-label="Username" aria-describedby="basic-addon1" [formControlName]="i" class="form-control"
                placeholder="{{'label-title.hours-title' | translate }}">
              <div class="invalid-tooltip" *ngIf="name.errors?.required && name.touched">
                  {{'label-title.hours-title' | translate}} {{'label-title.is-required' | translate}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="border-bottom mb-3" *ngIf="tabType === 3">
        <div class="row mb-2">
          <label class="d-flex align-items-center col-9" for="password">{{'label-title.home-title' | translate}}</label>
          <div class="col-3">
            <ng-select [clearable]="false" [items]="tags" bindLabel="name"
              bindValue="id" formControlName="homeTitleHtmlTag">
            </ng-select>
          </div>
        </div>
        <div formArrayName="homeTitle">
          <div class="mb-3" *ngFor="let name of homeTitle.controls;let i = index">
            <div class="input-group">
              <div class="input-group-prepend">
                <span id="basic-addon1" class="input-group-text">{{this._lang.supportedLanguages[i].shorthand |
                  uppercase}}</span>
              </div>
              <input type="text" (paste)="$event.preventDefault()"
                [required]="this._lang.supportedLanguages[i].shorthand === 'en'"
                aria-label="Username" aria-describedby="basic-addon1" [formControlName]="i" class="form-control"
                placeholder="{{'label-title.home-title' | translate }}">
              <div class="invalid-tooltip" *ngIf="name.errors?.required && name.touched">
                  {{'label-title.home-title' | translate}} {{'label-title.is-required' | translate}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="border-bottom mb-3" *ngIf="tabType === 3">
        <div class="row mb-2">
          <label class="d-flex align-items-center col-9" for="password">{{'label-title.home-description' | translate}}</label>
          <div class="col-3">
            <ng-select [clearable]="false" [items]="tags" bindLabel="name"
              bindValue="id" formControlName="homeDescriptionHtmlTag">
            </ng-select>
          </div>
        </div>
        <div formArrayName="homeDescription">
          <div class="mb-3" *ngFor="let name of homeDescription.controls;let i = index">
            <div class="input-group">
              <div class="input-group-prepend">
                <span id="basic-addon1" class="input-group-text">{{this._lang.supportedLanguages[i].shorthand |
                  uppercase}}</span>
              </div>
              <input type="text" (paste)="$event.preventDefault()"
                [required]="this._lang.supportedLanguages[i].shorthand === 'en'"
                aria-label="Username" aria-describedby="basic-addon1" [formControlName]="i" class="form-control"
                placeholder="{{'label-title.home-description' | translate }}">
              <div class="invalid-tooltip" *ngIf="name.errors?.required && name.touched">
                  {{'label-title.home-description' | translate}} {{'label-title.is-required' | translate}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="border-bottom mb-3" *ngIf="tabType === 3">
        <div class="row mb-2">
          <label class="d-flex align-items-center col-9" for="password">{{'label-title.delivery-man-title' | translate}}</label>
          <div class="col-3">
            <ng-select [clearable]="false" [items]="tags" bindLabel="name"
              bindValue="id" formControlName="providerTitleHtmlTag">
            </ng-select>
          </div>
        </div>
        <div formArrayName="providerTitle">
          <div class="mb-3" *ngFor="let name of providerTitle.controls;let i = index">
            <div class="input-group">
              <div class="input-group-prepend">
                <span id="basic-addon1" class="input-group-text">{{this._lang.supportedLanguages[i].shorthand |
                  uppercase}}</span>
              </div>
              <input type="text" (paste)="$event.preventDefault()"
                [required]="this._lang.supportedLanguages[i].shorthand === 'en'"
                aria-label="Username" aria-describedby="basic-addon1" [formControlName]="i" class="form-control"
                placeholder="{{'label-title.delivery-man-title' | translate }}">
              <div class="invalid-tooltip" *ngIf="name.errors?.required && name.touched">
                  {{'label-title.delivery-man-title' | translate}} {{'label-title.is-required' | translate}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="border-bottom mb-3" *ngIf="tabType === 3">
        <div class="row mb-2">
          <label class="d-flex align-items-center col-9" for="password">{{'label-title.delivery-man-description' |
            translate}}</label>
          <div class="col-3">
            <ng-select [clearable]="false" [items]="tags" bindLabel="name"
              bindValue="id" formControlName="providerDescriptionHtmlTag">
            </ng-select>
          </div>
        </div>
        <div formArrayName="providerDescription">
          <div class="mb-3" *ngFor="let name of providerDescription.controls;let i = index">
            <div class="input-group">
              <div class="input-group-prepend">
                <span id="basic-addon1" class="input-group-text">{{this._lang.supportedLanguages[i].shorthand |
                  uppercase}}</span>
              </div>
              <input type="text" (paste)="$event.preventDefault()"
                [required]="this._lang.supportedLanguages[i].shorthand === 'en'"
                aria-label="Username" aria-describedby="basic-addon1" [formControlName]="i" class="form-control"
                placeholder="{{'label-title.delivery-man-description' | translate }}">
              <div class="invalid-tooltip" *ngIf="name.errors?.required && name.touched">
                  {{'label-title.delivery-man-description' | translate}} {{'label-title.is-required' | translate}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="border-bottom mb-3" *ngIf="tabType === 3">
        <div class="row mb-2">
          <label class="d-flex align-items-center col-9" for="password">{{'label-title.store-title' | translate}}</label>
          <div class="col-3">
            <ng-select [clearable]="false" [items]="tags" bindLabel="name"
              bindValue="id" formControlName="storeTitleHtmlTag">
            </ng-select>
          </div>
        </div>
        <div formArrayName="storeTitle">
          <div class="mb-3" *ngFor="let name of storeTitle.controls;let i = index">
            <div class="input-group">
              <div class="input-group-prepend">
                <span id="basic-addon1" class="input-group-text">{{this._lang.supportedLanguages[i].shorthand |
                  uppercase}}</span>
              </div>
              <input type="text" (paste)="$event.preventDefault()"
                [required]="this._lang.supportedLanguages[i].shorthand === 'en'"
                aria-label="Username" aria-describedby="basic-addon1" [formControlName]="i" class="form-control"
                placeholder="{{'label-title.store-title' | translate }}">
              <div class="invalid-tooltip" *ngIf="name.errors?.required && name.touched">
                  {{'label-title.store-title' | translate}} {{'label-title.is-required' | translate}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="border-bottom mb-3" *ngIf="tabType === 3">
        <div class="row mb-2">
          <label class="d-flex align-items-center col-9" for="password">{{'label-title.store-description' | translate}}</label>
          <div class="col-3">
            <ng-select [clearable]="false" [items]="tags" bindLabel="name"
              bindValue="id" formControlName="storeDescriptionHtmlTag">
            </ng-select>
          </div>
        </div>
        <div formArrayName="storeDescription">
          <div class="mb-3" *ngFor="let name of storeDescription.controls;let i = index">
            <div class="input-group">
              <div class="input-group-prepend">
                <span id="basic-addon1" class="input-group-text">{{this._lang.supportedLanguages[i].shorthand |
                  uppercase}}</span>
              </div>
              <input type="text" (paste)="$event.preventDefault()"
                [required]="this._lang.supportedLanguages[i].shorthand === 'en'"
                aria-label="Username" aria-describedby="basic-addon1" [formControlName]="i" class="form-control"
                placeholder="{{'label-title.store-description' | translate }}">
              <div class="invalid-tooltip" *ngIf="name.errors?.required && name.touched">
                  {{'label-title.store-description' | translate}} {{'label-title.is-required' | translate}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <ng-container>
      <button type="button" class="btn btn-outline-primary"
        (click)="modalRef.hide()">{{'button-title.cancel' | translate }}</button>
      <button type="submit" (click)="updateSeoTags()" class="btn btn-primary float-right">{{ 'button-title.save' | translate}}</button>
    </ng-container> 
  </div>
</ng-template>
