<div class="row">
  <div class="col-12">
    <app-heading></app-heading>
    <app-breadcrumb></app-breadcrumb>
  </div>
  <div class="col-12">
    <div class="display-options-container mb-3">
      <div class="d-flex justify-content-between">
        <div class="d-flex flex-wrap" >
          <ng-container>
            <div class="d-block mr-1 mb-2" style="width: 200px;">
              <ng-select appearance="outline" class="custom rounded-ng-select"
                notFoundText="{{'validation-title.no-data-found' | translate}}" #agreeSelect labelForId="yesno"
                [searchable]="true" [clearable]="false" (change)="this.is_clear_disabled = false ;"
                placeholder="{{'label-title.name' | translate}}" [(ngModel)]="admin_name">
                <ng-option value="all">{{'label-title.all' | translate}}</ng-option>
                <ng-option [value]="admin._id" *ngFor="let admin of admin_list">{{admin.username}}</ng-option>
              </ng-select>
            </div>
            <div class="d-block mr-1 mb-2" style="width: 200px;">
              <ng-select appearance="outline" class="custom rounded-ng-select"
                notFoundText="{{'validation-title.no-data-found' | translate}}" #agreeSelect labelForId="yesno"
                [searchable]="true" [clearable]="false" placeholder="{{'label-title.type' | translate}}"
                [(ngModel)]="log_type" (change)="this.is_clear_disabled = false ;">
                <ng-option value="all">{{'label-title.all' | translate}}</ng-option>
                <ng-option [value]="value" *ngFor="let value of UPDATE_LOG_TYPE_ARRAY">
                  {{UPDATE_LOG_STRING[value] | translate}}
                </ng-option>
              </ng-select>
            </div>
            <div class="d-block mr-1 mb-2" style="width: 200px;">
              <ng-select appearance="outline" class="custom rounded-ng-select"
                notFoundText="{{'validation-title.no-data-found' | translate}}" #agreeSelect labelForId="yesno"
                [searchable]="true" [clearable]="false" (change)="this.is_clear_disabled = false ;"
                placeholder="{{'label-title.action' | translate}}" [(ngModel)]="info_detail">
                <ng-option value="all">{{'label-title.all' | translate}}</ng-option>
                <ng-option [value]="LOG_TYPE_VALUE.ADD">
                  {{LOG_TYPE_STRING.ADDED | translate}}
                </ng-option>
                <ng-option [value]="LOG_TYPE_VALUE.UPDATE">
                  {{LOG_TYPE_STRING.UPDATED | translate}}
                </ng-option>
                <ng-option [value]="LOG_TYPE_VALUE.DELETE">
                  {{LOG_TYPE_STRING.DELETED | translate}}
                </ng-option>
              </ng-select>
            </div>
            <div class="position-relative dateWidth">
              <div class="date-sm float-md-left mr-1 mb-1">
                <input [hidden]="direction=='rtl'" class="form-control theme_date_picker"
                  placeholder="{{'label-title.select-dates' | translate}}"
                  [bsConfig]="{ selectWeekDateRange: true, containerClass: 'datetrans' }" #drp="bsDaterangepicker"
                  [(ngModel)]="filter_date_range" bsDaterangepicker [container]="'html'" [readOnly]="true"
                  [maxDate]="todayDate" [minDate]="created_date" (ngModelChange)="this.is_clear_disabled = false ;">
                <input [hidden]="direction=='ltr'" class="form-control theme_date_picker"
                  placeholder="{{'label-title.select-dates' | translate}}"
                  [bsConfig]="{ selectWeekDateRange: true, containerClass: 'rtldatetrans' }" #drp="bsDaterangepicker"
                  [(ngModel)]="filter_date_range" bsDaterangepicker [container]="'html'" [readOnly]="true"
                  [maxDate]="todayDate" [minDate]="created_date" (ngModelChange)="this.is_clear_disabled = false ;">
              </div>
            </div>
 
            <div class=" d-inline-block mr-1 mb-1 align-top">
              <div class="">
                <button id="button-basic3" type="button" class="btn btn-primary btn-xs mr-1 mb-1" (click)="apply()">
                  {{'button-title.apply' | translate}} <span class="caret"></span>
                </button>
              </div>
            </div>
            <div class=" d-inline-block mr-1 mb-1 align-top">
              <div class="">
                <button id="button-basic4" type="button" class="btn btn-outline-primary btn-xs mr-1 mb-1"
                  (click)="clear()" [disabled]="is_clear_disabled">
                  {{'button-title.clear-filter' | translate}} <span class="caret"></span>
                </button>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="d-flex justify-content-end mb-2">
          <div class="float-right">
            <span class="text-muted text-small">{{'label-title.per-page' | translate}} </span>
            <span dropdown class="d-inline-block position-relative">
              <button class="btn btn-outline-primary btn-xs dropdown-toggle btn_display_option" type="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" dropdownToggle>
                {{itemsPerPage}}
              </button>
              <div class="dropdown-menu dropdown-menu-right dropdown-menu-sm text-right" *dropdownMenu>
                <ul>
                  <li role="menuitem" *ngFor="let item of itemOptionsPerPage" class="c-pointer"><a
                      [ngClass]="item === itemsPerPage ? 'dropdown-item active' : 'dropdown-item'"
                      (click)="onChangeItemsPerPage(item)">{{item | translate}}</a></li>
                </ul>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 
<div class="separator mb-4"></div>
<ng-container>
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
      <div class="card">
        <div class="card-body">
        
            <table class="table table-hover mb-0 tableScroll" aria-describedby="">
              <thead class="thead-light">
                <tr>
                  <th scope="col">
                    {{'label-title.at' | translate | titlecase}}
                  </th>
                  <th scope="col">
                    {{'label-title.name' | translate}}
                  </th>
                  <th scope="col">
                    {{'label-title.type' | translate}}
                  </th>
                </tr>
              </thead>
              <tbody *ngIf="logs_list?.length>0">
                <tr *ngFor="let log of logs_list" (click)="logChangesModal(changelogs,log)"  class="c-pointer">
                  <td class="text-nowrap">
                    <span *ngIf="log.created_at">{{log.created_at | date:_helper.DATE_FORMAT.DD_MM_YYYY_HH_MM_A}}</span>
                  </td>
                  <td class="text-nowrap">
                    <span *ngIf="log.user_detail">{{log.user_detail?.username}}
                      ({{log.user_detail?.email}})</span>
                    <span *ngIf="!log.user_detail">{{log.username}} ({{log.email}})</span>
                  </td>
                  <td class="text-nowrap">
                    <span>{{UPDATE_LOG_STRING[log.setting_type] | translate}}</span>
                    <span *ngIf="log.info?.length > 0"> : {{ log?.info }}</span>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="!logs_list || logs_list?.length==0">
                <tr>
                  <th colspan="10" class="text-center" scope="">
                    <span>{{ 'label-title.no-record-found' | translate }}</span>
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <div class="row mt-2" *ngIf="logs_list && logs_list.length > 0" >
    <div class="col-12">
        <pagination [totalItems]="count" [rotate]="true" [itemsPerPage]="itemsPerPage" [maxSize]="5"
            class="justify-content-center" [customNextTemplate]="nextTemplate" (pageChanged)="pageChanged($event)"
            [customPreviousTemplate]="prevTemplate">
        </pagination>
    </div>
  </div>
  <ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-arrow-right'></i>
  </ng-template>
  
  <ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-arrow-left'></i>
  </ng-template>
</ng-container>
 
<ng-template #changelogs>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      {{UPDATE_LOG_STRING[selected_log?.setting_type] | translate}}
      <span *ngIf="selected_log?.info && selected_log?.info != ''"> : {{selected_log?.info}}</span>
 
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closelogChangesModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="border-bottom-left-radius: 0.3rem;border-bottom-right-radius: 0.3rem;">
    <div class="row ">
      <div class="col-12" style="max-height: 400px; overflow: auto;">
 
        <ul *ngIf="selected_log?.info_detail && selected_log?.info_detail != ''">
          <li> <span style="text-transform:uppercase">{{LOG_TYPE_STRING[selected_log?.info_detail] | translate}}</span>
            <span *ngIf="selected_log?.meta_data?.info_detail"> : {{ selected_log?.meta_data?.info_detail }} </span>
          </li>
        </ul>
 
        <table class="table table-bordered " *ngIf="selected_log?.changes.length > 0" aria-describedby="">
          <thead class="thead-light" style="position: sticky; top: -1px;">
            <tr>
              <th scope="col">
                {{'label-title.name' | translate}}
              </th>
              <th scope="col">
                {{'label-title.previous-value' | translate}}
              </th>
              <th scope="col">
                {{'label-title.new-value' | translate}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="body-tr" *ngFor="let change of selected_log?.changes">
              <td>
                {{change.field}}
              </td>
              <td class="col-width">
                {{change.oldValue}}
              </td>
              <td class="col-width">
                {{change.newValue}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-template>