<div class="row app-row ">
  <div class="col-12">
    <app-list-item-header [displayMode]="displayMode" [showItemsPerPage]="false" [itemsPerPage]="itemsPerPage"
      [selectAllState]="selectAllState" [showDisplayMode]="false" [showCheckboxMode]="false"
      [showCheckboxModeList]="['Set Tax','Out of stock','Soft delete']" [itemOrder]="{ label: 'label-title.name', value: 'name' }"
      [itemOptionsOrders]="[{ label: 'label-title.name', value: 'name' }]" (changeDisplayMode)="changeDisplayMode($event)"
      (addNewItem)="showAddNewModal()" (selectAllChange)="selectAllChange($event)"
      (itemsPerPageChange)="itemsPerPageChange($event)" (changeOrderBy)="changeOrderBy($event)" (onChangeStore)="_initData()"
      (searchKeyUp)="searchKeyUp($event)">
    </app-list-item-header>
    <app-add-new-item-modal #addNewItemModalRef></app-add-new-item-modal>

    <div class="row">
      <div class="col-12 list">
        <div class="row">
          <div class="col-12 text-center" *ngIf="items && items.length === 0 || (items | searchpipe:search_string: [search_area])?.length === 0">
            <p>{{'label-title.items-not-found' | translate}}</p>
          </div>
          <ng-container *ngIf="items && items.length !== 0">
            <div [ngClass]="{'softdelete':!p.is_visible_in_store}" class="col-xl-4 col-lg-4 col-12 col-sm-6 mb-4"
              *ngFor="let p of items | searchpipe:search_string:[search_area]; let i=index" [contextMenu]="basicMenu"
              [contextMenuSubject]="p">
              <context-menu #basicMenu *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
                <ng-template contextMenuItem let-item (execute)="onContextMenuClick('copy',p)">
                  <i class="simple-icon-docs mr-1"></i> <span>{{ 'label-title.copy' | translate }}</span>
                </ng-template>
                <ng-template contextMenuItem let-item (execute)="onContextMenuClick('out-of-stock',p)">
                  <i class="simple-icon-drawer mr-1"></i> <span>{{p.is_item_in_stock ? ('label-title.out-of-stock' | translate)
                    : ('label-title.in-stock' | translate) }}</span>
                </ng-template>
                <ng-template contextMenuItem let-item (execute)="onContextMenuClick('delete',p)">
                  <i class="simple-icon-trash mr-1"></i><span>{{p.is_visible_in_store ? ('label-title.soft-delete' | translate)
                    : ('label-title.visible' | translate)}}</span>
                </ng-template>
              </context-menu>
              <div [ngClass]="{'card': true, 'text-primary':isSelected(p)}" (click)="showAddNewModal(true,p._id)">
                <div class="card d-flex flex-row">
                  <a class="d-flex" href="javascript:;">
                    <img (error)="$event.target.src = DEFAULT_IMAGE" [src]="IMAGE_URL + p.image_url[0]" [alt]="p.title"
                      class="dynamic_image rounded-circle m-4 align-self-center list-thumbnail-letters small" />
                    <span *ngIf="!p.is_item_in_stock"
                      class="badge badge-pill badge-danger badge-top-right position-absolute">{{'label-title.out-of-stock' |
                      translate}}</span>
                  </a>
                  <div class=" d-flex flex-grow-1 min-width-zero">
                    <div
                      class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                      <div class="min-width-zero" *ngIf="p.name">
                        <a routerLink="./">
                          <div *ngIf="p.name[_lang.selectedlanguageIndex]; then thenpart; else elsepart"></div>
                          <ng-template #thenpart>{{p.name[_lang.selectedlanguageIndex]}}</ng-template>
                          <ng-template #elsepart>{{p.name[0]}}</ng-template>
                        </a>
                        <p class="mb-2 text-muted text-small">{{p.category}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>

    </div>

    <ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
      <i class='simple-icon-arrow-right'></i>
    </ng-template>
    <ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
      <i class='simple-icon-arrow-left'></i>
    </ng-template>


  </div> 
</div>
<app-add-new-sub-category-modal #addNewSubCategoryRef  [subcategories]="subcategories"></app-add-new-sub-category-modal> 
  <app-application-menu>
  <div class="p-4 h-100">
      <h5 class="font-weight-bold">{{'label-title.sub-category' | translate}}</h5>
      <perfect-scrollbar class="scroll h-85 p-0" [config]="{suppressScrollX: true, wheelPropagation: true}">
        <ng-container *ngFor="let subcategory of subcategories;let i=index">
          <hr>
          <div class="row px-0" style="cursor: pointer;" [ngClass]="{'text-primary':isSubcategorySelected(subcategory)}">
            <div class="col-sm-1 col-1">
              <span *ngIf="subcategory.is_visible_in_store" class="align-middle border-success log-indicator"></span>
              <span *ngIf="!subcategory.is_visible_in_store" class="align-middle border-danger log-indicator"></span>
          </div>
            <div (click)="onSelectSubcategory(subcategory._id)" class="col-6  text-truncate">{{subcategory.name |
              langpipe}}</div>  
            <div *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)" class="col-5 text-right" (click)="showAddNewSubCategoryModal(true,subcategory._id)"><span *ngIf="!this._helper.selected_city._id"
                class="badge badge-pill badge-outline-primary c-pointer">{{'button-title.edit' | translate}}</span></div>
          </div>
          <hr *ngIf="i == subcategories.length-1">
        </ng-container>
        <div class="d-flex align-items-center justify-content-center" style="height: calc(100vh - 270px);" *ngIf="(subcategories && subcategories.length == 0) || !subcategories">
          {{'label-title.no-record-found' | translate}}
        </div>
      </perfect-scrollbar>
      <div class="row">
        <div class="col-12 p-4 text-center border-top" *ngIf="_helper.has_permission(_helper.PERMISSION.ADD)">
          <button type="button" *ngIf="!this._helper.selected_city._id" [disabled]="!_helper.selected_store_id" class="btn btn-primary"
            (click)="showAddNewSubCategoryModal()">{{ 'button-title.add-new' |
            translate}}</button>
        </div>
      </div>
  </div>
</app-application-menu>
<set-store-id-model #storeModalRef></set-store-id-model>
