.adress tbody tr td {
    vertical-align: middle;
    border-radius: 3px;
    padding: 5px;
    max-width: 450px;
}

.adress .glyph-icon {
    font-size: 24px;
    padding-right: 10px;
}

.adress h6 {
    font-weight: bold;
    margin-top: 10px;
}
.truncate{
    white-space: unset;
}

.fees-border-bottom {
    border-bottom: 1px solid #ed7117 !important;
}

.discount-border-bottom {
    border-bottom: 3px solid #ed7117 !important;
}