<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{order ? order.id + ' - ' : ''}}{{'heading-title.table-booking-order' |
            translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div *ngIf="order" class="modal-body p-0">
        <tabset class="card-tabs truncate" [justified]="true">
            <tab (selectTab)="onSelectTab(false)" *ngIf="true" heading="{{'heading-title.basic-details' | translate | uppercase }}" class="card-body">
                <div class="">
                    <div class="d-flex flex-row justify-content-between mb-2">
                        <div class="d-flex w-40 flex-column text-left  align-middle">
                            <p class="font-weight-bold invoice p-0 m-0 overflow-hidden"> {{'label-title.invoice' |
                                translate}} #: {{order.id}} </p>
                            <p class="font-weight-bold invoice p-0 m-0 overflow-hidden"
                                *ngIf="order.orderedAt && timezone_for_display_date">
                                {{_helper.moment(order.orderedAt).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.MOMENT_DD_MMM_YYYY)}}
                                {{_helper.moment(order.orderedAt).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.HH_MM_A)}}
                            </p>
                        </div><span class="btn btn-primary default mb-1 font-weight-bold"
                            *ngIf="order.deliveryAt && timezone_for_display_date"> Table {{order.table_no}}<br> Booked
                            At :
                            {{_helper.moment(order.deliveryAt).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.MOMENT_DD_MMM_YYYY)}}
                            {{_helper.moment(order.deliveryAt).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.HH_MM_A)}}<br>For
                            {{order.no_of_persons}} person</span>
                    </div>

                    <h5 *ngIf="order.delivery_type === 3" class="card-title font-weight-bold">{{'label-title.order-by' |
                        translate}}</h5>
                    <h5 *ngIf="order.delivery_type === 2" class="card-title font-weight-bold">
                        {{'label-title.delivery-details' | translate}}</h5>
                    <table aria-describedby="" class="mb-2 w-100 info">
                        <th></th>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="d-flex flex-row mb-1 justify-content-between align-items-center">
                                        <div class=" flex-fill">
                                            <a>
                                                <h3 class="font-weight-medium mb-0">{{order.order_by_name}}</h3>

                                            </a>
                                        </div>
                                        <div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex flex-row mb-1 justify-content-between align-items-center">
                                        <div class=" flex-fill">
                                            <a>
                                                <h3 class="font-weight-medium mb-0">{{order.order_by_phone}}</h3>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table aria-describedby="" class="w-100" class="adress">
                        <th></th>
                        <tbody>
                            <tr class="w-100">
                                <td>
                                    <div class="d-flex flex-row mb-1 justify-content-between align-items-center">
                                        <div class=" flex-fill">
                                            <div class="w-100 d-flex flex-row mb-1 justify-content-between ">
                                                <div>
                                                    <div class="glyph-icon simple-icon-location-pin mt-2"
                                                        style="/* margin-bottom: 50px; */font-size: 24px;padding-right: 10px;">
                                                    </div>
                                                </div>
                                                <div class="w-100 flex-fill">
                                                    <a class="w-100">
                                                        <h4 class="font-weight-medium mb-0">{{order.order_for_address}}
                                                            <span
                                                                *ngIf="order.order_for_flat_no">{{'label-title.flat-no'|
                                                                translate}} - {{order.order_for_flat_no}},</span>
                                                            <span *ngIf="order.order_for_street">{{'label-title.street'|
                                                                translate}} - {{order.order_for_street}} ,</span>
                                                            <span
                                                                *ngIf="order.order_for_landmark">{{'label-title.landmark'|
                                                                translate}} - {{order.order_for_landmark}}</span>
                                                        </h4>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6 class="text-secondary text-muted mb-0 text-medium">{{order.distance |
                                        roundpipe:_helper.to_fixed_number}} <span
                                            *ngIf="!order.is_distance_unit_mile">{{'label-title.km' |
                                            translate}}</span><span
                                            *ngIf="order.is_distance_unit_mile">{{'label-title.mile' |
                                            translate}}</span>, {{order.time}} {{'mins' | lowercase}}</h6>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <h5 *ngIf="order.delivery_type === 3" class="card-title font-weight-bold">Store</h5>
                    <table aria-describedby="" class="mb-2 w-100 store">
                        <th></th>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="d-flex flex-row mb-1 justify-content-between align-items-center">
                                        <div class=" flex-fill">
                                            <a>
                                                <h3 class="font-weight-medium mb-0">{{order.order_to_name}}</h3>
                                            </a>
                                        </div>
                                        <div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex flex-row mb-1 justify-content-between align-items-center">
                                        <div class=" flex-fill">
                                            <a>
                                                <h5 class="font-weight-medium mb-0">{{order.order_to_email}}</h5>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex flex-row mb-1 justify-content-between align-items-center">
                                        <div class=" flex-fill">
                                            <a>
                                                <h3 class="font-weight-medium mb-0">{{order.order_to_phone}}</h3>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table aria-describedby="" class="w-100 mb-4" class="address">
                        <th></th>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="d-flex flex-row mb-1 justify-content-between align-items-center">
                                        <div class=" flex-fill">
                                            <div class="d-flex flex-row mb-1 justify-content-between ">
                                                <div>
                                                    <div class="glyph-icon simple-icon-location-pin mt-2"
                                                        style="/* margin-bottom: 50px; */font-size: 24px;padding-right: 10px;">
                                                    </div>
                                                </div>
                                                <div class="w-100 flex-fill">
                                                    <a>
                                                        <h4 class="font-weight-medium mb-0">{{order.order_to_address}}
                                                            <span
                                                                *ngIf="order.order_to_flat_no">{{'label-title.flat-no'|
                                                                translate}} - {{order.order_to_flat_no}},</span>
                                                            <span *ngIf="order.order_to_street">{{'label-title.street'|
                                                                translate}} - {{order.order_to_street}} ,</span>
                                                            <span
                                                                *ngIf="order.order_to_landmark">{{'label-title.landmark'|
                                                                translate}} - {{order.order_to_landmark}}</span>
                                                        </h4>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div
                        class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center delivery">
                        <div *ngIf="order.pickup_note !== ''">
                            <h6 class="text-muted mb-0 text-medium ">{{'label-title.pickup-note' | translate}} :
                                {{order.pickup_note}}</h6>
                        </div>
                    </div>
                    <div>
                        <div class="text-danger"
                            *ngIf="order.cancellation_reason !== '' && order.cancellation_reason !== 'Enter Your Reason'">
                            <h6>{{ 'label-title.cancellation-reason' | translate }}: {{order.cancellation_reason |
                                translate}}</h6>
                        </div>
                    </div>
                </div>
            </tab>
            <tab (selectTab)="onSelectTab(false)" *ngIf="order.delivery_type !== 2" heading="{{'heading-title.order-details' | translate | uppercase }}"
                class="card-body">
                <div>
                    <div class="mb-3" *ngFor="let items of order.order_details">
                        <div class="" *ngFor="let item of items.items">
                            <div class="pb-2 mb-2 item">
                                <h3 class="font-weight-bold">{{item.item_name}}
                                    <div class="d-flex float-right">
                                        <a class="price">
                                            <p class=" mb-0 font-weight-bold item-price">
                                                {{currency_sign}}&nbsp;{{item.total_item_price |
                                                roundpipe:_helper.to_fixed_number}}</p>
                                            <p class="text-muted mb-0 item-tax">( {{item.quantity}} X {{item.item_price
                                                | roundpipe:_helper.to_fixed_number}} )</p>
                                        </a>
                                    </div>
                                    <span class="badge float-left item-qun mr-3 mb-3"> {{item.quantity}}
                                        {{'label-title.items' | translate}}</span>
                                </h3>
                            </div>
                            <h6 style="font-weight: bolder;">{{item.note_for_item}}</h6>
                            <table aria-describedby="" *ngIf="item.specifications.length" class="table table-sm table-borderless mt-2">
                                <th></th>
                                <tbody>
                                    <tr *ngFor="let spec of item.specifications">
                                        <td class="p-0 pb-1 w-10"><span
                                                class="log-indicator border-theme-2 align-middle"></span></td>
                                        <td class="p-0 pb-1">
                                            <a href="javascript:;" class="w-40 w-sm-100">
                                                <span class="list-item-heading mb-1 color-theme-1">
                                                    {{spec.name || 'N/A'}}
                                                    <h6 class="mb-2 text-muted text-medium float-right inline-flex">
                                                        {{currency_sign}}&nbsp;{{spec.price |
                                                        roundpipe:_helper.to_fixed_number}}</h6>
                                                </span>
                                                <ng-container *ngFor="let modifier of spec.list">
                                                    <p *ngIf="modifier.name" class="mb-2 text-muted text-medium">
                                                        {{modifier.name.length ? (modifier.name ||
                                                        modifier.name[_langService.selectedlanguageIndex]) : ''}}</p>
                                                    <p *ngIf="!modifier.name" class="mb-2 text-muted text-medium">N/A
                                                    </p>
                                                </ng-container>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="mt-4">
                                <hr>
                            </div>
                        </div>
                    </div>
                    <div>
                        <table aria-describedby="" class="table table-borderless d-flex justify-content-end mb-0">
                            <th></th>
                            <tbody>
                                <tr>
                                    <td class="text-semi-muted">{{'label-title.cart-total' | translate}} :</td>
                                    <td class="text-right">{{currency_sign}}&nbsp;{{order.total_cart_price |
                                        roundpipe:_helper.to_fixed_number}}</td>
                                </tr>
                                
                                <tr>
                                    <td class="text-semi-muted">{{'label-title.tax' | translate}} :</td>
                                    <td class="text-right">{{currency_sign}}&nbsp;{{order.total_store_tax_price |
                                        roundpipe:_helper.to_fixed_number}}</td>
                                </tr>
                                <tr>
                                    <td class="text-semi-muted">{{'label-title.booking-fees' | translate}} :</td>
                                    <td class="text-right">{{currency_sign}}&nbsp;{{order.booking_fess |
                                        roundpipe:_helper.to_fixed_number}}</td>
                                </tr>
                                <tr class="font-weight-bold">
                                    <td class="text-semi ">{{'label-title.total-cart-price' | translate}}:</td>
                                    <td class="text-right">{{currency_sign}}&nbsp;{{order.total_order_price |
                                        roundpipe:_helper.to_fixed_number}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </tab>
            <tab (selectTab)="onSelectTab(true)" id="htmlContent" *ngIf="true" active="true" heading="{{'heading-title.invoice' | translate | uppercase }}"
                class="card-body">
                <div class="p-2 mb-2">
                    <div id="test_order"></div>
                    <div class="form-group row cardInvoice pt-2 pb-2 pl-1 pr-1">
                        <div class="col-sm-7 col-7">
                            <a>
                                <h6 class="font-weight-bold mb-0">{{'label-title.user-paid' | translate}}
                                    {{currency_sign}} {{order.user_pay_payment | roundpipe:_helper.to_fixed_number}} by
                                    {{order.payment_method}}</h6>
                            </a>
                        </div>
                        <div class="col-sm-5 col-5">
                            <h4 class="mb-0 font-weight-bold float-right">{{'label-title.total' | translate}} : {{currency_sign}}
                                {{order.total | roundpipe:_helper.to_fixed_number}}</h4>
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="fees-border-bottom d-flex flex-row justify-content-between  mb-2 pb-2 ng-star-inserted" *ngIf="order.delivery_price > 0">
                        <div class="flex-grow-1">
                            <h6 class="color-theme-1 font-weight-bold mb-0">{{'label-title.delivery-fees' | translate}}
                            </h6>
                        </div>
                        <div class="comment-likes">
                            <span class="post-icon">
                                <h6 class="color-theme-1 font-weight-bold mb-0">
                                    {{currency_sign}}&nbsp;{{order.delivery_price | roundpipe:_helper.to_fixed_number}}
                                </h6>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex flex-row  mb-3 ng-star-inserted" *ngIf="order.service_price > 0">
                        <div class="flex-grow-1">
                            <h6 class="mb-0">{{'label-title.delivery-price' | translate}}</h6>
                        </div>
                        <div class="comment-likes">
                            <span class="post-icon">
                                <h6 class="mb-0">{{currency_sign}}&nbsp;{{order.service_price |
                                    roundpipe:_helper.to_fixed_number}}</h6>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex flex-row  mb-3 ng-star-inserted" *ngIf="order.total_admin_tax_price > 0">
                        <div class="flex-grow-1">
                            <h6 class="mb-0">{{'label-title.tax-price' | translate}}</h6>
                        </div>
                        <div class="comment-likes">
                            <span class="post-icon">
                                <h6 class="mb-0">{{currency_sign}}&nbsp;{{order.total_admin_tax_price |
                                    roundpipe:_helper.to_fixed_number}}</h6>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="fees-border-bottom d-flex flex-row justify-content-between  mb-2 pb-2 ng-star-inserted">
                        <div class="flex-grow-1">
                            <h6 class="color-theme-1 font-weight-bold mb-0">{{'label-title.order-price' | translate}}
                            </h6>
                        </div>
                        <div class="comment-likes">
                            <span class="post-icon">
                                <h6 class="color-theme-1 font-weight-bold mb-0">
                                    {{currency_sign}}&nbsp;{{order.total_order_price |
                                    roundpipe:_helper.to_fixed_number}}</h6>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex flex-row  mb-3 ng-star-inserted">
                        <div class="flex-grow-1">
                            <h6 class="mb-0">{{'label-title.cart-price' | translate}}</h6>
                        </div>
                        <div class="comment-likes">
                            <span class="post-icon">
                                <h6 class="mb-0">{{currency_sign}}&nbsp;{{order.total_cart_price |
                                    roundpipe:_helper.to_fixed_number}}</h6>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex flex-row  mb-3 ng-star-inserted" *ngIf="order.total_store_tax_price > 0 ">
                        <div class="flex-grow-1">
                            <h6 class="mb-0">{{'label-title.tax-price' | translate}} <span
                                    style="font-size: 70%;">&nbsp;&nbsp;<span
                                        *ngFor="let tax of order.taxes">{{tax.tax_name[0]}}&nbsp;{{tax.tax}}%&nbsp;</span></span>
                            </h6>
                        </div>
                        <div class="comment-likes">
                            <span class="post-icon">
                                <h6 class="mb-0">{{currency_sign}}&nbsp;{{order.total_store_tax_price |
                                    roundpipe:_helper.to_fixed_number}}</h6>
                            </span>
                        </div>
                    </div>
                   
                </div>
                <div class="mb-4">
                    <div
                        class="discount-border-bottom d-flex flex-row justify-content-between  mb-2 pb-3 ng-star-inserted">
                        <div class="flex-grow-1">
                            <h6 class="color-theme-1 font-weight-bold mb-0">{{'label-title.discount' | translate}}</h6>
                        </div>
                        <div class="comment-likes">
                            <span class="post-icon">
                                <h6 class="color-theme-1 font-weight-bold mb-0">{{currency_sign}}&nbsp;{{order.discount
                                    | roundpipe:_helper.to_fixed_number}}</h6>
                            </span>
                        </div>
                    </div>
                    <div
                        class="discount-border-bottom d-flex flex-row justify-content-between  mb-2 pb-3 ng-star-inserted">
                        <div class="flex-grow-1">
                            <h6 class="color-theme-1 font-weight-bold mb-0">{{'label-title.booking-fees' | translate}}
                            </h6>
                        </div>
                        <div class="comment-likes">
                            <span class="post-icon">
                                <h6 class="color-theme-1 font-weight-bold mb-0">
                                    {{currency_sign}}&nbsp;{{order.booking_fess | roundpipe:_helper.to_fixed_number}}
                                </h6>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex flex-row  mb-3 ng-star-inserted">
                        <div class="flex-grow-1">
                            <h6 class="mb-0">{{'label-title.store-bear-delivery-fee' | translate}}</h6>
                        </div>
                        <div class="comment-likes">
                            <span class="post-icon">
                                <h6 class="mb-0"> {{order.is_store_pay_delivery_fees ? ('label-title.yes' | translate) :
                                    ('label-title.no' | translate)}}</h6>

                            </span>
                        </div>
                    </div>
                    <div class="d-flex flex-row border-bottom  mb-3 pb-3 ng-star-inserted">
                        <div class="flex-grow-1">
                            <h6 class="mb-0">{{'label-title.deliveryman-paid-order-cash-to-store' | translate}}</h6>
                        </div>
                        <div class="comment-likes">
                            <span class="post-icon">
                                <h6 class="mb-0"> {{order.is_order_price_paid_by_store ? ('label-title.no' | translate)
                                    : ('label-title.yes' | translate)}}</h6>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex flex-row  mb-3 ng-star-inserted" *ngIf="order.tip_amount > 0">
                        <div class="flex-grow-1">
                            <h6 class="mb-0">{{'label-title.tip-amount' | translate}}</h6>
                        </div>
                        <div class="comment-likes">
                            <span class="post-icon">
                                <h6 class="mb-0">{{currency_sign}}&nbsp;{{order.tip_amount |
                                    roundpipe:_helper.to_fixed_number}}</h6>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex flex-row  mb-3 ng-star-inserted">
                        <div class="flex-grow-1">
                            <h6 class="mb-0">{{'label-title.store-profit' | translate}}</h6>
                        </div>
                        <div class="comment-likes">
                            <span class="post-icon">
                                <h6 class="mb-0">{{currency_sign}}&nbsp;{{order.total_store_income |
                                    roundpipe:_helper.to_fixed_number}}</h6>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex flex-row border-bottom  mb-3 pb-3 ng-star-inserted">
                        <div class="flex-grow-1">
                            <h6 [ngClass]="{'color-danger':!order.is_store_income_set_in_wallet,'color-success':order.is_store_income_set_in_wallet}"
                                class="mb-0">{{'label-title.settlement-with-store' | translate}}</h6>
                        </div>
                        <div class="comment-likes">
                            <span class="post-icon">
                                <h6 [ngClass]="{'color-danger':!order.is_store_income_set_in_wallet,'color-success':order.is_store_income_set_in_wallet}"
                                    class="mb-0">{{currency_sign}}&nbsp;{{order.store_income_set_in_wallet |
                                    roundpipe:_helper.to_fixed_number}}</h6>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex flex-row  mb-3 ng-star-inserted">
                        <div class="flex-grow-1">
                            <h6 class="mb-0">{{'label-title.deliveryman-profit' | translate}}</h6>
                        </div>
                        <div class="comment-likes">
                            <span class="post-icon">
                                <h6 class="mb-0">{{currency_sign}}&nbsp;{{order.total_provider_income |
                                    roundpipe:_helper.to_fixed_number}}</h6>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex flex-row border-bottom  mb-3 pb-3 ng-star-inserted">
                        <div class="flex-grow-1">
                            <h6 [ngClass]="{'color-danger':!order.is_provider_income_set_in_wallet,'color-success':order.is_provider_income_set_in_wallet}"
                                class="mb-0">{{'label-title.settlement-with-deliveryman' | translate}}</h6>
                        </div>
                        <div class="comment-likes">
                            <span class="post-icon">
                                <h6 [ngClass]="{'color-danger':!order.is_provider_income_set_in_wallet,'color-success':order.is_provider_income_set_in_wallet}"
                                    class="mb-0">{{currency_sign}}&nbsp;{{order.provider_income_set_in_wallet |
                                    roundpipe:_helper.to_fixed_number}}</h6>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex flex-row  mb-3 ng-star-inserted">
                        <div class="flex-grow-1">
                            <h6 class="mb-0">{{'label-title.admin-profit-on-order' | translate}}</h6>
                        </div>
                        <div class="comment-likes">
                            <span class="post-icon">
                                <h6 class="mb-0">{{currency_sign}}&nbsp;{{order.total_admin_profit_on_store |
                                    roundpipe:_helper.to_fixed_number}}</h6>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex flex-row  mb-3  ng-star-inserted">
                        <div class="flex-grow-1">
                            <h6 class="mb-0">{{'label-title.admin-profit-on-delivery' | translate}}</h6>
                        </div>
                        <div class="comment-likes">
                            <span class="post-icon">
                                <h6 class="mb-0">{{currency_sign}}&nbsp;{{order.total_admin_profit_on_delivery |
                                    roundpipe:_helper.to_fixed_number}}</h6>
                            </span>
                        </div>
                    </div>
                </div>
            </tab>
            <tab (selectTab)="onSelectTab(false)" *ngIf="true" heading="{{'heading-title.status' | translate | uppercase }}" class="card-body">
                <div>
                    <ol class="order-step">
                        <li *ngFor="let status of order.date_time" class=" pb-3">
                            <span class="text-muted">{{'order-status.'+status.status | translate}}</span>
                            <br><span class="font-weight-bold"
                                *ngIf="status.date && timezone_for_display_date">{{_helper.moment(status.date).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.MOMENT_DD_MMM_YYYY)}}
                                {{_helper.moment(status.date).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.HH_MM_A)}}</span>
                        </li>
                        
                    </ol>
                </div>
            </tab>
        </tabset>
    </div>
    <div  class="modal-footer">
        <button *ngIf="is_order_cancle" type="button" class="btn btn-outline-primary" (click)="onCancle()">{{'button-title.cancel-order' |
            translate }}</button>
            <button *ngIf="isInvoice" class="btn btn-outline-primary btn-multiple-state show-spinner" type="submit" [disabled]="buttonDisabled" (click)="downloadPdf()">
                <span [ngClass]="{'label':(buttonDisabled)}">{{ 'button-title.download-pdf' | translate }}</span>
                <span *ngIf="buttonDisabled" [ngClass]="{'opacity-100':(buttonDisabled)}"><div class="spinner d-inline-block">
                  <div class="bounce1"></div>
                  <div class="bounce2"></div>
                  <div class="bounce3"></div>
                </div></span>
            </button>
    </div>
</ng-template>