<ng-template #template>
  <div class="modal-header">
      <h4 class="modal-title pull-left">{{is_edit ? ('heading-title.edit-sub-category-title' | translate) : ('heading-title.add-new-sub-category-title' | translate)}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  
  <div class="modal-body">
    <form [formGroup]="this.subcategoryForm" appFocus>
      <div formArrayName="name">
          <label>{{ 'label-title.sub-category-name' | translate }}</label>
          <div class="input-group mt-1" *ngFor="let name of name.controls;let i = index">
              <div class="input-group-prepend">
                <span class="width-60 input-group-text" id="basic-addon1">{{this._lang.supportedLanguages[i].shorthand | uppercase}}</span>
              </div>
              <input type="text" class="form-control" *ngIf="this._helper.selected_city._id === null || _helper.delivery_type == DELIVERY_TYPE.ECOMMERCE" [formControlName]="i" [id]="i" placeholder="{{'label-title.sub-category-name' | translate}}" (keypress)="_helper.space_validation($event)">
              <input type="text" class="form-control" *ngIf="this._helper.selected_city._id !== null && _helper.delivery_type != DELIVERY_TYPE.ECOMMERCE" [formControlName]="i" [id]="i" placeholder="{{'label-title.sub-category-name' | translate}}" readonly>
              <div *ngIf="subcategoryForm.get('name')['controls'][i].errors?.required && subcategoryForm.get('name')['controls'][i]?.touched"
                class="invalid-tooltip">{{ 'label-title.name' | translate }} {{'label-title.is-required' | translate}}</div>
            </div>
      </div>
      <div class="mt-4 form-group" *ngIf="is_edit">   
        <label>{{ 'label-title.sequence-number' | translate }}</label>
        <input type="number" formControlName="sequence_number" (keypress)="_helper.phone_number_validation($event)" class="form-control" placeholder="" min="0" disablePasteDrop>
        <div *ngIf="subcategoryForm.get('sequence_number').errors?.required && subcategoryForm.get('sequence_number').touched"
        class="invalid-tooltip">{{ 'label-title.sequence-number' | translate }} {{ 'label-title.is-required' | translate }}</div>
      </div>

      <div class="mt-4" *ngIf="!is_edit">   
        <label>{{ 'label-title.sequence-number' | translate }}</label>
        <input type="number" formControlName="sequence_number" (keypress)="_helper.phone_number_validation($event)" class="form-control" placeholder="" min="0" disablePasteDrop>
      </div>
      <div class="custom-control custom-switch mt-4"  *ngIf="this._helper.selected_city._id !== null">
        <input type="checkbox" formControlName="is_visible_in_store" id="editItemVisibleUser" class="custom-control-input">
        <label for="editItemVisibleUser" class="custom-control-label">{{ 'label-title.is-subcategory-visible-to-user' | translate }}</label>
        <span class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-2" style="top: 4px;" tooltip="{{'tooltip-title.is-subcategory-visible-to-user-tooltip' | translate}}" placement="bottom"></i></span>
      </div>
  </form>

  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary"
          (click)="modalRef.hide()">{{'button-title.cancel' | translate }}</button>
      <button type="submit"  class="btn btn-primary float-right" (click)="onSubmit()">{{ 'button-title.submit' | translate}}</button>
  </div>
</ng-template>
