<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left" *ngIf="!is_edit">{{'heading-title.add-vehicle' | translate}}</h4>
        <h4 class="modal-title pull-left" *ngIf="is_edit">{{'heading-title.edit-vehicle' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body p-4">
        <form [formGroup]="vehicleForm" (submit)="onSubmit()" appFocus>
            <div class="mb-3">
              <div class="form-group">
                <label for="name">{{'label-title.name' | translate}}</label>
                <input type="text" class="form-control" formControlName="name" (keypress)="_helper.space_validation($event)">
                <div class="invalid-tooltip" *ngIf="vehicleForm.get('name').invalid && vehicleForm.get('name').touched">{{'label-title.name-is-required' | translate}}</div>
              </div>
            </div>
            <div class="mb-3">
              <div class="form-group">
                <label for="description">{{'label-title.description' | translate}}</label>
                <textarea rows="3" class="form-control" formControlName="description"></textarea>
              </div>
            </div>
            <div class="mb-3">
                <div class="form-group">
                    <label for="exampleInputEmail1">{{'label-title.size-limit' | translate}}
                        <span class="c-pointer"><i class="simple-icon-info position-relative ml-1" style="top: 2px;" tooltip="{{'tooltip-title.vehicle-size-limit-tooltip' | translate}}" placement="right"></i></span>
                    </label>
                    <div class="input-group">
                        <div class="w-25 position-relative">
                            <input type="number" placeholder="{{'label-title.length' | translate}}" class="form-control" name="length" formControlName="length" (keypress)="_helper.number_validation($event)" required disablePasteDrop>
                            <div class="invalid-tooltip" *ngIf="vehicleForm.get('length').invalid && vehicleForm.get('length').touched">{{'label-title.length' | translate}} {{'label-title.is-required' | translate}}</div>
                        </div>
                        <div class="w-25 position-relative">
                            <input type="number" placeholder="{{'label-title.width' | translate}}" class="form-control" name="width" formControlName="width" (keypress)="_helper.number_validation($event)" required disablePasteDrop>
                            <div class="invalid-tooltip" *ngIf="vehicleForm.get('width').invalid && vehicleForm.get('width').touched">{{'label-title.width' | translate}} {{'label-title.is-required' | translate}}</div>
                        </div>
                        <div class="w-25 position-relative">
                            <input type="number" placeholder="{{'label-title.height' | translate}}" class="form-control" name="height" formControlName="height" (keypress)="_helper.number_validation($event)" required disablePasteDrop>
                            <div class="invalid-tooltip" *ngIf="vehicleForm.get('height').invalid && vehicleForm.get('height').touched">{{'label-title.height' | translate}} {{'label-title.is-required' | translate}}</div>
                        </div>
                        <div class="w-25 position-relative">
                            <ng-select appearance="outline" #agreeSelect labelForId="yesno" [clearable]="false" [searchable]="false" formControlName="size_type" name="size_type"  required>
                                <ng-option [value]="_helper.SIZE.METER">{{'label-title.meter' | translate}}</ng-option>
                                <ng-option [value]="_helper.SIZE.CENTI_METER">{{'label-title.cm' | translate}}</ng-option>
                            </ng-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <div class="form-group">
                    <label for="exampleInputEmail1">{{'label-title.weight-limit' | translate}}
                        <span class="c-pointer"><i class="simple-icon-info position-relative ml-1" style="top: 2px;" tooltip="{{'tooltip-title.vehicle-weight-limit-tooltip' | translate}}" placement="right"></i></span>
                    </label>
                    <div class="input-group">
                        <div class="position-relative">
                            <input type="number" placeholder="{{'label-title.min-weight' | translate}}" (keyup)="minMaxValueValidation()" class="form-control" name="min_weight" formControlName="min_weight" (keypress)="_helper.number_validation($event)" required disablePasteDrop>
                            <div class="invalid-tooltip" *ngIf="vehicleForm.get('min_weight').invalid && vehicleForm.get('min_weight').touched">{{'label-title.weight-limit' | translate}} {{'label-title.is-required' | translate}}</div>
                        </div>
                        <div class="position-relative">
                            <input type="number" placeholder="{{'label-title.max-weight' | translate}}" (keyup)="minMaxValueValidation()" class="form-control" name="max_weight" formControlName="max_weight" (keypress)="_helper.number_validation($event)" required disablePasteDrop>
                            <div class="invalid-tooltip" *ngIf="vehicleForm.get('max_weight').invalid && vehicleForm.get('max_weight').touched">{{'label-title.max-weight' | translate}} {{'label-title.is-required' | translate}}</div>
                        </div>
                        <div class="w-20 position-relative">
                        <ng-select appearance="outline" #agreeSelect labelForId="yesno" [clearable]="false" [searchable]="false" formControlName="weight_type" name="weight_type"  required>
                            <ng-option [value]="_helper.WEIGHT.KG">{{'label-title.kg' | translate}}</ng-option>
                            <ng-option [value]="_helper.WEIGHT.GRAM">{{'label-title.gram' | translate}}</ng-option>
                        </ng-select>
                        </div>
                        <span class="text-danger mt-2" *ngIf="minmaxWeightValueInvalid">
                            {{'validation-title.min-weight-should-be-greater-than-max-weight' | translate}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="is_vehicle_business" name="is_vehicle_business" formControlName="is_business" class="custom-control-input">
                    <label for="is_vehicle_business" class="custom-control-label">
                        <h5>{{'label-title.are-you-doing-delivery-with-this-vehicle' | translate}}</h5>
                    </label>
                    <h6 class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-2" style="top: 4px;" tooltip="{{'tooltip-title.are-you-doing-delivery-with-this-vehicle-tooltip' | translate}}" placement="bottom"></i></h6>
                </div>
            </div>
            <div class="mb-3">
                <div class="row">
                    <div class="col-12 mb-3">
                        <p class="text-primary mb-0"> {{'validation-title.please-upload-image-in-format' | translate}}</p>
                    </div>
                    <div class="col-sm-6 col-12">
                        <div class="card-body">
                            <a>
                                <h6 class="mb-0 text-small text-center">{{'label-title.service-type-image' | translate}}</h6>
                            </a>
                        </div>
                        <div class="position-relative">
                            <a>
                                <img *ngIf="!is_edit" alt="Card image cap" [src]="upload_vehicle_imageurl === '' ? '/assets/img/Taxi/Taxi.jpg' : upload_vehicle_imageurl " class="card-img-top">
                                <img *ngIf="is_edit" alt="Card image cap" [src]="upload_vehicle_imageurl===''? '/assets/img/Taxi/Taxi.jpg':upload_vehicle_imageurl" class="card-img-top" onerror="this.src = '../../../../assets/img/Taxi/Taxi.jpg'">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12">
                        <div class="card-body">
                            <a>
                                <h6 class="mb-0 text-small text-center">{{'label-title.service-type-map-image' | translate}}</h6>
                            </a>
                        </div>
                        <div class="position-relative">
                            <a>
                                <img *ngIf="!is_edit" alt="Card image cap " [src]="upload_mappin_imageurl === '' ? '/assets/img/Taxi/pickup.jpg' : upload_mappin_imageurl " class="card-img-top pickupImg">
                                <img *ngIf="is_edit" alt="Card image cap " [src]="upload_mappin_imageurl===''?'/assets/img/Taxi/pickup.jpg':upload_mappin_imageurl" class="card-img-top pickupImg" onerror="this.src = '../../../../assets/img/Taxi/pickup.jpg'">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-6 col-12">
                        <div class="input-group mb-3">
                            <div class="custom-file"><input type="file" (change)="onSelectImageFile($event, 1)" id="inputGroupFile02" class="custom-file-input"><label for="inputGroupFile02" class="custom-file-label">{{'label-title.choose-a-file' | translate}}</label></div>
                            <div class="input-group-append"></div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12">
                        <div class="input-group mb-3">
                            <div class="custom-file"><input type="file" id="inputGroupFile03" (change)="onSelectImageFile($event, 2)" class="custom-file-input"><label for="inputGroupFile03" class="custom-file-label">{{'label-title.choose-a-file' | translate}}</label></div>
                            <div class="input-group-append"></div>
                        </div>
                    </div>
                </div>
                <div>
                    <p class="text-muted text-small mb-1">{{'label-title.service-type-image' | translate }}</p>
                    <p class="mb-3">
                        {{'label-title.upload-image-size-with-in-widthxheight-min' | translate}}100x80{{'label-title.and-max' | translate}}500x400{{'label-title.image-ratio-should-be' | translate}}1.25{{'label-title.and-upload-only' | translate}}jpg-jpeg-png{{'label-title.file' | translate}}</p>
                    <p class="text-muted text-small mb-1">{{'label-title.service-type-map-image' | translate }}</p>
                    <p class="mb-3">
                        {{'label-title.upload-image-size-with-in-widthxheight-min' | translate}}45x100{{'label-title.and-max' | translate}}90x200{{'label-title.image-ratio-should-be' | translate}}0.45{{'label-title.and-upload-only' | translate}}jpg-jpeg-png{{'label-title.file' | translate}}</p>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="onClose()">{{'button-title.cancel' |
            translate }}</button>
        <button *ngIf="!is_edit" type="submit" class="btn btn-primary" (click)="onSubmit()">{{'button-title.submit' | translate }}</button>
        <button *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT) && is_edit" type="submit" class="btn btn-primary" (click)="onUpdate()">{{'button-title.update' | translate }}</button>
    </div>
</ng-template>
<app-image-crop-model (updateImage)="imageCropped($event)" #cropModel></app-image-crop-model>
