.card-tabs .nav-tabs {
    padding: 0 !important;
}

.user-profile {
    min-width: 135px;
    min-height: 135px;
    max-height: 135px;
    max-width: 135px;
}

.input-group-prepend {
    margin-right: -2px;
}

#user-chat.app-row {
    padding-right: 0px;
    padding-left: 0px;
}

#user-chat .chat-app .chat-text-left {
    padding-left: 0px;
}

.chat-input-container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.chat-app .scroll {
    height: calc(100vh - 90px - 150px);
}

#fileInput,
#file {
    display: none;
}

.mlr-20 {
    margin-left: -20px;
    margin-right: -20px;
}

.list-thumbnail {
    // border-radius: 0.1rem;
    // padding: 0;
    // border: initial;
    // height: auto;
    // max-width: 120%;
    // height: 85px;
    // object-fit: cover;
    min-width: 85px;
}
bs-datepicker-container {
    top: 0 !important;
}
.doc_img{
    max-height: 150px;
    min-height: 150px;
}
.doc .dInfo-card-img-left {
    width: 100%;
    border-radius: 1.1rem!important;
    height: 100%;
    object-fit: cover;
}
.doc .card-bottom-buttons {
    padding: .3rem;
    left: 8px!important;
    bottom: 8px;
}
.readonly{
    background-color: #e9ecef !important;
}