<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{user_detail.first_name}} {{user_detail.last_name}} ({{unique_id}})</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body p-0">
        <tabset class="card-tabs " [justified]="true">
            <tab heading="{{ 'heading-title.details' | translate}}" class="card-body" (selectTab)="onSelectTab(false)">
                <form #userForm="ngForm" novalidate appFocus>

                    <div class="row ">
                        <div class="col-md-4 col-lg-4 col-12 py-3 text-center">
                            <input type="file" accept="image/*" (change)="onSelectImageFile($event,1)" class="d-none"
                                #profile>
                            <a href="javascript::" (click)="profile.click()">
                                <img alt="Profile" (error)="$event.target.src = _helper.DEFAULT_IMAGE_PATH.USER"
                                    [src]="upload_user_image != '' ? upload_user_image : _helper.DEFAULT_IMAGE_PATH.USER"
                                    class="img-thumbnail border-0 rounded  align-self-center user-profile">
                            </a>

                            <div class="mt-1">
                                <rating [readonly]="true" [max]="5" [(ngModel)]="user_detail.store_rate"
                                    #store_rate="ngModel" name="store_rate" [customTemplate]="ttt"></rating>
                                <ng-template #ttt let-index="index" let-value="value">{{index
                                    < value ? '' : '' }}</ng-template>
                            </div>
                        </div>
                        <div class="col-12 text-center d-md-none d-block mb-3">
                            <span class="text-primary"> {{'validation-title.please-upload-image-in-format' | translate}}</span>
                        </div>
                        <div class="col-md-8 col-lg-8 col-12">
                            <div class="form-group">
                                <label for="name">{{'label-title.first-name' | translate}}</label>
                                <input type="text" (keypress)="_helper.space_validation($event)"
                                    [(ngModel)]="user_detail.first_name" #first_name="ngModel" name="first_name"
                                    class="form-control" placeholder="" required>
                                <div *ngIf="!first_name.valid && userForm.submitted" class="invalid-tooltip">
                                    {{'label-title.first-name' | translate}} {{'label-title.is-required' | translate}}</div>
                            </div>
                            <div class="form-group">
                                <label for="name">{{'label-title.last-name' | translate}}</label>
                                <input type="text" [(ngModel)]="user_detail.last_name" #last_name="ngModel"
                                    (keypress)="_helper.space_validation($event)" name="last_name" class="form-control"
                                    placeholder="" required>
                                <div *ngIf="!last_name.valid && userForm.submitted" class="invalid-tooltip">
                                    {{'label-title.last-name' | translate}} {{'label-title.is-required' | translate}}</div>
                            </div>
                        </div>
                        <div class="col-12 d-none d-md-block">
                            <span class="text-primary"> {{'validation-title.please-upload-image-in-format' | translate}}</span>
                        </div>
                        <div class="col-12 mt-3">
                            <div class="row">
                                <div class="col-sm-12 col-12">
                                    <div class="form-group">
                                        <label for="phone">{{'label-title.phone' | translate}}
                                        </label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text readonly">{{user_detail.country_phone_code}}</span>
                                            </div>
                                            <input type="text" [(ngModel)]="user_detail.phone" #phone="ngModel"
                                                (keypress)="_helper.phone_number_validation($event)" name="phone"
                                                aria-describedby="basic-addon1" class="form-control" autocomplete="off"
                                                minlength="{{minimum_length}}" maxlength="{{maximum_length}}" disablePasteDrop
                                                placeholder="" [required]="user_detail.is_show_phone" [readOnly]="!user_detail.is_show_phone">
                                            <span class="ml-2" [class.color-success]="user_detail.is_phone_verified"
                                                [class.color-danger]="!user_detail.is_phone_verified"
                                                style="font-size: 20px; margin-right: 30px;">
                                                <div *ngIf="user_detail.is_phone_verified"
                                                    class="mt-1 d-flex align-items-center">
                                                    <i class="glyph-icon simple-icon-check"></i>
                                                    <span class="ml-1 font-weight-bold"
                                                        style="font-size: 16px;">{{'label-title.verified' | translate
                                                        }}</span>
                                                </div>
                                                <div *ngIf="!user_detail.is_phone_verified"
                                                    class="mt-1 d-flex align-items-center">
                                                    <i class="glyph-icon simple-icon-close"></i>
                                                    <span class="ml-1 font-weight-bold"
                                                        style="font-size: 16px;">{{'label-title.not-verified' |
                                                        translate }}</span>
                                                </div>
                                            </span>
                                            <div *ngIf="phone.errors && phone.errors.required && userForm.submitted"
                                                class="invalid-tooltip">{{'label-title.this-field-is-required' |
                                                translate}}</div>
                                            <div *ngIf="phone.errors && phone.errors.minlength && userForm.submitted"
                                                class="invalid-tooltip">{{'validation-title.phone-minlength-is-required' | translate}}  {{minimum_length}}-{{maximum_length}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-12">
                                    <div class="form-group">
                                        <label for="phone">{{'label-title.email' | translate}}</label>
                                        <div class="input-group">
                                            <input type="email" [(ngModel)]="user_detail.email" #email="ngModel"
                                                [pattern]="user_detail.is_show_email ? '[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$' : ''" name="email"
                                                aria-describedby="basic-addon1" class="form-control" placeholder=""
                                                email="{{user_detail.is_show_email}}" [required]="user_detail.is_show_email" [readOnly]="!user_detail.is_show_email">
                                            <span class="ml-2" [class.color-success]="user_detail.is_email_verified"
                                                [class.color-danger]="!user_detail.is_email_verified"
                                                style="font-size: 20px; margin-right: 30px;">
                                                <div *ngIf="user_detail.is_email_verified"
                                                    class="mt-1 d-flex align-items-center">
                                                    <i class="glyph-icon simple-icon-check"></i>
                                                    <span class="ml-1 font-weight-bold"
                                                        style="font-size: 16px;">{{'label-title.verified' |
                                                        translate}}</span>
                                                </div>
                                                <div *ngIf="!user_detail.is_email_verified"
                                                    class="mt-1 d-flex align-items-center">
                                                    <i class="glyph-icon simple-icon-close"></i>
                                                    <span class="ml-1 font-weight-bold"
                                                        style="font-size: 16px;">{{'label-title.not-verified' |
                                                        translate }}</span>
                                                </div>
                                            </span>
                                                <div *ngIf="email.errors && email.errors.required && userForm.submitted"
                                                class="invalid-tooltip">{{'label-title.this-field-is-required' |
                                                translate}}</div>
                                                <div *ngIf="(email.errors && email.errors?.email && userForm.submitted || email.errors?.pattern && userForm.submitted )"
                                                class="invalid-tooltip">{{'label-title.enter-valid-email' | translate }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password">{{'label-title.change-password' | translate}}</label>
                                <input type="{{showPassword? 'text' : 'password'}}" minlength="6" [(ngModel)]="user_detail.password" autocomplete="off"
                                    #password="ngModel" name="password" class="form-control" placeholder="">
                                <span id="show-pwd-btn-1" *ngIf="showPassword" class="field-icon c-pointer" (click)="showPassword=!showPassword">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24">
                                        <path fill="#7f7f7f"
                                            d="M11.885 14.988l3.104-3.098.011.11c0 1.654-1.346 3-3 3l-.115-.012zm8.048-8.032l-3.274 3.268c.212.554.341 1.149.341 1.776 0 2.757-2.243 5-5 5-.631 0-1.229-.13-1.785-.344l-2.377 2.372c1.276.588 2.671.972 4.177.972 7.733 0 11.985-8.449 11.985-8.449s-1.415-2.478-4.067-4.595zm1.431-3.536l-18.619 18.58-1.382-1.422 3.455-3.447c-3.022-2.45-4.818-5.58-4.818-5.58s4.446-7.551 12.015-7.551c1.825 0 3.456.426 4.886 1.075l3.081-3.075 1.382 1.42zm-13.751 10.922l1.519-1.515c-.077-.264-.132-.538-.132-.827 0-1.654 1.346-3 3-3 .291 0 .567.055.833.134l1.518-1.515c-.704-.382-1.496-.619-2.351-.619-2.757 0-5 2.243-5 5 0 .852.235 1.641.613 2.342z" />
                                    </svg>
                                </span>
                                <span id="hide-pwd-btn-1" *ngIf="!showPassword" class="field-icon c-pointer" (click)="showPassword=!showPassword">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24">
                                        <path fill="#7f7f7f"
                                            d="M15 12c0 1.654-1.346 3-3 3s-3-1.346-3-3 1.346-3 3-3 3 1.346 3 3zm9-.449s-4.252 8.449-11.985 8.449c-7.18 0-12.015-8.449-12.015-8.449s4.446-7.551 12.015-7.551c7.694 0 11.985 7.551 11.985 7.551zm-7 .449c0-2.757-2.243-5-5-5s-5 2.243-5 5 2.243 5 5 5 5-2.243 5-5z" />
                                    </svg>
                                </span>
                                <div *ngIf="password.errors && password.errors.minlength && userForm.submitted"
                                    class="invalid-tooltip">{{'label-title.min-6-character-requires' | translate }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div>
                        <h5>{{'heading-title.other-details' | translate}}</h5>
                        <div class="form-group row mb-3">
                            <div class="col-sm-6 col-6">
                                <p class="text-muted mb-0">{{'label-title.registered-date' | translate }}</p>
                                <p *ngIf="timezone_for_display_date">{{_helper.moment(user_detail.created_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.MOMENT_DD_MMM_YYYY)}} {{_helper.moment(user_detail.created_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.HH_MM_A)}}</p>
                            </div>
                            <div class="col-sm-6 col-6">
                                <p class="text-muted mb-0">{{'label-title.last-login-date' | translate }}</p>
                                <p *ngIf="timezone_for_display_date">{{_helper.moment(user_detail.updated_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.MOMENT_DD_MMM_YYYY)}} {{_helper.moment(user_detail.updated_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.HH_MM_A)}}</p>
                            </div>
                            <div class="col-sm-6 col-6">
                                <p class="text-muted mb-0">{{'label-title.app-version' | translate }}</p>
                                <span>{{user_detail.device_type}} : {{user_detail.app_version}}</span>
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <div class="col-sm-6 col-6">
                                <p class="text-muted mb-0">{{'label-title.wallet' | translate }}</p>
                                <span>{{user_detail.wallet_currency_code}} {{user_detail.wallet}}</span><a
                                    (click)="onAddWallet()" *ngIf="_helper.has_permission(_helper.PERMISSION.ADD)"
                                    class="color-theme-1 ml-2 c-pointer">{{'label-title.add-wallet' | translate}}</a>
                            </div>
                            <div class="col-sm-6 col-6">
                                <p class="text-muted mb-0">{{'label-title.use-wallet' | translate }}</p>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" [(ngModel)]="user_detail.is_use_wallet"
                                        #is_use_wallet="ngModel" name="is_use_wallet" id="customSwitch1"
                                        class="custom-control-input">
                                    <label for="customSwitch1" class="custom-control-label"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </tab>
            <tab (selectTab)="get_document_list();onSelectTab(true)" heading="{{ 'heading-title.documents' | translate}}"
                class="card-body">
                <div class="card doc mb-4 flex-row " *ngFor="let document of documents;let index=index;">
                    <div class="w-40 d-flex align-items-center">
                        <a href="javascript::" class="w-100 position-relative">
                            <div class="position-absolute card-bottom-buttons">
                                <input id="fileInput" type="file" (change)="onSelectImageFile($event, 2)" />
                                <button *ngIf="!document.is_edit && document.image_url && _helper.has_permission(_helper.PERMISSION.EXPORT)"
                                    class="btn btn-outline-primary icon-button"
                                    (click)="downloadImage(document.image_url,document.document_name)">
                                    <i *ngIf="!document.is_edit && document.image_url"
                                        class="simple-icon-cloud-download"></i>
                                </button>
                                <button *ngIf="document.is_edit" class="btn btn-outline-primary icon-button"
                                    onclick="document.getElementById('fileInput').click();">
                                    <i *ngIf="document.is_edit" class="simple-icon-pencil"></i>
                                </button>
                            </div>

                            <img class="dInfo-card-img-left doc_img p-2" (error)="$event.target.src = DOCUMENT_DEFAULT_IMAGE"
                                [src]="document.image_url != '' ? document.image_url : DOCUMENT_DEFAULT_IMAGE"
                                alt="Card image cap">
                            
                            <span class="badge badge-pill badge-theme-2 position-absolute badge-top-left"
                                *ngIf="document.is_document_expired">{{'label-title.expiry' | translate}}</span>
                        </a>
                    </div>
                    <div class="w-60 d-flex">
                        <div class="card-body">
                            <div class="float-right" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
                                <button *ngIf="!document.is_edit" id="button-basic" type="button"
                                    class="btn btn-outline-primary btn-xs " (click)="onEdit(document, index)" [disabled]="is_edit">
                                    {{'button-title.edit' | translate }}
                                </button>
                                <button *ngIf="document.is_edit" id="button-basic" type="button"
                                    class="btn btn-outline-primary btn-xs " (click)="update_document(document)">
                                    {{'button-title.update' | translate }}
                                </button>
                            </div>
                            <a href="javascript::">
                                <h5 class="mb-1 font-weight-bold listing-heading" ellipsis>{{document.document_name}}
                                    <span class="text-danger" *ngIf="document.is_mandatory"> *</span>
                                </h5>
                            </a>
                            <div *ngIf="document.is_expired_date == true">
                                <p class="text-small text-muted mb-1">{{'label-title.expiry-date' | translate }}</p>
                                <p class="mb-2"
                                    *ngIf="!document.is_edit && document.is_expired_date && document.expired_date">
                                    {{document.expired_date | date:_helper.DATE_FORMAT.DD_MM_YYYY}}</p>
                                <p class="mb-2"
                                    *ngIf="!document.is_expired_date || (!document.expired_date && !document.is_edit)">---</p>
                                <div class="form-group">
                                    <input type="text" *ngIf="document.is_expired_date && document.is_edit"
                                        [(ngModel)]="document.expired_date" name="expired_date{{index}}"
                                        #expired_date="ngModel" [minDate]="todayDate"
                                        placeholder="{{'label-title.expiry-date' | translate | translate}}"
                                        class="form-control mb-3 bg-unset" bsDatepicker [container]="'html'"
                                        [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD-MM-YYYY',isAnimated: true , showWeekNumbers: false}"
                                        required [readOnly]="true">
                                    <div *ngIf="document.dataRequired && document.is_edit && document.is_expired_date && !document.expired_date"
                                        class="invalid-tooltip">{{'label-title.expired_date_is_required' | translate}}
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="document.is_unique_code == true">
                                <p class="text-small text-muted mb-1">{{'label-title.unique-code' | translate }}</p>
                                <h6 class="mb-2"
                                    *ngIf="!document.is_edit && document.is_unique_code && document.unique_code">
                                    {{document.unique_code}}</h6>
                                <h6 class="mb-2"
                                    *ngIf="!document.is_unique_code || (!document.unique_code&& !document.is_edit)">---
                                </h6>
                                <div class="form-group">
                                <input type="text" *ngIf="document.is_unique_code && document.is_edit"
                                    [(ngModel)]="document.unique_code" #unique_code="ngModel"
                                    (keypress)="_helper.space_validation($event)" name="unique_code{{index}}"
                                    id="exampleInput" class="form-control mb-3"
                                    placeholder="{{'label-title.enter-unique-code' | translate}}">
                                <div *ngIf="document.dataRequired && document.is_edit && document.is_unique_code && !document.unique_code"
                                    class="invalid-tooltip">{{'label-title.unique-code' | translate}} {{'label-title.is-required' | translate}}
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
            <tab (selectTab)="get_referral_usage_list();onSelectTab(true)" heading="{{ 'heading-title.referral' | translate}}"
                class="card-body">
                <div class="border-bottom">
                    <h5 class="font-weight-bold ">{{'label-title.referral-code' | translate }} :
                        {{user_detail.referral_code}}</h5>
                </div>
                <div class="mb-2 border-bottom" *ngFor="let item of referral_history">
                    <div class="d-flex flex-row">
                        <a href="javascript::" class="d-flex"><img alt="Profile"
                                (error)="$event.target.src = _helper.DEFAULT_IMAGE_PATH.USER"
                                [src]="item.image_url ? _helper.image_url + item.image_url : _helper.DEFAULT_IMAGE_PATH.USER"
                                class="img-thumbnail border-0 rounded-circle m-4 list-thumbnail align-self-center "></a>
                        <div class="d-flex flex-grow-1 min-width-zero">
                            <div
                                class="card-body pl-0 align-self-center d-flex flex-row justify-content-between min-width-zero">
                                <div class="min-width-zero">
                                    <a href="javascript:void(0);">
                                        <p class="list-item-heading mb-1 truncate">{{item.first_name}}
                                            {{item.last_name}}
                                        </p>
                                        <p class=" list-item-heading mb-1 truncate ">{{item.country_phone_code}}
                                            {{item.phone}}
                                        </p>
                                        <p class="text-muted text-small">{{item.email}}</p>
                                    </a>

                                </div>
                                <div class="float-right">
                                    <div style="text-align: right;">
                                        <p class="mb-0">{{item.referral_bonus_to_user_friend}} {{item.currency_sign}}
                                        </p>
                                        <p *ngIf="timezone_for_display_date">{{_helper.moment(item.created_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.MOMENT_DD_MMM_YYYY)}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
            <tab (selectTab)="get_review_usage_list();onSelectTab(true)" heading="{{ 'heading-title.review' | translate}}"
                class="card-body">
                <div class="input-group mb-3 justify-content-center">
                    <div class="input-group-prepend"><a href="javascript::" class="btn btn-outline-primary "
                            (click)="show_review_type=1"
                            [class.active]="show_review_type==1">{{'label-title.store-review' | translate}}</a></div>
                    <div class="input-group-append"><a href="javascript::" class="btn btn-outline-primary"
                            (click)="show_review_type=2"
                            [class.active]="show_review_type==2">{{'label-title.provider-review' | translate}}</a></div>
                </div>
                <div class="border-bottom">
                    <h5 class="font-weight-bold ">{{show_review_type === 1 ? ('label-title.review-from-store' |
                        translate) : ('label-title.review-from-provider' | translate) }} :
                        {{show_review_type === 1 ? (user_detail.store_rate | roundpipe:_helper.to_fixed_number) : (user_detail.provider_rate |
                        roundpipe:_helper.to_fixed_number)}}</h5>
                </div>
                <div class="mb-2 border-bottom " *ngFor="let review of review_list">
                    <div class="d-flex flex-row" *ngIf="show_review_type === 1">
                        <a href="javascript::" class="d-flex"><img alt="Profile"
                                (error)="$event.target.src = _helper.DEFAULT_IMAGE_PATH.USER"
                                [src]="review.store.image_url ? _helper.image_url + review.store.image_url : _helper.DEFAULT_IMAGE_PATH.USER"
                                class="img-thumbnail border-0 rounded-circle m-4 list-thumbnail align-self-center "></a>
                        <div class="d-flex flex-grow-1 min-width-zero">
                            <div
                                class="card-body pl-0 align-self-center d-flex flex-row justify-content-between min-width-zero">
                                <div class="min-width-zero">
                                    <a href="javascript:void(0);">
                                        <p class="list-item-heading mb-1 truncate">{{ review.store.name | langpipe}}</p>
                                        <p class="text-muted text-small mb-2">{{review.store.country_phone_code}}
                                            {{review.store.phone}} | {{review.store.email}}</p>
                                        <p class="">{{review.store.provider_review_to_user}}</p>
                                    </a>
                                </div>
                                <div class="float-right">
                                    <div style="text-align: right;width: 117%;">
                                        <rating [readonly]="true" [max]="5"
                                            [(ngModel)]="review.store.store_rating_to_user" [customTemplate]="t2">
                                        </rating>
                                        <ng-template #t2 let-index="index" let-value="value">{{index
                                            < value ? '' : '' }}</ng-template>
                                                <p *ngIf="timezone_for_display_date && review.store.created_at">{{_helper.moment(review.store.created_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.MOMENT_DD_MMM_YYYY)}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row" *ngIf="show_review_type === 2">
                        <a href="javascript::" class="d-flex"><img alt="Profile"
                                (error)="$event.target.src = _helper.DEFAULT_IMAGE_PATH.USER"
                                [src]="review.provider.image_url ? _helper.image_url + review.provider.image_url : _helper.DEFAULT_IMAGE_PATH.USER"
                                class="img-thumbnail border-0 rounded-circle m-4 list-thumbnail align-self-center "></a>
                        <div class="d-flex flex-grow-1 min-width-zero">
                            <div
                                class="card-body pl-0 align-self-center d-flex flex-row justify-content-between min-width-zero">
                                <div class="min-width-zero">
                                    <a href="javascript:void(0);">
                                        <p class="list-item-heading mb-1 truncate">{{ review.provider.first_name}}
                                            {{review.provider.last_name}}</p>
                                        <p class="text-muted text-small mb-2">{{review.provider.country_phone_code}}
                                            {{review.provider.phone}} | {{review.provider.email}}</p>
                                        <p class="">{{review.provider.provider_review_to_user}}</p>
                                    </a>
                                </div>
                                <div class="float-right">
                                    <div style="text-align: right;width: 117%;">
                                        <rating [readonly]="true" [max]="5"
                                            [(ngModel)]="review.provider.provider_rating_to_user" [customTemplate]="t2">
                                        </rating>
                                        <ng-template #t2 let-index="index" let-value="value">{{index
                                            < value ? '' : '' }}</ng-template>
                                                <p *ngIf="timezone_for_display_date && review.provider.created_at">{{_helper.moment(review.provider.created_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.MOMENT_DD_MMM_YYYY)}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>

    <div class="modal-footer" *ngIf="!footerHide">
        <button *ngIf="_helper.has_permission(_helper.PERMISSION.DELETE)" type="button" (click)="deleteAccount()" class="btn btn-danger float-right">{{'button-title.delete' | translate}}</button>
        <div *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
            <button type="button" class="btn btn-outline-primary"
            (click)="approveDecline(user_detail, user_page_type.approved)"
            *ngIf="user_detail.is_approved">{{'button-title.block-user' | translate }}</button>
            <button type="button" class="btn btn-outline-primary"
            (click)="approveDecline(user_detail, user_page_type.blocked)"
            *ngIf="!user_detail.is_approved">{{'button-title.approve-user' | translate }}</button>
        </div>
        <button *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)" type="submit" (click)="updateUser(user_detail._id,userForm)" class="btn btn-primary float-right">{{'button-title.save' | translate}}</button>
    </div>
</ng-template>

<ng-template #confirmationTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left" *ngIf="user_detail">{{user_detail.first_name}} {{user_detail.last_name}} ({{unique_id}})</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body p-0">
        <div class="p-4">
            <p>{{'label-title.are-you-sure-you-want-to-delete-this' | translate}} {{'menu-title.user' | translate}}
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" (click)="cancel()" class="btn btn-primary float-right">{{'button-title.cancel' | translate}}</button>
        <button type="button" (click)="confirm()" class="btn btn-danger float-right">{{'button-title.confirm' | translate}}</button>
    </div>
</ng-template>

<ng-template #approveTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{selectedUser.first_name}} {{selectedUser.last_name}}  ({{unique_id}})</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="cancelAprroveModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body p-0">
        <div class="p-4">
            <p *ngIf="!approvalStatus">
                {{'label-title.are-you-sure-you-want-to-decline-this' | translate}} {{'menu-title.user' | translate}}
            </p>
            <p *ngIf="approvalStatus">
                {{'label-title.are-you-sure-you-want-to-approve-this' | translate}} {{'menu-title.user' | translate}}
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" (click)="cancelAprroveModal()" class="btn btn-primary float-right">{{'button-title.cancel' | translate}}</button>
        <button type="button" (click)="approve()" class="btn btn-danger float-right">{{'button-title.confirm' | translate}}</button>
    </div>
</ng-template>

<app-image-crop-model (updateImage)="imageCropped($event)" #cropModel></app-image-crop-model>

<app-add-wallet-modal (amount)="addWalletAmount($event)" #walletAmount></app-add-wallet-modal>