.btn_display_option {
    border-color: #8f8f8f !important;
    color: #8f8f8f !important;
}

.btn_display_option:active,
.btn_display_option:hover {
    color: #fff !important;
}

tbody>tr>td {
    font-weight: 600;
}