<div class="row">
  <div class="col-12">
    <app-heading></app-heading>
    <div class="top-right-button-container text-zero">
      <button type="button" *ngIf="delivery_type==_helper.DELIVERY_TYPE_CONSTANT.STORE" (click)="on_change_store()" class="top-right-button btn btn-outline-primary btn-lg mr-1">{{ 'button-title.change-store' | translate}}</button>
      <span *ngIf="_helper.has_permission(_helper.PERMISSION.ADD)">
      <button type="button" (click)="onAddNewItem()" [disabled]="!_helper.selected_store_id && delivery_type==_helper.DELIVERY_TYPE_CONSTANT.STORE" *ngIf="!this._helper.selected_city._id"
        class="top-right-button btn btn-primary btn-lg mr-1">{{ 'button-title.add-new' | translate}}</button>
      </span>
    </div>
    <app-breadcrumb></app-breadcrumb>
    <div class="mb-2" *ngIf="this._helper.selected_store && this._helper.delivery_type !== DELIVERY_TYPE.SERVICE && this._helper.delivery_type !== DELIVERY_TYPE.APPOINTMENT && this._helper.delivery_type !== DELIVERY_TYPE.COURIER">
      <span style="font-size: 150%;" *ngIf="!this._helper.is_store_selected">{{this._helper.selected_store.delivery_name[0]}}</span>
      <span style="font-size: 150%;" *ngIf="this._helper.is_store_selected">{{this._helper.selected_store.name[0]}}</span>
      <span class="text-muted" *ngIf="this._helper.is_store_selected">&nbsp;({{this._helper.selected_store.address}})</span>
      <span style="font-size: 130%;" class="text-muted" *ngIf="this._helper.selected_city._id !== null">&nbsp;({{this._helper.selected_city.city_name}})</span>
    </div>
    <div class="mb-2" *ngIf="this._helper.selected_store && (this._helper.delivery_type === DELIVERY_TYPE.SERVICE || this._helper.delivery_type === DELIVERY_TYPE.APPOINTMENT)">
      <span style="font-size: 150%;"
        *ngIf="this._helper.is_store_selected">{{this._helper.selected_store.name[0]}}</span>
      <span style="font-size: 150%;"
        *ngIf="!this._helper.is_store_selected">{{this._helper.selected_store.delivery_name[0]}}</span>
        <span style="font-size: 130%;" class="text-muted" *ngIf="this._helper.selected_city._id !== null">&nbsp;({{this._helper.selected_city.city_name}})</span>
    </div>
    <div class="display-options-container">
      <a class="btn pt-0 pl-0 d-inline-block d-md-none c-pointer" data-toggle="collapse"
        (click)="displayOptionsCollapsed = !displayOptionsCollapsed" role="button" aria-expanded="true"
        aria-controls="displayOptions">
        {{ 'label-title.display-options' | translate}} {{' '}}
        <i class="simple-icon-arrow-down align-middle"></i>
      </a>
      <div id="displayOptions" [collapse]="displayOptionsCollapsed" class="collapse dont-collapse-sm">
        <div class="d-inline-block" *ngIf="showSearch">
          <div class="search-sm d-inline-block float-md-left mr-1 mb-1 align-top">
            <input class="form-control" placeholder="{{'label-title.search' | translate}}"
              (keyup)="onSearchKeyUp($event)">
          </div>
        </div>
      </div>
      <div class="separator mb-4"></div>
    </div>
  </div>
</div>