.comment-likes {
    text-align: right;
    flex-basis: 120px;
    flex-shrink: 0;
}
.centerImg{
  text-align: center;
}

.logo-height-width{
  max-height: 140px;
  height: 100%;
  max-width: 100%;
}
.banner-logo-h{
  max-height: 500px;
  height: 100%;
  max-width: 100%;
  width: 100%;
}