.card-tabs .nav-tabs {
    padding: 0 !important;
}

.user-profile {
    min-width: 135px;
    min-height: 135px;
    max-height: 135px;
    max-width: 135px;
}

.input-group-prepend {
    margin-right: -2px;
}

#user-chat.app-row {
    padding-right: 0px;
    padding-left: 0px;
}

#user-chat .chat-app .chat-text-left {
    padding-left: 0px;
}

.chat-input-container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.chat-app .scroll {
    height: calc(100vh - 90px - 150px);
}

bs-datepicker-container{
    // transform: translate3d(422px, 110px, 0px) !important;
    top: -130px !important;
}

.mlr-20 {
    margin-left: -20px;
    margin-right: -20px;
}

#fileInput,
#file {
    display: none;
}

.list-thumbnail {
    border-radius: 0.1rem;
    padding: 0;
    border: initial;
    height: auto;
    height: 85px;
    object-fit: cover;
    max-width: 85px;
    max-height: 85px;
}
.width{
  width: 12rem;
}

.truncate {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.doc_img{
    max-height: 150px;
    min-height: 150px;
}
.doc .dInfo-card-img-left {
    width: 100%;
    border-radius: 1.1rem!important;
    height: 100%;
    object-fit: cover;
}
.doc .card-bottom-buttons {
    padding: .3rem;
    left: 8px!important;
    bottom: 8px;
}
.readonly{
    background-color: #e9ecef !important;
}
.deliveryHeight{
    max-height: 226px;
    overflow: auto;
}