<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ modal_heading | translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="google_api_key_settings">
      <div *ngIf="settings_type != SETTING_TYPE.WEB_PANEL">
        <div>
          <label>{{'label-title.google-map-key' | translate }}</label>
          <input type="text" class="form-control" formControlName="google_map_key">
        </div>
        <div class="mt-4">
          <label>{{'label-title.google-place-autocomplete-key' | translate }}</label>
          <input type="text" class="form-control" formControlName="google_placeautocomplate_key">
        </div>
        <div class="mt-4">
          <label>{{'label-title.google-geocoding-key' | translate }}</label>
          <input type="text" class="form-control" formControlName="google_geocoding_key">
        </div>
        <div class="mt-4">
          <label>{{'label-title.google-distance-matrix-key' | translate }}</label>
          <input type="text" class="form-control" formControlName="google_distance_matrix_key">
        </div>
        <div class="mt-4">
          <label>{{'label-title.google-direction-matrix-key' | translate }}</label>
          <input type="text" class="form-control" formControlName="google_direction_matrix_key">
        </div>
      </div>
      <div *ngIf="settings_type == SETTING_TYPE.WEB_PANEL">
        <div class="">
          <label>{{'label-title.admin-panel-google-key' | translate }}</label>
          <input type="text" class="form-control" formControlName="admin_panel_google_key">
        </div>
        <div class="mt-4">
          <label>{{'label-title.store-panel-google-key' | translate }}</label>
          <input type="text" class="form-control" formControlName="store_panel_google_key">
        </div>
        <div class="mt-4">
          <label>{{'label-title.user-panel-google-key' | translate }}</label>
          <input type="text" class="form-control" formControlName="branch_io_key">
        </div>
        <div class="mt-4">
          <label>{{'label-title.server-google-key' | translate }}</label>
          <input type="text" class="form-control" formControlName="api_google_key_for_server">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary"
      (click)="onSave()">{{'button-title.update' | translate }}</button>
  </div>
</ng-template>
