<ng-template #template>
    <div class="">
        <div class="modal-header">
          <p class="font-weight-medium truncate mb-0">{{ 'label-title.warning' | translate }}</p>
        </div>
        <div class="m-auto form-group modal-body">
            <div class="input-group input-group-sm form-group">
              <label *ngIf="type === typeConstant.EDIT" for="">{{'label-title.specification-edit-warning' | translate}}</label>
              <label *ngIf="type === typeConstant.DELETE" for="">{{'label-title.specification-delete-warning' | translate}}</label>
            </div>
          </div>
          <div class="text-center modal-footer">
            <button (click)="close(false)" class="btn btn-danger">{{'button-title.cancel' |
                translate}}</button>
            <button (click)="confirm(true)" class="btn btn-primary">{{'button-title.confirm' |
              translate}}</button>
          </div>
      </div>
</ng-template>
