<style>
    .progress-banner {
        height: 100%;
        cursor: default;
    }

    .card .card-body {
        padding: 4% 9%;
    }

    .text-padding {
        padding: 2%;
        min-height: 120px;
    }
    .lead{
        font-size: 150%;
    }
    .text-center{
        min-width: 120px;
    }
</style>
<div class="row">
    <div class="col-lg-4 mb-4">
        <div class="card progress-banner">
            <div class="card-body">
                <div class="text-padding justify-content-between d-flex flex-row align-items-center">
                    <div class="progress-bar-circle progress-bar-banner position-relative">
                        <div class="progressbar-text">{{ earning_percentage | roundpipe:_helper.to_fixed_number }}%</div>
                        <round-progress [current]="earning_percentage" [max]="100" [responsive]="true" [duration]="1000"
                            [animation]="'easeInOutQuart'" [animationDelay]="0" [radius]="50" [rounded]="true"
                            [stroke]="4">
                        </round-progress>
                    </div>
                    <div class="progress-bar-circle progress-bar-banner position-relative">
                        <div class="progressbar-text">{{ admin_earn_per  | roundpipe:_helper.to_fixed_number }}%</div>
                        <round-progress [current]="admin_earn_per" [max]="100" [responsive]="true" [duration]="800"
                            [animation]="'easeInOutQuart'" [animationDelay]="0" [radius]="50" [rounded]="true"
                            [stroke]="4">
                        </round-progress>
                    </div>
                </div>
                <div class="text-padding justify-content-between d-flex flex-row align-items-center">
                    <div class="text-center">
                        <p class="lead text-white">{{ 'label-title.total' | translate }}</p>
                        <p class="text-small text-white">{{currency_sign}} {{total_payments | roundpipe:_helper.to_fixed_number}}</p>
                    </div>
                    <div class="text-center">
                        <p class="lead text-white">{{ 'label-title.admin-earnings' | translate }}</p>
                        <p class="text-small text-white">{{currency_sign}} {{admin_earnings | roundpipe:_helper.to_fixed_number}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-4">
        <div class="card progress-banner">
            <div class="card-body">
                <div class="text-padding justify-content-between d-flex flex-row align-items-center">
                    <div class="progress-bar-circle progress-bar-banner position-relative">
                        <div class="progressbar-text">{{ store_payment_pre_earning | roundpipe:_helper.to_fixed_number }}%</div>
                        <round-progress [current]="store_payment_pre_earning" [max]="100" [responsive]="true" [duration]="800"
                            [animation]="'easeInOutQuart'" [animationDelay]="0" [radius]="50" [rounded]="true"
                            [stroke]="4">
                        </round-progress>
                    </div>
                    <div class="progress-bar-circle progress-bar-banner position-relative">
                        <div class="progressbar-text">{{ store_earn_per | roundpipe:_helper.to_fixed_number }}%</div>
                        <round-progress [current]="store_earn_per" [max]="100" [responsive]="true" [duration]="800"
                            [animation]="'easeInOutQuart'" [animationDelay]="0" [radius]="50" [rounded]="true"
                            [stroke]="4">
                        </round-progress>
                    </div>
                </div>
                <div class="text-padding justify-content-between d-flex flex-row align-items-center">
                    <div class="text-center">
                        <p class="lead text-white">{{ 'label-title.order-payment' | translate }}</p>
                        <p class="text-small text-white">{{currency_sign}} {{order_payment | roundpipe:_helper.to_fixed_number}}</p>
                    </div>
                    <div class="text-center">
                        <p class="lead text-white">{{ 'label-title.store-earning' | translate }}</p>
                        <p class="text-small text-white">{{currency_sign}} {{store_earning | roundpipe:_helper.to_fixed_number}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-4">
        <div class="card progress-banner">
            <div class="card-body">
                <div class="text-padding justify-content-between d-flex flex-row align-items-center">
                    <div class="progress-bar-circle progress-bar-banner position-relative">
                        <div class="progressbar-text">{{ provider_payment_pre_earning | roundpipe:_helper.to_fixed_number }}%</div>
                        <round-progress [current]="provider_payment_pre_earning" [max]="100" [responsive]="true" [duration]="800"
                            [animation]="'easeInOutQuart'" [animationDelay]="0" [radius]="50" [rounded]="true"
                            [stroke]="4">
                        </round-progress>
                    </div>
                    <div class="progress-bar-circle progress-bar-banner position-relative">
                        <div class="progressbar-text">{{ provider_earn_per | roundpipe:_helper.to_fixed_number }}%</div>
                        <round-progress [current]="provider_earn_per" [max]="100" [responsive]="true" [duration]="800"
                            [animation]="'easeInOutQuart'" [animationDelay]="0" [radius]="50" [rounded]="true"
                            [stroke]="4">
                        </round-progress>
                    </div>
                </div>
                <div class="text-padding justify-content-between d-flex flex-row align-items-center">
                    <div class="text-center" style="font-size: 11px;">
                        <p class="lead text-white">{{ 'label-title.delivery-payment' | translate }}</p>
                        <p class="text-small text-white">{{currency_sign}} {{delivery_payment | roundpipe:_helper.to_fixed_number}}</p>
                    </div>
                    <div class="text-center" style="font-size: 11px;">
                        <p class="lead text-white">{{ 'label-title.provider-earning' | translate}}</p>
                        <p class="text-small text-white">{{currency_sign}} {{provider_earning | roundpipe:_helper.to_fixed_number}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
