<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{'heading-title.order-details-app-push-key-details' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body p-4">
      <form [formGroup]="app_push_key_details">
        <div class="form-group mb-4">
          <label>{{'label-title.android-user-app-gcm-key' | translate }}</label>
          <textarea rows="3" class="form-control" formControlName="android_user_app_gcm_key"></textarea>
        </div>
        <div class="form-group mb-4">
          <label>{{'label-title.android-deliveryman-app-gcm-key' | translate }}</label>
          <textarea rows="3" class="form-control" formControlName="android_provider_app_gcm_key"></textarea>
        </div>
        <div class="form-group mb-4">
          <label>{{'label-title.android-store-app-gcm-key' | translate }}</label>
          <textarea rows="3" class="form-control" formControlName="android_store_app_gcm_key"></textarea>
        </div>
        <div class="row mb-4">
            <div class="col-sm-3 col-3">
                <label class="mt-2">{{'label-title.team-id' | translate }}</label>
            </div>
            <div class="col-sm-9 col-9">
                <input type="text" class="form-control" formControlName="team_id">
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-sm-3 col-3">
                <label class="mt-2">{{'label-title.key-id' | translate }}</label>
            </div>
            <div class="col-sm-9 col-9">
                <input type="text" class="form-control" formControlName="key_id">
            </div>
        </div>
        <div class="form-group mb-4">
            <label>{{'label-title.ios-push-certificate-path' | translate }}</label>
            <input type="text" class="form-control" formControlName="ios_push_certificate_path">
        </div>
        <div class="form-group mb-4">
            <label>{{'label-title.push-p8-file' | translate }}</label>
            <div class="input-group">
              <div class="custom-file"><input type="file" id="inputGroupFile02" class="custom-file-input" accept=".p8" (change)="onSelectFile($event)"><label
                  for="inputGroupFile02" class="custom-file-label">{{ this.push_p8_file ? this.push_p8_file.name : ('label-title.choose-a-file' | translate)}}</label>
              </div>
              <div class="input-group-append c-pointer" (click)="onRemoveSelectedFile()" *ngIf="this.push_p8_file"><span class="input-group-text">{{'button-title.remove' | translate }}</span></div>
            </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onSave()">{{'button-title.update' | translate }}</button>
    </div>
</ng-template>
