<app-list-modifier-header
  [displayMode]="displayMode"
  [delivery_type]="_helper.DELIVERY_TYPE_CONSTANT.COURIER"
  (changeDisplayMode)="changeDisplayMode($event)"
  (addNewItem)="showAddNewModal()"
  (selectAllChange)="selectAllChange($event)"
  (itemsPerPageChange)="itemsPerPageChange($event)"
  (changeOrderBy)="changeOrderBy($event)"
  (searchKeyUp)="searchKeyUp($event)"
  (onChangeStore)="_initData()"
  >
</app-list-modifier-header>
<app-add-new-modifier-modal [delivery_type]="_helper.DELIVERY_TYPE_CONSTANT.COURIER" #addNewModalRef></app-add-new-modifier-modal>

<div class="row">
  <div class="col-12 p-0">
    <div class="card d-flex">
      <div class="text-center" *ngIf="modifiers && modifiers.length === 0 || (modifiers | searchpipe:search_string:['name'])?.length === 0">
        <p>{{'label-title.no-record-found' | translate}}</p>
     </div>

      <ng-container *ngFor="let modifier of modifiers | searchpipe:search_string:['name']">

        <div class="d-flex flex-grow-1 min-width-zero" >
          <div class="align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center card-body">
            <a id="toggler1" href="javascript:;" class="list-item-heading mb-0 truncate w-100 w-xs-100 mb-1 mt-1">
              <span class="align-middle d-inline-block color-theme-1">{{modifier.name | langpipe}}</span>
              <div class="float-right" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
                <span (click)="showAddNewModal(true,modifier._id)" class="badge badge-pill badge-outline-primary mr-1">{{ 'button-title.edit' | translate }}</span>
              </div>
            </a>
          </div>
      </div>
      <div class="card-body pt-1">

        <span *ngFor="let specification of modifier.list" class="mb-0"> <span [ngClass]="{'pro-strike-price':!specification.is_visible_in_store}">{{specification.name | langpipe | uppercase}}</span> | </span>
      </div>

      <hr class="mx-4">
    </ng-container>

    </div>
  </div>
</div>
<set-store-id-model #storeModalRef></set-store-id-model>
