<div id="app-container" [className]="sidebar.containerClassnames">
  <app-topnav [bannersList]="banners" [is_banner_visible]="is_banner_visible"></app-topnav>
  <app-sidebar [ngClass]="banners?.length > 0 && is_banner_visible ? 'bannered' : '' "></app-sidebar>
  <main [ngClass]="banners?.length > 0 && is_banner_visible ? 'bannered' : '' ">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
