<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'heading-title.sms-connection' | translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="sms_credentials_form">
      <div class="row col-12">
        <h6 class="m-0">{{ 'heading-title.twilio' | translate }}</h6>
      </div>
      <div class="mt-4">
        <label>{{ 'label-title.auth-id' | translate }}</label>
        <input type="text" class="form-control" formControlName="sms_auth_id">
      </div>
      <div class="mt-4">
        <label>{{ 'label-title.auth-token' | translate }}</label>
        <input type="text" class="form-control" formControlName="sms_auth_token">
      </div>
      <div class="mt-4">
        <label>{{ 'label-title.number' | translate }}</label>
        <input type="text" class="form-control" formControlName="sms_number">
      </div>
      <div class="mt-4">
        <label>{{'label-title.twilio_call_url' | translate}}</label>
        <input type="text" class="form-control" formControlName="twiml_url">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary"
      (click)="save()">{{'button-title.update' | translate }}</button>
  </div>
</ng-template>
