<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{'heading-title.edit' | translate}} {{'heading-title.delivery' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body p-4">
        <form [formGroup]="deliverytypeForm" (submit)="onSubmit()" appFocus>
            <div class="mb-3">
              <div class="form-group">
                <label for="name">{{'label-title.name' | translate}}</label>
                <input type="text" class="form-control" formControlName="name" (keypress)="_helper.space_validation($event)" readonly>
                <div class="invalid-tooltip" *ngIf="deliverytypeForm.get('name').invalid && deliverytypeForm.get('name').touched">{{'label-title.name-is-required' | translate}}</div>
              </div>
            </div>
            <div class="mb-3">
                <div class="row">
                    <div class="col-12 mb-3">
                        <p class="text-primary mb-0"> {{'validation-title.please-upload-image-in-format' | translate}}</p>
                    </div>
                    <div class="col-12 mb-3">
                        <div class="position-relative">
                            <a>
                                <img *ngIf="is_edit && delivery_type ==1" alt="Card image cap" [src]="upload_delivery_imageurl===''? '/assets/img/deliverytype/delivery.png':upload_delivery_imageurl" class="card-img-top" onerror="this.src = '../../../../assets/img/deliverytype/delivery.png'">
                                <img *ngIf="is_edit && delivery_type ==2" alt="Card image cap" [src]="upload_delivery_imageurl===''? '/assets/img/deliverytype/courier.png':upload_delivery_imageurl" class="card-img-top" onerror="this.src = '../../../../assets/img/deliverytype/courier.png'">
                                <img *ngIf="is_edit && delivery_type ==4" alt="Card image cap" [src]="upload_delivery_imageurl===''? '/assets/img/deliverytype/taxi.png':upload_delivery_imageurl" class="card-img-top" onerror="this.src = '../../../../assets/img/deliverytype/taxi.png'">
                                <img *ngIf="is_edit && delivery_type ==5" alt="Card image cap" [src]="upload_delivery_imageurl===''? '/assets/img/deliverytype/service.png':upload_delivery_imageurl" class="card-img-top" onerror="this.src = '../../../../assets/img/deliverytype/service.png'">
                                <img *ngIf="is_edit && delivery_type ==6" alt="Card image cap" [src]="upload_delivery_imageurl===''? '/assets/img/deliverytype/appoinment.png':upload_delivery_imageurl" class="card-img-top" onerror="this.src = '../../../../assets/img/deliverytype/appoinment.png'">
                                <img *ngIf="is_edit && delivery_type ==7" alt="Card image cap" [src]="upload_delivery_imageurl===''? '/assets/img/deliverytype/ecommerce.png':upload_delivery_imageurl" class="card-img-top" onerror="this.src = '../../../../assets/img/deliverytype/ecommerce.png'">

                            </a>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <div class="input-group mb-3">
                            <div class="custom-file"><input type="file" (change)="onSelectImageFile($event, 1)" id="inputGroupFile02" class="custom-file-input"><label for="inputGroupFile02" class="custom-file-label">{{'label-title.choose-a-file' | translate}}</label></div>
                            <div class="input-group-append"></div>
                        </div>
                    </div>
                </div>
                <div>
                    <p class="mb-3">
                        {{'label-title.upload-image-size-with-in-widthxheight-min' | translate}}100x80{{'label-title.and-max' | translate}}500x400{{'label-title.image-ratio-should-be' | translate}}1.25{{'label-title.and-upload-only' | translate}}jpg-jpeg-png{{'label-title.file' | translate}}</p>
                    
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="onClose()">{{'button-title.cancel' |
            translate }}</button>
        <button *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT) && is_edit" type="submit" class="btn btn-primary" (click)="onUpdate()">{{'button-title.update' | translate }}</button>
    </div>
</ng-template>
<app-image-crop-model (updateImage)="imageCropped($event)" #cropModel></app-image-crop-model>
