<tabset class="separator-tabs" #staticTabs>
    <tab heading="{{'heading-title.basic-details' | translate | uppercase }}" (selectTab)="selectTab(0)">
        <form [formGroup]="city_form" *ngIf="city_form" appFocus>
            <div class="row">
                <div class="col-12">
                    <div class="card" >
                      <div *ngIf="!selected_city && !addCity" class="card-body text-center font-weight-bold text-capitalize">{{'label-title.no-data-found' | translate}}</div>
                        <div *ngIf="addCity || selected_city" class="card-body">
                            <div class="text-align saveBtn" *ngIf="city_form">
                                <button *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT) && selected_city" type="submit" (click)="saveCity()" 
                                class="btn btn-outline-primary btn-xs">
                                {{'button-title.save' | translate }} </button>
                                <button *ngIf="_helper.has_permission(_helper.PERMISSION.ADD) && !selected_city" id="nextButton-basic" type="submit" (click)="nextpage()" 
                                class="btn btn-outline-primary btn-xs">
                                {{'button-title.next' | translate }} </button>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-12 col-lg-6 col-xl-6">
                                    <div class="mb-3">
                                        <h5 class="font-weight-semibold mb-0">{{'label-title.basic-details' | translate}}</h5>
                                    </div>
                                    <div class="mb-3" *ngIf="!this.selected_city">
                                        <div class="form-group">
                                            <label for="inputState">{{'label-title.country' | translate}}</label>
                                            <ng-select [clearable]="false" appearance="outline" notFoundText="{{'label-title.no-data-found' | translate}}" #agreeSelect labelForId="yesno" placeholder="{{'label-title.search' | translate}}"
                                                [searchable]="true"
                                                (change)="getCountryTimeZones($event)" formControlName="country_id">
                                                <ng-option [value]="country._id" *ngFor="let country of country_list">
                                                    {{country.country_name}}
                                                </ng-option>
                                            </ng-select>
                                            <div *ngIf="city_form.get('country_id').errors?.required && city_form.get('country_id').touched"
                                            class="invalid-tooltip">{{'validation-title.country-is-required' | translate}}</div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="form-group search-address">
                                            <label for="exampleInputName1">{{'label-title.city' | translate}}</label>
                                            <input type="text" id="city_name" class="form-control"
                                                placeholder="{{'label-title.city' | translate}}" [readOnly]="selected_city"
                                                formControlName="city_name" (change)="changeinput($event.target.value)">
                                            <div *ngIf="city_form.get('city_name').errors?.required && city_form.get('city_name').touched"
                                            class="invalid-tooltip">{{'validation-title.cities-is-required' | translate}}</div>
                                            <div *ngIf="!city_form.get('city_name').errors?.required && city_form.get('city_name').touched && city_form.get('city_lat').errors?.required"
                                           class="invalid-tooltip">{{'validation-title.cities-is-autocomplete-value-required' | translate}} </div>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="exampleInput">{{'label-title.city-center-location' |
                                            translate}}</label>
                                        <div class="input-group">
                                                <input type="text"
                                                    class="form-control inputwidth" placeholder="Lat"
                                                    formControlName="city_lat" readOnly>
                                            <input type="text" class="form-control" placeholder="Long"
                                                formControlName="city_lng" readOnly>
                                        </div>
                                    </div>

                                    <div class="mb-3" *ngIf="!selected_city">
                                        <div class="form-group">
                                            <label for="inputState">{{'label-title.timezone' | translate}}</label>
                                            <ng-select [clearable]="false" appearance="outline" notFoundText="{{'label-title.no-data-found' | translate}}" #agreeSelect labelForId="yesno1" placeholder="{{'label-title.search' | translate}}"
                                                [searchable]="false" formControlName="timezone">
                                                <ng-option [value]="timezone" *ngFor="let timezone of timezones">
                                                    {{timezone}}
                                                </ng-option>
                                            </ng-select>
                                            <div *ngIf="city_form.get('timezone').errors?.required && city_form.get('timezone').touched"
                                            class="invalid-tooltip">{{'label-title.timezone' | translate}} {{'label-title.is-required' | translate}}</div>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <div class="custom-control custom-switch"><input type="checkbox"
                                                id="customSwitch2" formControlName="is_business"
                                                class="custom-control-input">
                                            <label for="customSwitch2" class="custom-control-label">
                                                <h5>{{'label-title.business' | translate}}</h5>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="custom-control custom-switch"><input type="checkbox"
                                                id="customSwitch3" class="custom-control-input"
                                                formControlName="is_promo_apply">
                                            <label for="customSwitch3" class="custom-control-label mb-0">
                                                <h5 class="mb-0">{{'label-title.promo-available' | translate}}</h5>
                                            </label>
                                            <small id="emailHelp"
                                                class="form-text text-muted">{{'label-title.if-order-from-this-city-and-promo-apply-on-then-user-can-apply-promo'
                                                | translate}}</small>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="custom-control custom-switch"><input type="checkbox"
                                                id="customSwitch4" class="custom-control-input"
                                                formControlName="is_ads_visible">
                                            <label for="customSwitch4" class="custom-control-label mb-0">
                                                <h5 class="mb-0">{{'label-title.show-ads' | translate}}</h5>
                                            </label>
                                            <small id="emailHelp"
                                                class="form-text text-muted mb-4">{{'label-title.if-on-and-any-ads-available-then-it-will-show-on-user-side'
                                                | translate}}</small>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="custom-control custom-switch"><input type="checkbox"
                                                id="zone_business" class="custom-control-input"
                                                formControlName="zone_business">
                                            <label for="zone_business" class="custom-control-label mb-0">
                                                <h5 class="mb-0">{{'label-title.zone-business' | translate}}</h5>
                                            </label>
                                            <h5 class="d-inline-block"><span class="c-pointer"><i class="simple-icon-info position-relative ml-2" style="top: 4px;" tooltip="{{'tooltip-title.zone-business-tooltip' | translate}}" placement="right"></i></span></h5>
                                        </div>
                                    </div>
                                    <div class="mb-3" *ngIf="is_city_taxi_business_on">
                                        <div class="custom-control custom-switch"><input type="checkbox"
                                                id="airport_business" class="custom-control-input"
                                                formControlName="airport_business">
                                            <label for="airport_business" class="custom-control-label mb-0">
                                                <h5 class="mb-0">{{'label-title.airport-business' | translate}}</h5>
                                            </label>
                                            <h5 class="d-inline-block"><span class="c-pointer"><i class="simple-icon-info position-relative ml-2" style="top: 4px;" tooltip="{{'tooltip-title.airport-business-tooltip' | translate}}" placement="right"></i></span></h5>
                                        </div>
                                    </div>
                                    <div class="mb-3" *ngIf="is_city_taxi_business_on">
                                        <div class="custom-control custom-switch"><input type="checkbox"
                                                id="city_business" class="custom-control-input"
                                                formControlName="city_business">
                                            <label for="city_business" class="custom-control-label mb-0">
                                                <h5 class="mb-0">{{'label-title.destination-city-business' | translate}}</h5>
                                            </label>
                                            <h5 class="d-inline-block"><span class="c-pointer"><i class="simple-icon-info position-relative ml-2" style="top: 4px;" tooltip="{{'tooltip-title.destination-city-business-tooltip' | translate}}" placement="right"></i></span></h5>
                                        </div>
                                        <span class="my-2 text-danger" *ngIf="city_form.value.city_business && selected_city && destination_city_list?.length == 0">{{'label-title.no-cities-are-available' | translate}}</span>
                                    </div>
                                    <div class="mb-3" *ngIf="is_city_taxi_business_on">
                                        <div class="custom-control custom-switch"><input type="checkbox"
                                                id="is_ask_user_for_fixed_fare" class="custom-control-input"
                                                formControlName="is_ask_user_for_fixed_fare">
                                            <label for="is_ask_user_for_fixed_fare" class="custom-control-label mb-0">
                                                <h5 class="mb-0">{{'label-title.ask-user-for-fixed-fare' | translate}}</h5>
                                            </label>
                                            <h5 class="d-inline-block"><span class="c-pointer"><i class="simple-icon-info position-relative ml-2" style="top: 4px;" tooltip="{{'tooltip-title.ask-user-for-fixed-fare-tooltip' | translate}}" placement="right"></i></span></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-lg-6 col-xl-6">
                                    <div class="mb-4">
                                        <h5 class="font-weight-semibold mb-0">{{'label-title.payment-details' | translate}}</h5>
                                    </div>
                                    <div class="mb-2">
                                        <div class="custom-control custom-switch"><input type="checkbox"
                                                id="is_cash_payment_mode" class="custom-control-input"
                                                formControlName="is_cash_payment_mode" (change)="changes_cash($event)">
                                            <label for="is_cash_payment_mode" class="custom-control-label">
                                                <h6>{{'label-title.can-user-pay-by-cash' | translate}}</h6>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="custom-control custom-switch"><input type="checkbox"
                                                id="customSwitch6" class="custom-control-input"
                                                formControlName="is_other_payment_mode" (change)="changes_card($event)">
                                            <label for="customSwitch6" class="custom-control-label">
                                                <h6 class="mb-0">{{'label-title.can-user-pay-by-other-payment-method' |
                                                    translate}}</h6>
                                            </label>
                                            <small id="emailHelp"
                                                class="form-text text-muted">{{'label-title.if-other-payment-on-then-user-can-pay-by-other-payment-methods'
                                                | translate}}</small>
                                        </div>
                                    </div>
                                    <ng-container *ngIf="payment_gateway_list" formArrayName="payment_gateway">
                                        <div class="custom-control custom-checkbox mb-2"
                                            *ngFor="let payment of payment_gateway.controls;let i = index">
                                            <input type="checkbox" [id]="'customCheckThis'+i"
                                                class="custom-control-input" [formControlName]="i">
                                            <label [for]="'customCheckThis'+i" class="custom-control-label">
                                                <h6>{{ payment_gateway_list[i].name | translate}}</h6>
                                            </label>
                                        </div>
                                        <div *ngIf="city_form.get('payment_gateway').errors?.noCheckboxSelected" class="text-danger">At least one checkbox must be selected for payment gateway.</div>
                                    </ng-container>
                                    <div class="mb-3">
                                        <div class="custom-control custom-switch"><input type="checkbox"
                                                id="customSwitch61" class="custom-control-input"
                                                formControlName="is_provider_earning_add_in_wallet_on_cash_payment">
                                            <label for="customSwitch61" class="custom-control-label">
                                                <h6 class="mb-0">
                                                    {{'label-title.settled-deliveryman-wallet-in-cash-payment' |
                                                    translate}}
                                                    <span class="c-pointer"><i class="simple-icon-info position-relative ml-1" style="top: 2px;" tooltip="{{'label-title.settled-admin-profit-with-deliveryman-wallet-in-cash-payment' | translate}}" placement="right"></i></span>
                                                </h6>
                                            </label>
                                            <small class="form-text text-danger" *ngIf="!is_provider_earning_add_in_wallet_on_cash_payments">{{'tooltip-title.settlement-note-provider-payment-related' | translate}}</small>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="custom-control custom-switch"><input type="checkbox"
                                                id="customSwitch7" class="custom-control-input"
                                                formControlName="is_provider_earning_add_in_wallet_on_other_payment">
                                            <label for="customSwitch7" class="custom-control-label">
                                                <h6 class="mb-0">
                                                    {{'label-title.settled-deliveryman-wallet-in-other-payment' |
                                                    translate}}
                                                    <span class="c-pointer"><i class="simple-icon-info position-relative ml-1" style="top: 2px;" tooltip="{{'label-title.settled-admin-profit-with-deliveryman-wallet-in-other-payment' | translate}}" placement="right"></i></span>
                                                </h6>
                                            </label>
                                            <small class="form-text text-danger" *ngIf="!is_provider_earning_add_in_wallet_on_other_payments">{{'tooltip-title.settlement-note-provider-payment-related' | translate}}</small>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="custom-control custom-switch"><input type="checkbox"
                                                id="customSwitch8" class="custom-control-input"
                                                formControlName="is_store_earning_add_in_wallet_on_cash_payment">
                                            <label for="customSwitch8" class="custom-control-label">
                                                <h6 class="mb-0">{{'label-title.settled-store-wallet-in-cash-payment' |
                                                    translate}}
                                                    <span class="c-pointer"><i class="simple-icon-info position-relative ml-1" style="top: 2px;" tooltip="{{'label-title.settled-admin-profit-with-store-wallet-in-cash-payment' | translate}}" placement="right"></i></span>
                                                </h6>
                                            </label>
                                            <small class="form-text text-danger" *ngIf="!is_store_earning_add_in_wallet_on_cash_payments">{{'tooltip-title.settlement-note-store-payment-related' | translate}}</small>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="custom-control custom-switch"><input type="checkbox"
                                                id="customSwitch81" class="custom-control-input"
                                                formControlName="is_store_earning_add_in_wallet_on_other_payment">
                                            <label for="customSwitch81" class="custom-control-label">
                                                <h6 class="mb-0">{{'label-title.settled-store-wallet-in-other-payment' |
                                                    translate}}
                                                    <span class="c-pointer"><i class="simple-icon-info position-relative ml-1" style="top: 2px;" tooltip="{{'label-title.settled-admin-profit-with-store-wallet-in-other-payment' | translate}}" placement="right"></i></span>
                                                </h6>
                                            </label>
                                            <small class="form-text text-danger" *ngIf="!is_store_earning_add_in_wallet_on_other_payments">{{'tooltip-title.settlement-note-store-payment-related' | translate}}</small>
                                        </div>
                                    </div>
                                    <div class="mb-0">
                                        <div class="custom-control custom-switch"><input type="checkbox"
                                                id="customSwitch512"
                                                formControlName="is_check_provider_wallet_amount_for_received_cash_request"
                                                class="custom-control-input" (change)="cashReceive()">
                                            <label for="customSwitch512" class="custom-control-label">
                                                <h6>{{'label-title.check-wallet-amount-to-received-cash-payment' |
                                                    translate}}</h6>
                                            </label> 
                                        </div>
                                    </div>
                                    <div class="mb-1" *ngIf="city_form.value.is_check_provider_wallet_amount_for_received_cash_request">
                                        <div class="position-relative d-flex">
                                            <div class="input-group-prepend"><span id="basic-addon1"
                                                class="input-group-text">{{selected_country?.currency_sign}}</span></div>
                                            <input type="number" class="form-control" min="0"
                                            formControlName="provider_min_wallet_amount_for_received_cash_request" onwheel="this.blur()" disablePasteDrop />
                                            <div *ngIf="city_form.get('provider_min_wallet_amount_for_received_cash_request').errors?.required && city_form.get('provider_min_wallet_amount_for_received_cash_request').touched"
                                            class="invalid-tooltip">{{'label-title.this-field-is-required' | translate}}</div>
                                        </div>
                                        <small id="emailHelp"
                                            class="form-text text-muted">{{'label-title.amount-required-in-wallet-to' |
                                            translate}}</small>
                                        <div ></div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-lg-12 col-xl-12">
                                    <div class="mt-4 row">
                                        <div class="mb-3 col-12">
                                            <h5 class="font-weight-semibold mb-0">{{'label-title.delivery-on-city' | translate}}
                                                <span class="c-pointer"><i class="simple-icon-info position-relative ml-1" style="top: 2px;" tooltip="{{'tooltip-title.delivery-on-city-tooltip' | translate}}" placement="right"></i></span>
                                            </h5>
                                        </div>
                                        <div class="mb-3 col-12">
                                              <accordion [isAnimated]="true">
                                                <accordion-group heading="{{'label-title.taxi' | translate}} , {{'label-title.courier' | translate}} & {{'label-title.ecommerce' | translate}}" [panelClass]="'border'" [isOpen]="true">
                                                  <div class="row custom-check-rtl">
                                                    <ng-container *ngIf="taxi_and_courier_deliveries_in_city" formArrayName="deliveries_in_city">
                                                        <div class="custom-control custom-checkbox mb-2 col-6 col-md-6 col-lg-6 col-xl-6"
                                                            *ngFor="let delivery of taxi_and_courier_deliveries_in_city;let i=index">
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <input type="checkbox" [id]="'delivery'+i" class="custom-control-input" [formControlName]="delivery.main_index" (change)="cityTaxiAirportBusiness($event)">
                                                                    <label [for]="'delivery'+i" class="custom-control-label">
                                                                        <h6 *ngIf="taxi_and_courier_deliveries_in_city[i].delivery_name[_lang.selectedlanguageIndex]">
                                                                            {{taxi_and_courier_deliveries_in_city[i].delivery_name[_lang.selectedlanguageIndex]}}</h6>
                                                                        <h6 *ngIf="!taxi_and_courier_deliveries_in_city[i].delivery_name[_lang.selectedlanguageIndex]">
                                                                            {{taxi_and_courier_deliveries_in_city[i].delivery_name[0]}}</h6>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                  </div>
                                                </accordion-group>
                                                <accordion-group heading="{{'label-title.store' | translate}}" [panelClass]="'border'">
                                                    <div class="row">
                                                    <ng-container *ngIf="store_deliveries_in_city" formArrayName="deliveries_in_city">
                                                        <div class="custom-control custom-checkbox mb-2 col-6 col-md-6 col-lg-6 col-xl-6"
                                                            *ngFor="let store of store_deliveries_in_city;let i=index">
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <input type="checkbox" [id]="'store'+i" class="custom-control-input" [formControlName]="store.main_index">
                                                                    <label [for]="'store'+i" class="custom-control-label">
                                                                        <h6 *ngIf="store_deliveries_in_city[i].delivery_name[_lang.selectedlanguageIndex]">
                                                                            {{store_deliveries_in_city[i].delivery_name[_lang.selectedlanguageIndex]}}</h6>
                                                                        <h6 *ngIf="!store_deliveries_in_city[i].delivery_name[_lang.selectedlanguageIndex]">
                                                                            {{store_deliveries_in_city[i].delivery_name[0]}}</h6>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                    </div>
                                                </accordion-group>
                                                <accordion-group heading="{{'label-title.appointment' | translate}}" [panelClass]="'border'">
                                                    <div class="row">
                                                    <ng-container *ngIf="appointment_deliveries_in_city" formArrayName="deliveries_in_city">
                                                        <div class="custom-control custom-checkbox mb-2 col-6 col-md-6 col-lg-6 col-xl-6"
                                                            *ngFor="let appointment of appointment_deliveries_in_city;let i=index">
                                                            <div class="row">
                                                                <div class="col-6">
                                                                    <input type="checkbox" [id]="'appointment'+i" class="custom-control-input" [formControlName]="appointment.main_index">
                                                                    <label [for]="'appointment'+i" class="custom-control-label">
                                                                        <h6 *ngIf="appointment_deliveries_in_city[i].delivery_name[_lang.selectedlanguageIndex]">
                                                                            {{appointment_deliveries_in_city[i].delivery_name[_lang.selectedlanguageIndex]}}</h6>
                                                                        <h6 *ngIf="!appointment_deliveries_in_city[i].delivery_name[_lang.selectedlanguageIndex]">
                                                                            {{appointment_deliveries_in_city[i].delivery_name[0]}}</h6>
                                                                    </label>
                                                                </div>
                                                                <div class="col-6"
                                                                    *ngIf="appointment_deliveries_in_city[i].delivery_type === 6  && city_form.value.deliveries_in_city[appointment.main_index] && selected_city?.deliveries_in_city[appointment.main_index]">
                                                                    <button class="btn btn-xs btn-primary pull-right" (click)="onSetDeliveryPrice(appointment_deliveries_in_city[i])">{{'button-title.set-delivery-price' | translate}}</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                    </div>
                                                </accordion-group>
                                                <accordion-group heading="{{'label-title.service' | translate}}" [panelClass]="'border'">
                                                    <div class="row">
                                                    <ng-container *ngIf="service_deliveries_in_city" formArrayName="deliveries_in_city">
                                                        <div class="custom-control custom-checkbox mb-2 col-6 col-md-6 col-lg-6 col-xl-6"
                                                            *ngFor="let service of service_deliveries_in_city;let i=index">
                                                            <div class="row">
                                                                <div class="col-6">
                                                                    <input type="checkbox" [id]="'service'+i" class="custom-control-input" [formControlName]="service.main_index">
                                                                    <label [for]="'service'+i" class="custom-control-label">
                                                                        <h6 *ngIf="service_deliveries_in_city[i].delivery_name[_lang.selectedlanguageIndex]">
                                                                            {{service_deliveries_in_city[i].delivery_name[_lang.selectedlanguageIndex]}}</h6>
                                                                        <h6 *ngIf="!service_deliveries_in_city[i].delivery_name[_lang.selectedlanguageIndex]">
                                                                            {{service_deliveries_in_city[i].delivery_name[0]}}</h6>
                                                                    </label>
                                                                </div>
                                                                <div class="col-6"
                                                                    *ngIf="service_deliveries_in_city[i].delivery_type === 5 && city_form.value.deliveries_in_city[service.main_index] && selected_city?.deliveries_in_city[service.main_index]">
                                                                    <button class="btn btn-xs btn-primary pull-right" (click)="onSetDeliveryPrice(service_deliveries_in_city[i])">{{'button-title.set-delivery-price' | translate}}</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                    </div>
                                                  </accordion-group>
                                              </accordion>
                                          
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </tab>
    <tab heading="{{'heading-title.delivery-area' | translate | uppercase }}" (selectTab)="selectTab(ZONECONST.city_radius_page)">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="mb-2">
                            <p *ngIf="save_cityform" class="text-danger mb-1 text-right ng-star-inserted">*{{'label-title.please-fill-basic-details-first' | translate}}</p>
                            <div class="areaInput custom-control custom-switch d-flex">
                                <div class="d-flex align-items-center w-60 mb-2">
                                    <input type="checkbox" id="customSwitch5"
                                        class="custom-control-input" [(ngModel)]="is_use_radius" (change)="drawRadius()">
                                    <label for="customSwitch5" class="custom-control-label">
                                        <h6 class="mb-0">{{'label-title.use-radius' | translate }}</h6>
                                    </label>
                                    <h6 class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-2" style="top: 3px;" tooltip="{{'tooltip-title.city-use-radius-tooltip' | translate}}" placement="right"></i></h6>
                                    <p class="mb-0 ml-2 mt-1 text-danger" *ngIf="!is_use_radius && city_boundry_required">*{{'label-title.please-draw-city-boundry-first' | translate}}</p>
                                    <div class="width-40 ml-3" [hidden]="!is_use_radius">
                                        <div class="form-group mb-0">
                                            <input type="number" min="0" id="city_radius" class="form-control" placeholder="{{'label-title.radius' | translate}}"
                                            [(ngModel)]="city_radius" (keyup)="drawRadius()">
                                        <div *ngIf="radiusRequired && city_radius == null" class="error top-100">
                                            {{'label-title.city-radius-is-required' | translate}}
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="width-40" *ngIf="city_form">
                                    <button id="button-basic" type="button" *ngIf="_helper.has_permission(_helper.PERMISSION.ADD) && !selected_city"
                                    class="btn btn-outline-primary btn-xs float-right ml-2" (click)="saveCity()"> {{'button-title.save' | translate }} </button>
                                    <button id="button-basic" type="button" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT) && selected_city"
                                    class="btn btn-outline-primary btn-xs float-right ml-2" (click)="saveCity()"> {{'button-title.save' | translate }} </button>
                                </div>
                                
                            </div>
                        </div>
                        <div id="city_radius_map" style="width: 100%; min-height: 415px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </tab>
    <tab heading="{{'heading-title.zone' | translate | uppercase }}" (selectTab)="selectTab(ZONECONST.city_zone);onCityZone()">
        <div class="row">
            <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
                <div class="card mb-4">
                    <div class="card-body zonecard-height">
                        <div class="border-bottom d-flex flex-row justify-content-between my-2 py-2"
                            *ngFor="let zone of city_zone;let i = index">
                            <div class="flex-grow-1 d-flex flex-nowrap justify-content-between">
                                <div class="">
                                <a href="javascript:;" (click)="zone._id ? setZoneCenter(zone,1) : ''" [ngStyle]="(zone._id == null) && {'cursor': 'default !important'}">
                                    <p class="font-weight-medium mb-0"><span class="align-middle log-indicator mr-3"
                                            [ngStyle]="{'border-color': zone.color}"></span>{{ zone.title }}</p>
                                </a>
                                </div>
                                <div class="d-flex align-items-center" *ngIf="selected_city && zone._id">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" [(ngModel)]="zone.isBusiness" id="{{zone._id}}" class="custom-control-input">
                                        <label for="{{zone._id}}" class="custom-control-label"></label>
                                    </div>
                                    <span *ngIf="_helper.has_permission(_helper.PERMISSION.DELETE)" class="d-flex remove-btn mr-0" (click)="deleteZoneConfirm(zone)">
                                        <i  class="text-danger simple-icon-close ml-2 cursor cursor-pointer"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="border-bottom border-top d-flex flex-row justify-content-between my-3 py-3"
                            *ngIf="city_zone.length==0">
                            <div class="pl-3 flex-grow-1">
                                <a href="javascript:;">
                                    {{ 'label-title.not-found-any-zones' | translate}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-lg-8 col-xl-8">
                <div class="card mb-4">
                    <div class="position-absolute card-top-buttons" *ngIf="city_form">
                        <div class="btn-group float-right float-none-xs mb-4">
                            <button *ngIf="_helper.has_permission(_helper.PERMISSION.ADD) && !selected_city" id="button-basic" type="button"
                                (click)="saveCity()" [disabled]="!city_form.valid"
                                class="btn btn-outline-primary btn-xs"> {{'button-title.save' | translate}}
                            </button>
                            <button *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT) && selected_city" id="button-basic" type="button"
                                (click)="saveCity()" [disabled]="!city_form.valid"
                                class="btn btn-outline-primary btn-xs"> {{'button-title.save' | translate}}
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="">
                            <div class="">
                                <h6 class="font-weight-semibold mb-3">{{ 'label-title.zone-business' | translate}} <span class="c-pointer"><i class="simple-icon-info position-relative ml-1" style="top: 2px;" tooltip="{{'tooltip-title.zone-business-polygon-tooltip' | translate}}" placement="right"></i></span></h6>
                            </div>
                        </div>
                        <div id="map" style="width: 100%; min-height: 415px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </tab>
    <tab heading="{{selected_city && is_city_taxi_business_on ? ('heading-title.add-airport' | translate | uppercase) : '' }}" (selectTab)="airportZoneArea();selectTab(ZONECONST.airport_zone)">
        <div class="row">
            <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
                <div class="card mb-4">
                    <div class="card-body zonecard-height">
                        <div class="border-bottom my-2 py-2"
                            *ngFor="let zone of airportcity_zone;let i = index">
                            <div class="flex-grow-1 d-flex flex-nowrap justify-content-between">
                                <div class="">
                                <a href="javascript:;" (click)="zone._id ? setZoneCenter(zone,2) : ''" [ngStyle]="(zone._id == null) && {'cursor': 'default !important'}">
                                    <p class="font-weight-medium mb-0"><span class="align-middle log-indicator mr-3"
                                            [ngStyle]="{'border-color': zone.color}"></span>{{ zone.title }}</p>
                                </a>
                                </div>
                                <div class="d-flex align-items-center" *ngIf="selected_city && zone._id">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" [(ngModel)]="zone.isBusiness" id="{{zone._id}}" class="custom-control-input">
                                        <label for="{{zone._id}}" class="custom-control-label"></label>
                                    </div>
                                    <span *ngIf="_helper.has_permission(_helper.PERMISSION.DELETE)" class="d-flex remove-btn mr-0" (click)="deleteZoneConfirm(zone)">
                                        <i  class="text-danger simple-icon-close ml-2 cursor cursor-pointer"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="border-bottom border-top d-flex flex-row justify-content-between my-3 py-3"
                            *ngIf="airportcity_zone.length==0">
                            <div class="pl-3 flex-grow-1">
                                <a href="javascript:;">
                                    {{ 'label-title.not-found-any-zones' | translate}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-lg-8 col-xl-8">
                <div class="card mb-4">
                    <div class="position-absolute card-top-buttons" *ngIf="city_form">
                        <div class="btn-group float-right float-none-xs mb-4">
                            <button *ngIf="_helper.has_permission(_helper.PERMISSION.ADD) && !selected_city" id="button-basic" type="button"
                                (click)="saveAirportZone()" [disabled]="!city_form.valid"
                                class="btn btn-outline-primary btn-xs"> {{'button-title.save' | translate}}
                            </button>
                            <button *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT) && selected_city" id="button-basic" type="button"
                                (click)="saveAirportZone()" [disabled]="!city_form.valid"
                                class="btn btn-outline-primary btn-xs"> {{'button-title.save' | translate}}
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="">
                            <h6 class="font-weight-semibold mb-3">{{ 'label-title.airport-business' | translate}} <span class="c-pointer"><i class="simple-icon-info position-relative ml-1" style="top: 2px;" tooltip="{{'tooltip-title.airport-business-polygon-tooltip' | translate}}" placement="right"></i></span></h6>
                        </div>
                        <div id="airportmap" style="width: 100%; min-height: 415px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </tab>
    <tab heading="{{selected_city && is_city_taxi_business_on ? ('heading-title.red-zone-area' | translate | uppercase) : '' }}" (selectTab)="redZoneArea();selectTab(ZONECONST.red_zone)">
        <div class="row">
            <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
                <div class="card mb-4">
                    <div class="card-body zonecard-height">
                        <div class="border-bottom d-flex flex-row justify-content-between my-2 py-2"
                            *ngFor="let zone of redcity_zone;let i = index">
                            <div class="flex-grow-1 d-flex flex-nowrap justify-content-between">
                                <div class="">
                                <a href="javascript:;" (click)="zone._id ? setZoneCenter(zone,3) : ''" [ngStyle]="(zone._id == null) && {'cursor': 'default !important'}">
                                    <p class="font-weight-medium mb-0"><span class="align-middle log-indicator mr-3"
                                            [ngStyle]="{'border-color': zone.color}"></span>{{ zone.title }}</p>
                                </a>
                                </div>
                                <div class="d-flex align-items-center" *ngIf="selected_city && zone._id">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" [(ngModel)]="zone.is_redzone_active" id="{{zone._id}}" class="custom-control-input">
                                        <label for="{{zone._id}}" class="custom-control-label"></label>
                                    </div>
                                    <span *ngIf="_helper.has_permission(_helper.PERMISSION.DELETE) && selected_city && zone._id" class="d-flex remove-btn mr-0" (click)="deleteZoneConfirm(zone)">
                                        <i  class="text-danger simple-icon-close ml-2 cursor cursor-pointer"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="border-bottom border-top d-flex flex-row justify-content-between my-3 py-3"
                            *ngIf="redcity_zone.length==0">
                            <div class="pl-3 flex-grow-1">
                                <a href="javascript:;">
                                    {{ 'label-title.not-found-any-zones' | translate}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-lg-8 col-xl-8">
                <div class="card mb-4">
                    <div class="position-absolute card-top-buttons" *ngIf="city_form">
                        <div class="btn-group float-right float-none-xs mb-4">
                            <button *ngIf="_helper.has_permission(_helper.PERMISSION.ADD) && !selected_city" id="button-basic" type="button"
                                (click)="saveRedZone()" [disabled]="!city_form.valid"
                                class="btn btn-outline-primary btn-xs"> {{'button-title.save' | translate}}
                            </button>
                            <button *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT) && selected_city" id="button-basic" type="button"
                                (click)="saveRedZone()" [disabled]="!city_form.valid"
                                class="btn btn-outline-primary btn-xs"> {{'button-title.save' | translate}}
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="">
                            <h6 class="font-weight-semibold mb-3">{{ 'label-title.red-zone' | translate}} <span class="c-pointer"><i class="simple-icon-info position-relative ml-1" style="top: 2px;" tooltip="{{'tooltip-title.red-zone-polygon-tooltip' | translate}}" placement="right"></i></span></h6>
                        </div>
                        <div id="redZoneMap" style="width: 100%; min-height: 415px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </tab>
    <tab heading="{{selected_city && is_city_taxi_business_on && destination_city_list?.length>0 ? ('heading-title.destination-city' | translate | uppercase) : ''}}" (selectTab)="selectTab(ZONECONST.dest_cities)">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="dest_city_form">
                    <div>
                        <div class="mb-4 d-inline-block">
                            <h5 class="font-weight-semibold mb-0">{{'heading-title.destination-city' | translate}}
                                <span class="c-pointer"><i class="simple-icon-info position-relative ml-1" style="top: 2px;" tooltip="{{'tooltip-title.destination-city-list-tooltip' | translate}}" placement="right"></i></span>
                            </h5>
                        </div>
                        <div class="float-right">
                            <button *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT) && selected_city" id="button-basic"
                                type="submit" class="btn btn-outline-primary btn-xs" (click)="saveCity()">
                                {{'button-title.save' | translate }}
                            </button>
                        </div>
                        <ng-container formArrayName="destination_city">
                            <div class="row">
                                <div class="custom-control custom-checkbox mb-2 col-6 col-md-6 col-lg-6 col-xl-6"
                                    *ngFor="let city of destination_city.controls;let i=index">
                                    <div class="col-12">
                                        <input type="checkbox" [id]="'dest_city'+i" class="custom-control-input" [formControlName]="i">
                                        <label [for]="'dest_city'+i" class="custom-control-label">
                                            <h6 *ngIf="destination_city_list">
                                                {{destination_city_list[i].city_name}}</h6>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </form>
            </div>
        </div>
    </tab>
</tabset>

<!-- delete zone confirm modal -->
<ng-template #deleteZone>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{'heading-title.delete-zone' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="dropdown-content">
            <div id="zone-info" style="width:100%">
                <p class="mb-0">{{'label-title.deleting' | translate}} {{delete_zone.title}}
                    {{'label-title.zone-deleted-in-database' | translate}} </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" (click)="modalRef.hide()" class="btn btn-primary float-right">{{'button-title.cancel' | translate}}</button>
        <button type="button" (click)="DeleteZone(delete_zone._id)" class="btn btn-danger float-right">{{'button-title.confirm' | translate}}</button>
    </div>
</ng-template>
  
<delivery-price-not-set-modal  #DeliveryPriceNotSetModal></delivery-price-not-set-modal>

<ng-template #confirmationTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{'label-title.city-boundry' | translate}} ( {{selected_city.cityname}} )</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeBoundary()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body p-0">
        <div class="p-4">
            <p *ngIf="selected_city">
                {{'label-title.are-you-sure-you-want-to-clear-this' | translate}} {{'label-title.city-boundry' | translate}}.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" (click)="closeBoundary()" class="btn btn-primary float-right">{{'button-title.cancel' |
            translate}}</button>
        <button type="button" (click)="confirm()" class="btn btn-danger float-right">{{'button-title.confirm' |
            translate}}</button>
    </div>
</ng-template>