.text-align {
    text-align: end;
}

.inputwidth {
    width: 10%;
}

.form-control[readonly] {
    background-color: initial;
}
.width-40{
    width: 40%;
}
@media (max-width:420px) {
.areaInput .width-40{
  width: 60%;
}
}
.btn-outline-danger:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.zonecard-height{
    max-height: 640px;
    overflow-y: auto;
}