<div class="row">
  <div class="col-12">
    <app-heading></app-heading>
    <div class="top-right-button-container mb-2 ">
      <button *ngIf="_helper.has_permission(_helper.PERMISSION.ADD)" type="button" class="top-right-button btn btn-primary btn-lg mr-1"
        (click)="addAdvertiseModal()">{{ 'button-title.addNew' | translate | uppercase}}</button>
    </div>
    <app-breadcrumb></app-breadcrumb>
    <div class="mb-2">
      <div class="d-inline-block position-relative mb-2 mr-2">
        <div class="" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-primary btn_display_option btn-xs dropdown-toggle"
            aria-controls="dropdown-basic">
            {{'label-title.country' | translate}} : {{ selected_country !== '000000000000000000000000' ? country_name : 'label-title.all' | translate}} <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem" class="c-pointer">
              <a [ngClass]="selected_country === '000000000000000000000000' ? 'dropdown-item active' : 'dropdown-item'"
                (click)="onChangeCountry('000000000000000000000000')" *ngIf="country_list.length>=2">{{'label-title.all' | translate}}</a>
            </li>
            <li role="menuitem" *ngFor="let country of country_list" class="c-pointer">
              <a [ngClass]="country._id === selected_country ? 'dropdown-item active' : 'dropdown-item'"
                (click)="onChangeCountry(country._id)">{{country.country_name}}</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="d-inline-block position-relative mb-2 mr-2">
        <div class="" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-primary btn_display_option btn-xs dropdown-toggle"
            aria-controls="dropdown-basic">
            {{'label-title.city' | translate}} : {{ selected_city !== '000000000000000000000000' ? city_name : 'label-title.all' | translate}} <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem" class="c-pointer">
              <a [ngClass]="selected_city === '000000000000000000000000' ? 'dropdown-item active' : 'dropdown-item'"
                (click)="onChangeCity('000000000000000000000000')" *ngIf="city_list.length>=2 || city_list.length ==0" >{{'label-title.all' | translate}}</a>
            </li>
            <li role="menuitem" *ngFor="let city of city_list" class="c-pointer">
              <a [ngClass]="city._id === selected_city ? 'dropdown-item active' : 'dropdown-item'"
                (click)="onChangeCity(city._id)">{{city.city_name}}</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="d-inline-block position-relative mb-2 mr-2">
        <div class="" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-primary btn_display_option btn-xs dropdown-toggle"
            aria-controls="dropdown-basic">
            {{'label-title.delivery-type' | translate}} : {{delivery_type_name | translate }} <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem" class="c-pointer">
              <a [ngClass]="selected_delivery_type === '000000000000000000000000' ? 'dropdown-item active' : 'dropdown-item'"
                (click)="onChangeDeliveryList('000000000000000000000000')">{{'label-title.all' | translate}}</a>
            </li>
            <li role="menuitem" *ngFor="let delivery_type of delivery_type_list" class="c-pointer">
              <a [ngClass]="delivery_type.value === selected_delivery_type ? 'dropdown-item active' : 'dropdown-item'"
                (click)="onChangeDeliveryList(delivery_type.value)">{{delivery_type.title | translate}}</a>
            </li>
          </ul>
        </div>
      </div>


      <div class="d-inline-block position-relative mb-2 mr-2">
        <div class="" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-primary btn_display_option btn-xs dropdown-toggle"
            aria-controls="dropdown-basic">
            {{'label-title.delivery' | translate}} : {{delivery_name | translate }} <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem" class="c-pointer">
              <a [ngClass]="selected_delivery == '000000000000000000000000' ? 'dropdown-item active' : 'dropdown-item'"
                (click)="onChangeDelivery('000000000000000000000000')">{{'label-title.all' | translate}}</a>
            </li>
            <ng-container *ngFor="let delivery of delivery_list">
              <ng-container *ngIf="delivery?.delivery_type == selected_delivery_type ||  selected_delivery_type == '000000000000000000000000'">

                <li role="menuitem" class="c-pointer">
                  <a [ngClass]="delivery._id === selected_delivery ? 'dropdown-item active' : 'dropdown-item'"
                  (click)="onChangeDelivery(delivery)">
                    {{ delivery.delivery_name[_lang.selectedlanguageIndex] | translate}}
                  </a>
                </li>
              </ng-container>
            </ng-container>
          </ul>
        </div>
      </div>

      <div class="d-inline-block mb-2 mr-2">
        <button d="button-basic" type="button" class="btn btn-primary btn-xs" (click)="apply()"> {{'button-title.apply' | translate }}  </button>
    </div>
    <div class="d-inline-block mb-2 mr-2">
        <button d="button-basic" type="button" class="btn btn-outline-primary btn_display_option btn-xs " (click)="clear_filter()" >{{'button-title.clear-filter' | translate }} </button>
    </div>


    </div>
  </div>
  <div class="col-12">
    <tabset class="separator-tabs">
      <tab heading="{{'heading-title.approved' | translate | uppercase }}">
        <div class="row">
          <div class="col-12">
            <div class="text-center"  *ngIf="filter_approved_advertise && filter_approved_advertise.length === 0">
              <span>{{'label-title.no-record-found' | translate }}...</span>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-12 col-sm-6 mb-4" *ngFor="let ads of filter_approved_advertise">
            <div class="card" (click)="editAdvertiseModal(ads._id)">
              <div class="position-relative">
                <a href="javascript:;">
                  <img alt="Card image cap" class="card-img-top" (error)="$event.target.src = _helper.DEFAULT_IMAGE_PATH.ADVERTISE" [src]="ads.image_url ? _helper.image_url + ads.image_url : _helper.DEFAULT_IMAGE_PATH.ADVERTISE" >
                </a>
                <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left-2" *ngIf="!ads.is_ads_visible">{{
                  'label-title.invisible' | translate }}</span>
              </div>
              <div class="w-100 pt-3 pr-3 pl-3 pb-3">
                <a href="javascript:;">
                  <h6 class="mb-3 listing-heading ellipsis">
                    {{ ads.city_details ? ads.city_details.city_name : ('label-title.all' | translate) }} -
                    {{ ads.country_details.country_name }}</h6>
                </a>
                <h6 class="mb-2 ellipsis d-inline-block" *ngIf="ads.is_ads_redirect_to_store">
                  {{ ads.store_details ? ads.store_details.name[0] : '' }}</h6>
                <div class="float-right" *ngIf="_helper.has_permission(_helper.PERMISSION.DELETE)"> <button class="btn btn-outline-primary icon-button mt-2" (click)="$event.stopPropagation()" (click)="onDelete(ads._id)"><i
                      class="glyph-icon simple-icon-trash"></i></button></div>
                <footer>
                  <p class="text-muted text-small mb-0 font-weight-light">
                    {{ (ads.is_ads_have_expiry_date && ads.expiry_date ? '- ' + (ads.expiry_date | date) : '') }}</p>
                </footer>
              </div>
            </div>
          </div>
        </div>
      </tab>
      
      <tab heading="{{'heading-title.expired' | translate | uppercase }}" (selectTab)="getExpiredAds()">
        <div class="row">
          <div class="col-12">
            <div class="text-center"  *ngIf="filter_expired_advertise && filter_expired_advertise.length === 0">
              <span>{{'label-title.no-record-found' | translate }}...</span>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-12 col-sm-6 mb-4" *ngFor="let ads of filter_expired_advertise">
            <div class="card" (click)="editAdvertiseModal(ads._id)">
              <div class="position-relative">
                <a href="javascript:;">
                  <img alt="Card image cap" class="card-img-top" [src]="ads.image_url ? _helper.image_url + ads.image_url : _helper.DEFAULT_IMAGE_PATH.ADVERTISE" (error)="$event.target.src=_helper.DEFAULT_IMAGE_PATH.ADVERTISE">
                </a>
                <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left-2" *ngIf="!ads.is_ads_visible">{{
                  'label-title.invisible' | translate }}</span>
              </div>
              <div class="w-100 pt-3 pr-3 pl-3 pb-3">
                <a href="javascript:;">
                  <h6 class="mb-3 listing-heading ellipsis">
                    {{ ads.city_details ? ads.city_details.city_name : ('label-title.all' | translate) }} -
                    {{ ads.country_details.country_name }}</h6>
                </a>
                <h6 class="mb-2 ellipsis d-inline-block" *ngIf="ads.is_ads_redirect_to_store">
                  {{ ads.store_details ? ads.store_details.name[0] : '' }}</h6>
                <div class="float-right" *ngIf="_helper.has_permission(_helper.PERMISSION.DELETE)"> <button class="btn btn-outline-primary icon-button mt-2" (click)="$event.stopPropagation()" (click)="onDelete(ads._id)"><i
                      class="glyph-icon simple-icon-trash"></i></button></div>
                <footer>
                  <p class="text-muted text-small mb-0 font-weight-light">
                    {{ (ads.expiry_date ? '- ' + (ads.expiry_date | date) : '') }}</p>
                </footer>
              </div>
            </div>
          </div>
        </div>
      </tab>

    </tabset>
  </div>
</div>
<app-add-new-advertise-modal #addNewModalRef></app-add-new-advertise-modal>
