<ng-template #template>
  <div class="modal-header">
      <h4 class="modal-title pull-left">{{'heading-title.users' | translate}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-0">
      <tabset class="card-tabs truncate" [justified]="true">
          <tab heading="{{'heading-title.make-user' | translate  }}" class="card-body" (selectTab)="makeUser()">
            <form #userForm="ngForm">
            <div class="form-group mb-4">
              <label for="inputState">{{'label-title.user-type' | translate }}</label>
              <ng-select appearance="outline" [(ngModel)]="type" name="type" [searchable]="true" placeholder="{{'label-title.choose' | translate}}..">
                <ng-option value="0">{{'label-title.all' | translate}}</ng-option>
                <ng-option value="2">{{'label-title.store' | translate}}</ng-option>
                <ng-option value="7">{{'label-title.user' | translate}}</ng-option>
                <ng-option value="8">{{'label-title.provider' | translate}}</ng-option>
              </ng-select>
            </div>
            <div class="form-group mb-4">
              <label for="inputState">{{'label-title.country' | translate }}</label>
              <ng-select appearance="outline" [searchable]="true" (change)="onCountrySelected($event)" placeholder="{{'label-title.choose' | translate}}..">
                <ng-option *ngFor="let country of countries" [value]="country._id">{{country.country_name}}</ng-option>
              </ng-select>
            </div>
            <div class="form-group mb-4">
              <label for="inputState">{{'label-title.city' | translate }}</label>
              <ng-select appearance="outline" [(ngModel)]="city_id" name="city_id" [searchable]="true" placeholder="{{'label-title.choose' | translate}}..">
                <ng-option *ngFor="let city of cities" [value]="city._id">{{ city.city_name }}</ng-option>
              </ng-select>
            </div>
            <div class="form-group mb-4">
              <label for="inputState">{{'label-title.delivery' | translate }}</label>
              <ng-select appearance="outline" [(ngModel)]="delivery" name="delivery" [searchable]="true" placeholder="{{'label-title.choose' | translate}}..">
                <ng-option *ngFor="let delivery of deliveries" [value]="delivery._id">{{delivery.delivery_name}}</ng-option>
              </ng-select>
            </div>
            <div class="form-group mb-4">
              <label for="inputState">{{'label-title.name' | translate }}</label>
              <input type="text" class="form-control" [(ngModel)]="name" name="name">
            </div>
            <div class="form-group mb-4">
              <label for="inputState">{{'label-title.email' | translate }}</label>
              <input type="text" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="email" ngModel #emailvar="ngModel" name="email" >
              <div *ngIf="emailvar.touched && emailvar.errors?.pattern" class="text-danger">{{'label-title.enter-valid-email' | translate}}</div>
            </div>
            <div class="form-group mb-4">
              <label for="inputState">{{'label-title.phone' | translate }}</label>
              <input type="text" class="form-control" [(ngModel)]="phone" #phonevar="ngModel" minlength="8" maxlength="15" name="phone" (keypress)="_helper.number_validation($event)">
              <div *ngIf="phonevar.touched && (phonevar.errors?.minlength || phonevar.errors?.maxlength)" class="text-danger">{{'label-title.enter-valid-email' | translate}}</div>
            </div>
            <br>
            <div class="mt-1">
              <div class="form-group mb-4" *ngIf="user_detail">
                <h4 class="mb-2">{{'heading-title.user-details' | translate}}</h4>
                <p class="text-muted mb-0 text-small">{{'label-title.user' | translate}}</p>
                <p>{{'label-title.email' | translate}} : {{user_detail.email}} , {{'label-title.phone' | translate}} : {{user_detail.phone}}</p>
              </div>
              <div class="form-group mb-4" *ngIf="provider">
                <h4 class="mb-2">{{'heading-title.provider-details' | translate}}</h4>
                <p class="text-muted mb-0 text-small">{{'label-title.deliveryman' | translate}}</p>
                <p>{{'label-title.email' | translate}} : {{provider.email}} , {{'label-title.phone' | translate}} : {{provider.phone}}</p>
              </div>
              <div class="form-group mb-4" *ngIf="store">
                <h4 class="mb-2">{{'heading-title.store-details' | translate}}</h4>
                <p class="text-muted mb-0 text-small">{{'label-title.store' | translate}}</p>
                <p>{{'label-title.email' | translate}} : {{store.email}} , {{'label-title.phone' | translate}} : {{store.phone}}</p>
              </div>
            </div>
          </form>
          </tab>
          <tab heading="{{'heading-title.copy-data' | translate  }}" class="card-body" (selectTab)="copyData()">
            <div class="form-group mb-4">
              <label for="inputState">{{'label-title.delivery' | translate }}</label>
              <ng-select appearance="outline" [searchable]="true" (change)="get_store_list($event)" placeholder="{{'label-title.choose' | translate}}..">
                <ng-option *ngFor="let delivery of deliveries" [value]="delivery._id">{{delivery.delivery_name[_lang.selectedlanguageIndex] ? delivery.delivery_name[_lang.selectedlanguageIndex] : delivery.delivery_name[0]}}</ng-option>
              </ng-select>
            </div>
            <div class="form-group mb-4">
              <label for="inputState">{{'label-title.store-for-copy-data' | translate }}</label>
              <ng-select appearance="outline" [(ngModel)]="copy_store"  [searchable]="true" placeholder="{{'label-title.choose' | translate}}..">
                <ng-option *ngFor="let store of stores" [value]="store._id">{{store.email}}</ng-option>
              </ng-select>
            </div>
            <div class="form-group mb-4">
              <label for="inputState">{{'label-title.store-list-for-paste-data' | translate }}</label>
              <ng-select appearance="outline" [(ngModel)]="paste_store" [searchable]="true" placeholder="{{'label-title.choose' | translate}}..">
                <ng-option *ngFor="let store of stores" [value]="store._id">{{store.email}}</ng-option>
              </ng-select>
            </div>

          </tab>
      </tabset>
  </div>
  <div class="modal-footer">
    <button type="button"  class="btn btn-outline-primary" (click)="modalRef.hide()">{{'button-title.cancel' | translate }}</button>
    <button type="button" *ngIf="user" class="btn btn-primary" [disabled]="userForm.invalid" (click)="onMakeUser()">{{'button-title.submit' | translate }}</button>
    <button type="button" *ngIf="data" class="btn btn-primary" [disabled]="copy_store === paste_store || !copy_store || !paste_store" (click)="onCopyStore()">{{'button-title.submit' | translate }}</button>
</div>
</ng-template>
