<div class="row app-row">
  <div class="col-12">
    <app-heading></app-heading>
    <app-breadcrumb></app-breadcrumb>
    <br>
    <div class="separator mb-4"></div>
  </div>
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div id="deliveryman_track_map" style="width: 100%; min-height: 550px; will-change: unset;"></div>
      </div>
    </div>
  </div>
</div>
<app-application-menu>
  <div style="position: static;">
    <div class="ps-content">
      <div class="p-4 h-100">
        <div class="form-group mb-3">
          <label class="text-muted  mb-2">{{'label-title.country' | translate }}</label>
          <ng-select notFoundText="{{'label-title.no-data-found' | translate}}" appearance="outline" [searchable]="true" placeholder="{{'label-title.choose' | translate }}..." [(ngModel)]="selected_country"
            (change)="getCityList()">
            <ng-option [value]="country._id" *ngFor="let country of country_list">{{ country.country_name }}</ng-option>
          </ng-select>
        </div>
        <div class="form-group mb-3">
          <label class="text-muted  mb-2">{{'label-title.city' | translate }}</label>
          <ng-select notFoundText="{{'label-title.no-data-found' | translate}}" appearance="outline" [searchable]="true" placeholder="{{'label-title.choose' | translate }}..." [(ngModel)]="selected_city"
            (change)="onCitySelected()">
            <ng-option [value]="city._id" *ngFor="let city of city_list">{{ city.city_name }}</ng-option>
          </ng-select>
        </div>
        <div class="form-group mb-3">
          <label class="text-muted  mb-2">{{'label-title.order/deliveryman' | translate }}</label>
          <ng-select notFoundText="{{'label-title.no-data-found' | translate}}" appearance="outline" [searchable]="false" placeholder="{{'label-title.choose' | translate }}..." [(ngModel)]="type">
            <ng-option [value]="1">{{'label-title.order' | translate}}</ng-option>
            <ng-option [value]="0">{{'label-title.deliveryman' | translate}}</ng-option>
          </ng-select>
        </div>
        <div class="form-group mb-3" *ngIf="type === 0 || type === 1">
          <label class="text-muted  mb-2">{{'label-title.order-no/deliveryman-email' | translate }}</label>
          <ng-select notFoundText="{{'label-title.no-data-found' | translate}}" appearance="outline" [searchable]="true" placeholder="{{'label-title.choose' | translate }}..." [(ngModel)]="selected_provider_id"
            (change)="onProviderSelected()" *ngIf="type === 0">
            <ng-option [value]="provider._id" *ngFor="let provider of provider_list">
              {{ provider.first_name + ' ' + provider.last_name + '(' + provider.email + ')' }}</ng-option>
          </ng-select>

          <ng-select appearance="outline" [searchable]="true" placeholder="{{'label-title.choose' | translate }}..." [(ngModel)]="selected_order_id"
            (change)="onOrderSelected()" *ngIf="type === 1">
            <ng-option [value]="order._id" *ngFor="let order of order_list">
              {{ order.unique_id }}</ng-option>
          </ng-select>
        </div>
      </div>
    </div>
  </div>

</app-application-menu>
