<div class="row">
  <div class="col-12">
    <app-heading></app-heading>
    <div class="float-right top-side-btn" style="text-align: end;" *ngIf="_helper.has_permission(_helper.PERMISSION.EXPORT)">
      <button type="button" (click)="onExport()" class="btn btn-outline-primary">{{'button-title.export' | translate}}</button>
    </div>
    <app-breadcrumb></app-breadcrumb>
    <br>
    <div class="d-flex justify-content-between mb-2">
    <div class="">
    <div class="d-inline-block position-relative">
      <div class="float-md-left mr-1 mb-1" dropdown>
        <button id="button-basic" dropdownToggle type="button"
          class="btn btn-outline-primary btn_display_option btn-xs dropdown-toggle" aria-controls="dropdown-basic">
          {{'button-title.search-by' | translate}} : {{selectedOrderBy.label | translate}} <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
          <li role="menuitem" *ngFor="let item of orderByList" class="c-pointer"><a
              [ngClass]="item.value === selectedOrderBy.value ? 'dropdown-item active' : 'dropdown-item'"
              (click)="changeOrderBy(item)">{{item.label | translate}}</a></li>
        </ul>
      </div>
    </div>
    <div class="d-inline-block">
      <div class="search-sm d-inline-block float-md-left mr-1 mb-1 align-top">
        <input class="form-control" [(ngModel)]="search_value" placeholder="{{'label-title.search' | translate}}">
      </div>
    </div>

    <div class="d-inline-block position-relative">
      <div class="float-md-left mr-1 mb-1" dropdown>

        <div (clickOutside)="dropdown1.hide()" class="d-inline-block position-relative">
          <div class="btn-group" dropdown #dropdown1="bs-dropdown" [autoClose]="false" [isOpen]="false">
            <button dropdownToggle type="button"
              class="btn btn-outline-primary btn_display_option btn-xs dropdown-toggle">
              {{'button-title.delivery-type' | translate}} <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
              <li role="menuitem" *ngFor="let filter of deliveryTypes; let i= index">
                <a class="dropdown-item c-default" href="javascript:;">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" (change)="filter.checked = !filter.checked" [checked]="filter.checked"
                      id="{{'SId'+i}}" class="custom-control-input">
                    <label for="{{'SId'+i}}" class="custom-control-label">{{filter.name | translate}}</label>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="d-inline-block position-relative">
      <div class="float-md-left mr-1 mb-1" dropdown>
        <div (clickOutside)="dropdown2.hide()" class=" d-inline-block position-relative">
          <div class="btn-group" dropdown #dropdown2="bs-dropdown" [autoClose]="false" [isOpen]="false">
            <button dropdownToggle type="button"
              class="btn btn-outline-primary btn_display_option btn-xs dropdown-toggle">
              {{'button-title.select-payment-by' | translate}} <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
              <li role="menuitem" *ngFor="let filter of paymentBy; let i= index">
                <a class="dropdown-item c-default" href="javascript:;">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" (change)="filter.checked = !filter.checked" [checked]="filter.checked"
                      id="{{'PId'+i}}" class="custom-control-input">
                    <label for="{{'PId'+i}}" class="custom-control-label">{{filter.name | translate}}</label>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="d-inline-block position-relative">
      <div class="date-sm float-md-left mr-1 mb-1">
        <input [hidden]="direction=='ltr'" class="form-control theme_date_picker" placeholder="{{'label-title.select-dates' | translate}}" [(ngModel)]="item_bsRangeValue"
          [bsConfig]="{ selectWeekDateRange: true , containerClass: 'rtldatetransearning'}" #drp="bsDaterangepicker" bsDaterangepicker [container]="'html'" [minDate]="created_date" [maxDate]="todayDate">
        <input [hidden]="direction=='rtl'" class="form-control theme_date_picker" placeholder="{{'label-title.select-dates' | translate}}" [(ngModel)]="item_bsRangeValue"
          [bsConfig]="{ selectWeekDateRange: true , containerClass: 'datetransearning'}" #drp="bsDaterangepicker" bsDaterangepicker [container]="'html'" [minDate]="created_date" [maxDate]="todayDate">
      </div>
    </div>

    <div class="d-inline-block position-relative">
      <div class="float-md-left mr-1 mb-1" dropdown>
          <div (clickOutside)="dropdown3.hide()" class=" d-inline-block position-relative">
              <div class="btn-group" dropdown #dropdown3="bs-dropdown" [autoClose]="false" [isOpen]="false">
                  <button dropdownToggle type="button" class="btn btn-outline-primary btn_display_option btn-xs dropdown-toggle">
                      {{ 'button-title.business-type' | translate }}<span class="caret"></span>
                  </button>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                      <li role="menuitem" *ngFor="let filter of businessTypes; let i= index">
                          <a class="dropdown-item c-default" href="javascript:;">
                              <div class="custom-control custom-checkbox">
                                  <input type="checkbox" (change)="filter.checked = !filter.checked"
                                      [checked]="filter.checked" id="{{'BId'+i}}" class="custom-control-input">
                                  <label for="{{'BId'+i}}" class="custom-control-label">{{filter.name | translate}}</label>
                              </div>
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>

    <div class="d-inline-block position-relative">
      <div class="float-md-left mr-1 mb-1">
        <button (click)="onSearch()" type="button" class="btn btn-primary btn-xs">{{'button-title.apply' | translate}}</button>
      </div>
    </div>
    <div class="d-inline-block position-relative">
      <div class="float-md-left mb-1 mr-1">
          <button [disabled]="search_value == '' && is_clear_disabled" type="button" class="btn btn-outline-primary btn_display_option btn-xs " (click)="clear_filter()">{{'button-title.clear-filter' | translate }} </button>
      </div>
  </div>
  </div>
  <div class="float-right per-page-box">
    <span class="text-muted text-small text-nowrap">{{'label-title.per-page' | translate }}  </span>
    <span dropdown class="d-inline-block position-relative">
      <button class="btn btn-outline-primary btn_display_option btn-xs dropdown-toggle" type="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" dropdownToggle>
        {{itemsPerPage}}
      </button>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-sm text-right" *dropdownMenu>
        <ol>
          <li role="menuitem" *ngFor="let item of itemOptionsPerPage" class="c-pointer"><a
              [ngClass]="item === itemsPerPage ? 'dropdown-item active' : 'dropdown-item'"
              (click)="itemsPerPageChange(item)">{{item}}</a></li>
        </ol>
      </div>
    </span>
  </div>
  </div>
    <div class="separator mb-4"></div>
  </div>
</div>
<div class="row equal-height-container">
  <div class="col-12">
    <div class="card overflow-auto">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table_box table-hover" aria-describedby="">
            <thead class="thead-light">
              <tr>
                <th scope="col">{{ 'heading-title.order' | translate }}</th>
                <th scope="col">{{ 'heading-title.type' | translate }}</th>
                <th scope="col">{{ 'heading-title.completed' | translate }}</th>
                <th scope="col">{{ 'heading-title.total' | translate }}</th>
                <th scope="col">{{ 'heading-title.deliveryman-earn' | translate }}</th>
                <th scope="col">{{ 'heading-title.store-earn' | translate }}</th>
                <th scope="col">{{ 'heading-title.admin-earn' | translate }}</th>
              </tr>
            </thead>
            <tbody *ngIf="earnings.length">
              <tr *ngFor="let earning of earnings" (click)="onDetail(earning._id)">
                <th scope="row" class="c-pointer">{{earning.unique_id}}</th>
                <td>
                  <ng-container [ngSwitch]="earning.delivery_type">
                      <label *ngSwitchCase="_helper.DELIVERY_TYPE_CONSTANT.STORE">
                          {{'label-title.store' | translate}}
                      </label>
                      <label *ngSwitchCase="_helper.DELIVERY_TYPE_CONSTANT.COURIER">
                          {{'label-title.courier' | translate}}
                      </label>
                      <label *ngSwitchCase="_helper.DELIVERY_TYPE_CONSTANT.TABLE_BOOKING">
                          {{'label-title.table' | translate}}
                      </label>
                      <label *ngSwitchCase="_helper.DELIVERY_TYPE_CONSTANT.TAXI">
                          {{'label-title.taxi' | translate}}
                      </label>
                      <label *ngSwitchCase="_helper.DELIVERY_TYPE_CONSTANT.SERVICE">
                          {{'label-title.service' | translate}}
                      </label>
                      <label *ngSwitchCase="_helper.DELIVERY_TYPE_CONSTANT.APPOINMENT">
                          {{'label-title.appoinment' | translate}}
                      </label>
                      <label *ngSwitchCase="_helper.DELIVERY_TYPE_CONSTANT.ECOMMERCE">
                        {{'label-title.ecommerce' | translate}}
                    </label>
                  </ng-container>
              </td>
                <td *ngIf="timezone_for_display_date">{{_helper.moment(earning.completed_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.MOMENT_DD_MMM_YYYY)}} {{_helper.moment(earning.completed_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.HH_MM_A)}}</td>
                <td>{{earning.total | roundpipe:_helper.to_fixed_number}}</td>
                <td>{{earning.deliveryman_earn | roundpipe:_helper.to_fixed_number}}</td>
                <td>{{earning.store_earn | roundpipe:_helper.to_fixed_number}}</td>
                <td>{{earning.admin_earn | roundpipe:_helper.to_fixed_number}}</td>
              </tr>
            </tbody>
            <tbody *ngIf="!earnings.length">
                <tr>
                    <th colspan="12" class="text-center" scope="">
                        <span>{{ 'label-title.no-record-found' | translate }}</span>
                    </th>
                </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
</div>

<div class="row mt-2" *ngIf="earnings && earnings.length > 0">
  <div class="col-12">
    <pagination [totalItems]="count" [rotate]="true" [itemsPerPage]="itemsPerPage" [maxSize]="5"
      class="justify-content-center" [customNextTemplate]="nextTemplate" (pageChanged)="pageChanged($event)"
      [customPreviousTemplate]="prevTemplate">
    </pagination>
  </div>
</div>

<ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
  <i class='simple-icon-arrow-right'></i>
</ng-template>

<ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
  <i class='simple-icon-arrow-left'></i>
</ng-template>

<app-add-new-order-list-modal #addNewModalRef></app-add-new-order-list-modal>
