<ng-template #template>
  <div class="modal-header">
    <h4 *ngIf="is_edit" class="modal-title pull-left">{{'heading-title.edit-reason' | translate}}</h4>
    <h4 *ngIf="!is_edit" class="modal-title pull-left">{{'heading-title.add-reason' | translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
    <form [formGroup]="cancellationReasonForm">
      <div formArrayName="reason">
        <label>{{ 'label-title.cancellation-reason' | translate }}</label>
        <div class="input-group mt-1" *ngFor="let reason of reason.controls;let i = index">
            <div class="input-group-prepend">
              <span class="width-60 input-group-text" id="basic-addon1">{{this._lang.supportedLanguages[i].shorthand | uppercase}}</span>
            </div>
            <input type="text" class="form-control" [formControlName]="i" placeholder="{{'label-title.cancellation-reason' | translate}}" (keypress)="_helper.space_validation($event)">
            <div *ngIf="cancellationReasonForm.get('reason')['controls'][i].errors?.required && cancellationReasonForm.get('reason')['controls'][i]?.touched"
            class="invalid-tooltip">{{ 'label-title.cancellation-reason' | translate }} {{'label-title.is-required' | translate}}</div>
          </div>
      </div>
      <div class="form-group my-3">
        <label><span>{{ 'label-title.delivery-type' | translate }}</span></label>
        <ng-select appearance="outline" #agreeSelect labelForId="yesno" [searchable]="false" formControlName="delivery_type">
          <ng-option *ngFor="let delivery of deliveries_type_list" [value]="delivery.value">{{delivery.title | translate}}</ng-option>
        </ng-select>
        <div *ngIf="cancellationReasonForm.get('delivery_type').errors?.required && cancellationReasonForm.get('delivery_type').touched"
        class="invalid-tooltip">{{ 'label-title.delivery-type' | translate }} {{'label-title.is-required' | translate}}</div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button *ngIf="_helper.has_permission(_helper.PERMISSION.ADD) && !is_edit" type="button" class="btn btn-primary" 
      (click)="save()">{{'button-title.submit' | translate }}</button>
    <button *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT) && is_edit" type="button" class="btn btn-primary" 
      (click)="save()">{{'button-title.submit' | translate }}</button>
  </div>
</ng-template>
