<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <div class="float-right top-side-btn" style="text-align: end;" *ngIf="_helper.has_permission(_helper.PERMISSION.EXPORT)">
            <button type="button" (click)="onExport()" class="btn btn-outline-primary">{{'button-title.export' | translate}}</button>
        </div>
        <app-breadcrumb></app-breadcrumb>
        <br>
        <div class="d-flex justify-content-between mb-2">
        <div class="">
        <div class="d-inline-block position-relative">
            <div class="float-md-left mr-1 mb-1" dropdown>
                <button id="button-basic" dropdownToggle type="button"
                    class="btn btn-outline-primary btn_display_option btn_display_option btn-xs dropdown-toggle" aria-controls="dropdown-basic">
                   {{'button-title.search-by' | translate}} : {{selectedOrderBy.label | translate}} <span class="caret"></span>
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                    aria-labelledby="button-basic">
                    <li role="menuitem" *ngFor="let item of orderByList" class="c-pointer" [ngClass]="(item.isShow == false ? 'd-none' : '')"><a
                            [ngClass]="item.value === selectedOrderBy.value ? 'dropdown-item active' : 'dropdown-item'"
                            (click)="changeOrderBy(item)">{{item.label | translate}}</a></li>
                </ul>
            </div>
        </div>

        <div class="d-inline-block">
            <div class="search-sm d-inline-block float-md-left mr-1 mb-1 align-top">
                <input class="form-control" [(ngModel)]="search_value" placeholder="{{'label-title.search' | translate}}">
            </div>
        </div>

        <div class="d-block d-md-inline-block position-relative" *ngIf="created_date">
            <div class="float-md-left mr-1 mb-1" dropdown>
                <div (clickOutside)="dropdown3.hide()" class=" d-inline-block position-relative">
                    <div class="btn-group" dropdown #dropdown3="bs-dropdown" [autoClose]="true" [isOpen]="false">
                        <button dropdownToggle type="button"
                            class="btn btn-outline-primary btn_display_option btn-xs dropdown-toggle">
                            {{selectedWeek.start | date:_helper.DATE_FORMAT.DD_MM_YYYY}} - {{selectedWeek.end |
                            date:_helper.DATE_FORMAT.DD_MM_YYYY}}<span class="caret"></span>
                        </button>
                        <ul *dropdownMenu class="dropdown-menu week_date_list" role="menu">
                            <li role="menuitem" *ngFor="let week_day of week_days; let i= index">
                                <a class="dropdown-item" [ngClass]="{'active':selectedWeek.start === week_day.start}"
                                    (click)="selectedWeek = week_day" href="javascript:;">
                                    {{week_day.start | date:_helper.DATE_FORMAT.DD_MM_YYYY}} - {{week_day.end |
                                    date:_helper.DATE_FORMAT.DD_MM_YYYY}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-inline-block position-relative">
            <div class="float-md-left mr-1 mb-1">
                <button (click)="onSearch()" type="button"  class="btn btn-primary btn-xs">{{'button-title.apply' | translate}}</button>
            </div>
        </div>
        <div class="d-inline-block position-relative">
            <div class="float-md-left mb-1 mr-1">
                <button [disabled]="search_value == '' && is_clear_disabled" type="button" class="btn btn-outline-primary btn_display_option btn-xs " (click)="clear_filter()">{{'button-title.clear-filter' | translate }} </button>
            </div>
        </div>
        </div>
        <div class="float-right per-page-box">
            <span class="text-muted text-small text-nowrap">{{'label-title.per-page' | translate }} </span>
            <span dropdown class="d-inline-block position-relative">
              <button class="btn btn-outline-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" dropdownToggle>
                {{itemsPerPage}}
              </button>
              <div class="dropdown-menu dropdown-menu-right dropdown-menu-sm text-right" *dropdownMenu>
                <ol>
                    <li role="menuitem" *ngFor="let item of itemOptionsPerPage" class="c-pointer"><a
                        [ngClass]="item === itemsPerPage ? 'dropdown-item active' : 'dropdown-item'"
                        (click)="onChangeItemsPerPage(item)">{{item}}</a></li>
                </ol>
              </div>
            </span>
        </div>
        </div>
        <div class="separator mb-4"></div>
    </div>
</div>
<div class="row equal-height-container">
    <div class="col-12">
        <div class="card overflow-auto">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table_box table-hover" aria-describedby="">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">{{ 'heading-title.id' | translate }}</th>
                                <th scope="col">{{ 'heading-title.deliveryman' | translate }}</th>
                                <th scope="col">{{ 'heading-title.deliveryman-earn' | translate }}</th>
                                <th scope="col">{{ 'heading-title.have-cash' | translate }}</th>
                                <th scope="col">{{ 'heading-title.wallet-deduct' | translate }}</th>
                                <th scope="col" class="text-nowrap">{{ 'heading-title.added-in-wallet' | translate }}</th>
                                <th scope="col">{{ 'heading-title.transferred' | translate }}</th>
                                <th scope="col">{{ 'heading-title.pay-deliveryman' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="earnings.length">
                            <tr (click)="onDetail(earning.provider_detail._id)" *ngFor="let earning of earnings">
                                <th scope="row" class="c-pointer">{{earning.provider_detail.unique_id}}</th>
                                <td>{{ earning.provider_detail.first_name +" "+ earning.provider_detail.last_name+" ("+earning.provider_detail.email+")"}}</td>
                                <td>{{ earning.country_detail[0].currency_sign}}&nbsp;&nbsp;&nbsp;{{earning.total_provider_earning | roundpipe:_helper.to_fixed_number}}</td>
                                <td>{{ earning.provider_have_cash_payment | roundpipe:_helper.to_fixed_number }}</td>
                                <td>{{ earning.total_deduct_wallet_income| roundpipe:_helper.to_fixed_number }}</td>
                                <td>{{ earning.total_added_wallet_income| roundpipe:_helper.to_fixed_number }}</td>
                                <td>{{ earning.total_transferred_amount| roundpipe:_helper.to_fixed_number }}</td>
                                <td>{{ earning.total_pay_to_provider| roundpipe:_helper.to_fixed_number }}</td>

                            </tr>
                        </tbody>
                        <tbody *ngIf="!earnings.length">
                            <tr>
                                <th colspan="12" class="text-center" scope="">
                                    <span>{{ 'label-title.no-record-found' | translate }}</span>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-2" *ngIf="earnings && earnings.length > 0">
    <div class="col-12">
        <pagination [totalItems]="pages" [rotate]="true" [maxSize]="5" class="justify-content-center" [customNextTemplate]="nextTemplate" [customPreviousTemplate]="prevTemplate">
        </pagination>
    </div>
</div>

<ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-arrow-right'></i>
</ng-template>

<ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-arrow-left'></i>
</ng-template>

<app-deliveryman-earning-detail #addNewModalRef></app-deliveryman-earning-detail>
