<style>
  .week_date_list{
    max-height: 300px;
    overflow: auto;
  }
  .drop-max-height{
    max-height: 456px;
    overflow-y: auto;
  }
  .country-width ,.round-ng-select-search{
    width: 190px; 
    white-space:pre-wrap;
  }
  .dashboard-list-with-user {
      max-height: 290px !important;
  }
  
  .earning-chart {
    padding: 0;
  }
  i {
    font-size: 250%;
  }
  p {
    font-size: 140%
  }
  .f-1 {
    flex: 2;
  }
  .f-3 {
    flex: 3;
  }

  @media only screen and (max-width: 912px) {
    i {
        font-size: 220%;
    }

    p {
        font-size: 130%
    }
    .dashboard-list-with-user {
        height: auto !important;
    }
}
@media only screen and (max-width: 414px) {
    i {
        font-size: 180%;
    }
    p {
        font-size: 115%
    }
}

</style>

<div class="row">
  <div class="col"></div>
</div>

<div class="row">
  <div class="col-12">
    <app-heading title="{{'menu-title.dashboard' | translate}}"></app-heading>
    <app-breadcrumb title="{{'menu-title.dashboard' | translate}}"></app-breadcrumb>
    <span>{{'label-title.country' | translate}} : </span>
      <div class="d-inline-block position-relative mb-2 mr-2 country-width">
        <div class="round-ng-select-search">
          <ng-select id="countrySelect" class="custom category-select-btn" appearance="outline" #agreeSelect labelForId="yesno"
            [searchable]="true" notFoundText="{{'label-title.no-data-found' | translate}}" [clearable]="false"
            (change)="onChangeCountry($event)" [(ngModel)]="selected_country.country_id">
            <ng-option value="000000000000000000000000" *ngIf="country_list.length>=2">{{'label-title.all' | translate}}</ng-option>
            <ng-option *ngFor="let country of country_list" [value]="country._id">{{country.country_name}}</ng-option>
          </ng-select>
        </div>
      </div>
    <div class="separator mb-5"></div>
  </div>
</div>

<div class="row mb-2">
  <div class="col-12">
   <div class="d-flex align-items-center flex-wrap mb-2" dropdown>
        <button id="button-basic" dropdownToggle type="button"
          class="btn btn-outline-primary btn-xs dropdown-toggle"
          aria-controls="dropdown-basic">
          {{'button-title.search-by' | translate}} : {{itemSelected.label | translate}} <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu c-pointer ml-3 rtl-right-0" role="menu" aria-labelledby="button-basic" style="width: fit-content;">
          <li role="menuitem" *ngFor="let item of itemOptions"><a
              [ngClass]="item.value === itemSelected.value ? 'dropdown-item active' : 'dropdown-item'"
              (click)="onChangeSearchBy(item)">{{item.label | translate}}</a></li>
        </ul>
        <div *ngIf="itemSelected.value == '6'" class="date-sm ml-1">
          <input [hidden]="direction=='rtl'" class="form-control theme_date_picker" placeholder="{{'label-title.select-dates' | translate}}"
            [bsConfig]="{ selectWeekDateRange: true, containerClass: 'datetrans' }" #drp="bsDaterangepicker"
            [(ngModel)]="item_bsRangeValue" bsDaterangepicker [container]="'html'" #dateValue [readOnly]="true" [minDate]="created_date" [maxDate]="todayDate" *ngIf="created_date">
          <input [hidden]="direction=='ltr'" class="form-control theme_date_picker" placeholder="{{'label-title.select-dates' | translate}}"
            [bsConfig]="{ selectWeekDateRange: true, containerClass: 'rtldashboardpicker' }" #drp="bsDaterangepicker"
            [(ngModel)]="item_bsRangeValue" bsDaterangepicker [container]="'html'" #dateValue [readOnly]="true" [minDate]="created_date" [maxDate]="todayDate" *ngIf="created_date">
        </div>
        <button *ngIf="itemSelected.value == '6'" id="button-basic5" type="button" class="btn btn-primary btn-xs m-1" (click)="apply()">
          {{'button-title.apply' | translate}} <span class="caret"></span>
        </button>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4  mb-4">
    <div class="card">
      <div class="card-body tu mb-0 mb-lg-4">
        <h3 class="card-title font-weight-semibold">{{ 'heading-title.register-details' | translate }}</h3>
        <div class="dashboard-list-with-user">
          <div class="align-items-center d-flex justify-content-center mb-3">
            <i class="f-1 text-start simple-icon-user h-100 text-primary"></i>
            <p class="f-3 font-weight-medium mb-0 text-capitalize">{{'label-title.user' | translate}}</p>
            <p class="f-1 text-end font-weight-medium mb-0">{{list.total_users}}</p>
          </div>
          <div class="align-items-center d-flex justify-content-center mb-3">
            <i class="f-1 iconsminds-handshake text-primary"></i>
            <p class="f-3 font-weight-medium mb-0 text-capitalize">{{'label-title.deliveryman' | translate}}</p>
            <p class="f-1 text-end font-weight-medium mb-0">{{list.total_providers}}</p>
          </div>
          <div class="align-items-center d-flex justify-content-center mb-3">
            <i class="f-1 iconsminds-clothing-store text-primary"></i>
            <p class="f-3 font-weight-medium mb-0 text-capitalize">{{'label-title.store' | translate}}</p>
            <p class="f-1 text-end font-weight-medium mb-0">{{list.total_store}}</p>
          </div>
          <div class="align-items-center d-flex justify-content-center mb-3" *ngIf="selected_country.country_id === '000000000000000000000000'">
            <i class="f-1 simple-icon-globe text-primary"></i>
            <p class="f-3 font-weight-medium mb-0 text-capitalize">{{'label-title.country' | translate}}</p>
            <p class="f-1 text-end font-weight-medium mb-0">{{list.total_countries}}</p>
          </div>
          <div class="align-items-center d-flex justify-content-center mb-0 mb-lg-3">
            <i class="f-1 iconsminds-hotel text-primary"></i>
            <p class="f-3 font-weight-medium mb-0 text-capitalize">{{'label-title.city' | translate}}</p>
            <p class="f-1 text-end font-weight-medium mb-0">{{list.total_cities}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 mb-4">
    <div class="card">
      <div class="card-body mb-0 mb-lg-4">
        <h3 class="card-title font-weight-semibold">{{ 'heading-title.order-details' | translate }}</h3>
        <div class="dashboard-list-with-user">
          <div class="align-items-center d-flex justify-content-center  mb-3">
            <i class="f-1 iconsminds-basket-coins h-100 text-primary"></i>
            <p class="f-3 font-weight-medium mb-0 text-capitalize">{{'label-title.orders' | translate}}</p>
            <p class="f-1 text-end font-weight-medium mb-0">{{order_detail1.total_orders}}</p>
          </div>
          <div class="align-items-center d-flex justify-content-center  mb-3">
            <i class="f-1 iconsminds-bird-delivering-letter text-primary"></i>
            <p class="f-3 font-weight-medium mb-0 text-capitalize">{{'label-title.deliveries' | translate}}</p>
            <p class="f-1 text-end font-weight-medium mb-0">{{order_detail1.total_deliveries}}</p>
          </div>
          <div class="align-items-center d-flex justify-content-center  mb-3">
            <i class="f-1 iconsminds-checkout-basket text-primary"></i>
            <p class="f-3 font-weight-medium mb-0 text-capitalize">{{'label-title.total-item-sold' | translate}}</p>
            <p class="f-1 text-end font-weight-medium mb-0">{{order_detail.total_item_sold}}</p>
          </div>
          <div class="align-items-center d-flex justify-content-center  mb-3">
            <i class="f-1 simple-icon-close text-primary"></i>
            <p class="f-3 font-weight-medium mb-0 text-capitalize">{{'label-title.store-cancelled-order' | translate}}</p>
            <p class="f-1 text-end font-weight-medium mb-0">{{order_detail1.cancelled_order}}</p>
          </div>
          <div class="align-items-center d-flex justify-content-center mb-0 mb-lg-3">
            <i class="f-1 iconsminds-yes text-primary"></i>
            <p class="f-3 font-weight-medium mb-0 text-capitalize">{{'label-title.completed' | translate}}</p>
            <p class="f-1 text-end font-weight-medium mb-0">{{order_detail.completed_order}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 mb-4">
    <div class="card">
      <div class="card-body mb-0 mb-lg-4">
        <h5 class="card-title font-weight-semibold">{{ 'heading-title.payment-details' | translate }}</h5>
        <div class="dashboard-list-with-user">
          <div class="align-items-center d-flex justify-content-center  mb-3">
            <i class="f-1 iconsminds-financial h-100 text-primary"></i>
            <p class="f-3 font-weight-medium mb-0 text-capitalize">{{'label-title.total' | translate}}</p>
            <p class="f-1 text-end font-weight-medium mb-0">{{currency_sign}} {{order_detail.total_payments | roundpipe:_helper.to_fixed_number}}</p>
          </div>
          <div class="align-items-center d-flex justify-content-center  mb-3">
            <i class="f-1 simple-icon-wallet text-primary"></i>
            <p class="f-3 font-weight-medium mb-0 text-capitalize">{{'label-title.wallet' | translate}}</p>
            <p class="f-1 text-end font-weight-medium mb-0">{{currency_sign}} {{order_detail.wallet_payment | roundpipe:_helper.to_fixed_number}}</p>
          </div>
          <div class="align-items-center d-flex justify-content-center  mb-3">
            <i class="f-1 iconsminds-coins text-primary"></i>
            <p class="f-3 font-weight-medium mb-0 text-capitalize">{{'label-title.promo' | translate}}</p>
            <p class="f-1 text-end font-weight-medium mb-0">{{currency_sign}} {{order_detail.promo_payment | roundpipe:_helper.to_fixed_number}}</p>
          </div>
          <div class="align-items-center d-flex justify-content-center  mb-3">
            <i class="f-1 iconsminds-dollar text-primary"></i>
            <p class="f-3 font-weight-medium mb-0 text-capitalize">{{'label-title.cash' | translate}}</p>
            <p class="f-1 text-end font-weight-medium mb-0">{{currency_sign}} {{order_detail.cash_payment | roundpipe:_helper.to_fixed_number}}</p>
          </div>
          <div class="align-items-center d-flex justify-content-center mb-0 mb-lg-3">
            <i class="f-1 iconsminds-coins-2 text-primary"></i>
            <p class="f-3 font-weight-medium mb-0 text-capitalize">{{'label-title.other' | translate}}</p>
            <p class="f-1 text-end font-weight-medium mb-0">{{currency_sign}} {{order_detail.other_payment | roundpipe:_helper.to_fixed_number}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-gradient-with-radial-progress-card [icon]="'iconsminds-clock'" [title]="'5 ' + ('dashboards.files' | translate)"
  [detail]="'dashboards.pending-for-print' | translate" [percent]="(5 * 100) / 12" [progressText]="'25%'"
  [data]="order_detail">
</app-gradient-with-radial-progress-card>
<div class="earning-chart col-md-12 mb-4">
  <app-sales-chart-card></app-sales-chart-card>
</div>
<div class="card mb-4">
  <div class="card-body">
    <div class="d-flex">

    <h3 class="card-title font-weight-semibold">{{'heading-title.order-bar-chart' | translate}}</h3>
    <div class="ml-3 d-block d-md-inline-block position-relative">
      <div class="float-md-left mr-1 mb-1" dropdown>
          <div (clickOutside)="orderDropdown.hide()" class=" d-inline-block position-relative">
              <div class="btn-group" dropdown #orderDropdown="bs-dropdown" [autoClose]="true" [isOpen]="false">
                  <button dropdownToggle type="button"
                      class="btn btn-outline-primary  btn-xs dropdown-toggle">
                      {{order_selected_start_month | date:_helper.DATE_FORMAT.MMM_YYYY}}<span
                          class="caret"></span>
                  </button>
                  <ul *dropdownMenu class="dropdown-menu week_date_list"role="menu">
                      <li role="menuitem" *ngFor="let week_day of order_week_days; let i= index">
                          <a class="dropdown-item" [ngClass]="{'active':order_selected_start_month === week_day}"
                              (click)="orderChangeMonts(order_week_days[i])" href="javascript:;" *ngIf="i <= order_week_days.length - 1">
                                {{order_week_days[i] | date:_helper.DATE_FORMAT.MMM_YYYY}}
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="col-lg-12 mb-5">
        <div class="chart-container chart">
          <app-bar-chart [shadow]="true" [options]="chartDataConfig.barChartOptions" [data]="barChartData" [order_chart_item_bsRangeValue]="order_chart_item_bsRangeValue" #orderChartComponent>
          </app-bar-chart>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 ">
    <div class="card mb-4">
      <div class="card-body">
        <div class="d-flex">
        <h3 class="card-title font-weight-semibold">{{'heading-title.last-six-months-payment-details' | translate}}</h3>
          <div class="ml-3 d-block d-md-inline-block position-relative">
            <div class="float-md-left mr-1 mb-1" dropdown>
                <div (clickOutside)="pieDropdown.hide()" class=" d-inline-block position-relative">
                    <div class="btn-group" dropdown #pieDropdown="bs-dropdown" [autoClose]="true" [isOpen]="false">
                        <button dropdownToggle type="button"
                            class="btn btn-outline-primary  btn-xs dropdown-toggle">
                            {{pie_selected_start_month | date:_helper.DATE_FORMAT.MMM_YYYY}} - {{pie_selected_end_month | date:_helper.DATE_FORMAT.MMM_YYYY}}<span
                                class="caret"></span>
                        </button>
                        <ul *dropdownMenu class="dropdown-menu week_date_list" role="menu">
                            <li role="menuitem" *ngFor="let week_day of pie_week_days; let i= index">
                                <a class="dropdown-item" [ngClass]="{'active':pie_selected_start_month === pie_week_days[i][0]}"
                                  (click)="pieChangeMonts(pie_week_days[i][0],pie_week_days[i][1])" href="javascript:;">
                                  {{pie_week_days[i][0] | date:_helper.DATE_FORMAT.MMM_YYYY}} - {{pie_week_days[i][1] | date:_helper.DATE_FORMAT.MMM_YYYY}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="mb-5">
          <div class="chart-container chart">
            <app-pie-chart [shadow]="true" [options]="chartDataConfig.pieChartOptions" [data]="pieChartData" [pie_chart_item_bsRangeValue]="pie_chart_item_bsRangeValue" #pieChartComponent>
            </app-pie-chart>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 ">
    <div class="card mb-4">
      <div class="card-body">
        <div class="d-flex">
        <h3 class="card-title font-weight-semibold">{{'heading-title.last-six-months-payment-details' | translate}}</h3>
        <div class="ml-3 d-block d-md-inline-block position-relative">
          <div class="float-md-left mr-1 mb-1" dropdown>
              <div (clickOutside)="dropdown3.hide()" class=" d-inline-block position-relative">
                  <div class="btn-group" dropdown #dropdown3="bs-dropdown" [autoClose]="true" [isOpen]="false">
                    <button dropdownToggle type="button" class="btn btn-outline-primary  btn-xs dropdown-toggle">
                      {{selected_start_month | date:_helper.DATE_FORMAT.MMM_YYYY}} - {{selected_end_month |
                      date:_helper.DATE_FORMAT.MMM_YYYY}}<span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu week_date_list" role="menu" style="max-height: 300px; overflow: auto;">
                      <li role="menuitem" *ngFor="let week_day of week_days; let i= index">
                        <a class="dropdown-item" [ngClass]="{'active':selected_start_month === week_days[i][0]}"
                          (click)="changeMonts(week_days[i][0],week_days[i][1])" href="javascript:;">
                          {{week_days[i][0] | date:_helper.DATE_FORMAT.MMM_YYYY}} - {{week_days[i][1] |
                          date:_helper.DATE_FORMAT.MMM_YYYY}}
                        </a>
                      </li>
                    </ul>
                  </div>
              </div>
          </div>
        </div>
      </div>
      <div class="mb-5">
          <div class="chart-container chart">
            <app-payment-bar-chart [shadow]="true" [options]="chartDataConfig.barChartOptions" [data]="barChartData" [bar_chart_item_bsRangeValue]="bar_chart_item_bsRangeValue" #barChartComponent>
            </app-payment-bar-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
