<div>
    <div class="row">
        <div class="col-12">
            <app-heading></app-heading>
            <app-breadcrumb></app-breadcrumb>
            <div class="top-right-button-container mb-2 " *ngIf="_helper.has_permission(_helper.PERMISSION.ADD)">
                <button type="button" class="top-right-button btn btn-primary btn-lg mr-1" (click)="onAddScript()">{{ 'button-title.addNew' | translate | uppercase}}</button>
              </div>
        </div>
        
    </div>
    <div class="separator mb-4"></div>
</div>
<div class="row equal-height-container">
    <div class="col-12">
        <div class="card overflow-auto">
            <div class="card-body">
                <table class="table" aria-describedby="">
                    <thead>
                        <tr>    
                            <th scope="">{{ 'heading-title.title' | translate }}</th>
                            <th scope="">{{ 'heading-title.html-data' | translate }}</th>
                            <th scope="">{{ 'heading-title.link' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let script of scripts">
                            <th scope="row">{{script.title}}</th>
                            <td>{{script.htmlData !== '' ? script.htmlData : 'N/A'}}</td>
                            <td>{{script.src}}</td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="!scripts.length">
                        <tr>
                            <th colspan="12" class="text-center" scope="">
                                <span>{{ 'label-title.no-record-found' | translate }}</span>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<scrip-tags-modal #ScriptTagsModal></scrip-tags-modal>