<today-order-header [searchData]="search_value" [showItemsPerPage]="false" [showDisplayMode]="false" [showCheckboxMode]="false"
    (itemsPerPageChange)="itemsPerPageChange($event)" [itemOptionsPerPage]="itemOptionsPerPage"
    (changeOrderBy)="changeOrderBy($event)" (searchKeyUp)="searchKeyUp($event)" [itemsPerPage]="itemsPerPage"
    (onExport)="onExport()" [itemOrder]="selectedOrderBy" [itemOptionsOrders]="orderByList">

    <div class="d-inline-block position-relative">
        <div class="float-md-left mr-1 mb-1" dropdown>
            <div (clickOutside)="dropdown1.hide()" class=" d-inline-block position-relative">
                <div class="btn-group" dropdown #dropdown1="bs-dropdown" [autoClose]="false" [isOpen]="false">
                    <button dropdownToggle type="button" class="btn btn-outline-primary btn-xs dropdown-toggle">
                        {{ 'button-title.delivery-type' | translate }}<span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <li class="breadcrumb-item active px-2">{{'label-title.delivery-type' | translate}}</li>
                        <li role="menuitem" *ngFor="let filter of deliveryTypes; let i= index">
                            <a class="dropdown-item c-default" href="javascript:;">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" (change)="filter.checked = !filter.checked"
                                        [checked]="filter.checked" id="{{'DId'+i}}" class="custom-control-input">
                                    <label for="{{'DId'+i}}" class="custom-control-label">{{filter.name | translate}}</label>
                                </div>
                            </a>
                        </li>
                        <li class="breadcrumb-item active px-2">{{'label-title.order-type' | translate}}</li>
                        <li role="menuitem" *ngFor="let filter of orderTypes; let i= index">
                            <a class="dropdown-item c-default" href="javascript:;">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" (change)="filter.checked = !filter.checked"
                                        [checked]="filter.checked" id="{{'OId'+i}}" class="custom-control-input">
                                    <label for="{{'OId'+i}}" class="custom-control-label">{{filter.name | translate}}</label>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="d-inline-block position-relative">
        <div class="float-md-left mr-1 mb-1" dropdown>
            <div (clickOutside)="dropdown2.hide()" class=" d-inline-block position-relative">
                <div class="btn-group" dropdown #dropdown2="bs-dropdown" [autoClose]="false" [isOpen]="false">
                    <button dropdownToggle type="button" class="btn btn-outline-primary btn-xs dropdown-toggle">
                        {{ 'button-title.review-filter' | translate }}<span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <li class="breadcrumb-item active px-2"> {{ 'label-title.delivery' | translate }}</li>
                        <li role="menuitem">
                            <div class="col-12 w-90">
                                <div class="form-group">
                                    <form [formGroup]="deliverySliderFormGroup">
                                        <nouislider [connect]="true" [min]="0" [max]="5" [tooltips]="true" [step]="0.5"
                                            [formControl]="deliverySliderFormGroup.controls.range"></nouislider>
                                    </form>
                                </div>
                            </div>
                        </li>
                        <li class="breadcrumb-item active px-2 mt-5">{{ 'label-title.order' | translate }}</li>
                        <li role="menuitem" class="liHeight">
                            <div class="col-12 w-90">
                                <div class="form-group">
                                    <form [formGroup]="orderSliderFormGroup">
                                        <nouislider [connect]="true" [min]="0" [max]="5" [tooltips]="true" [step]="0.5"
                                            [formControl]="orderSliderFormGroup.controls.range"></nouislider>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="d-inline-block position-relative">
        <div class="date-sm float-md-left mr-1 mb-1">
             <input [hidden]="direction=='ltr'" class="form-control theme_date_picker" #drp="bsDaterangepicker" bsDaterangepicker [container]="'html'"
                  [(ngModel)]="bsRangeValue" [ngModelOptions]="{standalone: true}" [bsConfig]="{ selectWeekDateRange: true , containerClass: 'rtldatetransreview' }" [minDate]="created_date" [maxDate]="todayDate"  [readOnly]="true">
             <input [hidden]="direction=='rtl'" class="form-control theme_date_picker" #drp="bsDaterangepicker" bsDaterangepicker [container]="'html'"
                  [(ngModel)]="bsRangeValue" [ngModelOptions]="{standalone: true}" [bsConfig]="{ selectWeekDateRange: true, containerClass: 'datetransreview' }" [minDate]="created_date" [maxDate]="todayDate" [readOnly]="true">
        </div>
    </div>
    <div class="d-inline-block position-relative">
        <div class="float-md-left mr-1 mb-1" dropdown>
            <div (clickOutside)="dropdown3.hide()" class=" d-inline-block position-relative">
                <div class="btn-group" dropdown #dropdown3="bs-dropdown" [autoClose]="false" [isOpen]="false">
                    <button dropdownToggle type="button" class="btn btn-outline-primary btn-xs dropdown-toggle">
                        {{ 'button-title.business-type' | translate }}<span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <li role="menuitem" *ngFor="let filter of businessTypes; let i= index">
                            <a class="dropdown-item c-default" href="javascript:;">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" (change)="filter.checked = !filter.checked"
                                        [checked]="filter.checked" id="{{'BId'+i}}" class="custom-control-input">
                                    <label for="{{'BId'+i}}" class="custom-control-label">{{filter.name | translate}}</label>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="d-inline-block position-relative">
        <div class="float-md-left mr-1 mb-1">
            <button (click)="onSearch()" type="button" style="color: white;" class="btn btn-primary btn-xs">{{'button-title.apply' | translate}}</button>
        </div>
    </div>
    <div class="d-inline-block position-relative">
        <div class="float-md-left mr-1 mb-1">
            <button [disabled]="search_value == '' && is_clear_disabled" type="button" class="btn btn-outline-primary btn_display_option btn-xs " (click)="clear_filter()">{{'button-title.clear-filter' | translate }} </button>
        </div>
    </div>
</today-order-header>
<div class="row equal-height-container">
    <div class="col-md-12 col-lg-6 col-xl-6 mb-4 col-item">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h5 class="mb-4">{{ 'heading-title.order-review' | translate}}</h5>
                    </div>
                    <div class="col-4 text-end">
                        <h1>{{this.order_rating.total}} / {{this.reviews.length}}</h1>
                    </div>
                </div>
                <div class="d-flex flex-column flex-grow-1">
                    <div class="row no-gutters mb-2" *ngFor="let item of order_rating.rating;let i = index;">
                        <div class="col-3 m-auto">
                            <rating [customTemplate]="t" [readonly]="true" [max]="this.rating.length"
                                ngModel="{{order_rating.rating.length-i}}"></rating>
                            <ng-template #t let-index="index" let-value="value">{{index
                                < value ? '' : '' }}</ng-template>
                        </div>
                        <div class="col-7 m-auto">
                            <progressbar [value]="order_rating.percentage[i]"></progressbar>
                        </div>
                        <div class="col-2 text-end m-auto p-0">
                            <p class="text-muted mb-0 truncate text-small">{{this.order_rating.rating[i]}}
                                ({{order_rating.percentage[i] | roundpipe:_helper.to_fixed_number}}%)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6 col-xl-6 mb-4 col-item">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h5 class="mb-4">{{ 'heading-title.delivery-review' | translate}}</h5>
                    </div>
                    <div class="col-4 text-end">
                        <h1>{{this.provider_rating.total}} / {{this.total_provider_reviews}}</h1>
                    </div>
                </div>
                <div class="d-flex flex-column flex-grow-1">
                    <div class="row no-gutters mb-2" *ngFor="let item of provider_rating.rating;let i = index;">
                        <div class="col-3 m-auto">
                            <rating [customTemplate]="t" [readonly]="true" [max]="this.rating.length"
                                ngModel="{{provider_rating.rating.length-i}}"></rating>
                            <ng-template #t let-index="index" let-value="value">{{index
                                < value ? '' : '' }}</ng-template>
                        </div>
                        <div class="col-7 m-auto">
                            <progressbar [value]="provider_rating.percentage[i]"></progressbar>
                        </div>
                        <div class="col-2 text-end m-auto p-0">
                            <p class="text-muted mb-0 truncate text-small">{{this.provider_rating.rating[i]}}
                                ({{provider_rating.percentage[i] | roundpipe:_helper.to_fixed_number}}%)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row equal-height-container">
    <div class="col-12 mb-4">
        <div class="card overflow-auto">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table_box table-hover" aria-describedby="">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">{{ 'heading-title.order' | translate }}</th>
                                <th scope="col">{{ 'heading-title.user' | translate }}</th>
                                <th scope="col">{{ 'heading-title.store' | translate }}</th>
                                <th scope="col">{{ 'heading-title.deliveryboy' | translate }}</th>
                                <th scope="col">{{ 'heading-title.to-store' | translate }}</th>
                                <th scope="col">{{ 'heading-title.to-deliveryboy' | translate }}</th>
                                <th scope="col">{{ 'heading-title.type' | translate }}</th>
                                <th scope="col">{{ 'heading-title.completed' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center" *ngIf="reviews && reviews.length === 0">
                                <td colspan="12">
                                    <span>{{'label-title.no-record-found' | translate }}...</span>
                                </td>
                            </tr>
                            <tr class="c-pointer" (click)="showUserReviewModal(review)" *ngFor="let review of reviews">
                                <th scope="row">{{review.unique_id}}</th>
                                <td>{{review.user_name || 'N/A'}}</td>
                                <td>
                                    <span *ngIf="review.store_name">{{review.store_name | langpipe}}</span>
                                    <span *ngIf="!review.store_name">N/A</span>
                                </td>
                                <td>{{review.provider_name || 'N/A'}}</td>
                                <td>{{review.user_rating_to_store ? review.user_rating_to_store : 0}}</td>
                                <td>{{review.user_rating_to_provider ? review.user_rating_to_provider : 0}}</td>
                                <td>
                                    <ng-container *ngIf="!review.is_user_pick_up_order && !review.is_schedule_order">
                                        <span class="badge badge-outline-success badge-pill mb-1">{{'button-title.delivery'
                                            | translate }}</span>
                                    </ng-container>
                                    <ng-container *ngIf="review.is_user_pick_up_order">
                                        <span class="badge badge-pill badge-outline-primary mb-1">{{'button-title.pickup'
                                            | translate }}</span>
                                    </ng-container>

                                    <ng-container *ngIf="review.is_schedule_order">
                                        <span class="badge badge-outline-success badge-pill mb-1 ">{{'button-title.schedule-delivery'
                                            | translate }}</span>
                                    </ng-container>
                                </td>
                                <td *ngIf="timezone_for_display_date">{{_helper.moment(review.completed_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.MOMENT_DD_MMM)}} {{_helper.moment(review.completed_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.HH_MM_A)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<app-user-review-modal #userReviewModalRef></app-user-review-modal>
