.text-end {
    text-align: end;
}
tbody>tr>td {
    font-weight: 600;
}
.liHeight {
    height: 3rem;
}

@media (max-width: 575px) {
    .equal-height-container .col-item .card-body {
        text-align: unset;
    }
}

.progress {
    height: 0.5rem;
}

.review_date_list {
    max-height: 300px;
    overflow: scroll;
    overflow-x: hidden;
}
