.map-card{
    min-width: 100%;
}
p{
    font-size: 95%;
    margin: 0;
}
.scroll{
    padding-right: 0;
}
.text-end{
    text-align: end;
}

.map-item{
    width: 100%; min-height: 660px;
}

.filter{
    font-size: 150%;
    cursor: pointer;
}
@media (max-width: 540px) {
    .map-item{
       min-height: 460px;
    }
}

.badgespancustom .badge{
    max-width: 174px;
    white-space: break-spaces;
}