<div class="row dispatch">
    <app-application-menu [position]="'app-menu-left'">
        <tabset class="card-tabs h-100" [justified]="true">
            <tab [heading]="'heading-title.new' | translate" class="card-body h-100" (selectTab)="set_markers(1)">
                <div class="form-group">
                    <input type="text" class="form-control rounded-100" [(ngModel)]="searchOrderText" placeholder="{{'label-title.search' | translate}}" #searchBoxContact
                        id="search-box" />
                </div>
                <div class="chat-app-tab-pane-messages">

                    <perfect-scrollbar class="scroll" [config]="{suppressScrollX: true, wheelPropagation: false}">
                        <div class="min-width-zero cursor" *ngFor="let i of new_orders" (click)="selectedOrderDetail(i)">
                            <div *ngIf="!i.is_user_pick_up_order">
                                <div class="row mb-2 ml-1 w-100" [ngClass]="{'slected_order': selectedOrder._id === i._id}">
                                    <div class="col-7 ">
                                        <div *ngIf="i.user_detail" class="truncate">
                                            <p>{{i.user_detail.name}}</p>
                                            <p>{{i.user_detail.phone}}</p>
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="text-end">
                                            <p *ngIf="timezone_for_display_date">#{{i.unique_id}} &nbsp;&nbsp;{{_helper.moment(i.created_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.HH_MM_A)}}</p>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                      <p *ngIf="i.destination_addresses.length>0" class="mb-1">{{i.destination_addresses[0].address}}</p>
                                      <div class="text-right">
                                          <button *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)" (click)="onAssignProvider(i)" class="btn btn-primary btn-xs mb-1">{{'button-title.assign' | translate}}</button>
                                          <i class="simple-icon-info ml-2 mt-1" style="font-size: 120%; cursor: pointer;" (click)="onOrderDetail(i, $event)" title="{{'label-title.order-details' | translate}}"></i>
                                      </div>
                                    </div>
                                </div>
                                
                                <div class="separator w-100 mb-2 mt-2 ml-1"></div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-center" style="height: calc(100vh - 270px);" *ngIf="(new_orders && new_orders.length == 0) || !new_orders">
                            {{'label-title.no-record-found' | translate}}
                        </div>
                    </perfect-scrollbar>
                </div>
            </tab>
            <tab [heading]="'heading-title.assigned' | translate" class="card-body h-100" (selectTab)="set_markers(2)">
                <div class="form-group">
                    <input type="text"  class="form-control rounded-100" [(ngModel)]="searchOrderText" placeholder="{{'label-title.search' | translate}}" #searchBoxContact
                        id="search-box" />
                </div>
                <div class="chat-app-tab-pane-contacts">
                    <perfect-scrollbar class="scroll" [config]="{suppressScrollX: true, wheelPropagation: false}">
                        <div class="min-width-zero cursor" *ngFor="let i of assign_orders" (click)="selectedOrderDetail(i)">
                            <div [ngClass]="{'slected_order': selectedOrder._id === i._id}">
                                <div class="row mb-2 ml-0 w-100">
                                    <div class="col-7" (click)="selectedOrder = i">
                                        <div class="truncate">
                                            <p>{{i.user_detail.name}}</p>
                                            <p>{{i.user_detail.phone}}</p>
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="text-end">
                                            <p *ngIf="timezone_for_display_date">#{{i.unique_id}} &nbsp;&nbsp;{{_helper.moment(i.created_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.HH_MM_A)}}</p>
                                            <p>{{'label-title.confirmation-code' | translate}} &nbsp;&nbsp;{{i.confirmation_code_for_pick_up_delivery}}</p>
                                        </div>
                                    </div>
                                    <div class="my-2 col-12" (click)="selectedOrder = i">
                                        <p *ngIf="i.destination_addresses.length>0">{{i.destination_addresses[0].address}}</p>
                                    </div>
                                </div>
                                <div class="row ml-0 w-100">
                                    <div class="col-5">
                                        <span class="badge badge-pill badge-outline-danger mb-1">{{'order-status.'+i.delivery_status | translate}}</span>
                                    </div>
                                    <div class="col-7 text-end">
                                        <ng-container  *ngIf="i.provider_detail && i.delivery_status !== _helper.ORDER_STATE.STORE_CANCELLED_REQUEST && i.delivery_status !== _helper.ORDER_STATE.ADMIN_CANCELLED_REQUEST">
                                            {{i.provider_detail.name}}
                                        </ng-container>
                                        <span *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
                                            <button (click)="cancleRequest(i.request_id,i.provider_detail._id)" class="btn btn-primary btn-xs mb-1 ml-2" *ngIf="i.provider_detail && i.delivery_status>_helper.ORDER_STATE.OREDER_READY && i.delivery_status<_helper.ORDER_STATE.DELIVERY_MAN_ARRIVED">{{'button-title.cancel' | translate}}</button>
                                        </span>
                                        <ng-container *ngIf="i.delivery_status === _helper.ORDER_STATE.DELIVERY_MAN_CANCELLED || i.delivery_status === _helper.ORDER_STATE.DELIVERY_MAN_REJECTED || i.delivery_status === _helper.ORDER_STATE.NO_DELIVERY_MAN_FOUND || i.delivery_status === _helper.ORDER_STATE.STORE_CANCELLED_REQUEST || i.delivery_status === _helper.ORDER_STATE.ADMIN_CANCELLED_REQUEST">
                                            <button *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)" (click)="onAssignProvider(i)" class="btn btn-primary btn-xs mb-1 ml-2">{{'button-title.reassign' | translate}}</button>
                                        </ng-container>
                                        <i class="simple-icon-info ml-2 mt-1" style="font-size: 120%; cursor: pointer;" (click)="onOrderDetail(i, $event)" title="{{'label-title.order-details' | translate}}"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="separator mb-2 mt-2"></div>
                        </div>
                        <div class="d-flex align-items-center justify-content-center" style="height: calc(100vh - 270px);" *ngIf="(assign_orders && assign_orders.length == 0) || !assign_orders">
                            {{'label-title.no-record-found' | translate}}
                        </div>
                    </perfect-scrollbar>
                </div>
            </tab>
            <tab [heading]="'heading-title.on-delivery' | translate" class="card-body h-100" (selectTab)="set_markers(3)">
                <div class="form-group">
                    <input type="text" class="form-control rounded-100" [(ngModel)]="searchOrderText" placeholder="{{'label-title.search' | translate}}" #searchBoxContact
                        id="search-box" />
                </div>
                <div class="chat-app-tab-pane-contacts">
                    <perfect-scrollbar class="scroll" [config]="{suppressScrollX: true, wheelPropagation: false}">
                        <div class="min-width-zero cursor" *ngFor="let i of ongoing_orders" (click)="selectedOrderDetail(i)">
                            <div [ngClass]="{'slected_order': selectedOrder._id === i._id}">
                                <div class="row mb-2 ml-0 w-100">
                                    <div class="col-7 " (click)="selectedOrder = i">
                                        <div class="truncate">
                                            <p>{{i.user_detail.name}}</p>
                                            <p>{{i.user_detail.phone}}</p>
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="text-end">
                                            <p *ngIf="timezone_for_display_date">#{{i.unique_id}} &nbsp;&nbsp;{{_helper.moment(i.created_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.HH_MM_A)}}</p>
                                        </div>
                                    </div>
                                    <div class="col-12 my-2" (click)="selectedOrder = i">
                                        <p *ngIf="i.destination_addresses.length>0">{{i.destination_addresses[0].address}}</p>
                                    </div>
                                </div>
                                <div class="row ml-0 w-100">
                                    <div class="col" >
                                        <span class="text-uppercase badgespancustom" [ngSwitch]="i.delivery_status">
                                          <span *ngSwitchCase="3" class="badge badge-pill badge-primary mb-1">{{'order-status.'+i.delivery_status | translate}}</span>
                                          <span *ngSwitchCase="5" class="badge badge-pill badge-secondary mb-1">{{'order-status.'+i.delivery_status | translate}}</span>
                                          <span *ngSwitchCase="7" class="badge badge-pill badge-success mb-1">{{'order-status.'+i.delivery_status | translate}}</span>
                                          <span *ngSwitchCase="9" class="badge badge-pill badge-light mb-1">{{'order-status.'+i.delivery_status | translate}}</span>
                                          <span *ngSwitchCase="25" class="badge badge-pill badge-success mb-1">{{'order-status.'+i.delivery_status | translate}}</span>
                                          <span *ngSwitchCase="11" class="badge badge-pill badge-primary mb-1">{{'order-status.'+i.delivery_status | translate}}</span>
                                          <span *ngSwitchCase="13" class="badge badge-pill badge-secondary mb-1">{{'order-status.'+i.delivery_status | translate}}</span>
                                          <span *ngSwitchCase="15" class="badge badge-pill badge-dark mb-1">{{'order-status.'+i.delivery_status | translate}}</span>
                                          <span *ngSwitchCase="17" class="badge badge-pill badge-info mb-1">{{'order-status.'+i.delivery_status | translate}}</span>
                                          <span *ngSwitchCase="19" class="badge badge-pill badge-secondary mb-1">{{'order-status.'+i.delivery_status | translate}}</span>
                                          <span *ngSwitchCase="21" class="badge badge-pill badge-dark mb-1">{{'order-status.'+i.delivery_status | translate}}</span>
                                          <span *ngSwitchCase="23" class="badge badge-pill badge-success mb-1">{{'order-status.'+i.delivery_status | translate}}</span>
                                          <span *ngSwitchCase="101" class="badge badge-pill badge-danger mb-1">{{'order-status.'+i.delivery_status | translate}}</span>
                                          <span *ngSwitchCase="103" class="badge badge-pill badge-danger mb-1">{{'order-status.'+i.delivery_status | translate}}</span>
                                          <span *ngSwitchCase="104" class="badge badge-pill badge-danger mb-1">{{'order-status.'+i.delivery_status | translate}}</span>
                                          <span *ngSwitchCase="105" class="badge badge-pill badge-danger mb-1">{{'order-status.'+i.delivery_status | translate}}</span>
                                          <span *ngSwitchCase="106" class="badge badge-pill badge-danger mb-1">{{'order-status.'+i.delivery_status | translate}}</span>
                                          <span *ngSwitchCase="109" class="badge badge-pill badge-warning mb-1">{{'order-status.'+i.delivery_status | translate}}</span>
                                          <span *ngSwitchCase="111" class="badge badge-pill badge-danger mb-1">{{'order-status.'+i.delivery_status | translate}}</span>
                                          <span *ngSwitchCase="112" class="badge badge-pill badge-danger mb-1">{{'order-status.'+i.delivery_status | translate}}</span>
                                          <span *ngSwitchDefault class="badge badge-pill badge-theme-3 mb-1">{{'order-status.'+i.delivery_status | translate}}</span>
                                        </span>
                                    </div>
                                    <div class="col" *ngIf="i.provider_detail">{{i.provider_detail.name}}</div>
                                    <div class="text-end">
                                        <i class="simple-icon-info mr-2 mt-1" style="font-size: 120%; cursor: pointer;" (click)="onOrderDetail(i, $event)" title="{{'label-title.order-details' | translate}}"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="separator mb-2 mt-2"></div>
                        </div>
                        <div class="d-flex align-items-center justify-content-center" style="height: calc(100vh - 270px);" *ngIf="(ongoing_orders && ongoing_orders.length == 0) || !ongoing_orders">
                            {{'label-title.no-record-found' | translate}}
                        </div>
                    </perfect-scrollbar>
                </div>
            </tab>
        </tabset>
    </app-application-menu>
    <div class="w-50 form-group ml-auto">
        <div class="row">
            <div class="col-1 d-flex align-items-center">
                <span>
                    {{'menu-title.filter' | translate}}
                </span>
            </div>
            <div class="col-11">
                <ng-select [clearable]="false" [searchable]="false" [(ngModel)]="request_delivery_type" (change)="onRequestDeliveryTypeChange()">
                    <ng-option *ngFor="let delivery_type of DELIVERY_TYPE" [value]="delivery_type.value">{{delivery_type.title | translate}}</ng-option>
                </ng-select>
            </div>
        </div>
    </div>
    <div class="card mb-4 map-card">
        <div class="card-body">
            <div id="dispatch_map" class="map-item"></div>
        </div>
    </div>
    <app-auto-assign-model (assignType)="onAssign($event)" #AutoAssignModal></app-auto-assign-model>
    <app-application-menu [position]="'app-menu'">
        <tabset class="card-tabs h-100" [justified]="true">
            <tab [heading]="'heading-title.free' | translate" class="card-body h-100" (selectTab)="set_provider_markers(1)">
                <div class="chat-app-tab-pane-messages">
                    <div class="form-group">
                        <input type="text" class="form-control rounded-100" [(ngModel)]="searchProviderText" placeholder="{{'label-title.search' | translate}}" #searchBoxContact
                            id="search-box" />
                    </div>
                    <perfect-scrollbar class="scroll" [config]="{suppressScrollX: true, wheelPropagation: false}">
                        <div class="d-flex flex-row mb-1 border-bottom pb-3 mb-3" *ngFor="let item of free_providers" (click)="providerSelected(item, 1)">
                            <div class="d-flex flex-grow-1 min-width-zero">
                                <div
                                    class="pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero" style="width:100%">
                                    <div class="min-width-zero" style="width:100%">

                                        <a href="javascript:;">
                                            <p class="mb-0 truncate">{{item.first_name}}&nbsp;&nbsp;{{item.last_name}}</p>
                                            <p class="mb-0 truncate">{{item.country_phone_code}}{{item.phone}}</p>
                                        </a>
                                        <ng-container *ngIf="selectedOrder" style="width:100%">
                                            <div *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
                                                <button class="btn btn-primary btn-xs mb-1" (click)="orderAssing(item)" *ngIf="is_assignable && !selectedOrder['is_process']  && (selectedOrder.order_status == _helper.ORDER_STATE.STORE_ACCEPTED || selectedOrder.order_status == _helper.ORDER_STATE.STORE_PREPARING_ORDER || selectedOrder.order_status == _helper.ORDER_STATE.OREDER_READY)" style="float: right;margin-top: -30px;" [disabled]="selectedOrder['is_process']">{{'button-title.assign'| translate}}</button>
                                            </div>
                                        </ng-container>

                                    </div>
                                </div>
                            </div>
                            <div class="separator mb-4"></div>
                        </div>
                        <div class="d-flex align-items-center justify-content-center" style="height: calc(100vh - 270px);" *ngIf="(free_providers && free_providers.length == 0) || !free_providers">
                            {{'label-title.no-provider-found' | translate}}
                        </div>
                    </perfect-scrollbar>
                </div>
            </tab>
            <tab [heading]="'heading-title.on-job' | translate" class="card-body h-100" (selectTab)="set_provider_markers(2)">
                <div class="form-group">
                    <input type="text" class="form-control rounded-100" [(ngModel)]="searchProviderText" placeholder="{{'label-title.search' | translate}}" #searchBoxContact id="search-box" />
                </div>
                <div class="chat-app-tab-pane-contacts">
                    <perfect-scrollbar class="scroll" [config]="{suppressScrollX: true, wheelPropagation: false}">
                        <div class="d-flex flex-row mb-1 border-bottom pb-3 mb-3" *ngFor="let item of on_job_providers">
                            
                            <div class="d-flex flex-grow-1 min-width-zero">
                                <div
                                    class="pl-0 align-self-center flex-grow-1 flex-column flex-lg-row justify-content-between min-width-zero" (click)="providerSelected(item, 2)">
                                    <div class="min-width-zero">
                                        <a href="javascript:;">
                                            <p class="mb-0 truncate">{{item.first_name}}</p>
                                            <p class="mb-0 truncate">{{item.country_phone_code}}{{item.phone}}</p>
                                        </a>
                                        <ng-container *ngIf="selectedOrder">
                                            <div *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
                                                <button class="btn btn-primary btn-xs mb-1" (click)="orderAssing(item)" *ngIf="selectedOrder.request_id != null && ( selectedOrder.delivery_status==_helper.ORDER_STATE.NO_DELIVERY_MAN_FOUND || selectedOrder.delivery_status==_helper.ORDER_STATE.STORE_CANCELLED_REQUEST|| selectedOrder.delivery_status==_helper.ORDER_STATE.ADMIN_CANCELLED_REQUEST  || selectedOrder.delivery_status==_helper.ORDER_STATE.DELIVERY_MAN_CANCELLED)" style="float: right;margin-top: -30px;">{{'button-title.reassign'| translate}}</button>
                                                <button class="btn btn-primary btn-xs mb-1" (click)="orderAssing(item)" *ngIf="selectedOrder.request_id == null && (selectedOrder.order_status == _helper.ORDER_STATE.STORE_ACCEPTED || selectedOrder.order_status == _helper.ORDER_STATE.STORE_PREPARING_ORDER || selectedOrder.order_status == _helper.ORDER_STATE.OREDER_READY)" style="float: right;margin-top: -30px;">{{'button-title.assign'| translate}}</button>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                            <div class="separator mb-4"></div>
                        </div>
                        <div class="d-flex align-items-center justify-content-center" style="height: calc(100vh - 270px);" *ngIf="(on_job_providers && on_job_providers.length == 0) || !on_job_providers">
                            {{'label-title.no-provider-found' | translate}}
                        </div>
                    </perfect-scrollbar>
                </div>
            </tab>
            <tab [heading]="'heading-title.offline' | translate" class="card-body h-100" (selectTab)="set_provider_markers(3)">
                <div class="form-group">
                    <input type="text" class="form-control rounded-100" [(ngModel)]="searchProviderText" placeholder="{{'label-title.search' | translate}}" #searchBoxContact
                        id="search-box" />
                </div>
                <div class="chat-app-tab-pane-contacts">
                    <perfect-scrollbar class="scroll" [config]="{suppressScrollX: true, wheelPropagation: false}">
                        <div class="d-flex flex-row mb-1 border-bottom pb-3 mb-3" *ngFor="let item of offline_providers" >
                            <div class="d-flex flex-grow-1 min-width-zero">
                                <div
                                    class="pl-0 align-self-center flex-grow-1 flex-column flex-lg-row justify-content-between min-width-zero" style="width: 100%;" (click)="providerSelected(item, 3)">
                                    <div class="min-width-zero" style="width: 100%;">
                                        <a href="javascript:;">
                                            <p class="mb-0 truncate">{{item.first_name}}</p>
                                            <p class="mb-0 truncate">{{item.country_phone_code}}{{item.phone}}</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="separator mb-4"></div>
                        </div>
                        <div class="d-flex align-items-center justify-content-center" style="height: calc(100vh - 270px);" *ngIf="(offline_providers && offline_providers.length == 0) || !offline_providers">
                            {{'label-title.no-provider-found' | translate}}
                        </div>
                    </perfect-scrollbar>
                </div>
            </tab>
        </tabset>
    </app-application-menu>
</div>
<app-add-new-order-list-modal #OrderDetailModal></app-add-new-order-list-modal>
