.share-social {
  position: fixed;
  bottom: 4%;
  right: 0.3%;
  z-index: 200000002222!important;
  background: #fff;
  text-align: center;
  border-radius: 0 7px 7px 0;
  padding: 0;
  color: #fff;
  box-shadow: -1px 0 3px #e1e1e1;
  transition: transform .5s;
}
   
.icn-btn {
  list-style: none;
  padding: 8px 5px 8px 8px;
  margin: 0;
}

img, svg {
  vertical-align: middle;
}