<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <div class="top-right-button-container mb-2 ">
            <a type="button" class="top-right-button btn btn-lg mr-1" style="color: transparent; cursor: auto;" (click)="showAddDetailModal()"></a>
            <button type="button" class="top-right-button btn btn-primary btn-lg mr-1" (click)="showAdminModal()">{{
                'button-title.addNew' |
                translate | uppercase}}</button>
        </div>
        <app-breadcrumb></app-breadcrumb>
        <div class="d-flex">
        <div id="displayOptions" class="collapse dont-collapse-sm">
            <div class="d-block d-md-inline-block position-relative">
                <div class="float-md-left mr-1 mb-1" dropdown>
                    <button id="button-basic" dropdownToggle type="button"
                        class="btn btn-outline-primary btn_display_option btn-xs dropdown-toggle"
                        aria-controls="dropdown-basic">
                        {{'button-title.search-by' | translate}} : {{itemOrder.label | translate }} <span class="caret"></span>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                        <li role="menuitem" *ngFor="let item of itemOptionsOrders"><a
                                [ngClass]="item.value === itemOrder.value ? 'dropdown-item active' : 'dropdown-item'"
                                (click)="onChangeOrderBy(item)">{{item.label | translate}}</a></li>
                    </ul>
                </div>
            </div>
        
            <div class="d-inline-block">
                <div class="search-sm d-inline-block float-md-left mr-1 mb-1 align-top">
                    <input [(ngModel)]="search_string" class="form-control" placeholder="{{'label-title.search' | translate}}">
                </div>
            </div>
        
        </div>
        <div class="d-inline-block ml-3">
            <button d="button-basic" type="button" class="btn btn-primary btn-xs" (click)="apply()"> {{'button-title.apply'
                |
                translate }} </button>
            <button d="button-basic" [disabled]="search_string == '' && is_clear_disabled" type="button"
                class="btn btn-outline-primary btn_display_option btn-xs ml-1"
                (click)="clear_filter()">{{'button-title.clear-filter' | translate }} </button>
        </div>
    </div>
<div class="separator mb-4"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-6 col-lg-6 col-xl-4 mb-4 col-item" *ngFor="let admin of temp_admin_list">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-5">
                        <h6 class="mb-2 text-left font-weight-semibold">{{admin.username}}</h6>
                    </div>
                    <div class="col-7 text-end">
                        <span class="badge badge-pill badge-outline-primary mb-1 c-pointer" (click)="onEdit(admin)">{{
                            'button-title.edit' | translate }}</span>
                        <span class="badge badge-pill badge-outline-danger ml-2 mb-1 c-pointer" *ngIf="admins_count > 1"
                            (click)="onDelete(deleteadmin,admin)">{{ 'button-title.delete' | translate }}</span>
                        <button class="btn info-button text-theme-1 ml-2 " *ngIf="admin.admin_type==3"
                            (click)="subAdminUrlModal(subAdminUrl,admin)">
                            <i class="simple-icon-info fontSize"></i>
                        </button>
                    </div>
                </div>
                <div class="d-flex flex-column flex-grow-1">
                    <div class="row no-gutters">
                        <div class="col-12">
                            <p class="text-muted mb-0 text-left truncate text-small">{{admin.email}}, <span
                                    *ngIf="admin.admin_type === 1">{{'label-title.admin'| translate}}</span><span
                                    *ngIf="admin.admin_type === 3">{{'label-title.sub-admin'| translate}}</span>
                            </p>
                        </div>
                        
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<app-add-sub-admin-modal #subAdminModal></app-add-sub-admin-modal>
<app-add-detail-modal #addDetailModal></app-add-detail-modal>

<ng-template #deleteadmin>
    <div class="modal-header">
        <h4 class="modal-title pull-left" *ngIf="selected_admin">{{'button-title.delete' | translate}}
            <span *ngIf="selected_admin.admin_type == 1">{{'label-title.admin' | translate}} </span>
            <span *ngIf="selected_admin.admin_type == 3">{{'label-title.sub-admin' | translate}} </span>
            ( {{selected_admin.username}} )</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="delete_admin.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body p-0">
        <div class="p-4">
            <p>
                {{'label-title.are-you-sure-you-want-to-delete-this' | translate}}
                <span *ngIf="selected_admin.admin_type == 1">{{'label-title.admin' | translate}}</span><span *ngIf="selected_admin.admin_type == 3">{{'label-title.sub-admin' | translate}}</span>.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" (click)="delete_admin.hide()" class="btn btn-primary float-right">{{'button-title.cancel' |
            translate}}</button>
        <button type="button" (click)="onDeleteAdmin();delete_admin.hide()" class="btn btn-danger float-right">{{'button-title.confirm' |
            translate}}</button>
    </div>
</ng-template>

<ng-template #subAdminUrl>
    <div class="modal-header">
        <h4 class="modal-title pull-left" *ngIf="selected_admin">{{'label-title.sub-admin-url-list' | translate}} ( {{selected_admin.username}} )</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeSubAdminUrlModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="border-bottom-left-radius: 0.3rem;border-bottom-right-radius: 0.3rem;">
        <div class="row ">
            <div class="col-12"style="max-height: 400px; overflow: auto;">
                <table class="table table-bordered" aria-describedby="" >
                  <thead class="thead-light" style="position: sticky; top: -1px;">
                    <tr class="text-center">
                      <th scope="col">
                      </th>
                      <th scope="col">
                        {{'button-title.add'| translate}}
                      </th>
                      <th scope="col">
                        {{'button-title.edit'| translate}}
                      </th>
                      <th scope="col">
                        {{'button-title.delete'| translate}}
                      </th>
                      <th scope="col">
                        {{'button-title.export'| translate}}
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let url of subadmin_url_list; let i = index">
                      <td >
                        <span>{{url.url | translate | titlecase}}</span>
                      </td>
                      <td class="text-center">
                        <span [ngClass]="+url.permission[_helper.PERMISSION.ADD]?'text-primary':'text-muted'">{{(+url.permission[_helper.PERMISSION.ADD]) ? "&#10004;" : "&#10008;"}}</span>
                      </td>
                      <td class="text-center">
                        <span [ngClass]="+url.permission[_helper.PERMISSION.EDIT]?'text-primary':'text-muted'">{{(+url.permission[_helper.PERMISSION.EDIT]) ? "&#10004;" : "&#10008;"}}</span>
                      </td>
                      <td class="text-center">
                        <span [ngClass]="+url.permission[_helper.PERMISSION.DELETE]?'text-primary':'text-muted'">{{(+url.permission[_helper.PERMISSION.DELETE]) ? "&#10004;" : "&#10008;"}}</span>
                      </td>
                      <td class="text-center">
                        <span [ngClass]="+url.permission[_helper.PERMISSION.EXPORT]?'text-primary':'text-muted'">{{(+url.permission[_helper.PERMISSION.EXPORT]) ? "&#10004;" : "&#10008;"}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-template>