<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <div class="float-right top-side-btn" style="text-align: end;" *ngIf="_helper.has_permission(_helper.PERMISSION.EXPORT)">
            <button type="button" (click)="clickonExport()" class="btn btn-outline-primary">{{'button-title.export' | translate}}</button>
        </div>
        <app-breadcrumb></app-breadcrumb>
        <div class="mb-2 d-flex justify-content-between">
            <div class="">
            <div class="d-inline-block position-relative mb-2 mr-1">
                <div class="" dropdown>
                    <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-primary btn_display_option btn-xs dropdown-toggle" aria-controls="dropdown-basic">
                       {{'button-title.search' | translate}} : {{search_field.label | translate}} <span class="caret"></span>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                        <li role="menuitem" *ngFor="let item of itemOptionsOrders" class="c-pointer"><a [ngClass]="item.value === search_field.value ? 'dropdown-item active' : 'dropdown-item'" (click)="onChangeOrderBy(item)">{{item.label | translate}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="search-sm d-inline-block mb-2 mr-1">
                <input placeholder="{{'label-title.search' | translate}}" (keypress)="_helper.special_char_validation($event)" name="search_value" [(ngModel)]="search" class="form-control">
            </div>
            <div class="d-inline-block position-relative mb-2 mr-1">
                <div class="" dropdown>
                    <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-primary btn_display_option btn-xs dropdown-toggle" aria-controls="dropdown-basic">
                      {{'button-title.user' | translate}} : {{user_field.label | translate}} <span class="caret"></span>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                        <li role="menuitem" *ngFor="let item of userOption"  class="c-pointer"><a [ngClass]="item.value === user_field.value ? 'dropdown-item active' : 'dropdown-item'" (click)="onChangeUserField(item)">{{item.label | translate}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="d-inline-block position-relative mb-2 mr-1">
                <div class="" dropdown>
                    <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-primary btn_display_option btn-xs dropdown-toggle" aria-controls="dropdown-basic">
                      {{'button-title.comment' | translate}} : {{comment_field.label | translate}} <span class="caret"></span>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                        <li role="menuitem" *ngFor="let item of commentOption"  class="c-pointer"><a [ngClass]="item.value === comment_field.value ? 'dropdown-item active' : 'dropdown-item'" (click)="onChangeCommentField(item)">{{item.label | translate}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="d-inline-block position-relative mb-2 mr-1">
                <div class="date-sm ">
                    <input [hidden]="direction=='ltr'" class="form-control theme_date_picker" placeholder="{{'label-title.select-dates' | translate}}" [(ngModel)]="item_bsRangeValue"
                        [bsConfig]="{ selectWeekDateRange: true , containerClass: 'rtldatetranswhistory' }" #drp="bsDaterangepicker" bsDaterangepicker
                        [container]="'html'" [minDate]="created_date" [maxDate]="todayDate">
                    <input [hidden]="direction=='rtl'" class="form-control theme_date_picker" placeholder="{{'label-title.select-dates' | translate}}" [(ngModel)]="item_bsRangeValue"
                        [bsConfig]="{ selectWeekDateRange: true , containerClass: 'datetrans ' }" #drp="bsDaterangepicker" bsDaterangepicker
                        [container]="'html'" [minDate]="created_date" [maxDate]="todayDate">
                </div>
            </div>
            <div class="d-inline-block position-relative mb-2 mr-1">
                  <button (click)="onSearch()" type="button" class="btn btn-primary btn-xs">{{'button-title.apply' | translate }}</button>
              </div>
            <div class="d-inline-block position-relative">
             <div class="">
                    <button [disabled]="search == '' && is_clear_disabled" type="button" class="btn btn-outline-primary btn_display_option btn-xs " (click)="clear_filter()">{{'button-title.clear-filter' | translate }} </button>
                </div>
            </div>
            </div>
            <div class="float-right per-page-box">
                <span class="text-muted text-small text-nowrap">{{'label-title.per-page' | translate }} </span>
                <span dropdown class="d-inline-block position-relative">
                <button class="btn btn-outline-primary btn_display_option btn-xs dropdown-toggle" type="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false" dropdownToggle>
                  {{items_per_page}}
                </button>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-sm text-right" *dropdownMenu>
                    <ol>
                        <li role="menuitem" *ngFor="let item of item_options_per_page" class="c-pointer"><a
                            [ngClass]="item === items_per_page ? 'dropdown-item active' : 'dropdown-item'"
                            (click)="onChangeItemsPerPage(item)">{{item}}</a></li>
                    </ol>
                </div>
              </span>
            </div>
        </div>
        <div class="separator mta-5 mb-4"></div>
    </div>
    
    <div class="col-12 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table_box table-hover" aria-describedby="">
                        <thead class="thead-light">
                            <tr class="truncate">
                                <th scope="col">{{'heading-title.id' | translate }}</th>
                                <th scope="col">{{'heading-title.date' | translate }}</th>
                                <th scope="col">{{'heading-title.user-type' | translate }} </th>
                                <th scope="col">{{'heading-title.detail' | translate }}</th>
                                <th scope="col">{{'heading-title.currency' | translate }}</th>
                                <th scope="col">{{'heading-title.wallet-amount' | translate }}</th>
                                <th scope="col">{{'heading-title.add/cut' | translate }}</th>
                                <th scope="col">{{'heading-title.wallet' | translate }}</th>
                                <th scope="col">{{'heading-title.comment' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="wallet_history.length">
                            <tr class="truncate" *ngFor="let wallet of wallet_history">
                                <th scope="row" class="width-80">{{ wallet.unique_id }}</th>
                                <td *ngIf="timezone_for_display_date">{{_helper.moment(wallet.created_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.MOMENT_DD_MMM_YYYY)}}</td>
                                <td [ngSwitch]="wallet.user_type">
                                    <div *ngSwitchCase=USER_TYPE.USER>{{'label-title.user' | translate}}
                                    </div>
                                    <div *ngSwitchCase=USER_TYPE.PROVIDER>{{'label-title.delivery-man' | translate}}
                                    </div>
                                    <div *ngSwitchCase=USER_TYPE.STORE>{{'label-title.store' | translate}}
                                    </div>
                                </td>
                                <td [ngSwitch]="wallet.user_type" class="text-wrap">
                                    <div *ngSwitchCase=USER_TYPE.USER>
                                        <span *ngIf="wallet.user_detail">{{wallet.user_detail.first_name + ' ' + wallet.user_detail.last_name }}</span>
                                        <span *ngIf="!wallet.user_detail">N/A</span>
                                    </div>
                                    <div *ngSwitchCase=USER_TYPE.PROVIDER><span *ngIf="wallet.provider_detail">{{wallet.provider_detail.first_name + ' ' + wallet.provider_detail.last_name}}
                                        <span *ngIf="!wallet.provider_detail">N/A</span>
                                    </span>
                                    </div>
                                    <div *ngSwitchCase=USER_TYPE.STORE>
                                        <span *ngIf="wallet.store_detail">
                                            <span *ngIf="wallet.store_detail.name[_lang.selectedlanguageIndex]">{{wallet.store_detail.name[_lang.selectedlanguageIndex]}}</span>
                                            <span *ngIf="!wallet.store_detail.name[_lang.selectedlanguageIndex]">{{wallet.store_detail.name[0]}}</span>
                                        </span>
                                    </div>
                                </td>
                                <td>{{ wallet.from_currency_code || 'N/A' }}
                                <td>{{ (wallet.wallet_amount).toFixed(_helper.to_fixed_number) }}</td>
                                <td class="font-weight-bold" [class]="wallet.wallet_status==1?'color-success':'color-danger'">{{(wallet.added_wallet).toFixed(_helper.to_fixed_number)}}</td>
                                <td>{{(wallet.total_wallet_amount).toFixed(_helper.to_fixed_number)}}</td>
                                <td class="text-wrap">{{ wallet.wallet_description }}</td>
                            </tr>

                        </tbody>
                        <tbody *ngIf="!wallet_history.length">
                            <tr>
                                <th colspan="12" class="text-center" scope="">
                                    <span>{{ 'label-title.no-record-found' | translate }}</span>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12" *ngIf="wallet_history && wallet_history.length>0 && total_page>0">
        <pagination [totalItems]="total_page*items_per_page" [rotate]="true" [itemsPerPage]="items_per_page" [maxSize]="5" class="justify-content-center"
          [customNextTemplate]="nextTemplate" [customPreviousTemplate]="prevTemplate" (pageChanged)="pageChanged($event)">
        </pagination>
    </div>
</div>
<ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-arrow-right'></i>
</ng-template>

<ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-arrow-left'></i>
</ng-template>
