<div class="row">
  <div class="col-12">
    <app-heading></app-heading>
    <app-breadcrumb></app-breadcrumb>
    <br>
  </div>
</div>

<div class="row">
  <div class="col-12" *ngIf="legal_info">
    <tabset class="separator-tabs privacy-tabset">
      <tab heading="{{'heading-title.user-privacy' | translate | uppercase}}">
        <div class="row">
          <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12 text-end">
                  <span *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)" class="badge badge-pill badge-outline-primary mb-1 c-pointer" (click)="save()">{{
                    'button-title.save' | translate }}</span>
                </div>
              </div>
              <div class="pl-3 pr-3 pt-3 pb-0 d-flex flex-column flex-grow-1">
                <div class="row">
                  <div class="col-12">
                    <quill-editor [readOnly]="subadmin_readonly" [placeholder]="''" [(ngModel)]="legal_info.user_privacy">{{ legal_info.user_privacy }}</quill-editor>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </tab>
      <tab heading="{{'heading-title.user-terms' | translate | uppercase}}">
        <div class="row">
          <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12 text-end">
                  <span *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)" class="badge badge-pill badge-outline-primary mb-1 c-pointer" (click)="save()">{{
                    'button-title.save' | translate }}</span>
                </div>
              </div>
              <div class="pl-3 pr-3 pt-3 pb-0 d-flex flex-column flex-grow-1">
                <div class="row">
                  <div class="col-12">
                    <quill-editor [readOnly]="subadmin_readonly" [placeholder]="''" [(ngModel)]="legal_info.user_terms">{{ legal_info.user_terms }}</quill-editor>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </tab>
      <tab heading="{{'heading-title.provider-privacy' | translate | uppercase}}">
        <div class="row">
          <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12 text-end">
                  <span *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)" class="badge badge-pill badge-outline-primary mb-1 c-pointer" (click)="save()">{{
                    'button-title.save' | translate }}</span>
                </div>
              </div>
              <div class="pl-3 pr-3 pt-3 pb-0 d-flex flex-column flex-grow-1">
                <div class="row">
                  <div class="col-12">
                    <quill-editor [readOnly]="subadmin_readonly" [placeholder]="''" [(ngModel)]="legal_info.provider_privacy">{{ legal_info.provider_privacy }}</quill-editor>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </tab>
      <tab heading="{{'heading-title.provider-terms' | translate | uppercase}}">
        <div class="row">
          <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12 text-end">
                  <span *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)" class="badge badge-pill badge-outline-primary mb-1 c-pointer" (click)="save()">{{
                    'button-title.save' | translate }}</span>
                </div>
              </div>
              <div class="pl-3 pr-3 pt-3 pb-0 d-flex flex-column flex-grow-1">
                <div class="row">
                  <div class="col-12">
                    <quill-editor [readOnly]="subadmin_readonly" [placeholder]="''" [(ngModel)]="legal_info.provider_terms">{{ legal_info.provider_terms }}</quill-editor>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </tab>
      <tab heading="{{'heading-title.store-privacy' | translate | uppercase}}">
        <div class="row">
          <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12 text-end">
                  <span *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)" class="badge badge-pill badge-outline-primary mb-1 c-pointer" (click)="save()">{{
                    'button-title.save' | translate }}</span>
                </div>
              </div>
              <div class="pl-3 pr-3 pt-3 pb-0 d-flex flex-column flex-grow-1">
                <div class="row">
                  <div class="col-12">
                    <quill-editor [readOnly]="subadmin_readonly" [placeholder]="''" [(ngModel)]="legal_info.store_privacy">{{ legal_info.store_privacy }}</quill-editor>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </tab>
      <tab heading="{{'heading-title.store-terms' | translate | uppercase}}">
        <div class="row">
          <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12 text-end">
                  <span *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)" class="badge badge-pill badge-outline-primary mb-1 c-pointer" (click)="save()">{{
                    'button-title.save' | translate }}</span>
                </div>
              </div>
              <div class="pl-3 pr-3 pt-3 pb-0 d-flex flex-column flex-grow-1">
                <div class="row">
                  <div class="col-12">
                    <quill-editor [readOnly]="subadmin_readonly" [placeholder]="''" [(ngModel)]="legal_info.store_terms">{{ legal_info.store_terms }}</quill-editor>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
</div>
