.button_container{
    display: flex;
    justify-content: space-around;
}
.modal-styles{
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    border-radius: .75rem;
}
.modal-styles .modal-body{
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
}