<ng-template #template>
  <div class="modal-styles">
    <div class="modal-body" *ngIf="isEstimateTime || !is_admin_services || isShowProviders">
      <div class="row" *ngIf="isEstimateTime">
        <div class="col-12">
          <p class="font-weight-medium truncate mb-0">{{ 'label-title.estimate-time' | translate }}</p>
        </div>
        <div class="col-12 text-end m-auto form-group">
          <div class="input-group input-group-sm mt-1 form-group">
            <input type="number" class="form-control" [(ngModel)]="estimateTime">
          </div>
        </div>
      </div>
      <div class="row" *ngIf="!is_admin_services">
        <div class="col-12">
          <p class="font-weight-medium truncate mb-0">{{ 'label-title.select-vehicle' | translate }}</p>
        </div>
        <div class="col-12 form-group" *ngIf="orderId.delivery_type == DELIVERY_TYPE_CONSTANT.STORE || orderId.delivery_type == DELIVERY_TYPE_CONSTANT.ECOMMERCE">
          <ng-select [readonly]="isShowProviders" [clearable]="false" [(ngModel)]="selectedVehicle" notFoundText="{{'label-title.no-data-found' | translate}}">
            <ng-option [value]="vehicle._id" *ngFor="let vehicle of vehicles">{{vehicle.vehicle_name}}</ng-option>
          </ng-select>
        </div>
        <div class="col-12 form-group" *ngIf="orderId.delivery_type == 2 || orderId.delivery_type == 4">
          <ng-select [readonly]="true" [clearable]="false" [(ngModel)]="selectedVehicle" notFoundText="{{'label-title.no-data-found' | translate}}">
            <ng-option [value]="vehicle._id" *ngFor="let vehicle of selected_vehicle">{{vehicle.vehicle_name}}</ng-option>
          </ng-select>
        </div>
      </div>
      <div class="row" *ngIf="isShowProviders">
        <div class="col-12">
          <p class="font-weight-medium truncate mb-0">{{ 'label-title.select-driver' | translate }}</p>
        </div>
        <div class="col-12 form-group">
          <ng-select [clearable]="false" [(ngModel)]="selectedProvider">
            <ng-option [value]="provider._id" *ngFor="let provider of providers">{{provider.first_name}}
              {{provider.last_name}}</ng-option>
          </ng-select>
        </div>
      </div>
    </div>
    <div class="modal-footer">
    <div class="row" *ngIf="!isShowVehicle && !isShowProviders">
      <div class="col-12 button_container">
        <button (click)="onAssign(1)" [disabled]="selectedVehicle === null && !is_admin_services" class="btn btn-primary mr-2 btn-sm ">{{'button-title.auto-assign' | translate}}</button>
        <button (click)="onAssign(2)" [disabled]="selectedVehicle === null && !is_admin_services" class="btn  btn-primary btn-sm">{{'button-title.manual-assign' | translate}}</button>
      </div>
    </div>
  </div>
  </div>
</ng-template>
