textarea {
    resize: none;
}
.pt-30{
  padding-top: 8rem;
}
.text-align{
  text-align: end;
}
.social-profile-img{
  top: 85%;
  height: 130px;
}

.img-cover{
  height: 400px;
  width: 100%;
  object-fit: cover;
}
.img-h{
  height: 100%;
  max-height: 380px;
}

.category-input{
  border-top-left-radius: 100px; border-bottom-left-radius: 100px;
}
