<div class="app-row row">
  <div class="col-12">
    <app-heading></app-heading>
    <div class="top-right-button-container text-zero" *ngIf="_helper.has_permission(_helper.PERMISSION.ADD)">
      <button type="button" (click)="showAddDInfoModal()" class="top-right-button btn btn-primary btn-lg mr-1">{{
        'button-title.add' | translate}}</button>
    </div>
    <app-breadcrumb></app-breadcrumb>
    <br>
    <div class="separator mb-4"></div>
  </div>
  <app-add-new-item-modal #addNewItemModalRef></app-add-new-item-modal>
  <div class="col-12 col-sm-12 col-lg-12 col-xl-12">
    <div class="card mb-3">
      <div *ngIf="!selected_delivery_id" class="card-body text-center font-weight-bold text-capitalize">{{'label-title.no-data-found' | translate}}</div>
      <div *ngIf="selected_delivery_id" class="card-body">
        <div class="mb-3 d-flex justify-content-between">
          <p *ngIf="is_edit && selected_delivery_type !== DELIVERY_TYPE_CONSTANT.TAXI && selected_delivery_type !== DELIVERY_TYPE_CONSTANT.COURIER " class="text-primary mb-0" style="margin-top: auto;">*{{'validation-title.please-upload-image-in-format' | translate}}</p>
          <p *ngIf="!is_edit || selected_delivery_type == DELIVERY_TYPE_CONSTANT.TAXI || selected_delivery_type == DELIVERY_TYPE_CONSTANT.COURIER " class="text-primary mb-0" style="margin-top: auto;"></p>
          <button *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)" id="button-basic" type="submit" class="btn btn-outline-primary btn-xs" (click)="onUpdate()">{{'button-title.save' | translate}}</button>
        </div>
        <form [formGroup]="deliveryForm" appFocus>
          <div class="row d-flex">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="mb-5 position-relative" *ngIf="deliveryForm.get('delivery_type').value!==DELIVERY_TYPE_CONSTANT.TAXI && deliveryForm.get('delivery_type').value!==DELIVERY_TYPE_CONSTANT.COURIER && deliveryForm.get('delivery_type').value!==DELIVERY_TYPE_CONSTANT.ECOMMERCE">
                  <div *ngIf="is_edit" class="position-absolute card-top-buttons">
                    <button *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)" class="btn btn-outline-primary icon-button" (click)="image.click()">
                      <i class="simple-icon-pencil"></i>
                    </button>
                    <input type="file" accept="image/*" (change)="onSelectImageFile($event,1)" class="d-none" id="delivery-image" #image>
                  </div>
                  <img *ngIf="is_image_updated"
                    [src]="upload_delivery_imageurl != '' ? upload_delivery_imageurl : _helper.DEFAULT_IMAGE_PATH.DELIVERY"
                    alt="Detail" class="card-img-top rounded img-h">
                  <img *ngIf="!is_image_updated" (error)="$event.target.src = _helper.DEFAULT_IMAGE_PATH.DELIVERY"
                    [src]="image_url != '' ? _helper.image_url + image_url : _helper.DEFAULT_IMAGE_PATH.DELIVERY"
                    alt="Detail" class="card-img-top rounded img-h">
                </div>
              <div class="">
                <div class="mb-3 pt-5 pt-md-2 pt-lg-0" formArrayName="delivery_name">
                  <h5 class="mb-4">{{'label-title.name' | translate }}</h5>
                  <div class="input-group mb-3 form-group" *ngFor="let name of delivery_name.controls; let i = index">
                    <div class="input-group-prepend">
                      <span id="basic-addon1" class="input-group-text">{{this._lang.supportedLanguages[i].shorthand |
                        uppercase}}</span>
                    </div>
                    <input type="text" aria-label="Username" [formControlName]="i" [id]="i" aria-describedby="basic-addon1"
                      class="form-control" placeholder="{{'label-title.name' | translate | uppercase}}" (keypress)="_helper.space_validation($event)">
                      <div *ngIf="deliveryForm.get('delivery_name')['controls'][i].errors?.required && deliveryForm.get('delivery_name')['controls'][i]?.touched"
                      class="invalid-tooltip">{{ 'label-title.name' | translate }} {{'label-title.is-required' | translate}}</div>
                  </div>
                </div>
                <div class="mb-3" formArrayName="description">
                  <h5 class="mb-4">{{'label-title.description' | translate }}</h5>
                  <div class="mb-3 input-group" *ngFor="let description of description.controls; let i = index">
                    <div class="input-group-prepend">
                      <span id="basic-addon1" class="input-group-text">{{this._lang.supportedLanguages[i].shorthand |
                        uppercase}}</span>
                    </div>
                    <textarea aria-label="With textarea" class="form-control" formControlName="{{i}}"
                      placeholder="{{'label-title.description' | translate | uppercase}}" (keypress)="_helper.space_validation($event)"></textarea>
                  </div>
                </div>
              </div>
              <div class="" *ngIf="deliveryForm.get('delivery_type').value==DELIVERY_TYPE_CONSTANT.ECOMMERCE">
                <h5 class="mb-5">{{'label-title.default-image' | translate }}
                  <span class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-1" style="top: 3px;" tooltip="{{'tooltip-title.ecommerce-default-image-tooltip' | translate}}" placement="right"></i></span>
                </h5>
                <div class="mb-5 position-relative">
                  <div *ngIf="is_edit" class="position-absolute card-top-buttons">
                    <button *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)" class="btn btn-outline-primary icon-button" (click)="default_image.click()">
                      <i class="simple-icon-pencil"></i>
                    </button>
                    <input type="file" accept="image/*" (change)="onSelectImageFile($event,4)" class="d-none" id="delivery-image" #default_image>
                  </div>
                  <img *ngIf="is_default_image_updated"
                    [src]="default_delivery_imageurl != '' ? default_delivery_imageurl : _helper.DEFAULT_IMAGE_PATH.DELIVERY"
                    alt="Detail" class="card-img-top rounded img-h">
                  <img *ngIf="!is_default_image_updated" (error)="$event.target.src = _helper.DEFAULT_IMAGE_PATH.DELIVERY"
                    [src]="default_image_url != '' ? _helper.image_url + default_image_url : _helper.DEFAULT_IMAGE_PATH.DELIVERY"
                    alt="Detail" class="card-img-top rounded img-h">
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
              <div class="">
                <div class="mb-4">
                  <div class="mb-3 form-group">
                    <label><span>{{ 'label-title.delivery-type' | translate }}</span></label>
                    <ng-select [readonly]="true" appearance="outline" #agreeSelect labelForId="yesno" [searchable]="false"
                      placeholder="{{'label-title.choose' | translate}}" formControlName="delivery_type">
                      <ng-option *ngFor="let delivery of delivery_type" [value]="delivery.value">{{delivery.title | translate}}
                      </ng-option>
                    </ng-select>
                    <div *ngIf="deliveryForm.get('delivery_type').errors?.required && deliveryForm.get('delivery_type').touched"
                    class="invalid-tooltip">{{ 'label-title.delivery-type' | translate }} {{'label-title.is-required' | translate}}</div>
                  </div>
                  <div class="mb-3" *ngIf="deliveryForm.get('delivery_type').value != DELIVERY_TYPE_CONSTANT.ECOMMERCE && deliveryForm.get('delivery_type').value !== DELIVERY_TYPE_CONSTANT.TAXI && deliveryForm.get('delivery_type').value !== DELIVERY_TYPE_CONSTANT.COURIER ">
                    <div class="form-group">
                      <label for="exampleInput">{{ 'label-title.sequence-number' | translate }}</label>
                      <input type="number" id="exampleInput" class="form-control" formControlName="sequence_number"
                        placeholder="{{'label-title.enter-sequence-number' | translate}}" disablePasteDrop>
                        <div *ngIf="deliveryForm.get('sequence_number').errors?.required && deliveryForm.get('sequence_number').touched"
                        class="invalid-tooltip">{{ 'label-title.sequence-number' | translate }} {{'label-title.is-required' | translate}}</div>
                    </div>
                  </div>
                  <div class="mb-3" *ngIf="deliveryForm.get('delivery_type').value==DELIVERY_TYPE_CONSTANT.STORE || deliveryForm.get('delivery_type').value==DELIVERY_TYPE_CONSTANT.APPOINMENT || deliveryForm.get('delivery_type').value==DELIVERY_TYPE_CONSTANT.SERVICE || deliveryForm.get('delivery_type').value==DELIVERY_TYPE_CONSTANT.ECOMMERCE">
                    <div class="custom-control custom-switch"><input type="checkbox" id="is_store_can_create_group"
                        formControlName="is_store_can_create_group" class="custom-control-input">
                        <label *ngIf="deliveryForm.get('delivery_type').value!=DELIVERY_TYPE_CONSTANT.ECOMMERCE" for="is_store_can_create_group"
                        class="custom-control-label">{{'label-title.store-can-create-group-of-sub-category'| translate }}</label>
                        <label *ngIf="deliveryForm.get('delivery_type').value==DELIVERY_TYPE_CONSTANT.ECOMMERCE" for="is_store_can_create_group"
                        class="custom-control-label">{{'label-title.can-admin-create-category-of-subcategories'| translate }}</label>
                      </div>
                  </div>
                  <div class="mb-3" *ngIf="deliveryForm.get('delivery_type').value==DELIVERY_TYPE_CONSTANT.STORE || deliveryForm.get('delivery_type').value==DELIVERY_TYPE_CONSTANT.APPOINMENT || deliveryForm.get('delivery_type').value==DELIVERY_TYPE_CONSTANT.SERVICE || deliveryForm.get('delivery_type').value==DELIVERY_TYPE_CONSTANT.ECOMMERCE">
                    <div class="custom-control custom-switch"><input type="checkbox" id="is_store_can_edit_order"
                        formControlName="is_store_can_edit_order" class="custom-control-input"><label
                        for="is_store_can_edit_order"
                        class="custom-control-label">{{'label-title.store-can-edit-order'| translate}}</label></div>
                  </div>
                  <div class="mb-3">
                    <div class="custom-control custom-switch"><input type="checkbox" id="is_business"
                        formControlName="is_business" class="custom-control-input"><label for="is_business"
                        class="custom-control-label">{{'label-title.business' | translate }}</label>
                    </div>
                  </div>
                  <div class="mb-3" *ngIf="deliveryForm.get('delivery_type').value==DELIVERY_TYPE_CONSTANT.STORE">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" id="is_provide_table_booking" formControlName="is_provide_table_booking"
                        class="custom-control-input">
                      <label for="is_provide_table_booking"
                        class="custom-control-label">{{'label-title.is_provide_table_booking' | translate }}</label>
                    </div>
                  </div>

                  <div class="mb-3" *ngIf="deliveryForm.get('delivery_type').value==DELIVERY_TYPE_CONSTANT.APPOINMENT || deliveryForm.get('delivery_type').value==DELIVERY_TYPE_CONSTANT.SERVICE">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" id="is_admin_service_allow" formControlName="is_admin_service_allow"
                        class="custom-control-input">
                      <label for="is_admin_service_allow" class="custom-control-label">
                       <span *ngIf="deliveryForm.get('delivery_type').value == DELIVERY_TYPE_CONSTANT.SERVICE"> {{'label-title.is_admin_service_allow' | translate }} </span>
                       <span *ngIf="deliveryForm.get('delivery_type').value == DELIVERY_TYPE_CONSTANT.APPOINMENT"> {{'label-title.is_admin_appointment_allow' | translate }} </span>
                      </label>
                    </div>
                  </div>

                  <div class="no-gutters" *ngIf="deliveryForm.get('delivery_type').value==DELIVERY_TYPE_CONSTANT.STORE || deliveryForm.get('delivery_type').value==DELIVERY_TYPE_CONSTANT.APPOINMENT || deliveryForm.get('delivery_type').value==DELIVERY_TYPE_CONSTANT.SERVICE || deliveryForm.get('delivery_type').value==DELIVERY_TYPE_CONSTANT.ECOMMERCE ">
                    <div class="mb-3">
                      <p class="font-weight-medium truncate mb-0">{{ 'label-title.theme' | translate }} {{ 'label-title.only-website' | translate}}</p>
                    </div>
                    <div class="mt-3 m-auto">
                      <div class="form-group">
                          <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="theme1" formControlName="theme_number" value=1>
                            <label for="theme1" class="custom-control-label">{{'label-title.theme-1-list-view' | translate}}</label>
                          </div>
                          <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="theme2" formControlName="theme_number" value=2>
                            <label for="theme2" class="custom-control-label">{{'label-title.theme-2-grid-view' | translate}}</label>
                          </div>
                          <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="theme3" formControlName="theme_number" value=3>
                            <label for="theme3" class="custom-control-label">{{'label-title.theme-3' | translate}}</label>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                *ngIf="deliveryForm.get('delivery_type').value==DELIVERY_TYPE_CONSTANT.STORE || deliveryForm.get('delivery_type').value==DELIVERY_TYPE_CONSTANT.APPOINMENT || deliveryForm.get('delivery_type').value==DELIVERY_TYPE_CONSTANT.SERVICE"
                class="">
                <h5 class="mb-2" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">{{'label-title.tags' | translate }}</h5>
                <p class="mb-3" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
                  <span class="badge mb-1 mr-1 badge-outline-secondary badge-pill c-pointer text-wrap"  *ngFor="let tag of favourite_tags; let i = index">
                     <span (click)="showAddNewModal(tag, i)"> {{tag[_lang.selectedlanguageIndex]}}</span>
                      <span style="font-size: 130%;" class="ml-2" (click)="OnDeleteTag(i)">x</span>
                  </span>
                  <a href="javascript::" (click)="showAddNewModal(null,null)"><span
                      class="badge mb-1 mr-1 badge-secondary badge-pill">{{'label-title.add-tag' |
                      translate
                      }}</span></a>
                </p>
              </div>
              <div class="" *ngIf="deliveryForm.get('delivery_type').value!==DELIVERY_TYPE_CONSTANT.ECOMMERCE && deliveryForm.get('delivery_type').value!==DELIVERY_TYPE_CONSTANT.TAXI && deliveryForm.get('delivery_type').value!==DELIVERY_TYPE_CONSTANT.COURIER">
                <h5 class="mb-5">{{'label-title.default-image' | translate }}
                  <span class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-1" style="top: 3px;" tooltip="{{'tooltip-title.other-business-default-image-tooltip' | translate}}" placement="right"></i></span>
                </h5>
                <div class="mb-5 position-relative">
                  <div *ngIf="is_edit" class="position-absolute card-top-buttons">
                    <button *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)" class="btn btn-outline-primary icon-button" (click)="default_image.click()">
                      <i class="simple-icon-pencil"></i>
                    </button>
                    <input type="file" accept="image/*" (change)="onSelectImageFile($event,4)" class="d-none" id="delivery-image" #default_image>
                  </div>
                  <img *ngIf="is_default_image_updated"
                    [src]="default_delivery_imageurl != '' ? default_delivery_imageurl : _helper.DEFAULT_IMAGE_PATH.DELIVERY"
                    alt="Detail" class="card-img-top rounded img-h">
                  <img *ngIf="!is_default_image_updated" (error)="$event.target.src = _helper.DEFAULT_IMAGE_PATH.DELIVERY"
                    [src]="default_image_url != '' ? _helper.image_url + default_image_url : _helper.DEFAULT_IMAGE_PATH.DELIVERY"
                    alt="Detail" class="card-img-top rounded img-h">
                </div>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="" *ngIf="deliveryForm.get('delivery_type').value==DELIVERY_TYPE_CONSTANT.APPOINMENT || deliveryForm.get('delivery_type').value==DELIVERY_TYPE_CONSTANT.SERVICE">
                <div class="mb-5 position-relative">
                  <h5 class="mb-2">{{'label-title.service-banner-image' | translate }}
                    <span class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-1" style="top: 3px;" tooltip="{{'tooltip-title.service-banner-default-image-tooltip' | translate}}" placement="right"></i></span>
                  </h5>

                  <div *ngIf="is_edit" class="position-absolute card-top-buttons" style="top: 2rem;">
                    <button *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)" class="btn btn-outline-primary icon-button" (click)="image.click()">
                      <i class="simple-icon-pencil"></i>
                    </button>
                    <input type="file" accept="image/*" (change)="onSelectImageFile($event,3)" class="d-none" id="banner-image" #image>
                  </div>
                  <img *ngIf="is_banner_image_updated"
                    [src]="upload_banner_imageUrl != '' ? upload_banner_imageUrl : _helper.DEFAULT_IMAGE_PATH.DELIVERY"
                    alt="Detail" class="card-img-top rounded img-cover">
                  <img *ngIf="!is_banner_image_updated" (error)="$event.target.src = _helper.DEFAULT_IMAGE_PATH.DELIVERY"
                    [src]="banner_url != '' ? _helper.image_url + banner_url : _helper.DEFAULT_IMAGE_PATH.DELIVERY"
                    alt="Detail" class="card-img-top rounded img-cover">
                </div>
              </div>
            </div>
          </div>
          <div class="d-block" *ngIf="deliveryForm.get('delivery_type').value!==DELIVERY_TYPE_CONSTANT.COURIER && deliveryForm.get('delivery_type').value!==DELIVERY_TYPE_CONSTANT.TAXI">
            <p class="text-muted text-small mb-1">{{'label-title.image-note' | translate }}</p>
            <p class="mb-3">
              {{'label-title.upload-image-size-with-in-widthxheight-min' | translate}}500x400{{'label-title.and-max' |
              translate}}1200x960{{'label-title.image-ratio-should-be' | translate}}125{{'label-title.and-upload-only'
              |
              translate}}jpg-jpeg-png{{'label-title.file' | translate}}</p>
            <p class="text-muted text-small mb-1">{{'label-title.icon-note' | translate }}</p>
            <p class="mb-0">
              {{'label-title.upload-image-size-with-in-widthxheight-min' | translate}}500x400{{'label-title.and-max' |
              translate}}1200x960{{'label-title.image-ratio-should-be' | translate}}125{{'label-title.and-upload-only'
              |
              translate}}jpg-jpeg-png{{'label-title.file' | translate}}</p>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
<app-add-new-d-info-modal #addNewModalRef1></app-add-new-d-info-modal>
<app-add-delivery-tag-modal (addTag)="tagAdded($event)" #deliveryTagModal></app-add-delivery-tag-modal>
<app-image-crop-model (updateImage)="imageCropped($event)" #cropModel></app-image-crop-model>
<app-edit-delivery-type #editDeliveryType></app-edit-delivery-type>
<app-application-menu>
<div class="card-body h-100">
  <div class="form-group mb-5">
    <div class="input-group">
        <input type="text" class="form-control category-input" placeholder="{{'label-title.search' | translate}}"
        [(ngModel)]="delivery_search" #searchBoxContact id="search-box" />
        <div class="input-group-append">
            <div class="category-list" dropdown placement="bottom right">
                <ng-select appCloseOnScroll style="width: 140px ;" class="custom category-select-btn" appearance="outline" #agreeSelect labelForId="yesno" [searchable]="false"
                    notFoundText="{{'label-title.no-data-found' | translate}}" [clearable]="false" [(ngModel)]="business_type" (change)="onChangeBusiness($event)">
                    <ng-option *ngFor="let business of businessTypeList" [value]="business.type">{{business.name | translate}}</ng-option>
                </ng-select>
            </div>
        </div>
    </div>
  </div>
  <div class="chat-app-tab-pane-contacts h-100">
 <perfect-scrollbar class="scroll" style="height: calc(100% - 70px) !important;" [config]="{suppressScrollX: true, wheelPropagation: false}">
        <div *ngFor="let delivery of filter_delivery_list | searchpipe:delivery_search:['delivery_name']"  class="mb-3">
          <div [ngClass]="selected_delivery_id?(selected_delivery_id == delivery._id ? 'text-primary': ''):''" class="d-flex flex-row border-bottom c-pointer" (click)="onDelivery(delivery)">
            <a class="d-block position-relative">
              <img alt="Marble Cake" (error)="$event.target.src = DEFAULT_IMAGE_PATH.DELIVERY"
                class="list-thumbnail border-0 mb-3" *ngIf="delivery.delivery_type != DELIVERY_TYPE_CONSTANT.COURIER && delivery.delivery_type != DELIVERY_TYPE_CONSTANT.TAXI && delivery.delivery_type != DELIVERY_TYPE_CONSTANT.ECOMMERCE "
                [src]=" delivery.image_url != '' ? IMAGE_URL + delivery.image_url : DEFAULT_IMAGE_PATH.DELIVERY">
                <img alt="Marble Cake" (error)="$event.target.src = DEFAULT_IMAGE_PATH.DELIVERY" style="height: 85px;"
                class="list-thumbnail border-0 mb-3" *ngIf="delivery.delivery_type == DELIVERY_TYPE_CONSTANT.COURIER || delivery.delivery_type == DELIVERY_TYPE_CONSTANT.TAXI || delivery.delivery_type == DELIVERY_TYPE_CONSTANT.ECOMMERCE "
                [src]=" IMAGE_URL + DELIVERY_TYPE_DEFAULT_IMAGE[delivery.delivery_type] ">
              <span *ngIf="!delivery.is_business" class="badge badge-pill badge-danger rounded badge-top-right position-absolute">{{'heading-title.business-off' | translate}}</span>
            </a>
            <div class="pl-3 pt-0 pr-0 pb-2 flex-grow-1">
              <div class="d-flex justify-content-between">
              <a class="c-pointer">
                <p class="list-item-heading mb-1" *ngIf="delivery.delivery_name[_lang.selectedlanguageIndex]" [ngClass]="selected_delivery_id?(selected_delivery_id == delivery._id ? 'text-primary': ''):''">
                  {{delivery.delivery_name[_lang.selectedlanguageIndex]}}
                </p>
                <p class="list-item-heading mb-1" *ngIf="!delivery.delivery_name[_lang.selectedlanguageIndex]">
                  {{delivery.delivery_name[0]}}
                </p>
              </a>
            </div>
              <p class="text-muted text-small" *ngIf="delivery.description[_lang.selectedlanguageIndex]">
                {{delivery.description[_lang.selectedlanguageIndex]}}</p>
              <p class="text-muted text-small" *ngIf="!delivery.description[_lang.selectedlanguageIndex]">
                {{delivery.description[0]}}</p>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-center no-data-label" *ngIf="filter_delivery_list && filter_delivery_list.length === 0 || (filter_delivery_list|searchpipe: delivery_search:['delivery_name'])?.length === 0">
          <p>{{'label-title.no-record-found' | translate}}</p>
      </div>
</perfect-scrollbar>
</div>
</div>
</app-application-menu>