<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'heading-title.admin-settings' | translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="admin_details" appFocus>
      <div class="form-group">
        <label>{{'label-title.app-name' | translate }}</label>
        <input type="text" class="form-control" formControlName="app_name">
        <div class="invalid-tooltip" *ngIf="admin_details.get('app_name').errors?.required">
          {{'label-title.this-field-is-required' | translate }}</div>
      </div>
      <div class="mt-4 form-group">
        <label>{{'label-title.email' | translate }}</label>
        <input type="text" class="form-control" formControlName="admin_email">
        <div class="invalid-tooltip" *ngIf="admin_details.get('admin_email').errors?.required">
          {{'label-title.this-field-is-required' | translate }}</div>
      </div>
      <div class="mt-4 form-group">
        <label>{{'label-title.phone' | translate }}</label>
        <input type="text" class="form-control" formControlName="admin_phone_number" (keypress)="_helper.only_number_valid($event)" disablePasteDrop>
        <div class="invalid-tooltip" *ngIf="admin_details.get('admin_phone_number').errors?.required" disablePasteDrop>
          {{'label-title.this-field-is-required' | translate }}</div>
      </div>
      <div class="mt-4 form-group">
        <label>{{'label-title.contact-email' | translate }}</label>
        <input type="text" class="form-control" formControlName="admin_contact_email">
        <div class="invalid-tooltip" *ngIf="admin_details.get('admin_contact_email').errors?.required">
          {{'label-title.this-field-is-required' | translate }}</div>
      </div>
      <div class="mt-4 form-group">
        <label>{{'label-title.contact-phone' | translate }}</label>
        <input type="text" class="form-control" formControlName="admin_contact_phone_number" (keypress)="_helper.only_number_valid($event)" disablePasteDrop>
        <div class="invalid-tooltip" *ngIf="admin_details.get('admin_contact_phone_number').errors?.required">
          {{'label-title.this-field-is-required' | translate }}</div>
      </div>
      <div class="mt-4 form-group">
        <label>{{'label-title.country' | translate }}</label>
        <ng-select appearance="outline" labelForId="yesno" [searchable]="true" formControlName="admin_country"
          (change)="onChangeCountry()">
          <ng-option [value]="country.name" *ngFor="let country of all_countries">{{country.name}}
          </ng-option>
        </ng-select>
        <div class="invalid-tooltip" *ngIf="admin_details.get('admin_country').errors?.required">
          {{'label-title.this-field-is-required' | translate }}</div>
      </div>
      <div class="mt-4 form-group">
        <label>{{'label-title.latitude' | translate }}</label>
        <input type="number" class="form-control" formControlName="latitude" onDrop="return false" (keydown)="_helper.keyUpDown($event)" (wheel)="(false)" (keypress)="_helper.nagetiveNumValidation($event)">
        <div class="invalid-tooltip" *ngIf="admin_details.get('latitude').errors?.required">
          {{'label-title.this-field-is-required' | translate }}</div>
      </div>
      <div class="mt-4 form-group">
        <label>{{'label-title.longitude' | translate }}</label>
        <input type="number" class="form-control" formControlName="longitude" onDrop="return false" (keydown)="_helper.keyUpDown($event)" (wheel)="(false)" (keypress)="_helper.nagetiveNumValidation($event)">
        <div class="invalid-tooltip" *ngIf="admin_details.get('longitude').errors?.required">
          {{'label-title.this-field-is-required' | translate }}</div>
      </div>
      <div class="mt-4 form-group">
        <label>{{'label-title.admin-panel-timezone' | translate }}</label>
        <ng-select appearance="outline" labelForId="yesno" notFoundText="{{'label-title.no-data-found' | translate}}"
          [searchable]="true" formControlName="admin_panel_timezone">
          <ng-option [value]="timezone" *ngFor="let timezone of timezone_list">{{timezone}}
          </ng-option>
        </ng-select>
        <div class="invalid-tooltip" *ngIf="admin_details.get('admin_panel_timezone').errors?.required">
          {{'label-title.this-field-is-required' | translate }}</div>
      </div>
      <div class="mt-4 form-group">
        <label>{{'label-title.service-provider-time-out' | translate }}</label>
        <input type="text" class="form-control" formControlName="service_provider_timeout" (keypress)="_helper.decimalNum_validation($event)" disablePasteDrop>
        <div class="invalid-tooltip" *ngIf="admin_details.get('service_provider_timeout').errors?.required">
          {{'label-title.this-field-is-required' | translate }}</div>
      </div>
      <div class="mt-4 form-group">
        <label>{{'label-title.deliveryman-time-out' | translate }}</label>
        <input type="text" class="form-control" formControlName="provider_timeout" (keypress)="_helper.decimalNum_validation($event)" disablePasteDrop>
        <div class="invalid-tooltip" *ngIf="admin_details.get('provider_timeout').errors?.required">
          {{'label-title.this-field-is-required' | translate }}</div>
      </div>

      <div class="mt-4 form-group">
        <label>{{'label-title.loop-for-findnearest-provider' | translate }}</label>
        <input type="text" class="form-control" formControlName="no_of_loop_for_send_request" (keypress)="_helper.only_number_valid($event)" disablePasteDrop>
        <div class="invalid-tooltip" *ngIf="admin_details.get('no_of_loop_for_send_request').errors?.required ">
          {{'label-title.this-field-is-required' | translate }}</div>
        <div class="invalid-tooltip" *ngIf="this.admin_details.get('no_of_loop_for_send_request')?.errors?.min || this.admin_details.get('no_of_loop_for_send_request')?.errors?.max">
            {{'label-title.value-should-be-above-1' | translate }} to {{1000}}</div>
      </div>

      <div class="mt-4 form-group">
        <label>{{'label-title.default-search-radius' | translate }}</label>
        <input type="text" class="form-control" formControlName="default_search_radius" (keypress)="_helper.decimalNum_validation($event)" disablePasteDrop>
        <div class="invalid-tooltip" *ngIf="admin_details.get('default_search_radius').errors?.required">
          {{'label-title.this-field-is-required' | translate }}</div>
      </div>
      <div class="mt-4 form-group">
        <label>{{'label-title.activity-log-priority' | translate }}</label>
        <ng-select appearance="outline" labelForId="yesno" [searchable]="true"
          formControlName="activity_log_priority" [multiple]="true" (change)="onChangeCountry()">
          <ng-option [value]="priority.value" *ngFor="let priority of priorities">{{priority.name | translate}}
          </ng-option>
        </ng-select>
        <div class="invalid-tooltip" *ngIf="admin_details.get('admin_country').errors?.required">{{'label-title.this-field-is-required' | translate }}</div>
      </div>
      <div class="mt-4 form-group">
        <div class="row">
          <div class="col-6">
            <label>{{'label-title.minimum-phone-number-length' | translate }}</label>
            <ng-select appearance="outline" labelForId="yesno" [searchable]="true" [clearable]="false"
            formControlName="minimum_phone_number_length" (change)="onMinSelect($event)">
            <ng-option [value]="priority" *ngFor="let priority of minNumberRange">{{priority}}
            </ng-option>
          </ng-select>
        </div>
        <div class="col-6">
            <label>{{'label-title.maximum-phone-number-length' | translate }}</label>
            <ng-select appearance="outline" labelForId="yesno" [searchable]="true" [clearable]="false"
              formControlName="maximum_phone_number_length">
              <ng-option [value]="priority" *ngFor="let priority of maxNumberRange">{{priority}}
              </ng-option>
            </ng-select>
          </div>
          <div class="invalid-tooltip" *ngIf="admin_details.get('admin_country').errors?.required">{{'label-title.this-field-is-required' | translate }}</div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary"
      (click)="onSave()">{{'button-title.update' | translate }}</button>
  </div>
</ng-template>
