.img-fluid {
  max-width: 100%;
  height: 7rem;
}
.modal-body {
  overflow: auto; 
  scrollbar-width: none; /* Hide the scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide the scrollbar for Internet Explorer and Edge */
}
.modal-body::-webkit-scrollbar {
    width: 0; /* Hide the scrollbar for Chrome, Safari, and Opera */
}