<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{promo_code_detail.promo_code_name}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body p-4">
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="">
                    <p class="text-muted text-small mb-2">{{'label-title.details' | translate }}</p>
                    <p class="mb-3">{{promo_code_detail.promo_code_value}} -
                        <span *ngIf="promo_code_detail.promo_code_type==_helper.CHARGE_TYPE.PERCENTAGE">
                           {{'label-title.percentage' | translate}}
                        </span>
                        <span *ngIf="promo_code_detail.promo_code_type==_helper.CHARGE_TYPE.ABSOLUTE">
                          {{'label-title.absolute' | translate}}
                        </span>
                    </p>
                    <p class="text-muted text-small mb-2">{{'label-title.promo-for' | translate }}</p>
                    <p class="mb-3" [ngSwitch]="promo_code_detail.promo_for">
                        <span *ngSwitchCase="_helper.PROMO_FOR_ID.SERVICE">{{_helper.ADMIN_PROMO_FOR_STRING.SERVICE}}</span>
                        <span *ngSwitchCase="_helper.PROMO_FOR_ID.DELIVERIES">{{_helper.ADMIN_PROMO_FOR_STRING.DELIVERIES}}</span>
                        <span *ngSwitchCase="_helper.PROMO_FOR_ID.STORE">{{_helper.ADMIN_PROMO_FOR_STRING.STORE}}</span>
                        <span *ngSwitchCase="_helper.PROMO_FOR_ID.PRODUCT">{{_helper.ADMIN_PROMO_FOR_STRING.PRODUCT}}</span>
                        <span *ngSwitchCase="_helper.PROMO_FOR_ID.ITEM">{{_helper.ADMIN_PROMO_FOR_STRING.ITEM}}</span>
                    </p>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="">
                    <p class="text-muted text-small mb-2">{{'label-title.country' | translate }}</p>
                    <p class="mb-3">{{promo_code_detail.country_name}}</p>
                    <p class="text-muted text-small mb-2">{{'label-title.city' | translate }}</p>
                    <p class="mb-3" *ngIf="promo_code_detail.city_name">{{promo_code_detail.city_name}}</p>
                    <p class="mb-3" *ngIf="!promo_code_detail.city_name">{{'label-title.all-cities' | translate}}</p>
                </div>
            </div>
        </div>
        <div class="form-row pb-2 border-bottom mb-3 align-self-center">
            <div class="col-4 "><label for="inputState">{{'label-title.details' | translate }}</label></div>
            <div class="col-3"><label for="inputState">{{'label-title.payments' | translate}}</label>
                <p class="text-muted mb-1 text-small">{{'label-title.paid-by' | translate}}</p>
            </div>
            <div class="col-3">
                <div class="form-row">
                    <div class="col-6"><label for="inputState">{{'label-title.fees' | translate}}</label></div>
                    <div class="col-6"><label for="inputZip">{{'label-title.cart' | translate}}</label></div>
                </div>
            </div>
            <div class="col-2">
                <label for="inputZip">{{'label-title.discount' | translate}}</label>
                <p class="text-muted mb-1 text-small">{{'label-title.orderId' | translate}}</p>
            </div>
        </div>

        <div class="form-row pb-3 border-bottom mb-3" *ngIf="order_list.length == 0">
          <p class="font-weight-medium mb-0 pl-2 mx-auto">{{'label-title.details-not-found' | translate}}</p>
        </div>
        <div class="form-row pb-3 border-bottom mb-3" *ngFor="let order of order_list;">

            <div class="col-4">
                    <p class="font-weight-medium mb-0"> {{order.first_name}} {{order.last_name}}</p>
                    <p class="text-muted mb-1 text-small">{{order.country_phone_code}} {{order.phone}}</p>
            </div>
            <div class="col-3">
                <a>
                    <p class="font-weight-medium mb-0">{{order.currency_code}} {{order.total | roundpipe:_helper.to_fixed_number}}</p>
                    <p class="text-muted mb-1 text-small">
                        <span *ngIf="order.is_paid_from_wallet">
                            {{'label-title.wallet' | translate}}
                        </span>
                        <span *ngIf="!order.is_paid_from_wallet && order.is_payment_mode_cash">
                            {{'label-title.cash' | translate}}
                        </span>
                        <span *ngIf="!order.is_paid_from_wallet && !order.is_payment_mode_cash">
                            {{'label-title.other' | translate}}
                        </span>
                    </p>
                </a>
            </div>
            <div class="col-3">
                <div class="form-row">
                    <div class="col-6">
                        <p class="font-weight-medium mb-0">{{order.total_delivery_price}} </p>
                    </div>
                    <div class="col-6">
                        <p class="font-weight-medium mb-0">{{order.total_cart_price | roundpipe:_helper.to_fixed_number}}</p>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <p class="font-weight-bold mb-0">{{order.promo_payment}}</p>
                <p class="text-muted mb-1 text-small">#{{order.order_unique_id}}</p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="modalRef.hide()">{{'button-title.close' | translate }}</button>
    </div>
</ng-template>
