<div class="card auth-card">
  <div class="position-relative image-side">
    <p class="h2">{{'heading-title.forgot-password' | translate | uppercase}}</p>
    <p class="mb-4">
      {{'label-title.please-use-your-email-to-reset-your-password' | translate}}
    </p>
  </div>
  <div class="form-side mt-4">
    <a class="c-pointer">
      <span class="logo-single"></span>
    </a>
    <h6 class="mb-4">Reset Password</h6>

    <form #resetForm="ngForm" novalidate (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="form-group has-float-label">{{ 'user-title.new-password' | translate }}</label>
        <input class="form-control" type="{{newshowPassword? 'text' : 'password'}}" placeholder="{{ 'user-title.new-password' | translate }}" (keypress)="_helper.space_validation($event)" required ngModel #code="ngModel" name="code" />
        <span id="show-pwd-btn-1" *ngIf="newshowPassword" class="field-icon c-pointer" (click)="newshowPassword=!newshowPassword">
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24">
            <path fill="#7f7f7f"
              d="M11.885 14.988l3.104-3.098.011.11c0 1.654-1.346 3-3 3l-.115-.012zm8.048-8.032l-3.274 3.268c.212.554.341 1.149.341 1.776 0 2.757-2.243 5-5 5-.631 0-1.229-.13-1.785-.344l-2.377 2.372c1.276.588 2.671.972 4.177.972 7.733 0 11.985-8.449 11.985-8.449s-1.415-2.478-4.067-4.595zm1.431-3.536l-18.619 18.58-1.382-1.422 3.455-3.447c-3.022-2.45-4.818-5.58-4.818-5.58s4.446-7.551 12.015-7.551c1.825 0 3.456.426 4.886 1.075l3.081-3.075 1.382 1.42zm-13.751 10.922l1.519-1.515c-.077-.264-.132-.538-.132-.827 0-1.654 1.346-3 3-3 .291 0 .567.055.833.134l1.518-1.515c-.704-.382-1.496-.619-2.351-.619-2.757 0-5 2.243-5 5 0 .852.235 1.641.613 2.342z" />
          </svg>
        </span>
        <span id="hide-pwd-btn-1" *ngIf="!newshowPassword" class="field-icon c-pointer" (click)="newshowPassword=!newshowPassword">
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24">
            <path fill="#7f7f7f"
              d="M15 12c0 1.654-1.346 3-3 3s-3-1.346-3-3 1.346-3 3-3 3 1.346 3 3zm9-.449s-4.252 8.449-11.985 8.449c-7.18 0-12.015-8.449-12.015-8.449s4.446-7.551 12.015-7.551c7.694 0 11.985 7.551 11.985 7.551zm-7 .449c0-2.757-2.243-5-5-5s-5 2.243-5 5 2.243 5 5 5 5-2.243 5-5z" />
          </svg>
        </span>
        <div *ngIf="!code.valid && resetForm.submitted" class="invalid-tooltip">{{'label-title.password-is-required' | translate}}</div>
      </div>

      <div class="form-group">
        <label class="form-group has-float-label mt-3">{{ 'user-title.confirm-password' | translate }}</label>
        <input class="form-control" type="{{showPassword? 'text' : 'password'}}" placeholder="{{ 'user-title.confirm-password' | translate }}" (keypress)="_helper.space_validation($event)" required ngModel #newPassword="ngModel"
          name="newPassword" />
          <span id="show-pwd-btn-1" *ngIf="showPassword" class="field-icon c-pointer" (click)="showPassword=!showPassword">
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24">
              <path fill="#7f7f7f"
                d="M11.885 14.988l3.104-3.098.011.11c0 1.654-1.346 3-3 3l-.115-.012zm8.048-8.032l-3.274 3.268c.212.554.341 1.149.341 1.776 0 2.757-2.243 5-5 5-.631 0-1.229-.13-1.785-.344l-2.377 2.372c1.276.588 2.671.972 4.177.972 7.733 0 11.985-8.449 11.985-8.449s-1.415-2.478-4.067-4.595zm1.431-3.536l-18.619 18.58-1.382-1.422 3.455-3.447c-3.022-2.45-4.818-5.58-4.818-5.58s4.446-7.551 12.015-7.551c1.825 0 3.456.426 4.886 1.075l3.081-3.075 1.382 1.42zm-13.751 10.922l1.519-1.515c-.077-.264-.132-.538-.132-.827 0-1.654 1.346-3 3-3 .291 0 .567.055.833.134l1.518-1.515c-.704-.382-1.496-.619-2.351-.619-2.757 0-5 2.243-5 5 0 .852.235 1.641.613 2.342z" />
            </svg>
          </span>
          <span id="hide-pwd-btn-1" *ngIf="!showPassword" class="field-icon c-pointer" (click)="showPassword=!showPassword">
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24">
              <path fill="#7f7f7f"
                d="M15 12c0 1.654-1.346 3-3 3s-3-1.346-3-3 1.346-3 3-3 3 1.346 3 3zm9-.449s-4.252 8.449-11.985 8.449c-7.18 0-12.015-8.449-12.015-8.449s4.446-7.551 12.015-7.551c7.694 0 11.985 7.551 11.985 7.551zm-7 .449c0-2.757-2.243-5-5-5s-5 2.243-5 5 2.243 5 5 5 5-2.243 5-5z" />
            </svg>
          </span>
          <div *ngIf="!newPassword.valid && resetForm.submitted" class="invalid-tooltip">{{'label-title.password-is-required' | translate}}</div>
          <div *ngIf="is_password_miss_match" class="invalid-tooltip">{{'label-title.password-missmatch' | translate}}</div>
      </div>

      <div class="d-flex justify-content-between align-items-center mt-4">
        <app-state-button [btnClass]="'btn btn-primary btn-lg btn-shadow'" [currentState]="buttonState"
          [isDisabled]="buttonDisabled" click="onLoginClick()">
          {{ 'user-title.reset-password-button' | translate | uppercase }}
        </app-state-button>
      </div>
    </form>

  </div>
</div>