<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{'heading-title.add-in-wallet' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="close_modal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label>{{'label-title.amount' | translate}}</label>
        <input type="number" class="form-control mb-2" (keyup)="wallet_amount_validator($event)" (keypress)="_helper.number_validation($event)" [(ngModel)]="wallet_amount" placeholder="{{'label-title.amount' | translate}}" disablePasteDrop>
        <div *ngIf="isError && wallet_amount > max_number" class="text-danger">{{'label-title.enter-smaller-number' | translate}}</div>
        <div *ngIf="isError && wallet_amount <= max_number" class="text-danger">{{'label-title.enter-valid-number' | translate}}</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="wallet_amount <= 0 || wallet_amount > max_number"
          (click)="confirm()">{{'button-title.save' | translate}}</button>
      </div>
</ng-template>
