<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{'label-title.warning' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
        <br>
      </div>
    <div class="modal-body">
        <p>{{'label-title.service-warning' | translate}}</p>
    </div>
      <div class="modal-footer" *ngIf="this.route != 'admin'">
        <button type="button" class="btn btn-primary" [disabled]="wallet_amount <= 0 || wallet_amount > max_number"
          (click)="setPrice()">{{'button-title.set-service' | translate}}</button>
        <button type="button" class="btn btn-outline-primary"(click)="confirm()">{{'button-title.close' | translate}}</button>
      </div>
      <div class="modal-footer" *ngIf="this.route == 'admin'">
        <button type="button" class="btn btn-primary"(click)="confirm()">{{'button-title.ok' | translate}}</button>
      </div>
</ng-template>
