<ng-template #template>
  <div class="modal-header">
    <h4 *ngIf="type === 'user'" class="modal-title pull-left">
      {{ referral.referred_user_detail[0].first_name + ' ' + referral.referred_user_detail[0].last_name }}
      <span *ngIf="referral.referral_code[0].referral_code">&nbsp;-
        {{referral.referral_code[0].user_referral_code}}</span>
    </h4>
    <h4 *ngIf="type === 'provider'" class="modal-title pull-left">
      {{ referral.referred_provider_detail[0].first_name + ' ' + referral.referred_provider_detail[0].last_name }}
      <span *ngIf="referral.referral_code[0].referral_code">&nbsp;-
        {{ referral.referral_code[0].provider_referral_code }}</span>
    </h4>
    <h4 *ngIf="type === 'store'" class="modal-title pull-left">
      <span class="list-item-heading m-0" *ngIf="referral.referred_store_detail[0].name[_lang.selectedlanguageIndex]">
        {{ referral.referred_store_detail[0].name[_lang.selectedlanguageIndex]}}
      </span>
      <span class="list-item-heading m-0" *ngIf="!referral.referred_store_detail[0].name[_lang.selectedlanguageIndex]">
        {{ referral.referred_store_detail[0].name[0]}}
      </span>
      <span *ngIf="referral.referral_code[0].store_referral_code">&nbsp;-
        {{ referral.referral_code[0].store_referral_code }}</span>
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="type === 'user'">
      <div class="mb-3  pb-3 border-bottom" *ngFor="let referral_code of referral.referral_code">
        <div class="row">
          <div class="col-5">
            <p class="list-item-heading m-0">
              {{ referral_code.user_detail[0].first_name + ' ' + referral_code.user_detail[0].last_name }}
            </p>
            <p class="text-muted mb-0 text-medium">
              {{ referral_code.user_detail[0].country_phone_code + ' ' + referral_code.user_detail[0].phone }}
            </p>
            <p class="text-muted mb-0 text-small  truncate ">{{ referral_code.user_detail[0].email }}</p>
          </div>
          <div class="col-4">
            <p class="m-0">
              {{ referral_code.referral_bonus_to_user_friend + ' ' +
              referral.referred_user_detail[0].wallet_currency_code }}
            </p>
            <p class="m-0" *ngIf="referral_code.updated_at && timezone_for_display_date">{{_helper.moment(referral_code.updated_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.MOMENT_DD_MMM_YYYY)}}</p>
          </div>
          <div class="col-3">
            <p class="font-weight-bold m-0">
              {{ referral_code.referral_bonus_to_user + ' ' + referral.referred_user_detail[0].wallet_currency_code
              }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="type === 'provider'">
      <div class="mb-3  pb-3 border-bottom" *ngFor="let referral_code of referral.referral_code">
        <div class="row">
          <div class="col-5">
            <p class="list-item-heading m-0">
              {{ referral_code.provider_detail[0].first_name + ' ' + referral_code.provider_detail[0].last_name }}
            </p>
            <p class="text-muted mb-0 text-medium">
              {{ referral_code.provider_detail[0].country_phone_code + ' ' + referral_code.provider_detail[0].phone }}
            </p>
            <p class="text-muted mb-0 text-small  truncate ">{{ referral_code.provider_detail[0].email }}</p>
          </div>
          <div class="col-4">
            <p class="m-0">
              {{ referral_code.referral_bonus_to_user_friend + ' ' +
              referral.referred_provider_detail[0].wallet_currency_code }}
            </p>
            <p class="m-0" *ngIf="referral_code.updated_at && timezone_for_display_date">{{_helper.moment(referral_code.updated_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.MOMENT_DD_MMM_YYYY)}}</p>
          </div>
          <div class="col-3">
            <p class="font-weight-bold m-0">
              {{ referral_code.referral_bonus_to_user + ' ' + referral.referred_provider_detail[0].wallet_currency_code
              }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="type === 'store'">
      <div class="mb-3  pb-3 border-bottom" *ngFor="let referral_code of referral.referral_code">
        <div class="row">
          <div class="col-5">
            <p class="list-item-heading m-0">
              {{ referral_code.store_detail[0].name }}
            </p>
            <p class="text-muted mb-0 text-medium">
              {{ referral_code.store_detail[0].country_phone_code + ' ' + referral_code.store_detail[0].phone }}
            </p>
            <p class="text-muted mb-0 text-small truncate ">{{ referral_code.store_detail[0].email }}</p>
          </div>
          <div class="col-4">
            <p class="m-0">
              {{ referral_code.referral_bonus_to_user_friend + ' ' +
              referral.referred_store_detail[0].wallet_currency_code }}
            </p>
            <p class="m-0" *ngIf="referral_code.updated_at && timezone_for_display_date">{{_helper.moment(referral_code.updated_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.MOMENT_DD_MMM_YYYY)}}</p>
          </div>
          <div class="col-3">
            <p class="font-weight-bold m-0">
              {{ referral_code.referral_bonus_to_user + ' ' + referral.referred_store_detail[0].wallet_currency_code }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="modalRef.hide()">{{'button-title.close' | translate
      }}</button>
  </div>
</ng-template>
