<style>
  .image-side{
    background-position: bottom;
  }
  @media only screen and (max-width: 992px) {
    .image-side{
      background-position: unset;
    }
  }
</style>
<div class="card auth-card">
  <div class="position-relative image-side">
    <p class="h2">{{'heading-title.forgot-password' | translate | uppercase}}</p>
    <p class="mb-4">
      {{'label-title.please-use-your-email-to-reset-your-password' | translate}}
    </p>
  </div>
  <div class="form-side mt-4">
    <a class="c-pointer">
      <img *ngIf="!isDarkModeActive" class="w-20 h-auto pb-4" [src]="helper.image_url + 'web_images/logo.png'" alt="Logo">
      <img *ngIf="isDarkModeActive" class="w-20 h-auto pb-4" [src]="helper.image_url + 'web_images/dark_logo.png'" alt="Logo">

    </a>
    <h6 class="mb-4">{{ 'user-title.forgot-password' | translate }}</h6>

    <form #passwordForm="ngForm" novalidate (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="form-group has-float-label">{{ 'user-title.email' | translate }}</label>
        <input class="form-control" required ngModel #email="ngModel" name="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"  placeholder="{{ 'user-title.email' | translate }}"/>
        <div *ngIf="!email.valid && passwordForm.submitted" class="invalid-tooltip">{{ 'user-title.email' | translate }} {{'label-title.is-required' | translate}}</div>
        <div *ngIf="email?.errors?.pattern && passwordForm.submitted" class="invalid-tooltip">{{ 'user-title.email' | translate }} {{'label-title.is-required' | translate}}
        </div>
      </div>

      <div class="d-flex justify-content-between align-items-center mt-3">
        <a routerLink="/admin/login">{{ 'user-title.login-button' | translate }}</a>
        <app-state-button [btnClass]="'btn btn-primary btn-lg btn-shadow'" [currentState]="buttonState"
          [isDisabled]="buttonDisabled" click="onLoginClick()">
          {{ 'user-title.reset-password-button' | translate | uppercase }}
        </app-state-button>
      </div>
    </form>

  </div>
</div>
<ng-template #otpTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'heading-title.otp-verification' | translate}}</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="">{{'label-title.enter-otp' | translate}}</label>
      <input type="text" class="form-control mb-2" (keypress)="helper.phone_number_validation($event)" [(ngModel)]="email_otp" minlength="6">
      <div *ngIf="is_invalid_otp" class="invalid-otp text-danger">{{'label-title.invalid-otp' | translate }}</div>
    </div>
  </div>
  <div class="modal-footer">
    <button *ngIf="is_resend" type="button" class="btn btn-outline-primary" (click)="resend_otp()">{{'button-title.resend' |
      translate}}</button>
    <button type="button" class="btn btn-danger" (click)="hideOtpModel()">{{'button-title.cancel' |
      translate}}</button>
    <button type="button" class="btn btn-primary" (click)="verify_otp()">{{'button-title.submit' |
      translate}}</button>
  </div>
</ng-template>