<div class="row" >
    <div class="col-xl-3 col-lg-6 mb-4">
    </div>
    <div class="col-xl-3 col-lg-6 mb-4">
    </div>
    <div class="col-xl-3 col-lg-6 mb-4">
    </div>
    <div class="col-xl-3 col-lg-6 mb-4">
    </div>
</div>
