.modifier-group-name .input-group-prepend {
  width: 2.5rem;
}

.p-12{
  padding: 12px;
}

.indicator{
  border-right: none;
  text-align: center;
  margin-right: 0px;
  padding-right: 0px;
}
.sp-name{
  border-left: none;
  margin-right: 0px;
}