<ng-template #template>
  <div class="modal-header">
    <h4 *ngIf="delivery_type==_helper.DELIVERY_TYPE_CONSTANT.STORE" class="modal-title pull-left">
      {{is_edit ? ('heading-title.edit-new-modifier-group-title' | translate) : ('heading-title.add-new-modifier-group-title' | translate)}}
    </h4>
    <h4 *ngIf="delivery_type==_helper.DELIVERY_TYPE_CONSTANT.COURIER" class="modal-title pull-left">
      {{is_edit ? ('heading-title.edit-courier-service' | translate) : ('heading-title.add-courier-service' | translate)}}
    </h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="onModelClose()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <ng-container *ngIf="!isAddNewModifierItem">
      <form [formGroup]="modifierGroupForm" appFocus>
      <div class="modifier-group-name" formArrayName="specification_group_name">
        <label *ngIf="delivery_type==_helper.DELIVERY_TYPE_CONSTANT.STORE">{{ 'label-title.modifier-group-name' | translate }}</label>
        <label *ngIf="delivery_type==_helper.DELIVERY_TYPE_CONSTANT.COURIER">{{ 'label-title.service-name' | translate }}</label>
        <div class="input-group mt-1" *ngFor="let name of specification_group_name.controls;let i = index">
            <div class="input-group-prepend">
              <span class="width-60 input-group-text" id="basic-addon1">{{this._lang.supportedLanguages[i].shorthand | uppercase}}</span>
            </div>
            <input *ngIf="delivery_type==_helper.DELIVERY_TYPE_CONSTANT.STORE" type="text" class="form-control" [formControlName]="i" [id]="i" placeholder="{{'label-title.modifier-group-name' | translate}}" (keypress)="_helper.space_validation($event)">
            <input *ngIf="delivery_type==_helper.DELIVERY_TYPE_CONSTANT.COURIER" type="text" class="form-control" [formControlName]="i" [id]="i" placeholder="{{'label-title.service-name' | translate}}" (keypress)="_helper.space_validation($event)">
            <div *ngIf="modifierGroupForm.get('specification_group_name')['controls'][i].errors?.required && modifierGroupForm.get('specification_group_name')['controls'][i]?.touched"
                class="invalid-tooltip">{{ 'label-title.name' | translate }} {{'label-title.is-required' | translate}}</div>
          </div>
    </div>
    <div class="custom-control custom-switch mt-4">
      <input type="checkbox" formControlName="is_visible_in_store" id="editItemVisibleUser" class="custom-control-input">
      <label for="editItemVisibleUser" class="custom-control-label">{{ 'label-title.is-modifier-category-visible-to-user' | translate }}</label>
      <span class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-2" style="top: 5px;" tooltip="{{'tooltip-title.is-modifier-category-visible-to-user-tooltip' | translate}}" placement="bottom"></i></span>
    </div>

      <div class="mt-4 modifiers" *ngIf="edit_modifierGroup_specifications.length>0">
        <label *ngIf="is_edit">{{ (delivery_type==_helper.DELIVERY_TYPE_CONSTANT.STORE ? 'label-title.modifiers' : 'label-title.items') | translate }}</label>
        <div class="input-group mb-1" *ngFor="let specification of edit_modifierGroup_specifications;let i = index">
          <div class="input-group-prepend">
            <span class="input-group-text">{{specification.sequence_number}}</span>
          </div>
          <div class="input-group-text indicator">
          <span *ngIf="specification.is_visible_in_store" class="align-middle bg-success dot-indicator"></span>
            <span *ngIf="!specification.is_visible_in_store" class="align-middle bg-danger dot-indicator"></span>
          </div>
          <label class="form-control p-12 sp-name">{{specification.name | langpipe }}</label>
          <div class="input-group-append c-pointer">
            <span (click)="addNewModifierItem(true,specification)" class="input-group-text"><i class="simple-icon-pencil"></i></span>
          </div>
        </div>
      </div>
    </form>
    </ng-container>
    <ng-container *ngIf="isAddNewModifierItem">
      <form [formGroup]="modifierForm" appFocus>
        <div class="modifier-group-name" formArrayName="name">
          <label>{{ (delivery_type==_helper.DELIVERY_TYPE_CONSTANT.STORE ? 'label-title.modifier-name' : 'label-title.item-name') | translate }}</label>
          <div class="input-group mt-1" *ngFor="let name of name.controls;let i = index">
              <div class="input-group-prepend">
                <span class="width-60 input-group-text" id="basic-addon1">{{this._lang.supportedLanguages[i].shorthand | uppercase}}</span>
              </div>
              <input type="text" class="form-control" [formControlName]="i" [id]="i" placeholder="{{(delivery_type==_helper.DELIVERY_TYPE_CONSTANT.STORE ? 'label-title.modifier-name' : 'label-title.item-name') | translate}}" (keypress)="_helper.space_validation($event)">
              <div *ngIf="modifierForm.get('name')['controls'][i].errors?.required && modifierForm.get('name')['controls'][i]?.touched"
                      class="invalid-tooltip">{{ 'label-title.name' | translate }} {{'label-title.is-required' | translate}}</div>
            </div>
        </div>
      <div class="mt-4 form-group">
        <label>{{ 'label-title.price' | translate }}</label>
        <input type="number" formControlName="price" class="form-control" placeholder="" min="0" value="0" disablePasteDrop>
        <div *ngIf="modifierForm.get('price').errors?.required && modifierForm.get('price').touched"
            class="invalid-tooltip">{{ 'label-title.price' | translate }} {{ 'label-title.is-required' | translate }}</div>
      </div>
      <div class="mt-4 form-group">
        <label>{{ 'label-title.sequence-number' | translate }}</label>
        <input type="number" formControlName="sequence_number" class="form-control" (keypress)="_helper.phone_number_validation($event)" placeholder="" min="0" value="0" disablePasteDrop>
        <div *ngIf="modifierForm.get('sequence_number').errors?.required && modifierForm.get('sequence_number').touched"
        class="invalid-tooltip">{{ 'label-title.sequence-number' | translate }} {{ 'label-title.is-required' | translate }}</div>
      </div>
      <div class="custom-control custom-switch mt-4">
        <input type="checkbox" formControlName="is_visible_in_store" id="editItemVisibleUser" class="custom-control-input">
        <label for="editItemVisibleUser" class="custom-control-label">{{ 'label-title.is-modifier-visible-to-user' | translate }}</label>
        <span class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-2" style="top: 4px;" tooltip="{{'tooltip-title.is-modifier-visible-to-user-tooltip' | translate}}" placement="bottom"></i></span>
      </div>
    </form>
    </ng-container>
  </div>
  <div class="modal-footer">
    <ng-container *ngIf="!isAddNewModifierItem">
      <button type="button" *ngIf="edit_id" class="btn btn-outline-primary" (click)="addNewModifierItem()">{{(delivery_type==_helper.DELIVERY_TYPE_CONSTANT.STORE ? 'button-title.add-modifier' : 'button-title.add-item') | translate }}</button>
      <button type="submit" (click)="onSubmitModifierGroup()" class="btn btn-primary float-right">{{ 'button-title.save' | translate}}</button>
    </ng-container>
    <ng-container *ngIf="isAddNewModifierItem">
      <button type="button" class="btn btn-outline-primary" (click)="onBack()">{{'button-title.back' | translate }}</button>
      <button type="submit" (click)="onSubmitModifier()" class="btn btn-primary float-right">{{ 'button-title.save' | translate}}</button>
    </ng-container>
  </div>
</ng-template>
