<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{'heading-title.delivery-information' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body p-3">
        <form [formGroup]="deliveryInfoForm" appFocus>
            <div class="mt-0">
                <div class="mb-2">
                    <div class="">
                        <div class="mb-0" *ngIf="deliveryInfoForm.value.delivery_type != DELIVERY_TYPE_CONSTANT.ECOMMERCE && deliveryInfoForm.value.delivery_type != DELIVERY_TYPE_CONSTANT.TAXI && deliveryInfoForm.value.delivery_type != DELIVERY_TYPE_CONSTANT.COURIER">
                            <div class="position-absolute card-top-buttons">
                                <button type="button" class="btn btn-outline-primary icon-button" (click)="image.click()">
                                    <i class="simple-icon-pencil"></i>
                                </button>
                                <input type="file" accept="image/*" (change)="onSelectImageFile($event,1)" id="delivery-image" class="d-none" #image>
                            </div>
                            <img [src]="upload_delivery_imageurl != '' ? upload_delivery_imageurl : _helper.DEFAULT_IMAGE_PATH.DELIVERY" alt="Detail" class="card-img-top rounded mb-3">
                        </div>
                        <div class="mb-3 mt-0 form-group">
                            <label><span>{{ 'label-title.delivery-type' | translate }}</span></label>
                            <ng-select appearance="outline" #agreeSelect labelForId="yesno" [searchable]="false" [clearable]="false" formControlName="delivery_type">
                                <ng-option *ngFor="let delivery of delivery_type" [value]="delivery.value">{{delivery.title | translate}}</ng-option>
                            </ng-select>
                            <div *ngIf="deliveryInfoForm.get('delivery_type').errors?.required && deliveryInfoForm.get('delivery_type').touched"
                                    class="invalid-tooltip">{{ 'label-title.delivery-type' | translate }} {{'label-title.is-required' | translate}}</div>
                        </div>
                        <div class="mb-3" *ngIf="deliveryInfoForm.value.delivery_type != DELIVERY_TYPE_CONSTANT.ECOMMERCE && deliveryInfoForm.value.delivery_type != DELIVERY_TYPE_CONSTANT.TAXI && deliveryInfoForm.value.delivery_type != DELIVERY_TYPE_CONSTANT.COURIER">
                            <div class="form-group">
                                <label for="exampleInput">{{ 'label-title.sequence-number' | translate }}</label>
                                <input type="text" id="exampleInput" (keypress)="_helper.phone_number_validation($event)" class="form-control" formControlName="sequence_number"
                                    placeholder="{{'label-title.enter-sequence-number' | translate}}" disablePasteDrop>
                                <div *ngIf="deliveryInfoForm.get('sequence_number').errors?.required && deliveryInfoForm.get('sequence_number').touched"
                                    class="invalid-tooltip">{{ 'label-title.sequence-number' | translate }} {{'label-title.is-required' | translate}}</div>
                            </div>
                        </div>
                        <div class="mb-3" *ngIf="deliveryInfoForm.value.delivery_type === DELIVERY_TYPE_CONSTANT.STORE || deliveryInfoForm.value.delivery_type === DELIVERY_TYPE_CONSTANT.SERVICE || deliveryInfoForm.value.delivery_type === DELIVERY_TYPE_CONSTANT.APPOINMENT || deliveryInfoForm.value.delivery_type === DELIVERY_TYPE_CONSTANT.ECOMMERCE">
                            <div class="custom-control custom-switch"><input type="checkbox" id="store_can_create_group" formControlName="is_store_can_create_group" class="custom-control-input">
                                <label *ngIf="deliveryInfoForm.value.delivery_type != DELIVERY_TYPE_CONSTANT.ECOMMERCE" for="store_can_create_group" class="custom-control-label">{{ 'label-title.store-can-create-group-of-sub-category' | translate }}</label>
                                <label *ngIf="deliveryInfoForm.value.delivery_type == DELIVERY_TYPE_CONSTANT.ECOMMERCE" for="store_can_create_group" class="custom-control-label">{{ 'label-title.can-admin-create-category-of-subcategories' | translate }}</label>
                            </div>
                        </div>
                        <div class="mb-3" *ngIf="deliveryInfoForm.value.delivery_type === DELIVERY_TYPE_CONSTANT.STORE || deliveryInfoForm.value.delivery_type === DELIVERY_TYPE_CONSTANT.SERVICE || deliveryInfoForm.value.delivery_type === DELIVERY_TYPE_CONSTANT.APPOINMENT || deliveryInfoForm.value.delivery_type === DELIVERY_TYPE_CONSTANT.ECOMMERCE">
                            <div class="custom-control custom-switch"><input type="checkbox" id="store_can_edit_order" formControlName="is_store_can_edit_order"
                                    class="custom-control-input"><label for="store_can_edit_order"
                                    class="custom-control-label">{{ 'label-title.store-can-edit-order' | translate }}</label></div>
                        </div>
                        <div class="mb-3">
                            <div class="custom-control custom-switch"><input type="checkbox" id="is_bussiness" formControlName="is_business"
                                    class="custom-control-input"><label for="is_bussiness"
                                    class="custom-control-label">{{ 'label-title.is-business' | translate }}</label></div>
                        </div>
                        <div class="mb-3" *ngIf="deliveryInfoForm.value.delivery_type === DELIVERY_TYPE_CONSTANT.STORE">
                            <div class="custom-control custom-switch"><input type="checkbox" id="is_provide_table_bookings" formControlName="is_provide_table_bookings"
                                class="custom-control-input"><label for="is_provide_table_bookings"
                                class="custom-control-label">{{'label-title.is_provide_table_booking' | translate }}</label></div>
                          </div>
                          <div class="mb-3" *ngIf=" deliveryInfoForm.value.delivery_type === DELIVERY_TYPE_CONSTANT.SERVICE || deliveryInfoForm.value.delivery_type === DELIVERY_TYPE_CONSTANT.APPOINMENT">
                            <div class="custom-control custom-switch"><input type="checkbox" id="admin_service_allow" formControlName="is_admin_service_allow"
                                class="custom-control-input"><label for="admin_service_allow" class="custom-control-label">
                                    <span *ngIf="deliveryInfoForm.value.delivery_type == DELIVERY_TYPE_CONSTANT.SERVICE"> {{'label-title.is_admin_service_allow' | translate }} </span>
                                    <span *ngIf="deliveryInfoForm.value.delivery_type == DELIVERY_TYPE_CONSTANT.APPOINMENT"> {{'label-title.is_admin_appointment_allow' | translate }} </span>
                                </label></div>
                          </div>

                    </div>


                    <div class="">
                        <div class="mb-3" formArrayName="delivery_name">
                            <h5 class="mb-3 ">{{'label-title.name' | translate }}</h5>
                            <div class="input-group mb-3" *ngFor="let name of delivery_name.controls;let i = index">
                                <div class="input-group-prepend">
                                    <span id="basic-addon1" class="input-group-text">{{this._lang.supportedLanguages[i]?.shorthand | uppercase}}</span>
                                </div>
                                <input type="text" [required]="this._lang.supportedLanguages[i].shorthand === 'en'" (keypress)="_helper.space_validation($event)" aria-label="Username" aria-describedby="basic-addon1" [formControlName]="i" [id]="i" class="form-control" placeholder="{{'label-title.name' | translate }}">
                                <div *ngIf="deliveryInfoForm.get('delivery_name')['controls'][i].errors?.required && deliveryInfoForm.get('delivery_name')['controls'][i]?.touched"
                                class="invalid-tooltip">{{ 'label-title.category-name' | translate }} {{'label-title.is-required' | translate}}</div>
                            </div>
                           
                        </div>
                        <div class="mb-3" formArrayName="description">
                            <h5 class="mb-3">{{'label-title.description' | translate }}</h5>
                            <div class="mb-3 input-group" *ngFor="let description of description.controls; let i = index">
                                <div class="input-group-prepend">
                                    <span id="basic-addon1" class="input-group-text">{{this._lang.supportedLanguages[i].shorthand | uppercase}}</span>
                                </div>
                                <textarea (keypress)="_helper.space_validation($event)" aria-label="With textarea" [formControlName]="i" class="form-control" placeholder="{{'label-title.description' | translate }}"></textarea>
                            </div>
                        </div>
                        <div class="no-gutters" *ngIf="deliveryInfoForm.value.delivery_type === DELIVERY_TYPE_CONSTANT.STORE || deliveryInfoForm.value.delivery_type === DELIVERY_TYPE_CONSTANT.SERVICE || deliveryInfoForm.value.delivery_type === DELIVERY_TYPE_CONSTANT.APPOINMENT || deliveryInfoForm.value.delivery_type === DELIVERY_TYPE_CONSTANT.ECOMMERCE">
                            <div class="mb-3">
                              <p class="font-weight-medium truncate mb-0">{{ 'label-title.theme' | translate }} {{ 'label-title.only-website' | translate}}</p>
                            </div>
                            <div class="mt-3 m-auto">
                              <div class="form-group">
                                  <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="list-vew" formControlName="theme_number" value=1>
                                    <label for="list-vew" class="custom-control-label">{{'label-title.theme-1-list-view' | translate}}</label>
                                  </div>
                                  <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="grid-view" formControlName="theme_number" value=2>
                                    <label for="grid-view" class="custom-control-label">{{'label-title.theme-2-grid-view' | translate}}</label>
                                  </div>
                                  <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="theme-3" formControlName="theme_number" value=3>
                                    <label for="theme-3" class="custom-control-label">{{'label-title.theme-3' | translate}}</label>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="mb-3" *ngIf="deliveryInfoForm.value.delivery_type != DELIVERY_TYPE_CONSTANT.TAXI && deliveryInfoForm.value.delivery_type != DELIVERY_TYPE_CONSTANT.COURIER">
                            <h5 class="">{{'label-title.default-image' | translate }}</h5>
                          </div>
                        <div class="mb-3" *ngIf="deliveryInfoForm.value.delivery_type != DELIVERY_TYPE_CONSTANT.TAXI && deliveryInfoForm.value.delivery_type != DELIVERY_TYPE_CONSTANT.COURIER">
                            <div class="">
                                <button class="btn btn-outline-primary icon-button position-absolute" (click)="default_image.click()" style="margin-top: 20px; margin-left: 415px;">
                                    <i class="simple-icon-pencil"></i>
                                </button>
                                <input type="file" accept="image/*" (change)="onSelectImageFile($event,4)" id="default-image" class="d-none" #default_image>
                            </div>
                            <img [src]="upload_default_imageurl != '' ? upload_default_imageurl : _helper.DEFAULT_IMAGE_PATH.DELIVERY" alt="Default" class="card-img-top rounded mb-3">
                        </div>
                    </div>
                </div>
              
                <div class="">
                    <h5 *ngIf="deliveryInfoForm.value.delivery_type === DELIVERY_TYPE_CONSTANT.STORE || deliveryInfoForm.value.delivery_type === DELIVERY_TYPE_CONSTANT.SERVICE || deliveryInfoForm.value.delivery_type === DELIVERY_TYPE_CONSTANT.APPOINMENT" class="mb-2">{{'label-title.tags'|translate}}</h5>
                    <p *ngIf="deliveryInfoForm.value.delivery_type === DELIVERY_TYPE_CONSTANT.STORE || deliveryInfoForm.value.delivery_type === DELIVERY_TYPE_CONSTANT.SERVICE || deliveryInfoForm.value.delivery_type === DELIVERY_TYPE_CONSTANT.APPOINMENT" class="mb-3">
                        <span class="badge mb-1 mr-1 badge-outline-secondary badge-pill" *ngFor="let tag of tags">{{tag[_lang.selectedlanguageIndex]}}</span>
                        <a href="javascript::" (click)="showAddNewModal()"><span
                                class="badge mb-1 mr-1 badge-secondary badge-pill">{{'label-title.add-tag' | translate
                                }}</span></a>
                    </p>
                    <div *ngIf="deliveryInfoForm.value.delivery_type != DELIVERY_TYPE_CONSTANT.TAXI && deliveryInfoForm.value.delivery_type != DELIVERY_TYPE_CONSTANT.COURIER">
                        <p class="text-muted text-small mb-1">{{'label-title.image-note' | translate }}</p>
                        <p class="mb-3">
                            {{'label-title.upload-image-size-with-in-widthxheight-min' | translate}}500x400{{'label-title.and-max' | translate}}1200x960{{'label-title.image-ratio-should-be' | translate}}125{{'label-title.and-upload-only' | translate}}jpg-jpeg-png{{'label-title.file' | translate}}</p>
                        <p class="text-muted text-small mb-1">{{'label-title.icon-note' | translate }}</p>
                        <p class="mb-3">
                            {{'label-title.upload-image-size-with-in-widthxheight-min' | translate}}500x400{{'label-title.and-max' | translate}}1200x960{{'label-title.image-ratio-should-be' | translate}}125{{'label-title.and-upload-only' | translate}}jpg-jpeg-png{{'label-title.file' | translate}}</p>
                    </div>
                </div>
                <div class="" *ngIf=" deliveryInfoForm.value.delivery_type === DELIVERY_TYPE_CONSTANT.SERVICE || deliveryInfoForm.value.delivery_type === DELIVERY_TYPE_CONSTANT.APPOINMENT">
                  <h5 class="mb-2">{{'label-title.service-banner-image' | translate }}</h5>
                    <div class="mb-5 position-relative">
                      <div class="position-absolute card-top-buttons card-top-buttons-w-heading">
                        <button class="btn btn-outline-primary icon-button" (click)="image.click()">
                          <i class="simple-icon-pencil"></i>
                        </button>
                        <input type="file" accept="image/*" (change)="onSelectImageFile($event,3)" class="d-none" id="banner-image" #image>
                      </div>
                      <img
                        [src]="upload_banner_imageUrl != '' ? upload_banner_imageUrl : _helper.DEFAULT_IMAGE_PATH.DELIVERY"
                        alt="Detail" class="card-img-top rounded">

                    </div>
                  </div>

            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">{{'button-title.save' | translate
            }}</button>
    </div>

</ng-template>
<app-image-crop-model (updateImage)="imageCropped($event)" #cropModel></app-image-crop-model>
<app-add-delivery-tag-modal (addTag)="tagAdded($event)" #deliveryTagModal></app-add-delivery-tag-modal>
