<div class="row">
  <div class="col-12">
    <app-heading></app-heading>
    <app-breadcrumb></app-breadcrumb>
    <br>
  </div>
  <div class="col-12">   
    <tabset class="separator-tabs">
      <tab heading="{{'heading-title.user' | translate | uppercase }}">
        <div class="row">
          <div class="col-12">
            <div class="text-center"  *ngIf="user_referral_list && user_referral_list.length === 0">
              <span>{{'label-title.no-record-found' | translate }}...</span>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4" *ngFor="let user_referral of user_referral_list">
            <div class="sortable-survey">
              <div class="card question d-flex mb-4">
                <div class="d-flex flex-grow-1 min-width-zero">
                  <div
                    class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                    <div class="w-100">
                      <span class="w-100">
                        <div class=" flex-fill truncate">
                          <a href="javascript:;" (click)="showReferralModal(user_referral, 'user')">
                            <p class="list-item-heading m-0">
                              {{ user_referral.referred_user_detail[0].first_name + ' ' + user_referral.referred_user_detail[0].last_name }}
                            </p>
                            <p class="list-item-heading m-0">{{ user_referral.referred_user_detail[0].phone }}</p>
                            <p class="text-muted mb-0 text-medium truncate ">{{ user_referral.referred_user_detail[0].email}}</p>   
                          </a>
                        </div>
                      </span>
                    </div>
                  </div>
                  <div class="custom-control custom-checkbox pl-1 align-self-center d-flex  pr-4">
                    <div class="d-inline-block text-right truncate">
                      <p class="list-item-heading m-0">{{ user_referral.referral_code.length }}</p>
                      <h6 class="list-item-heading font-weight-bold m-0">
                        {{ user_referral.count + ' ' + user_referral.referred_user_detail[0].wallet_currency_code }}
                      </h6>
                      <p class="color-theme-1 m-0">{{ user_referral.referral_code[0].user_referral_code }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </tab>
      <tab heading="{{'heading-title.deliveryman' | translate | uppercase }}">
        <div class="row">
          <div class="col-12">
            <div class="text-center"  *ngIf="provider_referral_list && provider_referral_list.length === 0">
              <span>{{'label-title.no-record-found' | translate }}...</span>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-lg-6 col-xl-4" *ngFor="let provider_referral of provider_referral_list">
            <div class="sortable-survey" *ngIf="provider_referral.referred_provider_detail[0]">
              <div class="card question d-flex mb-4">
                <div class="d-flex flex-grow-1 min-width-zero">
                  <div
                    class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                    <div class="w-100">
                      <span class="w-100">
                        <div class=" flex-fill truncate">
                          <a href="javascript:;" (click)="showReferralModal(provider_referral, 'provider')">
                            <p class="list-item-heading m-0">
                              {{ provider_referral.referred_provider_detail[0].first_name + ' ' + provider_referral.referred_provider_detail[0].last_name }}
                            </p>
                            <p class="list-item-heading m-0">{{ provider_referral.referred_provider_detail[0].phone }}</p>
                            <p class="text-muted mb-0 text-medium truncate ">{{ provider_referral.referred_provider_detail[0].email }}</p>
                          </a>
                        </div>
                      </span>
                    </div>
                  </div>
                  <div class="custom-control custom-checkbox pl-1 align-self-center d-flex  pr-4">
                    <div class="d-inline-block text-right truncate">
                      <p class="list-item-heading m-0">{{ provider_referral.referral_code.length }}</p>
                      <h6 class="list-item-heading font-weight-bold m-0">
                        {{ provider_referral.count + ' ' + provider_referral.referred_provider_detail[0].wallet_currency_code }}
                      </h6>
                     <p class="color-theme-1 m-0">{{provider_referral.referral_code[0].user_referral_code}}</p>       
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </tab>
      <tab heading="{{'heading-title.store' | translate | uppercase }}">
        <div class="row">
          <div class="col-12">
            <div class="text-center"  *ngIf="store_referral_list && store_referral_list.length === 0">
              <span>{{'label-title.no-record-found' | translate }}...</span>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-lg-6 col-xl-4" *ngFor="let store_referral of store_referral_list">
            <div class="sortable-survey" *ngIf="store_referral.referred_store_detail[0]">
              <div class="card question d-flex mb-4">
                <div class="d-flex flex-grow-1 min-width-zero">
                  <div
                    class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                    <div class="w-100">
                      <span class="w-100">
                        <div class=" flex-fill">
                          <a href="javascript:;" (click)="showReferralModal(store_referral, 'store')">
                            <p class="list-item-heading m-0" *ngIf="store_referral.referred_store_detail[0].name[_lang.selectedlanguageIndex]">
                              {{ store_referral.referred_store_detail[0].name[_lang.selectedlanguageIndex]}}
                            </p>
                            <p class="list-item-heading m-0" *ngIf="!store_referral.referred_store_detail[0].name[_lang.selectedlanguageIndex]">
                              {{ store_referral.referred_store_detail[0].name[0]}}
                            </p>
                            <p class="list-item-heading m-0">{{ store_referral.referred_store_detail[0].phone }}</p>
                            <p class="text-muted mb-0 text-medium  truncate ">{{ store_referral.referred_store_detail[0].email }}</p>
                          </a>
                        </div>
                      </span>
                    </div>
                  </div>
                  <div class="custom-control custom-checkbox pl-1 align-self-center d-flex  pr-4">
                    <div class="d-inline-block text-right">
                      <p class="list-item-heading m-0">{{ store_referral.referral_code.length }}</p>
                      <h6 class="list-item-heading font-weight-bold m-0">
                        {{ store_referral.count + ' ' + store_referral.referred_store_detail[0].wallet_currency_code }}
                      </h6>
                      
                       <p class="color-theme-1 m-0">{{store_referral.referral_code[0].user_referral_code}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
</div>

<app-referral-code-modal #referralModalRef></app-referral-code-modal>
