<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{'heading-title.app-certificate-settings' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body p-4">
      <form [formGroup]="app_certificate_settings">
        <p class="text-muted text-small mb-2 text-primary font-weight-bold">
            {{'label-title.user-app' | translate }}
        </p>
        <div class="mb-4">
            <label><span>{{'label-title.certificate-mode' | translate }}</span></label>
            <ng-select appearance="outline" labelForId="yesno" [searchable]="false" [clearable]="false" placeholder="{{'label-title.choose' | translate}}..." formControlName="user_certificate_mode">
                <ng-option [value]="'sandbox'">{{'label-title.sandbox' | translate}}</ng-option>
                <ng-option [value]="'production'">{{'label-title.production' | translate}}</ng-option>
            </ng-select>
        </div>
        <div class="row mb-4">
            <div class="col-sm-3 col-3">
                <label class="mt-2">{{'label-title.bundle-id' | translate }}</label>
            </div>
            <div class="col-sm-9 col-9">
                <input type="text" name="name" class="form-control" formControlName="user_bundle_id">
            </div>
        </div>
        <p class="text-muted text-small mb-2 text-primary font-weight-bold">
            {{'label-title.deliveryman-app' | translate }}
        </p>
        <div class="mb-4">
            <label><span>{{'label-title.certificate-mode' | translate }}</span></label>
            <ng-select appearance="outline" #agreeSelect labelForId="yesno" [searchable]="false" [clearable]="false" placeholder="{{'label-title.choose' | translate}}..." formControlName="provider_certificate_mode">
              <ng-option [value]="'sandbox'">{{'label-title.sandbox' | translate}}</ng-option>
              <ng-option [value]="'production'">{{'label-title.production' | translate}}</ng-option>
            </ng-select>
        </div>
        <div class="row mb-4">
            <div class="col-sm-3 col-3">
                <label class="mt-2">{{'label-title.bundle-id' | translate }}</label>
            </div>
            <div class="col-sm-9 col-9">
                <input type="text" name="name" class="form-control" formControlName="provider_bundle_id">
            </div>
        </div>
        <p class="text-muted text-small mb-2 text-primary font-weight-bold">
            {{'label-title.store-app' | translate }}
        </p>
        <div class="mb-4">
            <label><span>{{'label-title.certificate-mode' | translate }}</span></label>
            <ng-select appearance="outline" #agreeSelect labelForId="yesno" [searchable]="false" [clearable]="false" placeholder="{{'label-title.choose' | translate}}..." formControlName="store_certificate_mode">
              <ng-option [value]="'sandbox'">{{'label-title.sandbox' | translate}}</ng-option>
              <ng-option [value]="'production'">{{'label-title.production' | translate}}</ng-option>
            </ng-select>
        </div>
        <div class="row mb-4">
            <div class="col-sm-3 col-3">
                <label class="mt-2">{{'label-title.bundle-id' | translate }}</label>
            </div>
            <div class="col-sm-9 col-9">
                <input type="text" name="name" class="form-control" formControlName="store_bundle_id">
            </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onSave()" [disabled]="app_certificate_settings.invalid">{{'button-title.update' | translate }}</button>
    </div>
</ng-template>
