<ng-template #template>
    <div class="modal-header">
        <div class="pull-left">
            <h4 class="modal-title mb-1 ">#{{request.unique_id}} {{'menu-title.wallet-request' | translate }}</h4>
            <p class="text-muted text-small">{{request.updated_at | date:_helper.DATE_FORMAT.mediumDate}}</p>
        </div>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body p-4">
        <div class="mb-2">
            <p class="text-muted text-small mb-2">{{'label-title.account-holder-name' | translate }}</p>
            <p>{{bank_detail.bank_account_holder_name}}</p>
        </div>
        <div class="mb-2">
            <p class="text-muted text-small mb-2">{{'label-title.account-number' | translate }}</p>
            <p>{{bank_detail.account_number}}</p>
        </div>
        <div class="mb-2">
            <p class="text-muted text-small mb-2">{{'label-title.routing-number' | translate }}</p>
            <p>{{bank_detail.routing_number}}</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="modalRef.hide()">{{'button-title.cancel' | translate }}</button>
        <button type="button" class="btn btn-primary" (click)="modalRef.hide()">{{'button-title.submit' | translate }}</button>
    </div>
</ng-template>