#deliveryman-profile {
    margin-top: 4.5rem;
}

.user-profile-edit {
    position: absolute;
    right: 5%;
    z-index: 1;
    top: 5%;
}

.btn_display_option{
  border-color: #8f8f8f !important;
  color: #8f8f8f !important;
}

.btn_display_option:active,
.btn_display_option:hover{
  color: #fff !important;
}

.view-class {
  cursor: pointer;
  vertical-align: middle;
  font-size: 130%;
}

@media (max-width: 991px){
  .list-thumbnail.responsive {
      height: 182px !important;
      width: 182px !important;
  }
}
