<today-order-header
[showItemsPerPage]="true"
[showDisplayMode]="false"
[showCheckboxMode]="false"
(searchKeyUp)="searchKeyUp($event)"
(changeOrderBy)="changeOrderBy($event)"
(itemsPerPageChange)="itemsPerPageChange($event)"
[itemOptionsPerPage]="itemOptionsPerPage"
[itemsPerPage]="itemsPerPage"
(onExport)="onExport($event)"
[itemOrder]="{ label: 'label-title.user', value: 'user' }"
[itemOptionsOrders]="[{ label: 'label-title.user', value: 'user' },{ label: 'label-title.order', value: 'order' }]">

<div class="d-block d-md-inline-block position-relative">
    <div class="float-md-left mr-1 mb-1" dropdown>
        <div (clickOutside)="dropdown2.hide()" class="d-inline-block position-relative">
            <div class="btn-group" dropdown #dropdown2="bs-dropdown" [autoClose]="false" [isOpen]="false">
                <button dropdownToggle type="button" class="btn btn-outline-primary btn-xs dropdown-toggle">
                   {{'button-title.delivery-type' | translate}} <span class="caret"></span>
                </button>
                <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem" *ngFor="let filter of deliveryTypes; let i= index">
                        <a class="dropdown-item" href="javascript:;">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" (change)="filter.checked = !filter.checked" [checked]="filter.checked" id="{{'SId'+i}}" class="custom-control-input">
                                <label for="{{'SId'+i}}" class="custom-control-label">{{filter.name  | translate}}</label>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div  class="d-block d-md-inline-block position-relative">
    <div class="float-md-left mr-1 mb-1" dropdown>
        <div (clickOutside)="dropdown1.hide()" class="d-inline-block position-relative">
            <div class="btn-group" dropdown #dropdown1="bs-dropdown" [autoClose]="true" [isOpen]="false">
                <button dropdownToggle type="button" class="btn btn-outline-primary btn-xs dropdown-toggle">
                   {{'button-title.select-payment-type' | translate}} <span class="caret"></span>
                </button>
                <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem" *ngFor="let filter of paymentBy; let i= index">
                        <a class="dropdown-item" href="javascript:;">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" (change)="filter.checked = !filter.checked" [checked]="filter.checked" id="{{'PId'+i}}" class="custom-control-input">
                                <label for="{{'PId'+i}}" class="custom-control-label">{{filter.name | translate}}</label>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

<div class="d-block d-md-inline-block position-relative">
    <div class="float-md-left mr-1 mb-1">
        <button (click)="onSearch()" type="button" style="color: white;" class="btn btn-primary btn-xs">{{'button-title.apply' | translate}}</button>
    </div>
</div>

</today-order-header>
<app-add-new-order-list-modal #OrderDetailModal></app-add-new-order-list-modal>
<div class="col-lg-12 col-md-12 col-xs-12 mb-4">
    <div class="card">
        <div class="card-body table-responsive">
            <table class="table orderlist_table" aria-describedby="">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">{{'heading-title.name' | translate}}</th>
                        <th scope="col">{{'heading-title.store' | translate}}</th>
                        <th scope="col">{{'heading-title.price' | translate}}</th>
                        <th scope="col">{{'heading-title.type' | translate}}</th>
                        <th scope="col">{{'heading-title.status' | translate}}</th>
                    </tr>
                </thead>
                <tbody *ngIf="orders.length">
                    <tr class="text-center" *ngIf="orders && orders.length === 0">
                        <td colspan="8">{{'label-title.orders-not-found' | translate}}</td>
                    </tr>
                    <tr *ngFor="let order of orders; let i = index" (click)="onShowOrderDetails(order._id,$event)">
                            <th scope="row">{{order.unique_id}}<br><span class="color-theme-1" *ngIf="order.delivery_date && timezone_for_display_date">{{_helper.moment(order.delivery_date).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.HH_MM_A)}}</span></th>
                            <td>{{order.user_name}}</td>
                            <td>{{order.store_name | langpipe}}</td>
                            <td>{{order.currency_sign}}{{order.price.toFixed(_helper.to_fixed_number)}}&nbsp;({{order.payment_method}})</td>
                            <td>
                                <ng-container *ngIf="!order.is_user_pick_up_order && !order.is_schedule_order">
                                    <button class="badge badge-outline-success badge-pill mb-1 mr-2">{{'button-title.delivery' | translate}}</button>
                                </ng-container>
                                <ng-container *ngIf="order.is_user_pick_up_order">
                                    <button class="badge badge-outline-info badge-pill mb-1 mr-2">{{'button-title.pickup' | translate}}</button>
                                </ng-container>

                                <ng-container *ngIf="order.is_schedule_order">
                                    <button class="badge badge-outline-success badge-pill mb-1 mr-2">{{'button-title.schedule-delivery' | translate}}</button>
                                </ng-container>
                            </td>
                            <td>
                                <ng-container [ngSwitch]="order.order_status">
                                    <label *ngSwitchCase="1" class="badge badge-danger badge-pill mb-1">{{'heading-title.waiting' | translate}}</label>
                                    <label *ngSwitchCase="3" class="badge badge-primary badge-pill mb-1">{{'heading-title.accepted' | translate}}</label>
                                    <label *ngSwitchCase="5" class="badge badge-warning badge-pill mb-1">{{'heading-title.prepared' | translate}}</label>
                                    <label *ngSwitchCase="7" class="badge badge-success badge-pill mb-1">{{'heading-title.ready' | translate}}</label>
                                    <label *ngSwitchDefault class="badge badge-success badge-pill mb-1">...</label>
                                </ng-container>
                            </td>
                    </tr>
                </tbody>
                <tbody *ngIf="!orders.length">
                    <tr>
                        <th colspan="6" class="text-center" scope="">
                            <span>{{ 'label-title.no-record-found' | translate }}</span>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <pagination [totalItems]="count" [rotate]="true"  [itemsPerPage]="itemsPerPage" [maxSize]="5" class="justify-content-center"
            [customNextTemplate]="nextTemplate" (pageChanged)="pageChanged($event)" [customPreviousTemplate]="prevTemplate">
        </pagination>
        </div>
      </div>
</div>

<ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-arrow-right'></i>
  </ng-template>

  <ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-arrow-left'></i>
  </ng-template>
