<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <div class="top-right-button-container mb-2 ">
            <button *ngIf="_helper.has_permission(_helper.PERMISSION.ADD)" type="button" class="top-right-button btn btn-primary btn-lg mr-1" (click)="onAdd()">{{
                'button-title.addNew' |
                translate | uppercase}}</button>
        </div>
        <app-breadcrumb></app-breadcrumb>
        <div class="mb-2">
            <div class="search-sm d-inline-block mb-2 mr-1">
                <input placeholder="{{'label-title.search' | translate}}" name="search_value" [(ngModel)]="document_search" class="form-control">
            </div>
            <div (clickOutside)="dropdown1.hide()"  class="d-inline-block position-relative mb-2 mr-1">
                <div class="" dropdown>
                    <div  class="d-inline-block position-relative">
                        <div class="btn-group" dropdown #dropdown1="bs-dropdown" [autoClose]="false" [isOpen]="false">
                            <button dropdownToggle type="button" class="btn btn-outline-primary btn_display_option btn-xs dropdown-toggle">
                                {{'button-title.select-user-type' | translate}}<span class="caret"></span>
                            </button>
                            <ul *dropdownMenu class="dropdown-menu" role="menu">
                                <li role="menuitem" *ngFor="let filter of UserOptions; let i= index">
                                    <a class="dropdown-item c-default" href="javascript:;">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" (change)="onUserType(filter)" [checked]="filter.checked" id="{{'PId'+i}}" class="custom-control-input">
                                            <label for="{{'PId'+i}}" class="custom-control-label">{{filter.name | translate}}</label>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div (clickOutside)="dropdown2.hide()" class="d-inline-block position-relative mb-2 mr-1">
              <div class="" dropdown>
                  <div  class="d-inline-block position-relative">
                      <div class="btn-group" dropdown #dropdown2="bs-dropdown" [autoClose]="false" [isOpen]="false">
                        <button id="button-basic" dropdownToggle type="button"
                          class="btn btn-outline-primary btn_display_option btn-xs dropdown-toggle" aria-controls="dropdown-basic">
                            {{'label-title.country' | translate}}: {{selectedCountry.name | translate}} <span class="caret"></span>
                          </button>
                          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdownHeight" role="menu"
                          aria-labelledby="button-basic">
                          <li role="menuitem" *ngFor="let country of countryOptions" class="c-pointer"><a
                                  [ngClass]="country.id === selectedCountry.id ? 'dropdown-item active' : 'dropdown-item'"
                                  (click)="onChangeOrderBy(country)">{{country.name | translate}}</a></li>
                          </ul>
                      </div>
                  </div>

              </div>
          </div>
          <div class="d-block d-md-inline-block position-relative">
            <div class="">
                   <button [disabled]="document_search == '' && is_clear_disabled" type="button" class="btn btn-outline-primary btn_display_option btn-xs " (click)="clear_filter()">{{'button-title.clear-filter' | translate }} </button>
               </div>
           </div>
        </div>
        <div class="separator mb-4"></div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-12 col-lg-6 col-xl-4" *ngIf="is_add">
        <div class="sortable-survey">
            <div class="card question d-flex mb-4">
                <div class="d-flex flex-grow-1 min-width-zero">
                    <div
                        class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                        <div class="list-item-heading mb-0 truncate w-80 mb-1 mt-1">
                            <span class=" d-inline-block">
                                <div class=" flex-fill">
                                    <a>
                                        <p class="list-item-heading m-0">{{'button-title.add-document' | translate}}</p>
                                    </a>
                                </div>
                            </span>
                        </div>
                    </div>
                    <div class="custom-control custom-checkbox pl-1 align-self-center pr-4">
                        <button class="btn text-primary icon-button mr-1 pt-0 ng-star-inserted check"
                            ><i class="simple-icon-check" (click)="onSubmit()"></i>
                        </button>
                        <button class="btn btn-outline-theme-3 icon-button pt-0 rotate-icon-click rotate"
                            (click)="isCollapsedAnimated1 = !isCollapsedAnimated1"
                            [attr.aria-expanded]="!isCollapsedAnimated1" aria-controls="isCollapsedAnimated1"><i
                                class="with-rotate-icon simple-icon-arrow-up"></i></button>
                    </div>
                </div>
                <div id="collapseAnimated1" [collapse]="isCollapsedAnimated1" [isAnimated]="true">
                    <div class="card-body pt-0">
                        <form [formGroup]="documentForm">
                            <div class="ng-star-inserted">
                                <div class="form-group mb-3"><label>{{'label-title.document-name' | translate}}</label>
                                    <input type="text" formControlName="name" (keypress)="_helper.space_validation($event)"
                                        class="form-control ng-pristine ng-valid ng-touched">
                                    <div class="invalid-tooltip" *ngIf="documentForm.get('name').invalid && documentForm.get('name').touched">{{'label-title.document-name' | translate}} {{'label-title.is-required' | translate}}</div>
                                </div>
                                <div class="form-group"><label class="d-block">{{'label-title.document-for-country' | translate}}</label>
                                    <ng-select appearance="outline" #agreeSelect labelForId="yesno" [searchable]="true" notFoundText="{{'label-title.no-data-found' | translate}}"
                                        placeholder="{{'label-title.choose' | translate}}" formControlName="country">
                                        <ng-option *ngFor="let country of country_list" [value]="country._id">
                                            {{country.country_name}}</ng-option>
                                    </ng-select>
                                    <div class="invalid-tooltip" *ngIf="documentForm.get('country').invalid && documentForm.get('country').touched">{{'label-title.country' | translate}} {{'label-title.is-required' | translate}}</div>
                                </div>
                                <div class="form-group"><label class="d-block">{{'label-title.document-for' | translate}} ? ({{'label-title.add-document-for' | translate}})</label>
                                    <ng-select appearance="outline" #agreeSelect labelForId="yesno" [searchable]="false" notFoundText="{{'label-title.no-data-found' | translate}}"
                                        placeholder="{{'label-title.choose' | translate}}" formControlName="type" [clearable]="false">
                                        <ng-option *ngFor="let document_for of DOCUMENT_FOR"
                                            [value]="document_for.VALUE">{{document_for.TITLE | translate}}</ng-option>
                                    </ng-select>
                                </div>
                                <div class="separator mb-4"></div>
                                <div class="">
                                    <div class="mb-4">
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" id="is_mandatory" formControlName="is_mandatory" 
                                                class="custom-control-input"  (change)="onChangeAddDocumentMandatory()" >
                                            <label for="is_mandatory" class="custom-control-label">{{'label-title.is-this-document-mandatory' | translate}}</label>
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" id="is_visible" formControlName="is_visible"
                                                class="custom-control-input" >
                                            <label for="is_visible" class="custom-control-label" >{{'label-title.document-visible' | translate}}</label>
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" formControlName="is_expiry" id="is_expiry"
                                                class="custom-control-input">
                                            <label for="is_expiry" class="custom-control-label">{{'label-title.is-document-have-expiry-date' | translate}}</label>
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" formControlName="is_unique" id="is_unique"
                                                class="custom-control-input">
                                            <label for="is_unique" class="custom-control-label">{{'label-title.is-document-have-unique-code' | translate}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4" *ngFor="let document of filtered_document | searchpipe: document_search : ['document_name']">
        <div class="sortable-survey">
            <div class="card question d-flex mb-4">
                <div class="d-flex flex-grow-1 min-width-zero">
                    <div
                        class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center d-row-1">
                        <div class="list-item-heading mb-0 mb-1 mt-1">
                            <span class=" d-inline-block">
                                <div class=" flex-fill">
                                    <a class="position-relative">
                                        <input type="text" *ngIf="is_edit && selectedDocument == document._id" [(ngModel)]="document.document_name" (keypress)="_helper.space_validation($event)"              
                                        class="form-control ng-pristine ng-valid ng-touched" value="{{document.document_name}}">
                                        <div class="invalid-tooltip top-60" *ngIf="!document.document_name">{{'label-title.document-name' | translate}} {{'label-title.is-required' | translate}}</div>

                                        <p class="list-item-heading m-0" [hidden]="is_edit && selectedDocument == document._id">{{document.document_name}} <span class="text-danger text-one" *ngIf="document.is_mandatory">*</span></p>
                                        <p class="text-muted mb-0 text-medium">
                                            <span *ngIf="document.document_for === 2">{{'label-title.store' | translate}}</span>
                                            <span *ngIf="document.document_for === 7">{{'label-title.user' | translate}}</span>
                                            <span *ngIf="document.document_for === 8">{{'label-title.provider' | translate}}</span>
                                            <span *ngIf="document.document_for === 9">{{'label-title.vehicle' | translate}}</span>
                                            &nbsp;-&nbsp;{{document.country_details.country_name}}
                                        </p>
                                    </a>
                                </div>
                            </span>
                        </div>
                    </div>
                    <div class="custom-control custom-checkbox pl-1 align-self-center pr-4 d-row-1 text-nowrap">
                        <span *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
                        <button *ngIf="document.edit" [disabled]="is_edit"
                            class="btn text-primary btn-outline-theme-3 icon-button mr-1 ng-star-inserted check"
                            [attr.aria-expanded]="!document.open" aria-controls="collapseAnimated"
                            style="font-size: 95%;" (click)="onEdit(document)"><i
                                class="simple-icon-pencil"></i></button>
                        <button *ngIf="!document.edit" class="btn text-primary icon-button mr-1 ng-star-inserted check"
                            (click)="onUpdate()"><i class="simple-icon-check"></i></button>
                        </span>
                        <button class="btn btn-outline-theme-3 icon-button rotate-icon-click rotate"
                            (click)="document.open = !document.open" [attr.aria-expanded]="!document.open"
                            aria-controls="collapseAnimated">
                            <i class="with-rotate-icon simple-icon-arrow-up"  *ngIf="!document.open"></i>
                            <i class="with-rotate-icon simple-icon-arrow-down" style="position: relative;
                            top: 2px;" *ngIf="document.open"></i>
                            </button>
                    </div>
                </div>
                <div id="collapseAnimated" [collapse]="!document.open" [isAnimated]="true">
                    <div class="card-body pt-0">
                        <div class="">
                            <div class="mb-4">
                                <div class="custom-control custom-switch"><input type="checkbox"
                                        [checked]="document.is_mandatory" [id]="document._id + 'is_mandatory'"
                                        [(ngModel)]="document.is_mandatory" class="custom-control-input"   [disabled]="document.edit" (change)="onChangeEditDocumentMandatory(document)"><label
                                        [for]="document._id + 'is_mandatory'" class="custom-control-label">{{ 'label-title.is-this-document-mandatory' | translate }}</label></div>
                            </div>
                            <div class="mb-4">
                                <div class="custom-control custom-switch">
                                  <input type="checkbox"
                                         [id]="document._id + 'is_visible'"
                                         [checked]="document.is_visible"
                                         [(ngModel)]="document.is_visible"
                                         class="custom-control-input"
                                         [disabled]="document.is_visible_disabled || document.edit  "> <!-- Use the disabled property from the document object -->
                                  <label [for]="document._id + 'is_visible'"
                                         class="custom-control-label">{{ 'label-title.document-visible' | translate }}</label>
                                </div>
                              </div>
                              
                            <div class="mb-4">
                                <div class="custom-control custom-switch" ><input type="checkbox"
                                        [id]="document._id + 'is_expired_date'" [checked]="document.is_expired_date"
                                        [(ngModel)]="document.is_expired_date" [id]="document._id + 'is_expired_date'"
                                        class="custom-control-input" [disabled]="document.edit"><label [for]="document._id + 'is_expired_date'"
                                        class="custom-control-label">{{ 'label-title.is-document-have-expiry-date' | translate }}</label></div>
                            </div>
                            <div class="mb-4">
                                <div class="custom-control custom-switch"><input type="checkbox"
                                        [id]="document._id + 'is_unique'" [checked]="document.is_unique_code"
                                        [(ngModel)]="document.is_unique_code" [id]="document._id + 'is_unique'"
                                        class="custom-control-input" [disabled]="document.edit"><label [for]="document._id + 'is_unique'"
                                        class="custom-control-label">{{ 'label-title.is-document-have-unique-code' | translate }}</label></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 d-flex align-items-center justify-content-center" *ngIf="(filtered_document && filtered_document.length == 0) || !filtered_document || (filtered_document | searchpipe:document_search: ['document_name'])?.length === 0">
        {{'label-title.no-record-found' | translate}}
    </div>
</div>
