.star {
    width: 34px;
    color: red;
    font-size: 34px;
}

.check {
    font-size: 34px;
}

.simple-icon-ban{
    color: #145388;
    font-size: 240%;
}
.btn-outline-dark{
    border-color: #8f8f8f;
    color: #8f8f8f;
}
.btn_display_option{
  border-color: #8f8f8f !important;
  color: #8f8f8f !important;
}

.btn_display_option:active,
.btn_display_option:hover{
  color: #fff !important;
}

// ul{
//   max-height: 400px;
//   overflow-y: scroll;
// }
.top-60{
  top: 65%;
}