<div class="row app-row">
    <div class="col-12">
        <app-heading></app-heading>
        <app-breadcrumb></app-breadcrumb>
        <br>
        <div class="separator mb-4"></div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
              <div id="deliveryman_location_map" style="width: 100%; min-height: 550px;"></div>
            </div>
        </div>
    </div>
</div>
<app-application-menu>
  <perfect-scrollbar class="scroll">
      <div style="position: static;" class="ps">
          <div class="ps-content">
              <div class="p-4 h-100">
                  <div class="scroll">
                      <div class="form-group mb-3">
                          <label class="text-muted  mb-2">{{'label-title.country' | translate }}</label>
                          <ng-select appearance="outline" labelForId="yesno" [searchable]="true" [clearable]="false"
                            [(ngModel)]="selected_country" (change)="countryChange($event)">
                            <ng-option [value]="country._id" *ngFor="let country of country_list">{{ country.country_name }}</ng-option>
                          </ng-select>
                      </div>
                      <div class="form-group mb-3">
                          <label class="text-muted  mb-2">{{'label-title.city' | translate }}</label>
                          <ng-select notFoundText="{{'label-title.no-data-found' | translate}}" appearance="outline" [searchable]="true" [clearable]="false"
                              placeholder="{{'label-title.choose' | translate }}..." [(ngModel)]="selected_city" (change)="onCitySelected($event)">
                              <ng-option value="All" *ngIf="city_list.length>=2">{{'label-title.all' | translate}}</ng-option>
                              <ng-option [value]="city._id" *ngFor="let city of city_list">{{ city.city_name }}</ng-option>
                          </ng-select>
                      </div>
                      <div class="mb-3">
                          <label class="text-muted  mb-3">{{'label-title.state' | translate }}</label>
                          <div class="row mb-3">
                              <div class="col-sm-9 col-9">
                                  <div class="custom-control custom-checkbox ">
                                      <input type="checkbox" id="customCheckThis" class="custom-control-input" [(ngModel)]="is_online_selected" (change)="filter()">
                                      <label for="customCheckThis" class="custom-control-label">{{'label-title.online' | translate }}</label>
                                  </div>
                              </div>
                              <div class="col-sm-3 col-3">
                                  <div>
                                      <img class=" border-0 img-fluid align-items-center  xsmall" src="assets/img/map_pin_images/Deliveryman/deliveryman_online.png" alt="Brynn Bragg">
                                  </div>
                              </div>
                          </div>
                          <div class="row mb-3">
                              <div class="col-sm-9 col-9">
                                  <div class="custom-control custom-checkbox ">
                                      <input type="checkbox" id="customCheckThis4" class="custom-control-input" [(ngModel)]="is_offline_selected" (change)="filter()">
                                      <label for="customCheckThis4" class="custom-control-label">{{'label-title.offline' | translate }}</label>
                                  </div>
                              </div>
                              <div class="col-sm-3 col-3">
                                  <div>
                                      <img class=" border-0 img-fluid align-items-center  xsmall" src="assets/img/map_pin_images/Deliveryman/deliveryman_offline.png" alt="Brynn Bragg">
                                  </div>
                              </div>
                          </div>
                          <div class="row mb-3">
                              <div class="col-sm-9 col-9">
                                  <div class="custom-control custom-checkbox ">
                                      <input type="checkbox" id="customCheckThis1" class="custom-control-input" [(ngModel)]="is_online_with_order_selected" (change)="filter()">
                                      <label for="customCheckThis1" class="custom-control-label">{{'label-title.online-with-order' | translate }}</label>
                                  </div>
                              </div>
                              <div class="col-sm-3 col-3">
                                  <div>
                                      <img class=" border-0 img-fluid align-items-center  xsmall" src="assets/img/map_pin_images/Deliveryman/deliveryman_online_with_orders.png" alt="Brynn Bragg">
                                  </div>
                              </div>
                          </div>
                          <div class="row mb-3">
                              <div class="col-sm-9 col-9">
                                  <div class="custom-control custom-checkbox ">
                                      <input type="checkbox" id="customCheckThis2" class="custom-control-input" [(ngModel)]="is_offline_with_order_selected" (change)="filter()">
                                      <label for="customCheckThis2" class="custom-control-label">{{'label-title.offline-with-order' | translate }}</label>
                                  </div>
                              </div>
                              <div class="col-sm-3 col-3">
                                  <div>
                                      <img class=" border-0 img-fluid align-items-center  xsmall" src="assets/img/map_pin_images/Deliveryman/deliveryman_offline_with_orders.png" alt="Brynn Bragg">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </perfect-scrollbar>
</app-application-menu>
