<ng-template #template>
        <div class="modal-header">
            <div class="pl-3 pr-2"><a>
                    <h4 class="modal-title pull-left" *ngIf="store">{{store.name ? (store.name | langpipe) : ''}} ({{store.unique_id}})</h4>
                    <p class="text-muted mb-0 text-small">{{start_date | date:_helper.DATE_FORMAT.DD_MM_YYYY}} - {{end_date | date:_helper.DATE_FORMAT.DD_MM_YYYY}}</p>
                </a></div>
            <button type="button" aria-label="Close" (click)="closeModel()" class="close pull-right"><span aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body" *ngIf="orderPayment">
            <div class="ps-content">
                <div class="">
                    <p class="text-medium mb-2 pb-1 border-bottom font-weight-semibold">{{'label-title.order-earning' | translate | uppercase}}</p>
                    <ul class="list-unstyled mb-4">
                        <li class="nav-item"><a>{{'label-title.item-price' | translate}}<span class="float-right">{{orderPayment.total_item_price | roundpipe:_helper.to_fixed_number}}</span></a></li>
                        <li class="nav-item"><a>{{'label-title.tax-price' | translate}}<span class="float-right">{{orderPayment.total_store_tax_price | roundpipe:_helper.to_fixed_number}}</span></a></li>
                        <li class="nav-item"><a>{{'label-title.order-price' | translate}}<span class="float-right">{{orderPayment.total_order_price | roundpipe:_helper.to_fixed_number}}</span></a></li>
                        <li class="nav-item"><a>{{'label-title.store-profit' | translate}}<span class="float-right">{{orderPayment.total_store_income | roundpipe:_helper.to_fixed_number}}</span></a></li>
                        <li class="nav-item"><a>{{'label-title.admin-profit' | translate}}<span class="float-right">{{orderPayment.total_admin_profit_on_store | roundpipe:_helper.to_fixed_number }}</span></a></li>
                    </ul>
                    <p class="text-medium mb-2 pb-1 border-bottom font-weight-semibold">{{'label-title.transaction' | translate | uppercase}}</p>
                    <ul class="list-unstyled mb-4">
                        <li class="nav-item"><a>{{'label-title.received-order-amount' | translate}}<span class="float-right">{{orderPayment.store_have_order_payment | roundpipe:_helper.to_fixed_number}}</span></a></li>
                        <li class="nav-item"><a>{{'label-title.paid-delivery-fee' | translate}}<span class="float-right">{{orderPayment.store_have_service_payment | roundpipe:_helper.to_fixed_number}}</span></a></li>
                        <li class="nav-item"><a>{{'label-title.wallet-deduct' | translate}}<span class="float-right">{{ orderPayment.total_deduct_wallet_income | roundpipe:_helper.to_fixed_number }}</span></a></li>
                        <li class="nav-item"><a>{{'label-title.added-in-wallet' | translate}}<span class="float-right">{{(orderPayment.total_added_wallet_income | roundpipe:_helper.to_fixed_number) }}</span></a></li>
                    </ul>
                    <p class="text-medium mb-2 pb-1 border-bottom font-weight-semibold">{{'label-title.payment' | translate | uppercase}}</p>
                    <ul class="list-unstyled mb-4">
                        <li class="nav-item"><a>{{'label-title.earning' | translate}}<span class="float-right">{{orderPayment.total_earning | roundpipe:_helper.to_fixed_number}}</span></a></li>
                        <li class="nav-item"><a>{{'label-title.settled-with-wallet' | translate}}<span class="float-right">{{orderPayment.total_wallet_income_set | roundpipe:_helper.to_fixed_number}}</span></a></li>
                        <li class="nav-item"><a>{{'label-title.pay-collect' | translate}}<span class="float-right">{{orderPayment.pay_to_store | roundpipe:_helper.to_fixed_number}}</span></a></li>
                        <li class="nav-item"><a>{{'label-title.paid' | translate}}<span class="float-right">{{orderPayment.total_paid | roundpipe:_helper.to_fixed_number}}</span></a></li>
                        <li class="nav-item"><a>{{'label-title.remaining-to-pay' | translate}}<span class="float-right">{{orderPayment.total_remaining_to_paid | roundpipe:_helper.to_fixed_number}}</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-footer"><button (click)="closeModel()" type="button" class="btn btn-outline-primary">{{'button-title.close' | translate}}</button>
        </div>
</ng-template>
