<div class="row">
  <div class="col-12">
    <app-heading></app-heading>
    <div class="top-right-button-container mb-2 ">
      <button *ngIf="_helper.has_permission(_helper.PERMISSION.ADD)" type="button" class="top-right-button btn btn-primary btn-lg mr-1"
        (click)="addAdvertiseModal()">{{ 'button-title.addNew' | translate | uppercase}}</button>
    </div>
    <app-breadcrumb></app-breadcrumb>

    <div class="display-options-container">
      <a class="btn pt-0 pl-0 d-inline-block d-md-none c-pointer" data-toggle="collapse"
          (click)="displayOptionsCollapsed = !displayOptionsCollapsed" role="button" aria-expanded="true"
          aria-controls="displayOptions">
          {{ 'label-title.display-options' | translate}} {{' '}}
          <i class="simple-icon-arrow-down align-middle"></i>
      </a>
      <div id="displayOptions" [collapse]="displayOptionsCollapsed" class="collapse dont-collapse-sm">
          <div class="d-block d-md-inline-block position-relative">
              <div class="float-md-left mr-1 mb-1" dropdown>
                  <button id="button-basic" dropdownToggle type="button"
                      class="btn btn-outline-dark btn-xs dropdown-toggle" aria-controls="dropdown-basic">
                     {{'button-title.delivery-type' | translate}}: {{delivery_type_filter.title | translate}}
                     <span class="caret"></span>
                  </button>
                  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                    <li role="menuitem">
                      <a [ngClass]="delivery_type_filter.value === 0 ? 'dropdown-item active' : 'dropdown-item'" (click)="changeDeliveryTypeBy(delivery_type_all)">{{'label-title.all' | translate}}</a>
                    </li>
                    <li role="menuitem" *ngFor="let delivery of deliveries_type_list">
                      <a [ngClass]="delivery.value === delivery_type_filter.value ? 'dropdown-item active' : 'dropdown-item'" (click)="changeDeliveryTypeBy(delivery)">{{delivery.title | translate}}</a>
                    </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>

  </div>
  <div class="col-12">
    <tabset class="separator-tabs">
      <tab heading="{{'heading-title.user' | translate | uppercase }}" (selectTab)="changeUserType(_helper.ADMIN_DATA_ID.USER)">
        <div class="row">
          <div class="col-12">
            <div class="text-center"  *ngIf="cancellation_reasons && cancellation_reasons.length === 0">
              <span>{{'label-title.no-record-found' | translate }}...</span>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-12 col-sm-6 mb-4" *ngFor="let cancellation_reason of cancellation_reasons" [hidden]="cancellation_reason.delivery_type!==delivery_type && delivery_type!==0">
            <div class="card" (click)="editAdvertiseModal(cancellation_reason._id)">
              <div class="position-relative">
              <div class="w-100 pt-3 pr-3 pl-3 pb-3 d-flex align-items-center justify-content-between">
                <div class="w-85 c-pointer">
                <h6 class="mb-2 ellipsis list-item-heading truncate">
                  {{ cancellation_reason.reason ? cancellation_reason.reason[_lang.selectedlanguageIndex] : '' }}
                </h6>
                <p class="mb-0" [ngSwitch]="cancellation_reason.delivery_type">
                  <span *ngSwitchCase="_helper.DELIVERY_TYPE_CONSTANT.STORE">{{'label-title.store' | translate}}</span>
                  <span *ngSwitchCase="_helper.DELIVERY_TYPE_CONSTANT.COURIER">{{'label-title.courier' | translate}}</span>
                  <span *ngSwitchCase="_helper.DELIVERY_TYPE_CONSTANT.TAXI">{{'label-title.taxi' | translate}}</span>
                  <span *ngSwitchCase="_helper.DELIVERY_TYPE_CONSTANT.SERVICE">{{'label-title.service' | translate}}</span>
                  <span *ngSwitchCase="_helper.DELIVERY_TYPE_CONSTANT.APPOINMENT">{{'label-title.appointment' | translate}}</span>
                  <span *ngSwitchCase="_helper.DELIVERY_TYPE_CONSTANT.ECOMMERCE">{{'label-title.ecommerce' | translate}}</span>
                  <span *ngSwitchDefault>{{'label-title.taxi' | translate}}</span>
                </p>
                </div>
                <div class="float-right" *ngIf="_helper.has_permission(_helper.PERMISSION.DELETE)"> <button class="btn btn-outline-primary icon-button" (click)="$event.stopPropagation()" (click)="onDelete(cancellation_reason._id)"><i
                  class="simple-icon-close"></i></button></div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </tab>

      <tab heading="{{'heading-title.store' | translate | uppercase }}" (selectTab)="changeUserType(_helper.ADMIN_DATA_ID.STORE)">
        <div class="row">
          <div class="col-12">
            <div class="text-center"  *ngIf="cancellation_reasons && cancellation_reasons.length === 0">
              <span>{{'label-title.no-record-found' | translate }}...</span>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-12 col-sm-6 mb-4" *ngFor="let cancellation_reason of cancellation_reasons" [hidden]="cancellation_reason.delivery_type!==delivery_type && delivery_type!==0">
            <div class="card" (click)="editAdvertiseModal(cancellation_reason._id)">
              <div class="position-relative">
              <div class="w-100 pt-3 pr-3 pl-3 pb-3 d-flex justify-content-between align-items-center">
                <div class="w-85 c-pointer">
                  <h6 class="mb-2 ellipsis list-item-heading truncate">
                    {{ cancellation_reason.reason ? cancellation_reason.reason[_lang.selectedlanguageIndex] : '' }}
                  </h6>
                  <p class="mb-0" [ngSwitch]="cancellation_reason.delivery_type">
                    <span *ngSwitchCase="_helper.DELIVERY_TYPE_CONSTANT.STORE">{{'label-title.store' | translate}}</span>
                    <span *ngSwitchCase="_helper.DELIVERY_TYPE_CONSTANT.COURIER">{{'label-title.courier' | translate}}</span>
                    <span *ngSwitchCase="_helper.DELIVERY_TYPE_CONSTANT.TAXI">{{'label-title.taxi' | translate}}</span>
                    <span *ngSwitchCase="_helper.DELIVERY_TYPE_CONSTANT.SERVICE">{{'label-title.service' | translate}}</span>
                    <span *ngSwitchCase="_helper.DELIVERY_TYPE_CONSTANT.APPOINMENT">{{'label-title.appointment' | translate}}</span>
                    <span *ngSwitchCase="_helper.DELIVERY_TYPE_CONSTANT.ECOMMERCE">{{'label-title.ecommerce' | translate}}</span>
                    <span *ngSwitchDefault>{{'label-title.taxi' | translate}}</span>
                  </p>
                  </div>
                <div class="float-right" *ngIf="_helper.has_permission(_helper.PERMISSION.DELETE)"> <button class="btn btn-outline-primary icon-button" (click)="$event.stopPropagation()" (click)="onDelete(cancellation_reason._id)"><i
                  class="simple-icon-close"></i></button></div>

              </div>
            </div>
          </div>
        </div>
        </div>
      </tab>

      <tab heading="{{'heading-title.deliveryman' | translate | uppercase }}" (selectTab)="changeUserType(_helper.ADMIN_DATA_ID.PROVIDER)">
        <div class="row">
          <div class="col-12">
            <div class="text-center"  *ngIf="cancellation_reasons && cancellation_reasons.length === 0">
              <span>{{'label-title.no-record-found' | translate }}...</span>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-12 col-sm-6 mb-4" *ngFor="let cancellation_reason of cancellation_reasons" [hidden]="cancellation_reason.delivery_type!==delivery_type && delivery_type!==0">
            <div class="card" (click)="editAdvertiseModal(cancellation_reason._id)">
              <div class="position-relative">
              <div class="w-100 pt-3 pr-3 pl-3 pb-3 d-flex justify-content-between align-items-center">

                <div class="w-85 c-pointer">
                  <h6 class="mb-2 ellipsis list-item-heading truncate">
                    {{ cancellation_reason.reason ? cancellation_reason.reason[_lang.selectedlanguageIndex] : '' }}
                  </h6>
                  <p class="mb-0" [ngSwitch]="cancellation_reason.delivery_type">
                    <span *ngSwitchCase="_helper.DELIVERY_TYPE_CONSTANT.STORE">{{'label-title.store' | translate}}</span>
                    <span *ngSwitchCase="_helper.DELIVERY_TYPE_CONSTANT.COURIER">{{'label-title.courier' | translate}}</span>
                    <span *ngSwitchCase="_helper.DELIVERY_TYPE_CONSTANT.TAXI">{{'label-title.taxi' | translate}}</span>
                    <span *ngSwitchCase="_helper.DELIVERY_TYPE_CONSTANT.SERVICE">{{'label-title.service' | translate}}</span>
                    <span *ngSwitchCase="_helper.DELIVERY_TYPE_CONSTANT.APPOINMENT">{{'label-title.appointment' | translate}}</span>
                    <span *ngSwitchCase="_helper.DELIVERY_TYPE_CONSTANT.ECOMMERCE">{{'label-title.ecommerce' | translate}}</span>
                    <span *ngSwitchDefault>{{'label-title.taxi' | translate}}</span>
                  </p>
                  </div>
                <div class="float-right" *ngIf="_helper.has_permission(_helper.PERMISSION.DELETE)"> <button class="btn btn-outline-primary icon-button" (click)="$event.stopPropagation()" (click)="onDelete(cancellation_reason._id)"><i
                  class="simple-icon-close"></i></button></div>

              </div>
            </div>
          </div>
        </div>
        </div>
      </tab>

    </tabset>
  </div>
</div>
<app-add-new-cancellation-reason-modal #addNewModalRef></app-add-new-cancellation-reason-modal>
