<today-order-header [searchData]="search_value" [showItemsPerPage]="true" [showDisplayMode]="false" [showCheckboxMode]="false"
    (itemsPerPageChange)="itemsPerPageChange($event)" [itemOptionsPerPage]="itemOptionsPerPage"
    (changeOrderBy)="changeOrderBy($event)" (searchKeyUp)="searchKeyUp($event)" [itemsPerPage]="itemsPerPage"
    (onExport)="onExport()" [itemOrder]="selectedOrderBy" [itemOptionsOrders]="orderByList">

    <div class="d-inline-block position-relative">
        <div class="float-md-left mr-1 mb-1" dropdown>
            <button id="button-basic" dropdownToggle type="button"
                class="btn btn-outline-dark btn-xs dropdown-toggle" aria-controls="dropdown-basic">
                {{'button-title.order-status' | translate}}: {{itemOrder.label  | translate}} <span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                aria-labelledby="button-basic">
                <li role="menuitem" *ngFor="let item of itemOptionsOrders"><a
                        [ngClass]="item.value === itemOrder.value ? 'dropdown-item active' : 'dropdown-item'"
                        (click)="onChangeOrderBy(item)">{{item.label  | translate}}</a></li>
            </ul>
        </div>
    </div>

    <div class="d-inline-block position-relative">
        <div class="date-sm float-md-left mr-1 mb-1">
            <input [hidden]="direction=='ltr'" class="form-control theme_date_picker" placeholder="{{'label-title.select-dates' | translate}}" [(ngModel)]="item_bsRangeValue"
                [bsConfig]="{ selectWeekDateRange: true , containerClass: 'rtldatetrans' }" #drp="bsDaterangepicker" bsDaterangepicker
                [container]="'html'" [minDate]="created_date" [maxDate]="todayDate" [readOnly]="true">
            <input [hidden]="direction=='rtl'" class="form-control theme_date_picker" placeholder="{{'label-title.select-dates' | translate}}" [(ngModel)]="item_bsRangeValue"
                [bsConfig]="{ selectWeekDateRange: true, containerClass: 'datetrans' }" #drp="bsDaterangepicker" bsDaterangepicker
                [container]="'html'" [minDate]="created_date" [maxDate]="todayDate" [readOnly]="true">
        </div>
    </div>

    <div class="d-inline-block position-relative">
        <div class="float-md-left mr-1 mb-1" dropdown>
            <div (clickOutside)="dropdown2.hide()" class=" d-inline-block position-relative">
                <div class="btn-group" dropdown #dropdown2="bs-dropdown" [autoClose]="false" [isOpen]="false">
                    <button dropdownToggle type="button" class="btn btn-outline-primary btn-xs dropdown-toggle">
                        {{ 'button-title.business-type' | translate }}<span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <li role="menuitem" *ngFor="let filter of businessTypes; let i= index">
                            <a class="dropdown-item c-default" href="javascript:;">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" (change)="filter.checked = !filter.checked"
                                        [checked]="filter.checked" id="{{'BId'+i}}" class="custom-control-input">
                                    <label for="{{'BId'+i}}" class="custom-control-label">{{filter.name | translate}}</label>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="d-inline-block position-relative">
        <div class="float-md-left mr-1 mb-1">
            <button (click)="onSearch()" type="button" style="color: white;" class="btn btn-primary btn-xs">{{'button-title.apply' | translate}}</button>
        </div>
    </div>
    <div class="d-inline-block position-relative">
        <div class="float-md-left mr-1 mb-1">
            <button [disabled]="search_value == '' && is_clear_disabled" type="button" class="btn btn-outline-primary btn_display_option btn-xs " (click)="clear_filter()">{{'button-title.clear-filter' | translate }} </button>
        </div>
    </div>
</today-order-header>
<table-booking-detail-modal #TableOrderDetailModalComponent></table-booking-detail-modal>
<app-add-new-order-list-modal #OrderDetailModal></app-add-new-order-list-modal>
<div class="row">
<div class="col-lg-12 col-md-12 col-xs-12">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table_box table-hover" aria-describedby="">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">{{'heading-title.order' | translate}}</th>
                            <th scope="col">{{'heading-title.type' | translate}}</th>
                            <th scope="col">{{'heading-title.user' | translate}}</th>
                            <th scope="col">{{'heading-title.delivery-boy' | translate}}</th>
                            <th scope="col">{{'heading-title.store' | translate}}</th>
                            <th scope="col">{{'heading-title.date' | translate}}</th>
                            <th scope="col">{{'heading-title.total' | translate}}</th>
                            <th scope="col">{{'heading-title.status' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="orders.length">
                        <tr *ngFor="let order of orders; let i = index" (click)="onShowOrderDetails(order._id, order.delivery_type)">
                            <th scope="row" class="c-pointer">{{order.unique_id}}</th>
                            <td>
                                <ng-container [ngSwitch]="order.delivery_type">
                                    <label *ngSwitchCase="_helper.DELIVERY_TYPE_CONSTANT.STORE">
                                        {{'label-title.store' | translate}}
                                    </label>
                                    <label *ngSwitchCase="_helper.DELIVERY_TYPE_CONSTANT.COURIER">
                                        {{'label-title.courier' | translate}}
                                    </label>
                                    <label *ngSwitchCase="_helper.DELIVERY_TYPE_CONSTANT.TABLE_BOOKING">
                                        {{'label-title.table' | translate}}
                                    </label>
                                    <label *ngSwitchCase="_helper.DELIVERY_TYPE_CONSTANT.TAXI">
                                        {{'label-title.taxi' | translate}}
                                    </label>
                                    <label *ngSwitchCase="_helper.DELIVERY_TYPE_CONSTANT.SERVICE">
                                        {{'label-title.service' | translate}}
                                    </label>
                                    <label *ngSwitchCase="_helper.DELIVERY_TYPE_CONSTANT.APPOINMENT">
                                        {{'label-title.appoinment' | translate}}
                                    </label>
                                    <label *ngSwitchCase="_helper.DELIVERY_TYPE_CONSTANT.ECOMMERCE">
                                        {{'label-title.ecommerce' | translate}}
                                    </label>
                                </ng-container>
                            </td>
                            <td>{{order.user_detail.name ? order.user_detail.name : 'N/A'}}
                            <td>{{order.provider_detail ? order.provider_detail.name : 'N/A'}}</td>
                            <td>{{order.store_detail ? order.store_detail.name[0] : 'N/A'}}</td>
                            <td *ngIf="timezone_for_display_date">{{_helper.moment(order.completed_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.MOMENT_DD_MMM_YYYY)}} {{_helper.moment(order.completed_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.HH_MM_A)}}</td>
                            <td>{{order.total | roundpipe:_helper.to_fixed_number}}</td>
                            <td>
                                <ng-container [ngSwitch]="order.order_status">
                                    <label *ngSwitchCase="25"
                                        class="badge badge-success badge-pill mb-1">{{'heading-title.completed' |
                                        translate}}</label>
                                    <label *ngSwitchCase="104"
                                        class="badge badge-danger badge-pill mb-1">{{'heading-title.cancelled' |
                                        translate}}</label>
                                        <label *ngSwitchCase="102"
                                        class="badge badge-danger badge-pill mb-1">{{'heading-title.cancelled' |
                                        translate}}</label>
                                    <label *ngSwitchCase="101"
                                        class="badge badge-danger badge-pill mb-1">{{'heading-title.cancelled' |
                                        translate}}</label>
                                        <label *ngSwitchCase="103"
                                        class="badge badge-danger badge-pill mb-1">{{'heading-title.rejected' |
                                        translate}}</label>
                                        <label *ngSwitchCase="113"
                                        class="badge badge-danger badge-pill mb-1">{{'heading-title.rejected' |
                                        translate}}</label>
                                    <label *ngSwitchDefault class="badge badge-danger badge-pill mb-1">...</label>
                                </ng-container>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="!orders.length">
                        <tr>
                            <th colspan="8" class="text-center" scope="">
                                <span>{{ 'label-title.no-record-found' | translate }}</span>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
</div>

<div class="row mt-2" *ngIf="orders && orders.length > 0">
    <div class="col-12">
        <pagination [totalItems]="count" [rotate]="true" [itemsPerPage]="itemsPerPage" [maxSize]="5"
            class="justify-content-center" [customNextTemplate]="nextTemplate" (pageChanged)="pageChanged($event)"
            [customPreviousTemplate]="prevTemplate">
        </pagination>
    </div>
</div>

<ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-arrow-right'></i>
</ng-template>

<ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-arrow-left'></i>
</ng-template>
