<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <app-breadcrumb></app-breadcrumb>
        <br>
        <div class="separator mb-4"></div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <ng-select appearance="outline" labelForId="yesno" [clearable]="false" [searchable]="true" placeholder="{{'label-title.select-country' | translate }}" (change)="cityList($event)" [(ngModel)]="selected_country" >
                            <ng-option [value]="country._id" *ngFor="let country of country_list">{{ country.country_name }}</ng-option>
                        </ng-select>
                    </div>
                    <div class="col search-address">
                        <div class="input-wrp">
                            <ng-select appearance="outline"  class="mb-4" labelForId="yesno" [clearable]="false" [searchable]="true" placeholder="{{'label-title.search-city' | translate }}" (change)="_initAutocomplete($event)" [(ngModel)]="selected_city" >
                            <ng-option value="All" *ngIf="city_list.length>=2">{{'label-title.all' | translate}}</ng-option>
                            <ng-option [value]="city._id" *ngFor="let city of city_list">{{ city.city_name }}</ng-option>
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div id="city_map" style="width: 100%; min-height: 550px;"></div>
            </div>
        </div>
    </div>
</div>