.simple-icon-close{
    font-size: 170%;
    cursor: pointer;
}
.vehicle-card{
    cursor: pointer;
}
ng-select{
    position: relative;
}
.max-h-180{
    max-height: 180px;
}
.max-h-320{
    max-height: 320px;
}
.price-list-max-h{
    max-height: 270px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 6px;
}
.grp-cls{
    display: flex;
    align-items: center;
    column-gap: 18px;
    width: 50px;
}