<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left" *ngIf="!is_edit">{{'heading-title.add-tax' | translate}}</h4>
        <h4 class="modal-title pull-left" *ngIf="is_edit">{{'heading-title.edit-tax' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body p-3">
        <form [formGroup]="taxForm">
            <div>
                <label>{{ 'label-title.tax' | translate }}</label>
                <div class="row">
                    <div class="input-group input-group mt-1 col-6">
                        <div class="input-group-prepend">
                            <span class="text-center d-block width-60 input-group-text" id="basic-addon1">%</span>
                        </div>
                        <input type="number" (keypress)="handleKeyPress($event)" formControlName="tax"
                            class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
                        <div *ngIf="taxForm.get('tax').errors?.required && taxForm.get('tax').touched"
                        class="invalid-tooltip">{{ 'label-title.tax' | translate }} {{'label-title.is-required' | translate}}</div>
                        <div *ngIf="!taxForm.get('tax').errors?.required && taxForm.get('tax').errors?.minValue" class="invalid-tooltip">
                             {{'label-title.min-profit-validation' | translate}}
                        </div>
                        <div *ngIf="taxForm.get('tax').errors?.maxValue" class="invalid-tooltip">
                            {{'label-title.profit-validation' | translate}}  </div>
                    </div>
                </div>
            </div>
            <div class="mb-3 mt-3" formArrayName="tax_name">
                <h5 class="mb-4">{{'label-title.name' | translate }}</h5>
                <div class="input-group mb-3 form-group" *ngFor="let name of tax_name.controls; let i = index">
                    <div class="input-group-prepend">
                        <span id="basic-addon1" class="input-group-text">{{this._lang.supportedLanguages[i].shorthand |
                            uppercase}}</span>
                    </div>
                    <input type="text" aria-label="Username" (keypress)="_helper.space_validation($event)"
                        [formControlName]="i" aria-describedby="basic-addon1" class="form-control"
                        placeholder="{{'label-title.name' | translate | uppercase}}">
                    <div *ngIf="taxForm.get('tax_name')['controls'][i].errors?.required && taxForm.get('tax_name')['controls'][i]?.touched"
                    class="invalid-tooltip">{{ 'label-title.name' | translate }} {{'label-title.is-required' | translate}}</div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onSubmit()">{{
            'button-title.submit' | translate }}</button>
    </div>

</ng-template>