<app-list-category-header [showOrderBy]="false" [displayMode]="displayMode" [showItemsPerPage]="false"
  [itemsPerPage]="itemsPerPage" [selectAllState]="selectAllState" [showDisplayMode]="false" [showCheckboxMode]="true"
  [showCheckboxModeList]="['Visible To User','Invisible To User']" [itemOrder]="{ label: 'label-title.name', value: 'name' }"
  [itemOptionsOrders]="[{ label: 'label-title.name', value: 'name' }]" (changeDisplayMode)="changeDisplayMode($event)"
  (addNewItem)="showAddNewModal()" (selectAllChange)="selectAllChange($event)" (onChangeStore)="_initData()"
  (itemsPerPageChange)="itemsPerPageChange($event)" (searchKeyUp)="searchKeyUp($event)"> 
</app-list-category-header>
<app-add-new-category-modal #addNewModalRef></app-add-new-category-modal>

<div class="row">
  <div class="col-12 list" *ngIf="displayMode==='image'">
    <div class="row">
      <div class="text-danger mb-3 col-12" *ngIf="!is_store_can_add_category && categories.length>0">{{'label-title.enable-store-can-add-category' | translate}}</div>
      <div class="col-12 text-center" *ngIf="categories && categories.length === 0 || (categories | searchpipe:search_string: ['name'])?.length === 0">
         <p>{{'label-title.categories-not-found' | translate}}</p>
         <span class="text-danger" *ngIf="!is_store_can_add_category">{{'label-title.enable-store-can-add-category' | translate}}</span>
      </div>
      <div class="col-xl-3 col-lg-4 col-6 col-sm-6 mb-4" [contextMenu]="basicMenu" [contextMenuSubject]="p"
        *ngFor="let p of categories|searchpipe:search_string:['name']; let i=index">
        <context-menu #basicMenu *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
          <ng-template contextMenuItem let-item (execute)="onContextMenuClick('copy',p)">
            <i class="simple-icon-docs mr-1"></i> <span>{{ 'label-title.copy' | translate }}</span>
          </ng-template>
          <ng-template contextMenuItem let-item (execute)="onContextMenuClick('move-to-archive',p)">
            <i class="simple-icon-drawer mr-1"></i> <span>{{ 'label-title.move-to-archive' | translate }}</span>
          </ng-template>
          <ng-template contextMenuItem let-item (execute)="onContextMenuClick('delete',p)">
            <i class="simple-icon-trash mr-1"></i><span>{{ 'label-title.delete' | translate }}</span>
          </ng-template>
        </context-menu>
        <div [ngClass]="{'card': true, 'active':isSelected(p)}" (click)="showAddNewModal(true,p._id)">
          <div class="position-relative">
            <a href="javascript:;">
              <img (error)="$event.target.src = DEFAULT_IMAGE" class="fade-in dynamic_image card-img-top"
                [src]="IMAGE_URL + p.image_url" [alt]="p.title">
            </a>
            <span *ngIf="!p.is_visible_in_store"
                      class="badge badge-pill badge-danger badge-top-right position-absolute">{{'label-title.invisible' |
                      translate}}</span>
            <span
              [class]="'badge badge-pill position-absolute badge-top-left badge-'+ p.statusColor">{{p.status}}</span>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-10">
                <a href="javascript:;">
                  <p class="list-item-heading pt-1 mb-0">{{p.name | langpipe}}</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
  <i class='simple-icon-arrow-right'></i>
</ng-template>
<ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
  <i class='simple-icon-arrow-left'></i>
</ng-template>

<set-store-id-model #storeModalRef></set-store-id-model>
