<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{user_detail.name[0]}} ({{unique_id}})</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body p-0">
        <tabset class="card-tabs " [justified]="true" *ngIf="!is_seo">
            <tab heading="{{ 'heading-title.details' | translate}}" class="card-body pb-0">
                <form #userForm="ngForm" novalidate (ngSubmit)="userForm.valid && updateUser(user_detail._id)" class="modifier-form" appFocus>
                    <div class="row ">
                        <div class="col-md-4 col-lg-4 col-12 py-3 text-center">
                            <input id="file" type="file" (change)="onSelectImageFile($event, null, 1)" #storeProfile />
                            <a href="javascript::" (click)="storeProfile.click()">
                                <img alt="Profile" (error)="$event.target.src = _helper.DEFAULT_IMAGE_PATH.USER"
                                    [src]="upload_profile_image != '' ? upload_profile_image : _helper.DEFAULT_IMAGE_PATH.USER"
                                    class="img-thumbnail border-0 rounded list-thumbnail align-self-center user-profile">
                            </a>

                            <div class="mt-1">
                                <rating [readonly]="true" [max]="5" [(ngModel)]="user_detail.user_rate"
                                    #user_rate="ngModel" name="user_rate" [customTemplate]="ttt"></rating>
                                <ng-template #ttt let-index="index" let-value="value">{{index
                                    < value ? '' : '' }}</ng-template>
                            </div>
                        </div>
                        <div class="col-12 text-center d-md-none d-block mb-3">
                            <span class="text-primary"> {{'validation-title.please-upload-image-in-format' | translate}}</span>
                        </div>
                        <div class="col-md-8 col-lg-8 col-12">
                            <div class="border">
                                <div class="pt-4 pb-3 pl-3 pr-3 form-group">
                                    <div class="card-title">
                                        <h6 class="color-theme-1 mb-2">{{'label-title.store-names' | translate}} </h6>
                                    </div>
                                    <div class="mb-2" *ngFor="let language of languages;let index=index;">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span id="basic-addon1"
                                                    class="input-group-text">{{language.code}}</span>
                                            </div>
                                            <input type="text" [(ngModel)]="user_detail.name[index]" #name="ngModel" [id]="index"
                                            name="name{{index}}" class="form-control" [required]="language.code == 'en'">
                                            <div *ngIf="language.code == 'en' &&  name.errors && name.errors.required && userForm.submitted"
                                                class="invalid-tooltip">{{'validation-title.name-is-required' |
                                                translate}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 d-none d-md-block">
                            <span class="text-primary"> {{'validation-title.please-upload-image-in-format' | translate}}</span>
                        </div>
                        <div class="col-12 mt-3">
                            <div class="row">
                                <div class="col-sm-12 col-12">
                                    <div class="form-group">
                                        <label for="phone">{{'label-title.phone' | translate}} <a href="jacascript::"
                                                class="color-theme-1 ml-1">
                                            </a></label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text readonly">{{user_detail.country_phone_code}}</span>
                                            </div>
                                            <input type="text" [(ngModel)]="user_detail.phone" #phone="ngModel" (keypress)="_helper.phone_number_validation($event)"
                                                name="phone" aria-describedby="basic-addon1" class="form-control" disablePasteDrop
                                                minlength="{{minimum_length}}" maxlength="{{maximum_length}}" placeholder="" [required]="user_detail.is_show_phone" [readOnly]="!user_detail.is_show_phone">
                                            <span class="ml-2" [class.color-success]="user_detail.is_phone_verified"
                                                [class.color-danger]="!user_detail.is_phone_verified"
                                                style="font-size: 20px; margin-right: 30px;">
                                                <div class="mt-1 d-flex align-items-center" *ngIf="user_detail.is_phone_verified">
                                                    <i class="glyph-icon simple-icon-check"></i>
                                                    <span class="ml-1 font-weight-bold" style="font-size: 16px;">{{'label-title.verified' | translate}}</span>
                                                </div>
                                                <div class="mt-1 d-flex align-items-center" *ngIf="!user_detail.is_phone_verified">
                                                    <i class="glyph-icon simple-icon-close"></i>
                                                    <span class="ml-1 font-weight-bold" style="font-size: 16px;">{{'label-title.not-verified' | translate}}</span>
                                                </div>
                                            </span>
                                            <div *ngIf="phone.errors && phone.errors.required && userForm.submitted"
                                                class="invalid-tooltip">{{'label-title.this-field-is-required' |
                                                translate}}</div>
                                            <div *ngIf="phone.errors && phone.errors.minlength && userForm.submitted"
                                                class="invalid-tooltip">{{'validation-title.phone-minlength-is-required' | translate}}  {{minimum_length}}-{{maximum_length}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-12">
                                    <div class="form-group">
                                        <label for="phone">{{'label-title.email' | translate}}</label>
                                        <div class="input-group">
                                            <input type="email" [(ngModel)]="user_detail.email" #email="ngModel" [pattern]="user_detail.is_show_email ? '[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$' : ''"
                                                name="email" aria-describedby="basic-addon1" class="form-control" autocomplete="off"
                                                placeholder="" email="{{user_detail.is_show_email}}" [required]="user_detail.is_show_email" [readOnly]="!user_detail.is_show_email">
                                            <span class="ml-2" [class.color-success]="user_detail.is_email_verified"
                                                [class.color-danger]="!user_detail.is_email_verified"
                                                style="font-size: 20px; margin-right: 30px;">
                                                <div class="mt-1 d-flex align-items-center" *ngIf="user_detail.is_email_verified">
                                                    <i class="glyph-icon simple-icon-check "></i>
                                                    <span class="ml-1 font-weight-bold" style="font-size: 16px;">{{'label-title.verified' | translate}}</span>
                                                </div>
                                                <div class="mt-1 d-flex align-items-center" *ngIf="!user_detail.is_email_verified">
                                                    <i class="glyph-icon simple-icon-close"></i>
                                                    <span class="ml-1 font-weight-bold" style="font-size: 16px;">{{'label-title.not-verified' |translate}}</span>
                                                </div>
                                            </span>
                                            <div *ngIf="email.errors && email.errors.required && userForm.submitted"
                                                class="invalid-tooltip">{{'label-title.this-field-is-required' |
                                                translate}}</div>
                                            <div *ngIf="(email.errors && email.errors?.email && userForm.submitted || email.errors?.pattern && userForm.submitted )"
                                                class="invalid-tooltip">{{'label-title.enter-valid-email' | translate}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="text">{{'label-title.website-url' | translate}}</label>
                                <input type="text" [(ngModel)]="user_detail.website_url" #website_url="ngModel"
                                    name="website_url" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="password">{{'label-title.address' | translate}}</label>
                                <input type="text" id="address" readonly [(ngModel)]="user_detail.address"
                                    #address="ngModel" name="address" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="password">{{'label-title.change-password' | translate}}</label>
                                <input type="{{showPassword? 'text' : 'password'}}" minlength="6" [(ngModel)]="user_detail.password" autocomplete="off"
                                    #password="ngModel" name="password" class="form-control" placeholder="">
                                <span id="show-pwd-btn-1" *ngIf="showPassword" class="field-icon c-pointer" (click)="showPassword=!showPassword">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24">
                                        <path fill="#7f7f7f"
                                            d="M11.885 14.988l3.104-3.098.011.11c0 1.654-1.346 3-3 3l-.115-.012zm8.048-8.032l-3.274 3.268c.212.554.341 1.149.341 1.776 0 2.757-2.243 5-5 5-.631 0-1.229-.13-1.785-.344l-2.377 2.372c1.276.588 2.671.972 4.177.972 7.733 0 11.985-8.449 11.985-8.449s-1.415-2.478-4.067-4.595zm1.431-3.536l-18.619 18.58-1.382-1.422 3.455-3.447c-3.022-2.45-4.818-5.58-4.818-5.58s4.446-7.551 12.015-7.551c1.825 0 3.456.426 4.886 1.075l3.081-3.075 1.382 1.42zm-13.751 10.922l1.519-1.515c-.077-.264-.132-.538-.132-.827 0-1.654 1.346-3 3-3 .291 0 .567.055.833.134l1.518-1.515c-.704-.382-1.496-.619-2.351-.619-2.757 0-5 2.243-5 5 0 .852.235 1.641.613 2.342z" />
                                    </svg>
                                </span>
                                <span id="hide-pwd-btn-1" *ngIf="!showPassword" class="field-icon c-pointer" (click)="showPassword=!showPassword">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24">
                                        <path fill="#7f7f7f"
                                            d="M15 12c0 1.654-1.346 3-3 3s-3-1.346-3-3 1.346-3 3-3 3 1.346 3 3zm9-.449s-4.252 8.449-11.985 8.449c-7.18 0-12.015-8.449-12.015-8.449s4.446-7.551 12.015-7.551c7.694 0 11.985 7.551 11.985 7.551zm-7 .449c0-2.757-2.243-5-5-5s-5 2.243-5 5 2.243 5 5 5 5-2.243 5-5z" />
                                    </svg>
                                </span>
                                <div *ngIf="password.errors && password.errors.minlength && userForm.submitted"
                                    class="invalid-tooltip">{{'label-title.min-6-character-requires' | translate}}</div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div>
                        <h5>{{'heading-title.other-details' | translate}}</h5>
                        <div class="form-group row mb-2">
                            <div class="col-6 col-lg-6 mb-3">
                                <label for="inputState">{{'label-title.admin-profit' | translate}}</label>
                                <ng-select appearance="outline" [(ngModel)]="user_detail.admin_profit_mode_on_store"
                                    #admin_profit_mode_on_store="ngModel" name="admin_profit_mode_on_store"
                                    labelForId="yesno" [searchable]="false" [clearable]="false">
                                    <ng-option *ngFor="let detail of _helper.ADMIN_PROFIT_ON_ORDER;"
                                        [value]="detail.ID">{{detail.NAME | translate | uppercase}}</ng-option>
                                </ng-select>
                            </div>
                            <div class="form-group col-sm-6 col-6 mb-3">
                                <label for="password">{{'label-title.profitValue' | translate}}</label>
                                <input type="number" [(ngModel)]="user_detail.admin_profit_value_on_store" (keypress)="_helper.number_validation($event);user_detail.admin_profit_mode_on_store==_helper.ADMIN_PROFIT_ON_DELIVERY_ID.PERCENTAGE ? _helper.maxLengthValidation($event,user_detail.admin_profit_value_on_store,3) : ''"
                                    #admin_profit_value_on_store="ngModel" name="admin_profit_value_on_store"  [max]="user_detail.admin_profit_mode_on_store==_helper.ADMIN_PROFIT_ON_DELIVERY_ID.PERCENTAGE ? 100 : ''" 
                                    class="form-control" placeholder="" disablePasteDrop>
                                <div *ngIf="admin_profit_value_on_store?.errors && admin_profit_value_on_store?.errors.required && userForm.submitted" class="invalid-tooltip">{{'label-title.enter-valid-number' | translate}}</div>
                                <div *ngIf="admin_profit_value_on_store?.errors?.max"
                                    class="invalid-tooltip"> {{'label-title.profit-validation' | translate }} </div>
                            </div>
                            <div class="col-sm-6 col-6 mb-2">
                                <p class="text-muted mb-0">{{'label-title.registered-date' | translate}}</p>
                                <p *ngIf="user_detail.created_at && timezone_for_display_date">{{_helper.moment(user_detail.created_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.MOMENT_DD_MMM_YYYY)}} {{_helper.moment(user_detail.created_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.HH_MM_A)}}</p>
                            </div>
                            <div class="col-sm-6 col-6">
                                <p class="text-muted mb-0">{{'label-title.last-login-date' | translate }}</p>
                                <p *ngIf="timezone_for_display_date">{{_helper.moment(user_detail.updated_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.MOMENT_DD_MMM_YYYY)}} {{_helper.moment(user_detail.updated_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.HH_MM_A)}}</p>
                            </div>
                            <div class="col-sm-6 col-6 mb-2">
                                <p class="text-muted mb-0">{{'label-title.app-version' | translate}}</p>
                                <span>{{user_detail.device_type}} : <span *ngIf="user_detail.app_version">{{user_detail.app_version}}</span></span>
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <div class="col-sm-6 col-6 mb-2">
                                <p class="text-muted mb-0">{{'label-title.wallet' | translate}}</p>
                                <span>{{user_detail.wallet_currency_code}} {{user_detail.wallet}}</span><a *ngIf="_helper.has_permission(_helper.PERMISSION.ADD)"
                                    href="jacascript::" class="color-theme-1 ml-2" (click)="onAddWallet()">{{'label-title.add-wallet' |
                                    translate}}</a>
                            </div>
                            <div class="col-sm-6 col-6 mb-2" *ngIf="user_detail.delivery_type==1">
                                <p class="text-muted mb-0">
                                    {{'label-title.is-store-use-own-provider' | translate}}
                                </p>
                                <div class="custom-control custom-switch d-inline-block">
                                    <input type="checkbox" [(ngModel)]="user_detail.is_store_can_add_provider"
                                        #is_store_can_add_provider="ngModel" name="is_store_can_add_provider"
                                        id="customSwitch1" class="custom-control-input" (change)="store_can_add_provider()">
                                    <label for="customSwitch1" class="custom-control-label"></label>
                                </div>
                                <span class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-1" style="top: 3px;" tooltip="{{'tooltip-title.is-store-use-own-provider-tooltip' | translate}}" [containerClass]="'custom-top-tooltip'" placement="top"></i></span>
                            </div>
                          
                            <div class="col-sm-6 col-6 mb-2" *ngIf="user_detail.delivery_type==1 && (user_detail.is_store_can_add_provider)">
                                <p class="text-muted mb-0">{{'label-title.can-store-complete-order' | translate}}</p>
                                <div class="custom-control custom-switch d-inline-block">
                                    <input type="checkbox" [(ngModel)]="user_detail.is_store_can_complete_order"
                                        #is_store_can_complete_order="ngModel" name="is_store_can_complete_order"
                                        id="customSwitch12" class="custom-control-input">
                                    <label for="customSwitch12" class="custom-control-label"></label>
                                </div>
                                <span class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-1" style="top: 3px;" tooltip="{{'tooltip-title.can-store-complete-order-tooltip' | translate}}" [containerClass]="'custom-top-tooltip'" placement="top"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer pb-4 pt-4 mlr-20">
                    <button *ngIf="_helper.has_permission(_helper.PERMISSION.DELETE)" type="button" (click)="deleteAccount()" class="btn btn-danger float-right">{{'button-title.delete' | translate }}</button>
                    <div *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
                        <button type="button" class="btn btn-outline-primary"
                        (click)="approveDecline(user_detail, store_page_type.approved)"
                        *ngIf="user_detail.is_approved">{{'button-title.block-store' | translate }}</button>
                        <button type="button" class="btn btn-outline-primary"
                        (click)="approveDecline(user_detail, store_page_type.blocked)"
                        *ngIf="!user_detail.is_approved">{{'button-title.approve-store' | translate }}</button>
                    </div>
                    <div *ngIf="_helper.has_permission(_helper.PERMISSION.VIEW, 'category') || _helper.has_permission(_helper.PERMISSION.VIEW, 'item-list') || _helper.has_permission(_helper.PERMISSION.VIEW, 'modifier-group') || _helper.has_permission(_helper.PERMISSION.VIEW, 'courier-service')"
                    [ngClass]="(user_detail.delivery_type!==DELIVERY_TYPE_CONSTANT.TAXI && user_detail.delivery_type!==DELIVERY_TYPE_CONSTANT.COURIER && user_detail.delivery_type!==DELIVERY_TYPE_CONSTANT.ECOMMERCE) ? '' : 'm-0' ">
                        <button [disabled]="false" type="button" *ngIf="user_detail.delivery_type!==DELIVERY_TYPE_CONSTANT.TAXI && user_detail.delivery_type!==DELIVERY_TYPE_CONSTANT.COURIER && user_detail.delivery_type!==DELIVERY_TYPE_CONSTANT.ECOMMERCE" (click)="onMenuClick()"
                        class="btn btn-outline-primary float-right">{{'button-title.menu' | translate }}</button>
                    </div>
                    <button *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)" type="submit" class="btn btn-primary float-right">{{'button-title.save' | translate
                        }}</button>
                    </div>
                </form>
            </tab>
            <tab (selectTab)="get_document_list()" heading="{{ 'heading-title.documents' | translate}}"
                class="card-body">
                <div class="card doc mb-4 flex-row " *ngFor="let document of documents;let index=index;">
                    <div class="w-40 d-flex align-items-center">
                        <a href="javascript::" class="w-100 position-relative">
                            <div class="position-absolute card-bottom-buttons">
                                <input id="fileInput" type="file" (change)="onSelectImageFile($event, index, 2)" #storeDocument/>

                                <button *ngIf="!document.is_edit && document.image_url && _helper.has_permission(_helper.PERMISSION.EXPORT)"
                                    class="btn btn-outline-primary icon-button" >
                                    <i *ngIf="!document.is_edit && document.image_url"
                                        class="simple-icon-cloud-download" [href]="document.image_url" (click)="downloadImage(document.image_url,document.document_name)"></i>
                                </button>
                                <button *ngIf="document.is_edit" class="btn btn-outline-primary icon-button"
                                    (click)="storeDocument.click()">
                                    <i *ngIf="document.is_edit" class="simple-icon-pencil"></i>
                                </button>
                            </div>
                            <img (error)="$event.target.src = _helper.DEFAULT_IMAGE_PATH.DOCUMENT" (click)="onLightBox(document)" class="dInfo-card-img-left doc_img p-2" [src]="document.image_url != '' ? document.image_url : _helper.DEFAULT_IMAGE_PATH.DOCUMENT"
                                alt="Card image cap">
                            <span class="badge badge-pill badge-theme-2 position-absolute badge-top-left"
                                *ngIf="document.is_document_expired">{{'label-title.expiry' | translate}}</span>
                        </a>
                    </div>
                    <div class="w-60 d-flex">
                        <div class="mt-2 pl-3 pr-3 w-100">
                            <div class="float-right" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
                                <button *ngIf="!document.is_edit" id="button-basic" type="button"
                                    class="btn btn-outline-primary btn-xs " (click)="document.is_edit=true">
                                    {{'button-title.edit' | translate}}
                                </button>
                                <button *ngIf="document.is_edit" id="button-basic" type="button"
                                    class="btn btn-outline-primary btn-xs " (click)="update_document(document)">
                                    {{'button-title.update' | translate}}
                                </button>
                            </div>
                            <a href="javascript::">
                                <h5 class="mb-1 font-weight-bold listing-heading" ellipsis>{{document.document_name}}
                                    <span class="text-danger" *ngIf="document.is_mandatory"> *</span>
                                </h5>
                            </a>
                            <div *ngIf="document.is_expired_date == true">
                                <p class="text-small text-muted mb-1">{{'label-title.expiry-date' | translate}}</p>
                                <h6 class="mb-2"
                                    *ngIf="!document.is_edit && document.is_expired_date && document.expired_date">
                                    {{document.expired_date | date:_helper.DATE_FORMAT.DD_MM_YYYY}}</h6>
                                <h6 class="mb-2" *ngIf="!document.is_expired_date || (!document.expired_date && !document.is_edit)">---</h6>
                                <div class="form-group">
                                    <input  *ngIf="document.is_expired_date && document.is_edit" type="text" placeholder="{{'label-title.datepicker' | translate}}" class="form-control mb-3 bg-unset"  [(ngModel)]="document.expired_date" #expired_date{{index}}="ngModel" [minDate]="todayDate"
                                    bsDatepicker [container]="'html'" [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD-MM-YYYY' , isAnimated: true, showWeekNumbers: false}" [readOnly]="true">
                                    <div *ngIf="document.dataRequired && document.is_edit && document.is_expired_date && !document.expired_date"
                                        class="invalid-tooltip">{{'label-title.expired_date_is_required' | translate}}
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="document.is_unique_code == true">
                                <p class="text-small text-muted mb-1">{{'label-title.unique-code' | translate}}</p>
                                <h6 class="mb-2"
                                    *ngIf="!document.is_edit && document.is_unique_code && document.unique_code">
                                    {{document.unique_code}}</h6>
                                <h6 class="mb-2" *ngIf="!document.is_unique_code || (!document.unique_code&& !document.is_edit)">---</h6>
                                <div class="form-group">
                                <input type="text" *ngIf="document.is_unique_code && document.is_edit"
                                    [(ngModel)]="document.unique_code" #unique_code="ngModel"
                                    name="unique_code{{index}}" id="exampleInput" class="form-control mb-3"
                                    placeholder="{{'label-title.enter-unique-code' | translate}}">
                                    <div *ngIf="document.dataRequired && document.is_edit && document.is_unique_code && !document.unique_code"
                                    class="invalid-tooltip">{{'label-title.unique-code' | translate}} {{'label-title.is-required' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
            <tab (selectTab)="get_referral_usage_list()" heading="{{ 'heading-title.referral' | translate}}"
                class="card-body">
                <div class="border-bottom">
                    <h5 class="font-weight-bold ">{{'label-title.referral-code' | translate}} : {{user_detail.referral_code}}</h5>
                </div>
                <div class="mb-2 border-bottom" *ngFor="let item of referral_history">
                    <div class="d-flex flex-row">
                        <a href="javascript::" class="d-flex"><img alt="Profile"
                                (error)="$event.target.src = _helper.DEFAULT_IMAGE_PATH.USER"
                                [src]="item.image_url ? _helper.image_url + item.image_url : _helper.DEFAULT_IMAGE_PATH.USER"
                                class="img-thumbnail border-0 rounded-circle m-4 list-thumbnail align-self-center "></a>
                        <div class="d-flex flex-grow-1 min-width-zero">
                            <div
                                class="card-body pl-0 align-self-center d-flex flex-row justify-content-between min-width-zero">
                                <div class="min-width-zero">
                                    <a href="javascript:void(0);">
                                        <p class="list-item-heading mb-1 truncate">{{item.first_name}}
                                            {{item.last_name}}
                                        </p>
                                        <p class=" list-item-heading mb-1 truncate ">{{item.country_phone_code}}
                                            {{item.phone}}
                                        </p>
                                        <p class="text-muted text-small">{{item.email}}</p>
                                    </a>

                                </div>
                                <div class="float-right">
                                    <div style="text-align: right;">
                                        <p class="mb-0">{{item.referral_bonus_to_user_friend}} {{item.currency_sign}}
                                        </p>
                                        <p *ngIf="item.created_at && timezone_for_display_date">{{_helper.moment(item.created_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.MOMENT_DD_MMM_YYYY)}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
            <tab (selectTab)="get_review_usage_list()" heading="{{ 'heading-title.review' | translate}}"
                class="card-body">
                <div class="input-group mb-3 justify-content-center">
                    <div class="input-group-prepend"><a href="javascript::" class="btn btn-outline-primary "
                            (click)="show_review_type=1"
                            [class.active]="show_review_type==1">{{'label-title.user-review' | translate}}</a></div>
                    <div class="input-group-append"><a href="javascript::" class="btn btn-outline-primary"
                            (click)="show_review_type=2"
                            [class.active]="show_review_type==2">{{'label-title.provider-review' | translate}}</a></div>
                </div>
                <div class="border-bottom">
                    <h5 class="font-weight-bold " *ngIf="show_review_type==1">{{'label-title.review-from-user' |
                        translate}} : {{user_detail.user_rate.toFixed(1)}}</h5>
                    <h5 class="font-weight-bold " *ngIf="show_review_type==2">{{'label-title.review-from-provider' |
                        translate}} : {{user_detail.provider_rate.toFixed(1)}}</h5>
                </div>
                <ng-container *ngFor="let review of review_list">
                    <div class="mb-2 border-bottom " *ngIf="show_review_type==1 && review.user_rating_to_store>0">
                        <div class="d-flex flex-row">
                            <a href="javascript::" class="d-flex"><img alt="Profile"
                                    (error)="$event.target.src = _helper.DEFAULT_IMAGE_PATH.USER"
                                    [src]="review.user_image_url ? _helper.image_url + review.user_image_url : _helper.DEFAULT_IMAGE_PATH.USER"
                                    class="img-thumbnail border-0 rounded-circle m-4 list-thumbnail align-self-center "></a>
                            <div class="d-flex flex-grow-1 min-width-zero">
                                <div
                                    class="card-body pl-0 align-self-center d-flex flex-row justify-content-between min-width-zero">
                                    <div class="min-width-zero">
                                        <a href="javascript:void(0);">
                                            <p class="list-item-heading mb-1 truncate">{{review.user_first_name}}
                                                {{review.user_last_name}}
                                            </p>
                                            <p class="text-muted text-small mb-2">{{review.user_country_phone_code}}
                                                {{review.user_phone}} | {{review.user_email}}</p>
                                            <p class="">{{review.user_review_to_store}}</p>
                                        </a>

                                    </div>
                                    <div class="float-right">
                                        <div style="text-align: right;width: 117%;">
                                            <rating [readonly]="true" [max]="5"
                                                [(ngModel)]="review.user_rating_to_store" [customTemplate]="t2">
                                            </rating>
                                            <ng-template #t2 let-index="index" let-value="value">{{index
                                                < value ? '' : '' }}</ng-template>
                                                    <p *ngIf="review.created_at && timezone_for_display_date">{{_helper.moment(review.created_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.MOMENT_DD_MMM_YYYY)}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2 border-bottom " *ngIf="show_review_type==2 && review.provider_rating_to_store>0">

                        <div class="d-flex flex-row">
                            <a href="javascript::" class="d-flex"><img alt="Profile"
                                    (error)="$event.target.src = _helper.DEFAULT_IMAGE_PATH.USER"
                                    [src]="review.provider_image_url ? _helper.image_url + review.provider_image_url : _helper.DEFAULT_IMAGE_PATH.USER"
                                    class="img-thumbnail border-0 rounded-circle m-4 list-thumbnail align-self-center "></a>
                            <div class="d-flex flex-grow-1 min-width-zero">
                                <div
                                    class="card-body pl-0 align-self-center d-flex flex-row justify-content-between min-width-zero">
                                    <div class="min-width-zero">
                                        <a href="javascript:void(0);">
                                            <p class="list-item-heading mb-1 truncate">{{review.provider_first_name}}
                                                {{review.provider_last_name}}
                                            </p>
                                            <p class="text-muted text-small mb-2">{{review.provider_country_phone_code}}
                                                {{review.provider_phone}} | {{review.provider_email}}</p>
                                            <p class="">{{review.provider_review_to_store}}</p>
                                        </a>

                                    </div>
                                    <div class="float-right">
                                        <div style="text-align: right;width: 117%;">
                                            <rating [readonly]="true" [max]="5"
                                                [(ngModel)]="review.provider_rating_to_store" [customTemplate]="t2">
                                            </rating>
                                            <ng-template #t2 let-index="index" let-value="value">{{index
                                                < value ? '' : '' }}</ng-template>
                                                    <p *ngIf="review.created_at && timezone_for_display_date">{{_helper.moment(review.created_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.MOMENT_DD_MMM_YYYY)}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </tab>
        </tabset>
        <tabset class="card-tabs " [justified]="true" *ngIf="is_seo">
            <tab heading="{{ 'heading-title.header' | translate}}" class="card-body">
                <div class="mb-3">
                    <div class="form-group">
                        <label for="exampleInput">{{ 'label-title.allow-search-engine-to-show' | translate }}</label>
                        <input type="text" id="exampleInput" (keypress)="_helper.number_validation($event)" class="form-control" formControlName="sequence_number"
                            placeholder="{{'label-title.enter-sequence-number'}}">
                    </div>
                </div>
                <div class="mb-3 mt-0">
                    <label><span>{{ 'label-title.delivery-type' | translate }}</span></label>
                    <ng-select appearance="outline" #agreeSelect labelForId="yesno" [searchable]="false" formControlName="delivery_type">
                        <ng-option *ngFor="let delivery of delivery_type" [value]="delivery.value">{{delivery.title | translate}}</ng-option>
                    </ng-select>
                </div>
            </tab>
            <tab heading="{{ 'heading-title.tags' | translate}}" class="card-body"></tab>
            
        </tabset>
    </div>
</ng-template>


<ng-template #confirmationTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left" *ngIf="user_detail">{{user_detail.name[0]}} ({{unique_id}})</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body p-0">
        <div class="p-4">
            <p>
                {{'label-title.are-you-sure-you-want-to-delete-this' | translate}} {{'label-title.store' | translate}}
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" (click)="cancel()" class="btn btn-primary float-right">{{'button-title.cancel' | translate}}</button>
        <button type="button" (click)="confirm()" class="btn btn-danger float-right">{{'button-title.confirm' | translate}}</button>
    </div>
</ng-template>

<ng-template #approveTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left" *ngIf="selectedUser">{{selectedUser.name[0]}} ({{unique_id}})</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="cancelAprroveModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body p-0">
        <div class="p-4">
            <p *ngIf="approvalStatus == 0">
                {{'label-title.are-you-sure-you-want-to-block-this' | translate}} {{'label-title.store' | translate}}
            </p>
            <p *ngIf="approvalStatus == 1">
                {{'label-title.are-you-sure-you-want-to-approve-this' | translate}} {{'label-title.store' | translate}}
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" (click)="cancelAprroveModal()" class="btn btn-primary float-right">{{'button-title.cancel' | translate}}</button>
        <button type="button" (click)="approve()" class="btn btn-danger float-right">{{'button-title.confirm' | translate}}</button>
    </div>
</ng-template>

<app-add-wallet-modal (amount)="addWalletAmount($event)" #walletAmount></app-add-wallet-modal>
<app-image-crop-model (updateImage)="imageCropped($event)" #cropModel></app-image-crop-model>
