<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{'heading-title.add-tag' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="tagForm">
            <div formArrayName="tag">
                <div *ngFor="let tag of tags.controls; let i = index">
                    <input type="text" (keypress)="_helper.space_validation($event)" class="form-control mb-2" [formControlName]="i" placeholder="{{this._lang.supportedLanguages[i].shorthand | uppercase}}">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onSave()" [disabled]="tagForm.invalid">{{'button-title.save' | translate}}</button>
    </div>
</ng-template>