<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <app-breadcrumb></app-breadcrumb>
    </div>

    <div class="separator mb-4"></div>
</div>
<div class="row">
    <div class="col-12">
        <tabset class="separator-tabs">
            <tab (selectTab)="tabChanged('info')" heading="{{'heading-title.info-page' | translate | uppercase}}">
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="d-flex flex-row justify-content-between pb-3">
                                    <div class="float-left float-none-xs">
                                        <div class="d-inline-block">
                                            <h5 class="d-inline">{{'heading-title.seo-tags-and-heads' | translate }}</h5>
                                        </div>
                                    </div>
                                    <div *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)" class="btn-group float-right float-none-xs mb-4"><button id="button-basic" type="button" (click)="homePageEditSeoTagsAndHeadEdit()" class="btn btn-outline-primary btn-xs" >
                                    {{'button-title.edit' | translate}} </button></div>
                                </div>
                                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                    <div class="d-flex flex-row justify-content-between align-items-center">
                                        <div class="flex-fill">
                                            <a>
                                                <p class="font-weight-medium mb-0">{{'label-title.title-tag' | translate }}
                                                    <span class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-1" style="top: 2px;" tooltip="{{'tooltip-title.web-info-page-title-tag-tooltip' | translate}}" [containerClass]="'custom-tooltip-class'" placement="right"></i></span>
                                                </p>
                                                <p class="text-muted mb-0 text-small">{{seoData.seoTitleTag}}</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                    <div class="d-flex flex-row justify-content-between align-items-center">
                                        <div class="flex-fill">
                                            <a>
                                                <p class="font-weight-medium mb-0">{{'label-title.meta-robots' | translate }}
                                                </p>
                                                <p class="text-muted mb-0 text-small">Yes Muted</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                    <div class="d-flex flex-row justify-content-between align-items-center">
                                        <div class="flex-fill">
                                            <a>
                                                <p class="font-weight-medium mb-0">{{'label-title.description' | translate }}
                                                    <span class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-1" style="top: 2px;" tooltip="{{'tooltip-title.web-info-page-description-tooltip' | translate}}" [containerClass]="'custom-tooltip-class'" placement="right"></i></span>
                                                </p>
                                                <p class="text-muted mb-0 text-small">{{seoData.seoDescription}}</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                    <div class="d-flex flex-row justify-content-between align-items-center">
                                        <div class="flex-fill">
                                            <a>
                                                <p class="font-weight-medium mb-0">{{'label-title.conical-url' | translate }}
                                                </p>
                                                <p class="text-muted mb-0 text-small">{{seoData.seoConicalUrl}}</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                    <div class="d-flex flex-row justify-content-between align-items-center">
                                        <div class="flex-fill">
                                            <a>
                                                <p class="font-weight-medium mb-0">{{'label-title.home-title' | translate }}
                                                    <span class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-1" style="top: 2px;" tooltip="{{'tooltip-title.web-info-page-home-title-tooltip' | translate}}" [containerClass]="'custom-tooltip-class'" placement="right"></i></span>
                                                </p>
                                                <p class="text-muted mb-0 text-small" *ngIf="seoData.homeTitle">{{seoData.homeTitle[_lang.selectedlanguageIndex] ? seoData.homeTitle[_lang.selectedlanguageIndex] : seoData.homeTitle[0]}}</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                    <div class="d-flex flex-row justify-content-between align-items-center">
                                        <div class="flex-fill">
                                            <a>
                                                <p class="font-weight-medium mb-0">{{'label-title.home-description' | translate }}
                                                    <span class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-1" style="top: 2px;" tooltip="{{'tooltip-title.web-info-page-home-description-tooltip' | translate}}" [containerClass]="'custom-tooltip-class'" placement="right"></i></span>
                                                </p>
                                                <p class="text-muted mb-0 text-small" *ngIf="seoData.homeDescription">{{seoData.homeDescription[_lang.selectedlanguageIndex] ? seoData.homeDescription[_lang.selectedlanguageIndex] : seoData.homeDescription[0]}}</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                    <div class="d-flex flex-row justify-content-between align-items-center">
                                        <div class="flex-fill">
                                            <a>
                                                <p class="font-weight-medium mb-0">{{'label-title.delivery-man-title' | translate }}
                                                    <span class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-1" style="top: 2px;" tooltip="{{'tooltip-title.web-info-page-delivery-man-title-tooltip' | translate}}" [containerClass]="'custom-tooltip-class'" placement="right"></i></span>
                                                </p>
                                                <p class="text-muted mb-0 text-small" *ngIf="seoData.providerTitle">{{seoData.providerTitle[_lang.selectedlanguageIndex] ? seoData.providerTitle[_lang.selectedlanguageIndex] : seoData.providerTitle[0]}}</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                    <div class="d-flex flex-row justify-content-between align-items-center">
                                        <div class="flex-fill">
                                            <a>
                                                <p class="font-weight-medium mb-0">{{'label-title.delivery-man-description' | translate }}
                                                    <span class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-1" style="top: 2px;" tooltip="{{'tooltip-title.web-info-page-delivery-man-description-tooltip' | translate}}" [containerClass]="'custom-tooltip-class'" placement="right"></i></span>
                                                </p>
                                                <p class="text-muted mb-0 text-small" *ngIf="seoData.providerDescription">{{seoData.providerDescription[_lang.selectedlanguageIndex] ? seoData.providerDescription[_lang.selectedlanguageIndex] : seoData.providerDescription[0]}}</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                    <div class="d-flex flex-row justify-content-between align-items-center">
                                        <div class="flex-fill">
                                            <a>
                                                <p class="font-weight-medium mb-0">{{'label-title.store-title' | translate }}
                                                    <span class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-1" style="top: 2px;" tooltip="{{'tooltip-title.web-info-page-store-title-tooltip' | translate}}" [containerClass]="'custom-tooltip-class'" placement="right"></i></span>
                                                </p>
                                                <p class="text-muted mb-0 text-small" *ngIf="seoData.storeTitle">{{seoData.storeTitle[_lang.selectedlanguageIndex] ? seoData.storeTitle[_lang.selectedlanguageIndex] : seoData.storeTitle[0]}}</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                    <div class="d-flex flex-row justify-content-between align-items-center">
                                        <div class="flex-fill">
                                            <a>
                                                <p class="font-weight-medium mb-0">{{'label-title.store-description' | translate }}
                                                    <span class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-1" style="top: 2px;" tooltip="{{'tooltip-title.web-info-page-store-description-tooltip' | translate}}" [containerClass]="'custom-tooltip-class'" placement="right"></i></span>
                                                </p>
                                                <p class="text-muted mb-0 text-small" *ngIf="seoData.storeDescription">{{seoData.storeDescription[_lang.selectedlanguageIndex] ? seoData.storeDescription[_lang.selectedlanguageIndex] : seoData.storeDescription[0]}}</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="d-flex flex-row justify-content-between pb-3">
                                    <div class="float-left float-none-xs">
                                        <div class="d-inline-block">
                                            <h5 class="d-inline">{{'heading-title.open-graph' | translate }}
                                            </h5>
                                        </div>
                                    </div>
                                    <div *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)" class="btn-group float-right float-none-xs mb-4"><button id="button-basic" (click)="homePageOgGraphEdit()" type="button" class="btn btn-outline-primary btn-xs" >
                                    {{'button-title.edit' | translate}} </button></div>
                                </div>
                                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                    <div class="d-flex flex-row justify-content-between align-items-center">
                                        <div class="flex-fill">
                                            <a>
                                                <p class="font-weight-medium mb-0">{{'label-title.og-url' | translate }}</p>
                                                <p class="text-muted mb-0 text-small">{{seoData.ogUrl}}</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                    <div class="d-flex flex-row justify-content-between align-items-center">
                                        <div class="flex-fill">
                                            <a>
                                                <p class="font-weight-medium mb-0">{{'label-title.og-title' | translate }}</p>
                                                <p class="text-muted mb-0 text-small" *ngIf="seoData.ogTitle">{{seoData.ogTitle[_lang.selectedlanguageIndex] ? seoData.ogTitle[_lang.selectedlanguageIndex] : seoData.ogTitle[0]}}</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                    <div class="d-flex flex-row justify-content-between align-items-center">
                                        <div class="flex-fill">
                                            <a>
                                                <p class="font-weight-medium mb-0">{{'label-title.og-type' | translate }}</p>
                                                <p class="text-muted mb-0 text-small">{{seoData.ogType}}</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
                                    <div class="d-flex flex-row justify-content-between align-items-center">
                                        <div class="flex-fill">
                                            <a>
                                                <p class="font-weight-medium mb-0">{{'label-title.og-description' | translate }}</p>
                                                <p class="text-muted mb-0 text-small" *ngIf="seoData.ogDescription">{{seoData.ogDescription[_lang.selectedlanguageIndex] ? seoData.ogDescription[_lang.selectedlanguageIndex] : seoData.ogDescription[0]}}</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
                        <form>
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="d-flex flex-row justify-content-between pb-3">
                                        <div class="float-left float-none-xs">
                                            <div class="d-inline-block">
                                                <h5 class="d-inline">{{'heading-title.twitter-graph' | translate }}
                                                </h5>
                                            </div>
                                        </div>
                                        <div *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)" class="btn-group float-right float-none-xs mb-4"><button id="button-basic" (click)="homePageTwitterGraphEdit()" type="button" class="btn btn-outline-primary btn-xs" >
                                        {{'button-title.edit' | translate}} </button></div>
                                    </div>
                                    <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                        <div class="d-flex flex-row justify-content-between align-items-center">
                                            <div class="flex-fill">
                                                <a>
                                                    <p class="font-weight-medium mb-0">{{'label-title.twitter-card' | translate }}</p>
                                                    <p class="text-muted mb-0 text-small">{{seoData.twitterCard}}</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                        <div class="d-flex flex-row justify-content-between align-items-center">
                                            <div class="flex-fill">
                                                <a>
                                                    <p class="font-weight-medium mb-0">{{'label-title.twitter-url' | translate }}</p>
                                                    <p class="text-muted mb-0 text-small">{{seoData.twitterUrl}}</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                        <div class="d-flex flex-row justify-content-between align-items-center">
                                            <div class="flex-fill">
                                                <a>
                                                    <p class="font-weight-medium mb-0">{{'label-title.twitter-title' | translate }}</p>
                                                    <p class="text-muted mb-0 text-small">{{seoData.twitterTitle[0]}}</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
                                        <div class="d-flex flex-row justify-content-between align-items-center">
                                            <div class="flex-fill">
                                                <a>
                                                    <p class="font-weight-medium mb-0">{{'label-title.twitter-description' | translate }}</p>
                                                    <p class="text-muted mb-0 text-small">{{seoData.twitterDescription[0]}}</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </tab>
            <tab (selectTab)="tabChanged('home')" heading="{{'heading-title.home-page' | translate | uppercase}}">
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="d-flex flex-row justify-content-between pb-3">
                                    <div class="float-left float-none-xs">
                                        <div class="d-inline-block">
                                            <h5 class="d-inline">{{'heading-title.seo-tags-and-heads' | translate }}</h5>
                                        </div>
                                    </div>
                                    <div *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)" class="btn-group float-right float-none-xs mb-4"><button id="button-basic" type="button" (click)="homePageEditSeoTagsAndHeadEdit()" class="btn btn-outline-primary btn-xs" >
                                    {{'button-title.edit' | translate}} </button></div>
                                </div>
                                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                    <div class="d-flex flex-row justify-content-between align-items-center">
                                        <div class="flex-fill">
                                            <a>
                                                <p class="font-weight-medium mb-0">{{'label-title.title-tag' | translate }}
                                                    <span class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-1" style="top: 2px;" tooltip="{{'tooltip-title.web-home-page-title-tag-tooltip' | translate}}" [containerClass]="'custom-tooltip-class'" placement="right"></i></span>
                                                </p>
                                                <p class="text-muted mb-0 text-small">{{seoData.seoTitleTag}}</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                    <div class="d-flex flex-row justify-content-between align-items-center">
                                        <div class="flex-fill">
                                            <a>
                                                <p class="font-weight-medium mb-0">{{'label-title.meta-robots' | translate }}
                                                </p>
                                                <p class="text-muted mb-0 text-small">Yes muted</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                    <div class="d-flex flex-row justify-content-between align-items-center">
                                        <div class="flex-fill">
                                            <a>
                                                <p class="font-weight-medium mb-0">{{'label-title.description' | translate }}
                                                    <span class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-1" style="top: 2px;" tooltip="{{'tooltip-title.web-home-page-description-tooltip' | translate}}" [containerClass]="'custom-tooltip-class'" placement="right"></i></span>
                                                </p>
                                                <p class="text-muted mb-0 text-small">{{seoData.seoDescription}}</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                    <div class="d-flex flex-row justify-content-between align-items-center">
                                        <div class="flex-fill">
                                            <a>
                                                <p class="font-weight-medium mb-0">{{'label-title.conical-url' | translate }}
                                                </p>
                                                <p class="text-muted mb-0 text-small">{{seoData.seoConicalUrl}}</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                    <div class="d-flex flex-row justify-content-between align-items-center">
                                        <div class="flex-fill">
                                            <a>
                                                <p class="font-weight-medium mb-0">{{'label-title.delivery-list-title' | translate }}
                                                    <span class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-1" style="top: 2px;" tooltip="{{'tooltip-title.web-home-page-delivery-list-title-tooltip' | translate}}" [containerClass]="'custom-tooltip-class'" placement="right"></i></span>
                                                </p>
                                                <p class="text-muted mb-0 text-small" *ngIf="seoData.deliveryListTitle">{{seoData.deliveryListTitle[_lang.selectedlanguageIndex] ? seoData.deliveryListTitle[_lang.selectedlanguageIndex] : seoData.deliveryListTitle[0]}}</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                    <div class="d-flex flex-row justify-content-between align-items-center">
                                        <div class="flex-fill">
                                            <a>
                                                <p class="font-weight-medium mb-0">{{'label-title.ads' | translate }}
                                                    <span class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-1" style="top: 2px;" tooltip="{{'tooltip-title.web-home-page-ads-tooltip' | translate}}" [containerClass]="'custom-tooltip-class'" placement="right"></i></span>
                                                </p>
                                                <p class="text-muted mb-0 text-small" *ngIf="seoData.adsTitle">{{seoData.adsTitle[_lang.selectedlanguageIndex] ? seoData.adsTitle[_lang.selectedlanguageIndex] : seoData.adsTitle[0]}}</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                    <div class="d-flex flex-row justify-content-between align-items-center">
                                        <div class="flex-fill">
                                            <a>
                                                <p class="font-weight-medium mb-0">{{'label-title.near-store-list' | translate }}
                                                    <span class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-1" style="top: 2px;" tooltip="{{'tooltip-title.web-home-page-near-store-list-tooltip' | translate}}" [containerClass]="'custom-tooltip-class'" placement="right"></i></span>
                                                </p>
                                                <p class="text-muted mb-0 text-small" *ngIf="seoData.nearStoreList">{{seoData.nearStoreList[_lang.selectedlanguageIndex] ? seoData.nearStoreList[_lang.selectedlanguageIndex] : seoData.nearStoreList[0]}}</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                    <div class="d-flex flex-row justify-content-between align-items-center">
                                        <div class="flex-fill">
                                            <a>
                                                <p class="font-weight-medium mb-0">{{'label-title.offers-title' | translate }}
                                                    <span class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-1" style="top: 2px;" tooltip="{{'tooltip-title.web-home-page-near-offers-title-tooltip' | translate}}" [containerClass]="'custom-tooltip-class'" placement="right"></i></span>
                                                </p>
                                                <p class="text-muted mb-0 text-small" *ngIf="seoData.offerList">{{seoData.offerList[_lang.selectedlanguageIndex] ? seoData.offerList[_lang.selectedlanguageIndex] : seoData.offerList[0]}}</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="d-flex flex-row justify-content-between pb-3">
                                    <div class="float-left float-none-xs">
                                        <div class="d-inline-block">
                                            <h5 class="d-inline">{{'heading-title.open-graph' | translate }}
                                            </h5>
                                        </div>
                                    </div>
                                    <div *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)" class="btn-group float-right float-none-xs mb-4"><button id="button-basic" (click)="homePageOgGraphEdit()" type="button" class="btn btn-outline-primary btn-xs" >
                                    {{'button-title.edit' | translate}} </button></div>
                                </div>
                                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                    <div class="d-flex flex-row justify-content-between align-items-center">
                                        <div class="flex-fill">
                                            <a>
                                                <p class="font-weight-medium mb-0">{{'label-title.og-url' | translate }}</p>
                                                <p class="text-muted mb-0 text-small">{{seoData.ogUrl}}</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                    <div class="d-flex flex-row justify-content-between align-items-center">
                                        <div class="flex-fill">
                                            <a>
                                                <p class="font-weight-medium mb-0">{{'label-title.og-title' | translate }}</p>
                                                <p class="text-muted mb-0 text-small" *ngIf="seoData.ogTitle">{{seoData.ogTitle[_lang.selectedlanguageIndex] ? seoData.ogTitle[_lang.selectedlanguageIndex] : seoData.ogTitle[0]}}</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                    <div class="d-flex flex-row justify-content-between align-items-center">
                                        <div class="flex-fill">
                                            <a>
                                                <p class="font-weight-medium mb-0">{{'label-title.og-type' | translate }}</p>
                                                <p class="text-muted mb-0 text-small">{{seoData.ogType}}</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                    <div class="d-flex flex-row justify-content-between align-items-center">
                                        <div class="flex-fill">
                                            <a>
                                                <p class="font-weight-medium mb-0">{{'label-title.og-description' | translate }}</p>
                                                <p class="text-muted mb-0 text-small" *ngIf="seoData.ogDescription">{{seoData.ogDescription[_lang.selectedlanguageIndex] ? seoData.ogDescription[_lang.selectedlanguageIndex] : seoData.ogDescription[0]}}</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
                        <form>
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="d-flex flex-row justify-content-between pb-3">
                                        <div class="float-left float-none-xs">
                                            <div class="d-inline-block">
                                                <h5 class="d-inline">{{'heading-title.twitter-graph' | translate }}
                                                </h5>
                                            </div>
                                        </div>
                                        <div *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)" class="btn-group float-right float-none-xs mb-4"><button id="button-basic" (click)="homePageTwitterGraphEdit()" type="button" class="btn btn-outline-primary btn-xs" >
                                        {{'button-title.edit' | translate}} </button></div>
                                    </div>
                                    <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                        <div class="d-flex flex-row justify-content-between align-items-center">
                                            <div class="flex-fill">
                                                <a>
                                                    <p class="font-weight-medium mb-0">{{'label-title.twitter-card' | translate }}</p>
                                                    <p class="text-muted mb-0 text-small">{{seoData.twitterCard}}</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                        <div class="d-flex flex-row justify-content-between align-items-center">
                                            <div class="flex-fill">
                                                <a>
                                                    <p class="font-weight-medium mb-0">{{'label-title.twitter-url' | translate }}</p>
                                                    <p class="text-muted mb-0 text-small">{{seoData.twitterUrl}}</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                        <div class="d-flex flex-row justify-content-between align-items-center">
                                            <div class="flex-fill">
                                                <a>
                                                    <p class="font-weight-medium mb-0">{{'label-title.twitter-title' | translate }}</p>
                                                    <p class="text-muted mb-0 text-small" *ngIf="seoData.twitterTitle">{{seoData.twitterTitle[_lang.selectedlanguageIndex] ? seoData.twitterTitle[_lang.selectedlanguageIndex] : seoData.twitterTitle[0]}}</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
                                        <div class="d-flex flex-row justify-content-between align-items-center">
                                            <div class="flex-fill">
                                                <a>
                                                    <p class="font-weight-medium mb-0">{{'label-title.twitter-description' | translate }}</p>
                                                    <p class="text-muted mb-0 text-small" *ngIf="seoData.twitterDescription">{{seoData.twitterDescription[_lang.selectedlanguageIndex] ? seoData.twitterDescription[_lang.selectedlanguageIndex] : seoData.twitterDescription[0]}}</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </tab>
            <tab (selectTab)="tabChanged('store')" heading="{{'heading-title.store-detail-page' | translate | uppercase}}">
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="d-flex flex-row justify-content-between pb-3">
                                    <div class="float-left float-none-xs">
                                        <div class="d-inline-block">
                                            <h5 class="d-inline">{{'heading-title.seo-tags-and-heads' | translate }}</h5>
                                        </div>
                                    </div>
                                    <div *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)" class="btn-group float-right float-none-xs mb-4"><button id="button-basic" (click)="homePageEditSeoTagsAndHeadEdit()" type="button" class="btn btn-outline-primary btn-xs" >
                                    {{'button-title.edit' | translate}} </button></div>
                                </div>
                                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                    <div class="d-flex flex-row justify-content-between align-items-center">
                                        <div class="flex-fill">
                                            <a>
                                                <p class="font-weight-medium mb-0">{{'label-title.title-tag' | translate }}
                                                    <span class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-1" style="top: 2px;" tooltip="{{'tooltip-title.web-store-page-title-tag-tooltip' | translate}}" [containerClass]="'custom-tooltip-class'" placement="right"></i></span>
                                                </p>
                                                <p class="text-muted mb-0 text-small">{{seoData.seoTitleTag}}</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                    <div class="d-flex flex-row justify-content-between align-items-center">
                                        <div class="flex-fill">
                                            <a>
                                                <p class="font-weight-medium mb-0">{{'label-title.meta-robots' | translate }}
                                                </p>
                                                <p class="text-muted mb-0 text-small">Yes muted</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                    <div class="d-flex flex-row justify-content-between align-items-center">
                                        <div class="flex-fill">
                                            <a>
                                                <p class="font-weight-medium mb-0">{{'label-title.description' | translate }}
                                                    <span class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-1" style="top: 2px;" tooltip="{{'tooltip-title.web-store-page-description-tooltip' | translate}}" [containerClass]="'custom-tooltip-class'" placement="right"></i></span>
                                                </p>
                                                <p class="text-muted mb-0 text-small">{{seoData.seoDescription}}</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                    <div class="d-flex flex-row justify-content-between align-items-center">
                                        <div class="flex-fill">
                                            <a>
                                                <p class="font-weight-medium mb-0">{{'label-title.conical-url' | translate }}
                                                </p>
                                                <p class="text-muted mb-0 text-small">{{seoData.seoConicalUrl}}</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                    <div class="d-flex flex-row justify-content-between align-items-center">
                                        <div class="flex-fill">
                                            <a>
                                                <p class="font-weight-medium mb-0">{{'label-title.menu-title' | translate }}
                                                    <span class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-1" style="top: 2px;" tooltip="{{'tooltip-title.web-store-page-menu-title-tooltip' | translate}}" [containerClass]="'custom-tooltip-class'" placement="right"></i></span>
                                                </p>
                                                <p class="text-muted mb-0 text-small" *ngIf="seoData.menuTitle">{{seoData.menuTitle[_lang.selectedlanguageIndex] ? seoData.menuTitle[_lang.selectedlanguageIndex] : seoData.menuTitle[0]}}</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                    <div class="d-flex flex-row justify-content-between align-items-center">
                                        <div class="flex-fill">
                                            <a>
                                                <p class="font-weight-medium mb-0">{{'label-title.address-title' | translate }}
                                                    <span class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-1" style="top: 2px;" tooltip="{{'tooltip-title.web-store-page-address-title-tooltip' | translate}}" [containerClass]="'custom-tooltip-class'" placement="right"></i></span>
                                                </p>
                                                <p class="text-muted mb-0 text-small" *ngIf="seoData.addressTitle">{{seoData.addressTitle[_lang.selectedlanguageIndex] ? seoData.addressTitle[_lang.selectedlanguageIndex] : seoData.addressTitle[0]}}</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                    <div class="d-flex flex-row justify-content-between align-items-center">
                                        <div class="flex-fill">
                                            <a>
                                                <p class="font-weight-medium mb-0">{{'label-title.hours-title' | translate }}
                                                    <span class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-1" style="top: 2px;" tooltip="{{'tooltip-title.web-store-page-hours-title-tooltip' | translate}}" [containerClass]="'custom-tooltip-class'" placement="right"></i></span>
                                                </p>
                                                <p class="text-muted mb-0 text-small" *ngIf="seoData.hoursTitle">{{seoData.hoursTitle[_lang.selectedlanguageIndex] ? seoData.hoursTitle[_lang.selectedlanguageIndex] : seoData.hoursTitle[0]}}</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="d-flex flex-row justify-content-between pb-3">
                                    <div class="float-left float-none-xs">
                                        <div class="d-inline-block">
                                            <h5 class="d-inline">{{'heading-title.open-graph' | translate }}
                                            </h5>
                                        </div>
                                    </div>
                                    <div *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)" class="btn-group float-right float-none-xs mb-4"><button id="button-basic" (click)="homePageOgGraphEdit()" type="button" class="btn btn-outline-primary btn-xs" >
                                    {{'button-title.edit' | translate}} </button></div>
                                </div>
                                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                    <div class="d-flex flex-row justify-content-between align-items-center">
                                        <div class="flex-fill">
                                            <a>
                                                <p class="font-weight-medium mb-0">{{'label-title.og-url' | translate }}</p>
                                                <p class="text-muted mb-0 text-small">{{seoData.ogUrl}}</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                    <div class="d-flex flex-row justify-content-between align-items-center">
                                        <div class="flex-fill">
                                            <a>
                                                <p class="font-weight-medium mb-0">{{'label-title.og-title' | translate }}</p>
                                                <p class="text-muted mb-0 text-small" *ngIf="seoData.ogTitle">{{seoData.ogTitle[_lang.selectedlanguageIndex] ? seoData.ogTitle[_lang.selectedlanguageIndex] : seoData.ogTitle[0]}}</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                    <div class="d-flex flex-row justify-content-between align-items-center">
                                        <div class="flex-fill">
                                            <a>
                                                <p class="font-weight-medium mb-0">{{'label-title.og-type' | translate }}</p>
                                                <p class="text-muted mb-0 text-small">{{seoData.ogType}}</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                    <div class="d-flex flex-row justify-content-between align-items-center">
                                        <div class="flex-fill">
                                            <a>
                                                <p class="font-weight-medium mb-0">{{'label-title.og-image' | translate }}</p>
                                                <p class="text-muted mb-0 text-small">{{seoData.ogImage}}</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden ">
                                    <div class="d-flex flex-row justify-content-between align-items-center">
                                        <div class="flex-fill">
                                            <a>
                                                <p class="font-weight-medium mb-0">{{'label-title.og-description' | translate }}</p>
                                                <p class="text-muted mb-0 text-small" *ngIf="seoData.ogDescription">{{seoData.ogDescription[_lang.selectedlanguageIndex] ? seoData.ogDescription[_lang.selectedlanguageIndex] : seoData.ogDescription[0]}}</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
                        <form>
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="d-flex flex-row justify-content-between pb-3">
                                        <div class="float-left float-none-xs">
                                            <div class="d-inline-block">
                                                <h5 class="d-inline">{{'heading-title.twitter-graph' | translate }}
                                                </h5>
                                            </div>
                                        </div>
                                        <div *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)" class="btn-group float-right float-none-xs mb-4"><button id="button-basic" (click)="homePageTwitterGraphEdit()" type="button" class="btn btn-outline-primary btn-xs" >
                                        {{'button-title.edit' | translate}} </button></div>
                                    </div>
                                    <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                        <div class="d-flex flex-row justify-content-between align-items-center">
                                            <div class="flex-fill">
                                                <a>
                                                    <p class="font-weight-medium mb-0">{{'label-title.twitter-card' | translate }}</p>
                                                    <p class="text-muted mb-0 text-small">{{seoData.twitterCard}}</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                        <div class="d-flex flex-row justify-content-between align-items-center">
                                            <div class="flex-fill">
                                                <a>
                                                    <p class="font-weight-medium mb-0">{{'label-title.twitter-url' | translate }}</p>
                                                    <p class="text-muted mb-0 text-small">{{seoData.twitterUrl}}</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3 overflow-hidden">
                                        <div class="d-flex flex-row justify-content-between align-items-center">
                                            <div class="flex-fill">
                                                <a>
                                                    <p class="font-weight-medium mb-0">{{'label-title.twitter-title' | translate }}</p>
                                                    <p class="text-muted mb-0 text-small" *ngIf="seoData.twitterTitle">{{seoData.twitterTitle[_lang.selectedlanguageIndex] ? seoData.twitterTitle[_lang.selectedlanguageIndex] : seoData.twitterTitle[0]}}</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
                                        <div class="d-flex flex-row justify-content-between align-items-center">
                                            <div class="flex-fill">
                                                <a>
                                                    <p class="font-weight-medium mb-0">{{'label-title.twitter-description' | translate }}</p>
                                                    <p class="text-muted mb-0 text-small" *ngIf="seoData.twitterDescription">{{seoData.twitterDescription[_lang.selectedlanguageIndex] ? seoData.twitterDescription[_lang.selectedlanguageIndex] : seoData.twitterDescription[0]}}</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</div>

<seo-tags-head-modal #SeoTagsHeadModal></seo-tags-head-modal>
<open-graph-modal #OpenGraphModal></open-graph-modal>
<twitter-graph-modal #TwitterGraphModal></twitter-graph-modal>
