<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'heading-title.surge-time-settings' | translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="row no-gutters mb-3" *ngFor="let item of _surge_hours;let weekindex = index">
      <div class="col-12 col-sm-6 mb-sm-2 d-flex justify-content-between flex-row flex-sm-column">
        <div class="">
          <div class="font-weight-bold mb-1" *ngIf="item.day === 0">{{'week-days.0' | translate}}</div>
          <div class="font-weight-bold mb-1" *ngIf="item.day === 1">{{'week-days.1' | translate}}</div>
          <div class="font-weight-bold mb-1" *ngIf="item.day === 2">{{'week-days.2' | translate}}</div>
          <div class="font-weight-bold mb-1" *ngIf="item.day === 3">{{'week-days.3' | translate}}</div>
          <div class="font-weight-bold mb-1" *ngIf="item.day === 4">{{'week-days.4' | translate}}</div>
          <div class="font-weight-bold mb-1" *ngIf="item.day === 5">{{'week-days.5' | translate}}</div>
          <div class="font-weight-bold mb-1" *ngIf="item.day === 6">{{'week-days.6' | translate}}</div>
        </div>
        <div>
          <span class="badge badge-pill badge-outline-primary mb-1 c-pointer" *ngIf="!addSlotTime[weekindex]" (click)="addNewSlot(weekindex)">{{ 'button-title.add-new-slot' | translate}}</span>
        </div>
      </div>
      <div class="col-12 col-sm-6 mb-sm-2 d-flex flex-column">
        <div class="d-flex justify-content-between">
        <div class="font-weight-bold ">{{'label-title.slot-time' | translate}}</div>
        <div class="custom-control custom-switch">
          <input type="checkbox" id="weekday2{{weekindex}}" [(ngModel)]="item.is_surge_hours" class="custom-control-input">
          <label for="weekday2{{weekindex}}" class="custom-control-label"></label>
        </div>
      </div>
        <div class="d-flex justify-content-between" *ngIf="delivery_type != _helper.DELIVERY_TYPE_CONSTANT.TAXI">
        <div class="font-weight-bold">{{'label-title.apply-surge-on-night-time' | translate}}</div>
        <div class="custom-control custom-switch">
          <input type="checkbox" id="weekday1{{weekindex}}" [(ngModel)]="item.is_surge_on_night" class="custom-control-input">
          <label for="weekday1{{weekindex}}" class="custom-control-label"></label>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6" *ngFor="let slot of item.day_time;let slot_index = index">
      <div class="custom-control custom-checkbox mb-0 pl-0">
        <label class="mb-1">{{slot.start_time}} {{'heading-title.to' | translate}}
          {{slot.end_time}} - {{slot.surge_multiplier}}X</label>
        <i (click)="onCheck(item, slot_index, weekindex, $event)" class="text-danger simple-icon-close ml-2 cursor cursor-pointer"></i>
      </div>
    </div>
    <ng-container *ngIf="addSlotTime[weekindex]">
      <div class="row">
        <div class="col-12 col-sm-6 mb-3">
          <label>{{ 'label-title.start-time' | translate }}</label>
          <timepicker [(ngModel)]="openTime" class="timepicker"></timepicker>
          <div *ngIf="errorStartTime && !openTime" class="error">
            {{ 'label-title.open-time' | translate }} {{ 'label-title.is-required' | translate }}
          </div>
        </div>
        <div class="col-12 col-sm-6 mb-3">
          <label>{{ 'label-title.end-time' | translate }}</label>
          <timepicker [(ngModel)]="closeTime" class="timepicker"></timepicker>
          <div *ngIf="errorEndTime && !closeTime" class="error">
            {{ 'label-title.close-time' | translate }} {{ 'label-title.is-required' | translate }}
          </div>
        </div>
        <div class="col-12 text-danger mb-3" *ngIf="openTime>closeTime">{{'label-title.end-time-should-be-greater-than-start-time' | translate}}</div>
        <div class="col-12 mb-1">
          <div class=" row">
            <div class="col-sm-4 col-4">
                <p for="multiplySurge" class="mb-0">{{'label-title.multiply-surge' | translate }}</p>
            </div>
            <div class="col-sm-6 col-6">
                <div class="input-group">
                  <input type="number" class="form-control" name="surge_multiplier" [(ngModel)]="surge_multiplier">
                </div>
                <div *ngIf="errorSurgeMultiplier && surge_multiplier === null" class="col-12 mt-1">
                  <p class="text-danger mb-0">{{'label-title.multiply-surge' | translate }} {{'label-title.is-required' | translate}}</p>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-danger mb-0" *ngIf="store_time_error">{{'label-title.slot-already-exists' | translate}}</div>
    </ng-container>
    <div class="col-12 text-center my-2" *ngIf="addSlotTime[weekindex]">
      <span class="badge badge-pill badge-outline-primary mb-1 c-pointer" (click)="saveSlot(weekindex)">{{'button-title.save-new-slot' | translate}}</span>
    </div>
  </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary float-right" (click)="onSave()">{{ 'button-title.update' | translate}}</button>
  </div>
</ng-template>