<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'heading-title.twitter-graph' | translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="twitterGraphForm">
      <div class="form-group">
        <label for="twitterCard">{{'label-title.twitter-card' | translate}}</label>
        <input type="text" formControlName="twitterCard" (keypress)="_helper.space_validation($event)" aria-label="Username"
          aria-describedby="basic-addon1" class="form-control" placeholder="{{'label-title.twitter-card' | translate }}">
      </div>
      <div class="mb-3" formArrayName="twitterTitle">
        <label for="password">{{'label-title.twitter-title' | translate}}</label>
        <div class="input-group mb-3" *ngFor="let title of twitterTitle.controls;let i = index">
          <div class="input-group-prepend">
            <span id="basic-addon1" class="input-group-text">{{this._lang.supportedLanguages[i].shorthand |
              uppercase}}</span>
          </div>
          <input type="text" (paste)="$event.preventDefault()"
            [required]="this._lang.supportedLanguages[i].shorthand === 'en'" (keypress)="_helper.space_validation($event)"
            aria-label="Username" aria-describedby="basic-addon1" [formControlName]="i" class="form-control"
            placeholder="{{'label-title.title' | translate }}">
        </div>
      </div>
      <div class="form-group">
        <label for="twitterUrl">{{'label-title.twitter-url' | translate}}</label>
        <input type="text" formControlName="twitterUrl" (keypress)="_helper.space_validation($event)" aria-label="Username"
          aria-describedby="basic-addon1" class="form-control" placeholder="{{'label-title.twitter-url' | translate }}">
      </div>
      <div class="mb-3" formArrayName="twitterDescription">
        <label for="password">{{'label-title.twitter-description' | translate}}</label>
        <div class="input-group mb-3" *ngFor="let title of twitterDescription.controls;let i = index">
          <div class="input-group-prepend">
            <span id="basic-addon1" class="input-group-text">{{this._lang.supportedLanguages[i].shorthand |
              uppercase}}</span>
          </div>
          <input type="text" (paste)="$event.preventDefault()"
            [required]="this._lang.supportedLanguages[i].shorthand === 'en'" (keypress)="_helper.space_validation($event)"
            aria-label="Username" aria-describedby="basic-addon1" [formControlName]="i" class="form-control"
            placeholder="{{'label-title.description' | translate }}">
        </div>
      </div>
      <div class="form-group">
        <label for="ogType">{{'label-title.twitter-image' | translate}}</label>
        <div class="input-group mb-3">
          <div class="custom-file">
            <input type="file" id="inputGroupFile02" class="custom-file-input" (change)="onSelectFile($event)">
            <label for="inputGroupFile02" class="custom-file-label">
              {{ this.twitterImageUrlFile ? this.twitterImageUrlFile.name : ('label-title.choose-a-file' | translate)}}
            </label>
          </div>
          <div class="input-group-append c-pointer" (click)="onRemoveSelectedFile()" *ngIf="this.twitterImageUrlFile"><span
              class="input-group-text">{{'button-title.remove' | translate }}</span></div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <ng-container>
      <button type="button" class="btn btn-outline-primary"
        (click)="modalRef.hide()">{{'button-title.cancel' | translate }}</button>
      <button type="submit" (click)="updateTwitterTags()" class="btn btn-primary float-right">{{ 'button-title.save' | translate}}</button>
    </ng-container>
  </div>
</ng-template>
