<ng-template #template>
  <div class="modal-header">
    <h4 *ngIf="is_edit" class="modal-title pull-left">{{'heading-title.edit-advertise' | translate}}</h4>
    <h4 *ngIf="!is_edit" class="modal-title pull-left">{{'heading-title.add-advertise' | translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
    <form [formGroup]="advertiseForm" appFocus>
      <div class="form-row">
        <div class="form-group col-md-6">
          <div class="p-0">
            <div class="position-absolute card-top-buttons">
              <button *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)" class="btn btn-outline-primary icon-button" (click)="advertise_image_ref.click()">
                <i class="simple-icon-pencil"></i>
              </button>
            </div>
            <img [src]="advertiseForm.value.image_url ? advertiseForm.value.image_url : _helper.DEFAULT_IMAGE_PATH.ADVERTISE" alt="Detail" class="img-fluid border-radius c-pointer" (error)="$event.target.src = _helper.DEFAULT_IMAGE_PATH.ADVERTISE">
            <input type="file" accept="image/*" (change)="onSelectImageFile($event)" class="d-none" #advertise_image_ref>
          </div>
        </div>
        <div class="col-12 text-center d-md-none d-block mb-3">
          <span class="text-primary">{{'validation-title.please-upload-image-in-format' | translate}}</span>
        </div>
        <div class="form-group col-md-6">
          <div class="form-group"><label for="inputState">{{'label-title.country' | translate }}</label>
            <ng-select appearance="outline" formControlName="country_id" [searchable]="true" [clearable]="false" notFoundText="{{'label-title.no-data-found' | translate}}"
              placeholder="{{'label-title.choose' | translate}}..." (change)="getCityList() || getStoreListForCountry()">
              <ng-option [value]="country._id" *ngFor="let country of country_list">{{ country.country_name }}
              </ng-option>
            </ng-select>
            <div *ngIf="advertiseForm.get('country_id').errors?.required && advertiseForm.get('country_id').touched"
            class="invalid-tooltip">{{'validation-title.country-is-required' | translate}}</div>
          </div>
          <div class="form-group"><label for="inputState">{{'label-title.city' | translate }}</label>
            <ng-select appearance="outline" formControlName="city_id" [searchable]="true" [clearable]="false" notFoundText="{{'label-title.no-data-found' | translate}}"
              placeholder="{{'label-title.choose' | translate}}..." (change)="getStoreListForCity()">
              <ng-option value="000000000000000000000000" *ngIf="city_list?.length > 0" >{{ 'label-title.all' | translate }}</ng-option>
              <ng-option [value]="city._id" *ngFor="let city of city_list">{{ city.city_name }}</ng-option>
            </ng-select>
            <div *ngIf="advertiseForm.get('city_id').errors?.required && advertiseForm.get('city_id').touched"
            class="invalid-tooltip">{{'validation-title.city-is-required' | translate}}</div>
          </div>
          
          <div class="mb-3">
            <div class="form-group "><label for="inputState">{{'label-title.delivery-type' | translate }}</label>
              <ng-select appearance="outline" formControlName="delivery_type" [searchable]="false" [clearable]="false" notFoundText="{{'label-title.no-data-found' | translate}}"
              placeholder="{{'label-title.choose' | translate}}..." (change)="resetDeliveryTypeId()">
              <ng-option value="000000000000000000000000" *ngIf="delivery_list?.length > 0">{{ 'label-title.all' | translate }}</ng-option>
                <ng-option *ngFor="let delivery of delivery_list" [value]="delivery.value">{{ delivery.title | translate}}</ng-option>
              </ng-select>
              <div *ngIf="advertiseForm.get('delivery_type').errors?.required && advertiseForm.get('delivery_type').touched"
              class="invalid-tooltip">{{'label-title.delivery-type' | translate }} {{'label-title.is-required' | translate }}</div>
            </div>
          </div>

          <div class="mb-3">
            <div class="form-group"><label for="inputState">{{'label-title.delivery' | translate }}</label>
              <ng-select appearance="outline" formControlName="delivery_type_id"  [closeOnSelect]="false" [clearable]="false" [multiple]="true"
              [searchable]="true" notFoundText="{{'label-title.no-data-found' | translate}}"
              placeholder="{{'label-title.choose' | translate}}..." (change)="selectDeliveryTypeId()">
              <ng-option value="000000000000000000000000" *ngIf="delivery_type_list?.length > 0">{{ 'label-title.all' | translate }}</ng-option>
                <ng-container *ngFor="let delivery of delivery_type_list">
                  <ng-option [value]="delivery._id" *ngIf="advertiseForm.get('delivery_type').value === '000000000000000000000000' || (delivery.is_business && delivery.delivery_type == advertiseForm.get('delivery_type').value)">{{
                    delivery.delivery_name[_lang.selectedlanguageIndex] }}</ng-option>
                </ng-container>
              </ng-select>
              <div *ngIf="advertiseForm.get('delivery_type_id').errors?.required && advertiseForm.get('delivery_type_id').touched"
              class="invalid-tooltip">{{'label-title.delivery' | translate}} {{'label-title.is-required' | translate }}</div>
            </div>
          </div>

        </div>
        <div class="col-12 d-none d-md-block mb-3">
          <span class="text-primary">{{'validation-title.please-upload-image-in-format' | translate}}</span>
        </div>
      </div>
      <div class="mb-3 form-group">
        <label>{{'label-title.description' | translate }}</label>
        <textarea rows="3" class="form-control" formControlName="ads_detail"
          placeholder="{{'label-title.description' | translate }}"></textarea>
        <div *ngIf="advertiseForm.get('ads_detail').errors?.required && advertiseForm.get('ads_detail').touched"
        class="invalid-tooltip">{{'label-title.description' | translate}} {{'label-title.is-required' | translate}}</div>
      </div>
     
      <div class="mb-3">
        <div class="custom-control custom-switch">
          <input type="checkbox" id="customSwitch1" formControlName="is_ads_visible" class="custom-control-input">
          <label for="customSwitch1"
            class="custom-control-label">{{'label-title.is-your-ads-visible-to-users' | translate }}</label>
            <span class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-2" style="top: 4px;" tooltip="{{'tooltip-title.advertise-is-your-ads-visible-to-users-tooltip' | translate}}" [containerClass]="'custom-tooltip-class'" placement="bottom"></i></span>
        </div>
      </div>
      <div class="mb-3">
        <div class="custom-control custom-switch">
          <input type="checkbox" id="customSwitch2" formControlName="is_ads_have_expiry_date"
            class="custom-control-input">
          <label for="customSwitch2"
            class="custom-control-label">{{'label-title.do-you-want-to-set-expiry-date' | translate }}</label>
            <span class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-2" style="top: 4px;" tooltip="{{'tooltip-title.advertise-do-you-want-to-set-expiry-date-tooltip' | translate}}" [containerClass]="'custom-tooltip-class'" placement="bottom"></i></span>
        </div>
      </div>
      <div class="mb-3" *ngIf="advertiseForm.value.is_ads_have_expiry_date">
        <label>{{'label-title.expiry-date' | translate }}</label>
        <input class="form-control bg-unset" formControlName="expiry_date" [container]="'html'"  [minDate]="date" placeholder="{{'label-title.choose' | translate}}..." bsDatepicker #dp="bsDatepicker" readonly 
        [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD-MM-YYYY' , isAnimated: true , showWeekNumbers: false}">
      </div>
      <div class="mb-3">
        <div class="custom-control custom-switch"><input type="checkbox" id="customSwitch3"
            formControlName="is_ads_redirect_to_store" class="custom-control-input"><label for="customSwitch3"
            class="custom-control-label">{{'label-title.do-you-want-to-set-store-redirect-in-click' | translate }}</label>
            <span class="c-pointer d-inline-block mb-0"><i class="simple-icon-info position-relative ml-2" style="top: 4px;" tooltip="{{'tooltip-title.advertise-do-you-want-to-set-store-redirect-in-click-tooltip' | translate}}" [containerClass]="'custom-tooltip-class'" placement="bottom"></i></span>
        </div>
      </div>
      <div *ngIf="advertiseForm.value.is_ads_redirect_to_store">
        <label>{{'menu-title.store' | translate }}</label>
        <ng-select appearance="outline" formControlName="store_id" [searchable]="true"
        notFoundText="{{'label-title.no-data-found' | translate}}" placeholder="{{'label-title.choose' | translate}}..."
        [closeOnSelect]="hidden">
        <ng-container *ngFor="let store of store_list">
        <ng-option [value]="store._id" *ngIf="advertiseForm.get('delivery_type').value === '000000000000000000000000' || (store.is_business && store.delivery_type == advertiseForm.get('delivery_type').value)">
              <span *ngIf="store.name[_lang.selectedlanguageIndex]">{{ store.name[_lang.selectedlanguageIndex] }}</span>
              <span *ngIf="!store.name[_lang.selectedlanguageIndex]">{{ store.name }}</span>
            </ng-option>
          </ng-container>
        </ng-select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" *ngIf="_helper.has_permission(_helper.PERMISSION.ADD) && !is_edit" 
      (click)="save()">{{'button-title.submit' | translate }}</button>
    <button type="submit" class="btn btn-primary" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT) && is_edit"
      (click)="save()">{{'button-title.submit' | translate }}</button>
  </div>
</ng-template>
<app-image-crop-model (updateImage)="imageCropped($event)" #cropModel></app-image-crop-model>
