<today-order-header [searchData]="search_value"
[showItemsPerPage]="true"
[showDisplayMode]="false"
[showCheckboxMode]="false"
(searchKeyUp)="searchKeyUp($event)"
(changeOrderBy)="changeOrderBy($event)"
(itemsPerPageChange)="itemsPerPageChange($event)"
[itemOptionsPerPage]="itemOptionsPerPage"
[itemsPerPage]="itemsPerPage"
(onExport)="onExport($event)"
[itemOrder]="item_order"
[itemOptionsOrders]="[{ label: 'label-title.user', value: 'user' },{ label: 'label-title.store', value: 'store' },{ label: 'label-title.provider', value: 'provider' }]">

<div class="d-inline-block position-relative">
  <div class="float-md-left mr-1 mb-1" dropdown>
      <button id="button-basic" dropdownToggle type="button"
          class="btn btn-outline-dark btn-xs dropdown-toggle" aria-controls="dropdown-basic">
         {{'button-title.delivery-type' | translate}}: {{ request_delivery_type.title | translate }} <span class="caret"></span>
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
          aria-labelledby="button-basic">
          <li role="menuitem" *ngFor="let delivery_type of DELIVERY_TYPE"><a
                  [ngClass]="request_delivery_type.value === delivery_type.value ? 'dropdown-item active' : 'dropdown-item'"
                  (click)="onRequestDeliveryTypeChange(delivery_type)">{{delivery_type.title | translate}}</a></li>
      </ul>
  </div>
</div>

<div class="d-inline-block position-relative">
    <div class="float-md-left mr-1 mb-1">
        <button (click)="onSearch()" type="button" style="color: white;" class="btn btn-primary btn-xs">{{'button-title.apply' | translate}}</button>
    </div>
</div>
<div class="d-inline-block position-relative">
    <div class="float-md-left mr-1 mb-1">
        <button [disabled]="search_value == '' && is_clear_disabled" type="button" class="btn btn-outline-primary btn_display_option btn-xs " (click)="clear_filter()">{{'button-title.clear-filter' | translate }} </button>
    </div>
</div>

</today-order-header>
<deliveries-details-modal #DeliveriesDetailModal></deliveries-details-modal>
<div class="row">
<div class="col-lg-12 col-md-12 col-xs-12">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table orderlist_table table-hover" aria-describedby="">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">{{'heading-title.order' | translate}}</th>
                            <th scope="col">{{'heading-title.assigned-date' | translate}}</th>
                            <th scope="col">{{'heading-title.delivery-type' | translate}}</th>
                            <th scope="col">{{'heading-title.user' | translate}}</th>
                            <th scope="col">{{'heading-title.deliveryman' | translate}}</th>
                            <th scope="col">{{'heading-title.store' | translate}}</th>
                            <th scope="col">{{'heading-title.status' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="orders.length">
                        <tr class="text-center" *ngIf="orders && orders.length === 0">
                            <th colspan="12" scope="">{{'label-title.orders-not-found' | translate}}</th>
                        </tr>
                        <tr *ngFor="let order of orders; let i = index" (click)="onShowOrderDetails(order._id, order.provider_detail, $event)">
                                <th scope="row" class="c-pointer">{{order.unique_id}}<br></th>
                                <td *ngIf="timezone_for_display_date">{{_helper.moment(order.created_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.MOMENT_DD_MMM_YYYY)}} - {{_helper.moment(order.created_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.HH_MM_A)}}</td>
                                <td>
                                    <ng-container [ngSwitch]="order.delivery_type">
                                        <label *ngSwitchCase="_helper.DELIVERY_TYPE_CONSTANT.STORE">
                                            {{'label-title.store' | translate}}
                                        </label>
                                        <label *ngSwitchCase="_helper.DELIVERY_TYPE_CONSTANT.COURIER">
                                            {{'label-title.courier' | translate}}
                                        </label>
                                        <label *ngSwitchCase="_helper.DELIVERY_TYPE_CONSTANT.TABLE_BOOKING">
                                            {{'label-title.table' | translate}}
                                        </label>
                                        <label *ngSwitchCase="_helper.DELIVERY_TYPE_CONSTANT.TAXI">
                                            {{'label-title.taxi' | translate}}
                                        </label>
                                        <label *ngSwitchCase="_helper.DELIVERY_TYPE_CONSTANT.SERVICE">
                                            {{'label-title.service' | translate}}
                                        </label>
                                        <label *ngSwitchCase="_helper.DELIVERY_TYPE_CONSTANT.APPOINMENT">
                                            {{'label-title.appoinment' | translate}}
                                        </label>
                                        <label *ngSwitchCase="_helper.DELIVERY_TYPE_CONSTANT.ECOMMERCE">
                                            {{'label-title.ecommerce' | translate}}
                                        </label>
                                    </ng-container>
                                </td>
                                <td>
                                    <span *ngIf="order.destination_addresses[0].user_details.name">{{order.destination_addresses[0].user_details.name}}</span>
                                    <span *ngIf="!order.destination_addresses[0].user_details.name">--</span>
                                </td>
                                <td>
                                    <span *ngIf="order.provider_detail !== null">
                                        {{order.provider_detail.name}}
                                    </span>
                                    <span *ngIf="order.provider_detail === null">N/A</span>
                                </td>
                                <td>
                                    <span *ngIf="order.store_detail !== null">
                                        {{order.store_detail.name[_langService.selectedlanguageIndex]}}
                                    </span>
                                    <span *ngIf="order.store_detail === null">N/A</span>
                                </td>
                                <td>
                                <div class="text-uppercase" [ngSwitch]="order.delivery_status">
                                    <span *ngSwitchCase="21" class="badge badge-success rounded">{{ 'status-title.'+order.delivery_status | translate}}</span>
                                    <span *ngSwitchCase="13" class="badge badge-secondary rounded">{{ 'status-title.'+order.delivery_status | translate}}</span>
                                    <span *ngSwitchCase="19" class="badge badge-secondary rounded">{{ 'status-title.'+order.delivery_status | translate}}</span>
                                    <span *ngSwitchCase="15" class="badge badge-dark rounded">{{ 'status-title.'+order.delivery_status | translate}}</span>
                                    <span *ngSwitchCase="109" class="badge badge-warning rounded">{{ 'status-title.'+order.delivery_status | translate}}</span>
                                    <span *ngSwitchCase="105" class="badge badge-danger rounded">{{ 'status-title.'+order.delivery_status | translate}}</span>
                                    <span *ngSwitchCase="11" class="badge badge-primary rounded">{{ 'status-title.'+order.delivery_status | translate}}</span>
                                    <span *ngSwitchCase="111" class="badge badge-danger rounded">{{ 'status-title.'+order.delivery_status | translate}}</span>
                                    <span *ngSwitchCase="112" class="badge badge-danger rounded">{{ 'status-title.'+order.delivery_status | translate}}</span>
                                    <span *ngSwitchCase="17" class="badge badge-info rounded">{{ 'status-title.'+order.delivery_status | translate}}</span>
                                    <span *ngSwitchCase="9" class="badge badge-light rounded">{{ 'status-title.'+order.delivery_status | translate}}</span>
                                    <span *ngSwitchCase="104" class="badge badge-danger rounded">{{ 'status-title.'+order.delivery_status | translate}}</span>
                                    <span *ngSwitchCase="103" class="badge badge-danger rounded">{{ 'status-title.'+order.delivery_status | translate}}</span>
                                    <span *ngSwitchDefault class="badge badge-theme-3 rounded">{{ 'status-title.'+order.delivery_status | translate}}</span>
                                </div>
                                </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="!orders.length">
                        <tr>
                            <th colspan="12" class="text-center" scope="">
                                <span>{{ 'label-title.no-record-found' | translate }}</span>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row mt-2" *ngIf="orders && orders.length>0">
        <div class="col-12">
            <pagination [totalItems]="pages*itemsPerPage" [rotate]="true"  [itemsPerPage]="itemsPerPage" [maxSize]="5" class="justify-content-center"
            [customNextTemplate]="nextTemplate" #listPagination (pageChanged)="pageChanged($event)" [customPreviousTemplate]="prevTemplate">
        </pagination>
        </div>
      </div>
</div>
</div>

<ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-arrow-right'></i>
  </ng-template>

  <ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-arrow-left'></i>
  </ng-template>
