.btn{
    width: 100%;
}
tbody>tr>td {
    cursor: pointer;
    font-weight: 600;
}
.delivery, .scheduled{
    color: coral
}
.pickup{
    color: rgb(101, 101, 255);
}

.status_button{
    max-width: 200px;
    word-wrap: break-word;
}


input[type="checkbox"]:checked {
    background: red;
    border: #7f83a2 1px solid;
 }


 .orderlist_table th,
.orderlist_table td{
    vertical-align: middle;
    min-width: 100px;
    max-width: 200px;
}