<style>
  .profile-picture {
    height: 50%;
    max-height: 35px;
  }
</style>
<nav class="fixed-top" style="z-index: 1051;">
  <div *ngIf="bannersList?.length > 0 && is_banner_visible">
    <owl-carousel-o [options]="customOptions" *ngIf="bannersList">
      <ng-container *ngFor="let banner of bannersList">
        <ng-template carouselSlide [id]="banner._id">
          <div class="banner">
            <p class="mb-0">{{banner.banner_title}} <a href="{{banner.redirect_url}}" *ngIf="banner.action_link == 'a'" class="active" target="_blank">{{banner.action_text}}</a> </p>
        </div> 
        </ng-template>
      </ng-container>

    </owl-carousel-o>
  </div>  


  <div class="navbar">
    <div class="d-flex align-items-center navbar-left">
      <a (click)="menuButtonClick($event, sidebar.menuClickCount, sidebar.containerClassnames); false;"
        href="javascript:;" class="menu-button d-none d-md-block">
        <svg class="main" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 17">
          <rect x="0.48" y="0.5" width="7" height="1" />
          <rect x="0.48" y="7.5" width="7" height="1" />
          <rect x="0.48" y="15.5" width="7" height="1" />
        </svg> {{" "}}
        <svg class="sub" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 17">
          <rect x="1.56" y="0.5" width="16" height="1" />
          <rect x="1.56" y="7.5" width="16" height="1" />
          <rect x="1.56" y="15.5" width="16" height="1" />
        </svg>
      </a>

      <a (click)="mobileMenuButtonClick($event, sidebar.containerClassnames)" href="javascript:;"
        class="menu-button-mobile d-xs-block d-sm-block d-md-none">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 17">
          <rect x="0.5" y="0.5" width="25" height="1" />
          <rect x="0.5" y="7.5" width="25" height="1" />
          <rect x="0.5" y="15.5" width="25" height="1" />
        </svg>
      </a>

      <div class="btn-group ml-2" dropdown *ngIf="!isSingleLang">
        <button dropdownToggle type="button" class="language-button dropdown-toggle btn btn-light btn-sm">
          {{currentLanguage | uppercase}} <span class="caret"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li role="menuitem" *ngFor="let item of languages" (click)="onLanguageChange(item)"><a class="dropdown-item"
              href="javascript:;">{{item.label | titlecase}}</a></li>
        </ul>
      </div>

    </div>

    <a class="navbar-logo d-flex flex-row justify-content-center" [routerLink]="adminRoot">
      <img *ngIf="!isDarkModeActive" alt="Profile" class="profile-picture"
        [src]="helper.image_url+'web_images/logo.png'" />&nbsp;&nbsp;&nbsp;&nbsp;<span *ngIf="!isDarkModeActive">
        <h1>{{appName}}</h1>
      </span>
      <img *ngIf="isDarkModeActive" alt="Profile" class="profile-picture"
        [src]="helper.image_url+'web_images/dark_logo.png'" />&nbsp;&nbsp;&nbsp;&nbsp;<span *ngIf="isDarkModeActive">
        <h1>{{appName}}</h1>
      </span>
    </a>

    <div class="navbar-right">
      <div class="header-icons d-inline-block align-middle">

        <div class="d-none d-md-inline-block align-text-bottom mr-1">
          <div class="custom-control custom-switch" tooltip="Dark Mode" placement="left">
            <input type="checkbox" class="custom-control-input" id="darkModeSwitch" [checked]="isDarkModeActive"
              (change)="onDarkModeChange($event)">
            <label class="custom-control-label" for="darkModeSwitch"></label>
          </div>
        </div>

        <button class="header-icon btn btn-empty d-none d-sm-inline-block" type="button" id="fullScreenButton"
          (click)="fullScreenClick()">
          <i *ngIf="!isFullScreen" class="simple-icon-size-fullscreen"></i>
          <i *ngIf="isFullScreen" class="simple-icon-size-actual"></i>
        </button>

      </div>

      <div class="user d-inline-block" dropdown>
        <button class="btn btn-empty p-0" type="button" dropdownToggle>
          <span class="name">{{displayName}}</span>
          <span>
            <img *ngIf="!isDarkModeActive" alt="Profile" [src]="helper.image_url+'web_images/logo.png'" />
            <img *ngIf="isDarkModeActive" alt="Profile" [src]="helper.image_url+'web_images/dark_logo.png'" />
          </span>
        </button>

        <div class="dropdown-menu dropdown-position-css mt-3" *dropdownMenu role="menu">
          <a class="dropdown-item c-pointer" (click)="onSignOut()">{{'button-title.sign-out' | translate |
            titlecase}}</a>
        </div>
      </div>
    </div>
  </div>
</nav>