.truncate:hover {
    text-overflow: clip;
    white-space: normal;
    word-break: break-all;
}
.btn_display_option{
  border-color: #8f8f8f !important;
  color: #8f8f8f !important;
}

.btn_display_option:active,
.btn_display_option:hover{
  color: #fff !important;
}


.view-class {
  vertical-align: middle;
  font-size: 130%;
}
.view-class:hover{
  cursor: pointer;
}
@media (max-width: 991px){
  .list-thumbnail.responsive {
      height: 146px;
      width: 146px;
  }
}
