<div class="row">
    <div class="col-12">
        <div>
            <h1>{{'heading-title.user' | translate}}</h1>
              <div *ngIf="_helper.has_permission(_helper.PERMISSION.EXPORT)" class="top-right-button-container mb-2">
                <div (clickOutside)="filterdropdown1.hide()" class="btn-group" dropdown #filterdropdown1="bs-dropdown" [autoClose]="false" [isOpen]="manualTrigger">
                    <button dropdownToggle type="button" class="btn btn-outline-primary btn-lg dropdown-toggle">
                    {{'button-title.action' | translate}} <span class="caret"></span>
                  </button>
                        <ul *dropdownMenu class="dropdown-menu dropdown-menu-left dropdownHeight" role="menu">
                            <li role="menuitem">
                                <p class="text-muted text-small mb-0 pl-4 mt-1">{{'label-title.all' | translate}}</p>
                            </li>
                            <li role="menuitem">
                                <a class="dropdown-item c-default" href="javascript:;">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" id="select-all" (change)="select_all_export_list()" class="custom-control-input"><label for="select-all" class="custom-control-label">{{'label-title.all' | translate}}</label></div>
                                </a>
                            </li>
                            <li role="menuitem" *ngFor="let data of export_data_list; let index=index;">
                                <p *ngIf="!data.value" class="text-muted text-small mb-0 pl-4 mt-1">{{data.label | translate}}</p>
                                <a *ngIf="data.value" class="dropdown-item c-default" href="javascript:;">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" id="customCheck{{index}}" name="search_value{{index}}" (change)="onChangeexportfilter(data)" [checked]="data.is_checked" class="custom-control-input">
                                        <label for="customCheck{{index}}" class="custom-control-label">{{data.label| translate}}</label>
                                    </div>
                                </a>
                            </li>
                            <li role="menuitem">
                                <button d="button-basic" type="button" class="btn btn-primary ml-3 mb-1 mt-1" (click)="export_excel_data()"> {{'button-title.export' | translate}} </button>
                            </li>
                        </ul>
                </div>{{" "}}
          </div>
          <app-breadcrumb></app-breadcrumb>

            <div class="mb-2">
                <div class="d-inline-block mt-1" >
                    <div class="d-inline-block mr-3 view-class" [ngClass]="viewType===1? 'text-primary': ''" title="Grid View" (click)="onViewChange(1)">
                        <i class="simple-icon-grid"></i>
                    </div>
                    <div class="d-inline-block mr-3 view-class" [ngClass]="viewType===2? 'text-primary': ''" title="List View" (click)="onViewChange(2)">
                        <i class="simple-icon-list"></i>
                    </div>
                </div>
                <div class=" d-inline-block position-relative">
                    <div class="mr-1 mb-2" dropdown>
                        <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-primary btn_display_option btn-xs dropdown-toggle" aria-controls="dropdown-basic">
                          {{'button-title.search-by' | translate}} : {{search_field.label | translate}} <span class="caret"></span>
                      </button>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                            <li role="menuitem" *ngFor="let item of itemOptionsOrders" class="c-pointer" [ngClass]="(item.isShow == false ? 'd-none' : '')">
                                <a [ngClass]="item.value === search_field.value ? 'dropdown-item active' : 'dropdown-item'" (click)="onChangeOrderBy(item)">{{item.label | translate}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="search-sm d-inline-block mb-2 mr-1">
                    <input *ngIf="search_field.value !== 'phone'" placeholder="{{'label-title.search' | translate}}" name="search_value" [(ngModel)]="search_value" class="form-control">
                    <input *ngIf="search_field.value === 'phone'" placeholder="{{'label-title.search' | translate}}" (keypress)="_helper.special_char_validation($event)" name="search_value" [(ngModel)]="search_value" class="form-control">
                </div>

                <div (clickOutside)="filterdropdown.hide()" class="d-inline-block position-relative mb-2 mr-1">
                    <div class="btn-group" dropdown #filterdropdown="bs-dropdown" [autoClose]="false" [isOpen]="manualTrigger">
                        <button dropdownToggle type="button" class="btn btn-outline-primary btn_display_option btn-xs dropdown-toggle">
                          {{'button-title.filter' | translate}} <span class="caret"></span>
                  </button>
                        <ul *dropdownMenu class="dropdown-menu" role="menu">
                            <li role="menuitem" *ngFor="let filter of filterLists; let i= index">
                                <a class="dropdown-item c-default" href="javascript:;">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" (change)="onChangefilter(filter)" [checked]="filter.checked" id="{{'Id'+i}}" class="custom-control-input"><label for="{{'Id'+i}}" class="custom-control-label">{{filter.lable | translate}}</label></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-inline-block mb-2 mr-1">
                    <button d="button-basic" type="button" class="btn btn-primary btn-xs" (click)="apply(this.status)"> {{'button-title.apply' | translate }} </button>
                </div>
                <div class="d-inline-block mb-2 mr-1">
                    <button d="button-basic" [disabled]="search_value == '' && is_clear_disabled" type="button" class="btn btn-outline-primary btn_display_option btn-xs " (click)="clear_filter()">{{'button-title.clear-filter' | translate }} </button>
                </div>

            <div class="float-right">
                <span class="text-muted text-small">{{'label-title.per-page' | translate }} </span>
                <span dropdown class="d-inline-block position-relative">
                    <button class="btn btn-outline-primary btn_display_option btn-xs dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" dropdownToggle>
                        {{itemsPerPage}}
                    </button>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-sm text-right" *dropdownMenu>
                        <ul>
                            <li role="menuitem" *ngFor="let item of itemOptionsPerPage" class="c-pointer"><a
                                    [ngClass]="item === itemsPerPage ? 'dropdown-item active' : 'dropdown-item'"
                                    (click)="onChangeItemsPerPage(item)">{{item}}</a></li>
                        </ul>
                    </div>
                </span>
            </div>
            </div>
        </div>
    </div>
</div>
<tabset class="separator-tabs">
    <tab heading="{{'heading-title.active-users' | translate | uppercase }}" (selectTab)="changeUserType(user_page_type.approved)">
        <div *ngIf="count === 0" class="pb-4 text-center"><span>{{ 'label-title.no-record-found' | translate }}</span></div>
        <div class="row" *ngIf="count > 0 && viewType === 1">
            <div class="col-12 col-sm-12 col-lg-6 col-xl-4" *ngFor="let user of users">
                <div class="card d-flex flex-row mb-4">
                    <div class="d-flex flex-grow-1 min-width-zero" (click)="showAddNewModal($event, user)">
                        <div class="card-body align-self-center d-flex flex-row justify-content-between min-width-zero">
                            <div class="min-width-zero">
                                <a href="javascript:void(0);">
                                    <p class="list-item-heading mb-1 truncate">{{user.first_name}} {{user.last_name}} ({{user.unique_id}})</p>
                                    <p class=" list-item-heading mb-1 truncate ">{{user.country_phone_code}} {{user.phone}}</p>
                                    <p class="mb-2 text-muted text-small truncate">{{user.email}}</p>
                                </a>

                            </div>
                            <div class="float-right textRight">
                                <div>
                                    <p class="font-weight-bold textRight">{{user.wallet}} {{user.wallet_currency_code}}</p>
                                </div>
                                <button *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)" id="button-basic" type="button" class="btn btn-outline-primary btn-xs " (click)="approveDecline(user, user_page_type.approved)"> {{'button-title.decline' | translate }} </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex align-items-center justify-content-center" *ngIf="(users && users.length == 0) || !users">
                {{'label-title.no-record-found' | translate}}
            </div>
        </div>
        <div class="col-12 list" *ngIf="count > 0 && viewType === 2">
            <div [ngClass]="{'card d-flex flex-row mb-3': true}" *ngFor="let user of users; let i=index" [contextMenu]="basicMenu"
                [contextMenuSubject]="user">
                <a class="d-flex">
                    <img (error)="$event.target.src = USER_DEFAULT_SQUARE"
                        [src]="user.image_url ? _helper.image_url + user.image_url : _helper.DEFAULT_IMAGE_PATH.USER_SQUARE" [alt]="user.title"
                        class="list-thumbnail responsive border-0 card-img-left" />
                </a>
                <div class="pl-2 d-flex flex-grow-1 min-width-zero" (click)="showAddNewModal($event, user)">
                    <div class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
                        <a class="w-30 w-sm-100">
                            <p class="list-item-heading mb-0 truncate">{{user.first_name}} {{user.last_name}} ({{user.unique_id}})</p>
                        </a>
                        <p class="mb-0 pl-1 pr-1 text-muted text-small w-20 w-sm-100">{{user.country_phone_code}} {{user.phone}}</p>
                        <p class="mb-0 pl-1 pr-1 text-muted text-small w-30 w-sm-100">{{user.email}}</p>
                        <p class="mb-0 pl-1 pr-1 text-muted text-small w-10 w-sm-100">{{user.wallet}} {{user.wallet_currency_code}}
                        </p>
                        <div class="w-10 w-sm-100" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
                            <button id="button-basic" type="button" class="btn btn-outline-primary btn-xs "
                                (click)="approveDecline(user, user_page_type.approved)"> {{'button-title.decline' |
                                translate }} </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex align-items-center justify-content-center" *ngIf="(users && users.length == 0) || !users">
                {{'label-title.no-record-found' | translate}}
            </div>
        </div>
    </tab>
    <tab heading="{{'heading-title.blocked-users' | translate | uppercase }}" (selectTab)="changeUserType(user_page_type.blocked)">
        <div *ngIf="count === 0" class="text-center pb-4"><span>{{ 'label-title.no-record-found' | translate }}</span></div>
        <div class="row" *ngIf="count > 0 && viewType===1">
            <div  class="col-12 col-sm-12 col-lg-6 col-xl-4" *ngFor="let user of users">
                <div class="card d-flex flex-row mb-4" (click)="showAddNewModal($event, user)">
                    <div class=" d-flex flex-grow-1 min-width-zero">
                        <div class="card-body align-self-center d-flex flex-row justify-content-between min-width-zero">
                            <div class="min-width-zero">
                                <a href="javascript:void(0);">
                                    <p class="list-item-heading mb-1 truncate">{{user.first_name}} {{user.last_name}}  ({{user.unique_id}})</p>
                                    <p class=" list-item-heading mb-1 truncate ">{{user.country_phone_code}} {{user.phone}}</p>
                                    <p class="mb-2 text-muted text-small truncate">{{user.email}}</p>
                                </a>

                            </div>
                            <div class="float-right textRight">
                                <div >
                                    <p class="font-weight-bold textRight">{{user.wallet}} {{user.wallet_currency_code}}</p>
                                </div>
                                <button *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)" id="button-basic" type="button" class="btn btn-outline-primary btn-xs " (click)="approveDecline(user, user_page_type.blocked)"> {{'button-title.approve' | translate }} </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex align-items-center justify-content-center" *ngIf="(users && users.length == 0) || !users">
                {{'label-title.no-record-found' | translate}}
            </div>
        </div>
        <div class="col-12 list" *ngIf="count > 0 && viewType === 2">
            <div [ngClass]="{'card d-flex flex-row mb-3': true}" *ngFor="let user of users; let i=index"
            [contextMenu]="basicMenu" [contextMenuSubject]="user">
              <a class="d-flex" href="javascript:;">
                <img (error)="$event.target.src = USER_DEFAULT_SQUARE" [src]="user.image_url ? _helper.image_url + user.image_url : _helper.DEFAULT_IMAGE_PATH.USER_SQUARE" [alt]="user.title" class="list-thumbnail responsive border-0 card-img-left" />
              </a>
              <div class="pl-2 d-flex flex-grow-1 min-width-zero" (click)="showAddNewModal($event, user)">
                <div
                  class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
                  <a href="javascript:;" class="w-30 w-sm-100">
                    <p class="list-item-heading mb-0 truncate">{{user.first_name}} {{user.last_name}} ({{user.unique_id}})</p>
                  </a>
                  <p class="mb-0 pl-1 pr-1 text-muted text-small w-20 w-sm-100">{{user.country_phone_code}} {{user.phone}}</p>
                  <p class="mb-0 pl-1 pr-1 text-muted text-small w-30 w-sm-100">{{user.email}}</p>
                  <p class="mb-0 pl-1 pr-1 text-muted text-small w-10 w-sm-100">{{user.wallet}} {{user.wallet_currency_code}}</p>
                  <div class="w-10 w-sm-100" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
                    <button id="button-basic" type="button" class="btn btn-outline-primary btn-xs " (click)="approveDecline(user, user_page_type.blocked)"> {{'button-title.approve' | translate }} </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 d-flex align-items-center justify-content-center" *ngIf="(users && users.length == 0) || !users">
                {{'label-title.no-record-found' | translate}}
            </div>
          </div>
    </tab>
    <div class="row" *ngIf="users && users.length > 0">
        <div class="col-12">
            <pagination [(ngModel)]="currentPage" [totalItems]="count" [rotate]="true" [itemsPerPage]="itemsPerPage" [maxSize]="5" class="justify-content-center" [customNextTemplate]="nextTemplate" (pageChanged)="pageChanged($event)" [customPreviousTemplate]="prevTemplate">
            </pagination>
        </div>
    </div>
</tabset>


<ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-arrow-right'></i>
</ng-template>

<ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-arrow-left'></i>
</ng-template>
<user-detail-modal (updatedData)="updatedData()" #addNewModalRef></user-detail-modal>

<ng-template #approveTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{selectedUser.first_name}} {{selectedUser.last_name}}  ({{selectedUser.unique_id}})</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body p-0">
        <div class="p-4">
            <p *ngIf="!approvalStatus">
                {{'label-title.are-you-sure-you-want-to-decline-this' | translate}} {{'menu-title.user' | translate}}
            </p>
            <p *ngIf="approvalStatus">
                {{'label-title.are-you-sure-you-want-to-approve-this' | translate}} {{'menu-title.user' | translate}}
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" (click)="cancel()" class="btn btn-primary float-right">{{'button-title.cancel' | translate}}</button>
        <button type="button" (click)="approve()" class="btn btn-danger float-right">{{'button-title.confirm' | translate}}</button>
    </div>
</ng-template>
