<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <div class="float-right top-side-btn" style="text-align: end;" *ngIf="_helper.has_permission(_helper.PERMISSION.EXPORT)">
            <button type="button" (click)="clickonExport()" class="btn btn-outline-primary">{{'button-title.export' | translate}}</button>
        </div>
        <app-breadcrumb></app-breadcrumb>
        <div class="mb-2 d-flex justify-content-between">
            <div class="">
            <div class="d-inline-block position-relative mb-2 mr-1">
                <div class="" dropdown>
                    <button id="button-basic" dropdownToggle type="button"
                        class="btn btn-outline-primary btn_display_option btn-xs dropdown-toggle" aria-controls="dropdown-basic">
                        {{ 'label-title.search' | translate }} : {{search_field.label | translate}} <span class="caret"></span>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                        aria-labelledby="button-basic">
                        <li role="menuitem" *ngFor="let item of itemOptionsOrders" class="c-pointer"><a
                                [ngClass]="item.value === search_field.value ? 'dropdown-item active' : 'dropdown-item'"
                                (click)="onChangeOrderBy(item)">{{item.label | translate}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="search-sm d-inline-block mb-2 mr-1">
                <input placeholder="{{ 'label-title.search' | translate }}" (keypress)="_helper.special_char_validation($event)" name="search_value" [(ngModel)]="search_value" class="form-control">

            </div>
            <div class="d-inline-block position-relative mb-2 mr-1">
                <div class="">
                    <button (click)="onSearch()" type="button" class="btn btn-primary btn-xs">{{'button-title.apply' | translate}}</button>
                </div>
            </div>
            <div class="d-inline-block position-relative">
                <div class="">
                    <button [disabled]="search_value == '' && is_clear_disabled" type="button" class="btn btn-outline-primary btn_display_option btn-xs " (click)="clear_filter()">{{'button-title.clear-filter' | translate }} </button>
                </div>
            </div>
            </div>
            <div class="float-right ng-star-inserted per-page-box">
                <span class="text-muted text-small text-nowrap">{{'label-title.per-page' | translate }} </span>
                <span dropdown class="d-inline-block position-relative">
                    <button class="btn btn-outline-primary btn_display_option btn-xs dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" dropdownToggle>
                        {{items_per_page}}
                    </button>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-sm text-right" *dropdownMenu>
                        <ol>
                            <li role="menuitem" *ngFor="let item of item_options_per_page" class="c-pointer"><a
                                    [ngClass]="item === items_per_page ? 'dropdown-item active' : 'dropdown-item'"
                                    (click)="onChangeItemsPerPage(item)">{{item}}</a></li>
                        </ol>
                    </div>
                </span>
            </div>
        </div>
        <div class="separator mb-4"></div>
    </div>
    <div class="col-12 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table_box" aria-describedby="">
                        <thead class="thead-light">
                            <tr class="truncate">
                                <th scope="col">{{'heading-title.id' | translate }}</th>
                                <th scope="col">{{'heading-title.date' | translate }}</th>
                                <th scope="col">{{'heading-title.user-type' | translate }}</th>
                                <th scope="col">{{'heading-title.detail' | translate }}</th>
                                <th scope="col">{{'heading-title.currency' | translate }}</th>
                                <th scope="col">{{'heading-title.wallet-amount' | translate }}</th>
                                <th scope="col">{{'heading-title.amount' | translate }}</th>
                                <th scope="col">{{'heading-title.description' | translate }}</th>
                                <th scope="col">{{'heading-title.status' | translate }}</th>
                                <th scope="col" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">{{'heading-title.action' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="wallet_requests.length">
                            <tr class="truncate" *ngFor="let wallet_request of wallet_requests">
                                <th scope="row" class="width-80">{{wallet_request.unique_id}}</th>
                                <td *ngIf="timezone_for_display_date">{{_helper.moment(wallet_request.updated_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.MOMENT_DD_MMM_YYYY)}}</td>
                                <td [ngSwitch]="wallet_request.user_type">
                                    <div *ngSwitchCase=user_Type_List.USER>{{'label-title.user' | translate}}
                                    </div>
                                    <div *ngSwitchCase=user_Type_List.PROVIDER>{{'label-title.delivery-man' | translate}}
                                    </div>
                                    <div *ngSwitchCase=user_Type_List.STORE>{{'label-title.store' | translate}}
                                    </div>
                                </td>
                                <td [ngSwitch]="wallet_request.user_type">
                                    <div *ngSwitchCase=user_Type_List.USER><span
                                            *ngIf="wallet_request.user_detail">{{wallet_request.user_detail.first_name +
                                            ' ' + wallet_request.user_detail.last_name }}</span>
                                        <span *ngIf="!wallet_request.user_detail">N/A</span>
                                    </div>
                                    <div *ngSwitchCase=user_Type_List.PROVIDER><span
                                            *ngIf="wallet_request.provider_detail">{{wallet_request.provider_detail[0].first_name
                                            + ' ' + wallet_request.provider_detail[0].last_name}}</span>
                                        <span *ngIf="!wallet_request.provider_detail">N/A</span>
                                    </div>
                                    <div *ngSwitchCase=user_Type_List.STORE>
                                        <span *ngIf="wallet_request.store_detail && wallet_request.store_detail[0].name[_lang.selectedlanguageIndex]">{{wallet_request.store_detail[0].name[_lang.selectedlanguageIndex]}}</span>
                                        <span *ngIf="wallet_request.store_detail && !wallet_request.store_detail[0].name[_lang.selectedlanguageIndex]">{{wallet_request.store_detail[0].name[0]}}</span>
                                    </div>
                                </td>
                                <td>{{wallet_request.country_details.currency_code || 'N/A'}}</td>
                                <td>{{wallet_request.total_wallet_amount.toFixed(_helper.to_fixed_number)}}</td>
                                <td><span *ngIf="(wallet_request.wallet_status !== 4)">{{wallet_request.requested_wallet_amount.toFixed(_helper.to_fixed_number)}}</span><span *ngIf="wallet_request.wallet_status === 4">{{wallet_request.approved_requested_wallet_amount.toFixed(_helper.to_fixed_number)}}</span></td>
                                <td>{{wallet_request.description_for_request_wallet_amount}}
                                </td>
                                <td [ngSwitch]="wallet_request.wallet_status">
                                    <span *ngSwitchCase=1 class="badge badge-primary mb-1">{{'label-title.created' | translate}}</span>
                                    <span *ngSwitchCase=2 class="badge badge-secondary mb-1">{{'label-title.accepted' | translate}}</span>
                                    <span *ngSwitchCase=3 class="badge badge-info mb-1">{{'label-title.transferred' | translate}}</span>
                                    <span *ngSwitchCase=4 class="badge badge-success mb-1">{{'label-title.completed' | translate}}</span>
                                    <span *ngSwitchCase=5 class="badge badge-danger mb-1">{{'label-title.cancelled' | translate}}</span>
                                </td>
                                <td class="row flex-nowrap" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
                                    <div *ngIf="wallet_request.wallet_status === WALLET_REQUEST_STATUS.CREATED" class="d-inline-block">
                                        <button type="submit" class="btn btn-sm btn-primary width btn-xs ml-2"
                                            (click)="acceptWalletRequest(wallet_request._id, WALLET_REQUEST_STATUS.ACCEPTED)">{{'button-title.accept' | translate}}</button>
                                    </div>
                                    <div  class="d-inline-block" *ngIf="wallet_request.wallet_status === WALLET_REQUEST_STATUS.ACCEPTED">
                                        <button type="submit" class="btn btn-sm btn-primary width btn-xs ml-2"
                                            (click)="onSend(wallet_request)">{{'label-title.send' | translate}}</button>
                                    </div>
                                    <div  class="d-inline-block"
                                        *ngIf="wallet_request.wallet_status === WALLET_REQUEST_STATUS.ACCEPTED || wallet_request.wallet_status === WALLET_REQUEST_STATUS.CREATED">
                                        <button type="submit" class="btn btn-sm btn-outline-primary btn-xs ml-2"
                                            (click)="cancleWalletRequest(wallet_request._id, WALLET_REQUEST_STATUS.CANCELLED)">{{'button-title.cancel' | translate}}</button>
                                    </div>
                                    <div  class="d-inline-block" *ngIf="wallet_request.wallet_status === WALLET_REQUEST_STATUS.TRANSFERED">
                                        <button class="btn btn-sm btn-outline-primary btn-xs ml-2"
                                            (click)="completeWalletRequest(wallet_request._id, WALLET_REQUEST_STATUS.COMPLETED)">{{'button-title.complete' | translate}}</button>
                                    </div>
                                    <div  class="d-inline-block" *ngIf="wallet_request.is_payment_mode_cash==false">
                                        <button class="btn btn-outline-primary icon-button btn-xs ml-2"
                                            (click)="showAddNewModal(wallet_request.transaction_details, wallet_request)"><i
                                                class="iconsminds-bank"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="!wallet_requests.length">
                            <tr>
                                <th colspan="10" class="text-center" scope="">
                                    <span>{{ 'label-title.no-record-found' | translate }}</span>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12" *ngIf="wallet_requests && wallet_requests.length > 0">
        <pagination [totalItems]="total_page*items_per_page"  [rotate]="true" [itemsPerPage]="items_per_page" [maxSize]="5" class="justify-content-center"
            (pageChanged)="pageChanged($event)" [customNextTemplate]="nextTemplate"
            [customPreviousTemplate]="prevTemplate">
        </pagination>
    </div>
</div>
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{'heading-title.add-wallet-amount' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <input type="number" class="form-control mb-2" [(ngModel)]="amount" (keypress)="_helper.number_validation($event)"
            placeholder="{{ 'label-title.amount' | translate}}" disablePasteDrop>
        <div *ngIf="amount_error" class="text-danger">{{ 'label-title.enter-valid-number' | translate }}</div>
        <div *ngIf="wallet > 0" >
            <small class="text-danger">{{'label-title.user-has' | translate}} {{wallet}}</small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onSave()">{{'button-title.save' | translate}}</button>
    </div>
</ng-template>

<ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-arrow-right'></i>
</ng-template>

<ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-arrow-left'></i>
</ng-template>
<app-add-new-wallet-request #addNewModalRef></app-add-new-wallet-request>
