.width {
    width: 5rem;
}

.icon-button {
    padding: 0;
    font-size: 12px;
    width: 25px;
    height: 25px;
    line-height: 25px;
}

.btn_display_option{
  border-color: #8f8f8f !important;
  color: #8f8f8f !important;
}

.btn_display_option:active,
.btn_display_option:hover{
  color: #fff !important;
}
