<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{'heading-title.send-mass-notification' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body p-4">
      <form [formGroup]="notificationForm">
        <div class="form-group mb-4">
            <label class="mb-2">{{'label-title.user-type' | translate }}</label>
            <ng-select appearance="outline" formControlName="user_type" labelForId="yesno" [searchable]="false" [clearable]="false" placeholder="{{'label-title.choose' | translate}}...">
                <ng-option [value]="USER_TYPE.USER">{{ 'label-title.user' | translate}}</ng-option>
                <ng-option [value]="USER_TYPE.PROVIDER">{{ 'label-title.provider' | translate}}</ng-option>
                <ng-option [value]="USER_TYPE.STORE">{{ 'label-title.store' | translate}}</ng-option>
            </ng-select>
        </div>
        <div class="form-group mb-4">
            <label class="mb-2">{{'label-title.device-type' | translate }}</label>
            <ng-select appearance="outline" formControlName="device_type" labelForId="yesno" [searchable]="false" [clearable]="false" placeholder="{{'label-title.choose' | translate}}...">
                <ng-option value="both">{{ 'label-title.both' | translate}}</ng-option>
                <ng-option value="android">{{ 'label-title.android' | translate}}</ng-option>
                <ng-option value="ios">{{ 'label-title.ios' | translate}}</ng-option>
            </ng-select>
        </div>
        <div class="form-group mb-4" *ngIf="notificationForm.value.user_type == USER_TYPE.STORE">
            <label class="mb-2">{{'label-title.delivery-choose' | translate }}</label>
            <ng-select appearance="outline" formControlName="delivery" labelForId="yesno" [searchable]="true" [clearable]="false" placeholder="{{'label-title.choose' | translate}}...">
                <ng-option [value]="delivery._id" *ngFor="let delivery of delivery_list">{{ delivery.delivery_name[0] }}</ng-option>
            </ng-select>
        </div>
        <div class="form-group mb-4">
            <label class="mb-2">{{'label-title.country' | translate }}</label>
            <ng-select appearance="outline" formControlName="country" labelForId="yesno" [searchable]="true" [clearable]="false" placeholder="{{'label-title.choose' | translate}}..." (change)="getCityList()">
              <ng-option value="all">{{ 'label-title.all' | translate }}</ng-option>
              <ng-option [value]="country._id" *ngFor="let country of country_list">{{ country.country_name }}</ng-option>
            </ng-select>
        </div>
        <div class="form-group mb-4" *ngIf="notificationForm.value.user_type != USER_TYPE.USER">
            <label class="mb-2">{{'label-title.city' | translate }}</label>
            <ng-select appearance="outline" formControlName="city" labelForId="yesno" [searchable]="true" [clearable]="false" placeholder="{{'label-title.choose' | translate}}...">
              <ng-option value="all">{{ 'label-title.all' | translate }}</ng-option>
              <ng-option [value]="city._id" *ngFor="let city of city_list">{{ city.city_name }}</ng-option>
            </ng-select>
        </div>
        <div class="form-group mb-4">
            <label class="mb-2">{{'label-title.message' | translate }}</label>
            <textarea rows="3" formControlName="message" class="form-control ng-pristine ng-invalid ng-touched" ng-reflect-name="details"></textarea>
            <div class="invalid-tooltip" *ngIf="notificationForm.get('message').invalid && notificationForm.get('message').touched">{{'label-title.message' | translate }} {{'label-title.is-required' | translate}}</div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="modalRef.hide()">{{'button-title.cancel' | translate }}</button>
        <button type="button" class="btn btn-primary" (click)="send()">{{'button-title.submit' | translate }}</button>
    </div>
</ng-template>
