<div class="row">
  <div class="col-12">
    <app-heading></app-heading>
    <div class="float-right" style="text-align: end;">
      <button *ngIf="_helper.has_permission(_helper.PERMISSION.EXPORT)" type="button" (click)="clickonExport()" class="btn btn-outline-primary mr-1">{{'button-title.export' |
        translate}}</button>
        <br>
        <div class="float-right mt-2">
          <span class="text-muted text-small">{{'label-title.per-page' | translate }} </span>
          <span dropdown class="d-inline-block position-relative">
            <button class="btn btn-outline-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" dropdownToggle>
              {{itemsPerPage}}
            </button>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-sm text-right" *dropdownMenu>
              <ul>
                <li role="menuitem" *ngFor="let item of itemOptionsPerPage" class="c-pointer"><a
                    [ngClass]="item === itemsPerPage ? 'dropdown-item active' : 'dropdown-item'"
                    (click)="onChangeItemsPerPage(item)">{{item}}</a></li>
              </ul>
            </div>
          </span>
      </div>
    </div>
    <app-breadcrumb></app-breadcrumb>
    <div class="separator mt-4 mb-4"></div>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table_box" aria-describedby="">
                <thead class="thead-light">
                  <tr class="truncate">
                    <th scope="col">{{ 'heading-title.id' |translate}}</th>
                    <th scope="col">{{ 'heading-title.type' | translate}}</th>
                    <th scope="col">{{ 'heading-title.email' | translate}}</th>
                    <th scope="col">{{ 'heading-title.date' | translate}}</th>
                    <th scope="col">{{ 'heading-title.country' | translate}}</th>
                    <th scope="col">{{ 'heading-title.currency' | translate}}</th>
                    <th scope="col">{{ 'heading-title.amount' | translate}}</th>
                    <th scope="col">{{ 'heading-title.transfer-status' | translate}}</th>
                    <th scope="col">{{ 'heading-title.transferee-by' | translate}}</th>
                  </tr>
                </thead>
                <tbody *ngIf="transaction_list.length">
                  <tr *ngFor="let transaction of transaction_list">
                    <th class="width-80" scope="">{{transaction.unique_id}}</th>
                    <td [ngSwitch]="transaction.user_type">
                      <div *ngSwitchCase=8>{{ "label-title.provider" | translate}}
                      </div>
                      <div *ngSwitchCase=2>{{ "label-title.store" | translate}}
                      </div>
                    </td>
                    <td [ngSwitch]="transaction.user_type">
                      <div *ngSwitchCase=8>{{transaction.provider_detail[0].email}}
                      </div>
                      <div *ngSwitchCase=2>{{transaction.store_detail[0].email}}
                      </div>
                    </td>
                    <td *ngIf="timezone_for_display_date">{{_helper.moment(transaction.created_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.MOMENT_DD_MMM_YYYY)}}</td>
                    <td>{{transaction.country_details.country_name}}</td>

                    <td [ngSwitch]="transaction.user_type">
                      <div *ngSwitchCase=8>{{transaction.provider_detail[0].wallet_currency_code}}
                      </div>
                      <div *ngSwitchCase=2>{{transaction.store_detail[0].wallet_currency_code}}
                      </div>
                    </td>
                    <td>{{transaction.amount}}</td>

                    <td [ngSwitch]="transaction.transfer_status">
                      <div *ngSwitchCase=1>{{ "label-title.transfer" | translate}}
                      </div>
                      <div *ngSwitchCase=0>{{ "label-title.not-transfer" | translate}}
                      </div>
                    </td>
                    <td [ngSwitch]="transaction.transfered_by">
                      <div *ngSwitchCase=1>{{ "label-title.transferee-by-admin" | translate}}
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="!transaction_list.length">
                    <tr>
                        <th colspan="12" class="text-center" scope="">
                            <span>{{ 'label-title.no-record-found' | translate }}</span>
                        </th>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12" *ngIf="total_page>0">
    <pagination [totalItems]="total_page*10" [rotate]="true" [maxSize]="5" class="justify-content-center"
      [customNextTemplate]="nextTemplate" [customPreviousTemplate]="prevTemplate" (pageChanged)="pageChanged($event)">
    </pagination>
  </div>
</div>
<ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
  <i class='simple-icon-arrow-right'></i>
</ng-template>

<ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
  <i class='simple-icon-arrow-left'></i>
</ng-template>
