<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'heading-title.open-graph' | translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="openGraphForm">
      <div class="mb-3" formArrayName="ogTitle">
        <label for="password">{{'label-title.og-title' | translate}}</label>
        <div class="input-group mb-3" *ngFor="let title of ogTitle.controls;let i = index">
          <div class="input-group-prepend">
            <span id="basic-addon1" class="input-group-text">{{this._lang.supportedLanguages[i].shorthand |
              uppercase}}</span>
          </div>
          <input type="text" (paste)="$event.preventDefault()"
            [required]="this._lang.supportedLanguages[i].shorthand === 'en'" (keypress)="_helper.space_validation($event)"
            aria-label="Username" aria-describedby="basic-addon1" [formControlName]="i" class="form-control"
            placeholder="{{'label-title.og-title' | translate }}">
        </div>
      </div>
      <div class="form-group">
        <label for="ogType">{{'label-title.og-url' | translate}}</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <input type="radio" name="url" [checked]="openGraphForm.value.ogUrlIsManual === true" (click)="urlTypeChange(2)">
            </span>
          </div>
          <input type="text" formControlName="ogUrl" (keypress)="_helper.space_validation($event)"
            aria-label="Username" aria-describedby="basic-addon1" class="form-control"
            placeholder="{{'label-title.og-url' | translate }}" [readonly]="openGraphForm.value.ogUrlIsManual === false">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <input type="radio" name="url" [checked]="openGraphForm.value.ogUrlIsManual === false" (click)="urlTypeChange(1)">
            </span>
          </div>
          <input type="text" (paste)="$event.preventDefault()" readonly (keypress)="_helper.space_validation($event)"
            aria-label="Username" aria-describedby="basic-addon1" class="form-control"
            placeholder="{{'label-title.url' | translate }}" value="{{'label-title.select-auto-store-url' | translate}}">
        </div>
      </div>
      <div class="mb-3" formArrayName="ogDescription">
        <label for="password">{{'label-title.og-description' | translate}}</label>
        <div class="input-group mb-3" *ngFor="let title of ogDescription.controls;let i = index">
          <div class="input-group-prepend">
            <span id="basic-addon1" class="input-group-text">{{this._lang.supportedLanguages[i].shorthand |
              uppercase}}</span>
          </div>
          <input type="text" (paste)="$event.preventDefault()"
            [required]="this._lang.supportedLanguages[i].shorthand === 'en'" (keypress)="_helper.space_validation($event)"
            aria-label="Username" aria-describedby="basic-addon1" [formControlName]="i" class="form-control"
            placeholder="{{'label-title.og-description' | translate }}">
        </div>
      </div>
      <div class="form-group">
        <label for="ogType">{{'label-title.og-image' | translate}}</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <input type="radio" name="image-url" [checked]="openGraphForm.value.ogImageUrlIsManual === true"
                (click)="imageUrlTypeChange(2)">
            </span>
          </div>
          <input type="text" aria-label="Username" aria-describedby="basic-addon1" class="form-control" formControlName="ogImage"
            placeholder="{{'label-title.og-image' | translate }}" [readonly]="openGraphForm.value.ogImageUrlIsManual === false">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <input type="radio" name="image-url" [checked]="openGraphForm.value.ogImageUrlIsManual === false"
                (click)="imageUrlTypeChange(1)">
            </span>
          </div>
          <div class="custom-file">
            <input type="file" id="inputGroupFile02" class="custom-file-input" (change)="onSelectFile($event)"
              [disabled]="openGraphForm.value.ogImageUrlIsManual === true">
            <label for="inputGroupFile02" class="custom-file-label">
              {{ this.ogImageUrlFile ? this.ogImageUrlFile.name : ('label-title.choose-a-file' | translate)}}
            </label>
          </div>
          <div class="input-group-append c-pointer" (click)="onRemoveSelectedFile()" *ngIf="this.ogImageUrlFile"><span
              class="input-group-text">{{'button-title.remove' | translate }}</span></div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <ng-container>
      <button type="button" class="btn btn-outline-primary"
        (click)="modalRef.hide()">{{'button-title.cancel' | translate }}</button>
      <button type="submit" (click)="updateOGTags()" class="btn btn-primary float-right">{{ 'button-title.save' | translate}}</button>
    </ng-container>
  </div>
</ng-template>
