<div [ngClass]="{'shown': isOpen}" [class]="position" (click)="menuClick($event)">
    <ng-content></ng-content>
    <a class="app-menu-button d-inline-block d-xl-none" href="javascript:;" (click)="toggle()">
        <i class="simple-icon-options"></i>
    </a>
</div>